[2022-05-14 01:00] That0ne-Guy opened #577 "Applescript dictionary request"
Hi,

Is it possible to add an AppleScript dictionary for this app? Having a way to communicate between AppleScript apps and BetterDummy would be fantastic. For example, a way to send commands to BetterDummy via AppleScript to change display positions would be amazing. The idea is to have something like this actually work:

tell application "BetterDummy" to move display "Dummy 43:18" to "Corner - T

[2022-05-14 17:55] waydabber commented on #515
DisplayX sounds nice. Although it has some similarity to SwitchResX - I am not sure if the developer of that app would like that, I do not want to position this app as some kind of replacement for that app as SwitchResX has its own cool set of features.

I'd like to avoid Monitor and Control in the name so ppl don't confuse the app with MonitorControl which is to remain a separate open source soft

[2022-05-14 17:57] waydabber commented on #577
Yes, but this will probably be done under the umbrella of #252. I am thinking about a network based solution with some form authentication so it could be used both locally and remotely. This could also be used from AppleScript I think.

[2022-05-15 09:35] Daberu commented on #518
@waydabber Hello, i am struggling with the same symptom when typing Korean. Do you have any progress in this issue?

[2022-05-15 12:50] roelvangils commented on #515
I see your argument about SwitchResX (also an app I use myself). On the other hand, there are a lot of macOS apps with an X in the name (CleanShot X, CleanMyMac X etc.). Maybe you should discuss it with Stéphane Madrau, the developer of SwitchResX.

But indeed, keeping the name "Better" in the name is probbaly the best approach. with that in mind, here are some more suggestions. For what they’re w

[2022-05-15 12:55] roelvangils opened #578 "Vertical Sidecar"
I am looking for step-by-step instructions on how to use my iPad Pro 12" in portrait mode with Sidecar as I don't really understand how that is done.

[2022-05-15 12:59] waydabber commented on #515
BetterD is something to consider. Or BetterDisplay (without the Tool). BetterDisplayTool really sounds too much like BetterTouchTool (fun fact: I was not aware of the app BTT when naming the app BetterDummy as I never had a touchbar enabled macbook).

[2022-05-15 13:03] waydabber commented on #518
Hi @Daberu - sorry, I still don't have anything on this. BetterDummy actually does not actively sustain the virtual display once its created (as this is done by some low level macOS stuff, the same thing that does sidecar), this bug is in macOS somewhere, so I am not really sure what to do about it. The best would be to see if the same thing happens after a while when a Sidecar display is being mi

[2022-05-15 13:05] waydabber commented on #578
Hi,

you should:

- enable Sidecar
- create a dummy fit for your iPad
- change it to portrait mode
- start streaming (not mirroring) the dummy to your iPad's screen
- rotate the stream by 90 degrees

That should do it (I think). :)

[2022-05-15 13:39] waydabber commented on #516
Ok, this was more complicated than I thought (mostly because of how external changes need handing and some interaction with smoothing).

[2022-05-15 13:40] waydabber commented on #578
I hope this worked, let me know if not! I'll convert this into a discussion.

[2022-05-15 13:40] #578 closed, assigned to nobody

[2022-05-15 14:26] roelvangils commented on #515
@waydabber Good for you that you never had an MBP with a Touch Bar! ;) But [BetterTouchTool](https://folivora.ai) does so much more than adding extra functionality to the Touch Bar (I think it even existed before the Touch Bar was a thing). It's one of these swiss army knive apps like Keyboard Maestro.

[2022-05-15 17:47] waydabber commented on #515
All right, DDC control for brightness now works, but it is rather rudimentary (especially compared to MonitorControl). Will need a lot of further polishing.

[2022-05-15 17:50] waydabber opened #580 "Implement basic DDC Volume control for external displays"
Add basic DDC volume and mute control to the app.

[2022-05-16 09:35] dmkpoznan opened #581 "Resolution issue with app-created dummies optimized for the new 14" and 16" macbook pro screens and some other displays"
Hi,

I'm using better dummy on two different M1 Macs - mini & MacBook 16.

On mini everything is working as expected from day 0.

On MacBook for last few weeks it stoped working. At first dummy displays has doubled resolution on slider and changing it does nothing (I had really high resolution and I was unable to switch it to lower - it looks like native resolution of LCD panel for both mirroring

[2022-05-16 09:36] dmkpoznan commented on #581
Please note, that it used to work on this computer before one of the updates, but I can't say which one.

[2022-05-16 13:54] waydabber commented on #581
Hi @dmkpoznan - what happens if you discard this dummy and create a new 16:10 dummy? I think there is a problem with the automatic dummy creation on the new Macbook Pros because of the super-weird reported resolution when the menu bar is included (it does not have a proper common divisor so the app cannot create interim resolutions). I'll have to fix this.

[2022-05-16 13:58] dmkpoznan commented on #581
That's it! Both mirroring & streaming is working! Thank you!

[2022-05-16 19:35] waydabber opened #582 "Implement basic DDC Mute control for external displays"
Basic mute control.

- mute command

Note: needs improvement in the future to handle various scenarios for differing firmware implementations:

- volume=0 command
- volume=0 and mute command
- volume!=0 and mute command

[2022-05-16 19:36] waydabber opened #583 "Implement Apple native key support for brightness and volume"
Native keyboard control support to control brightness/volume/mute

[2022-05-17 18:37] roelvangils commented on #543
I would definitely use that feature :) I think it's something you would quickly get used to.

[2022-05-17 19:02] Elf36 opened #584 "Seem to have lost my licence"
No emails coming through about lost licence

[2022-05-17 19:30] waydabber commented on #584
Hi there - this thing is handled entirely by Paddle (the licensing/payment provider). If you contact me on [Discord](https://discord.gg/aKe5yCWXSp), I might help you reacquiring your license. You should have also received an original email from them when you purchased the license (make sure it is not in the spam folder).

[2022-05-17 19:33] waydabber commented on #543
Hopefully I'll be getting there eventually. :) I am bogged down in implementing various stuff planned for v1.2.x - it's a lot of work.

[2022-05-18 11:45] waydabber opened #585 "Add fine scale brightness/volume control for custom keyboard shortcuts"
Additional configurable keyboard shortcuts for fine scale adjustment for brightness and volume

[2022-05-18 11:57] waydabber commented on #585
<img width="842" alt="Screen Shot 2022-05-18 at 13 57 43" src="https://user-images.githubusercontent.com/37590873/169033421-9e907d8a-9013-4cdb-9645-67d797d283ae.png">

[2022-05-18 11:59] waydabber commented on #584
Hi @Elf36 - hope you found the license. If you need any help, please let me know. I'll close this issue for now but this means it won't be listed among open items only, you can comment at any time. Thank you!

[2022-05-18 11:59] #584 closed, assigned to nobody

[2022-05-18 11:59] waydabber commented on #583
This is implemented at a barebone level. Needs improvement.

[2022-05-18 12:14] waydabber opened #586 "Advanced support for native keyboard control for brightness and audio"
Building upon https://github.com/waydabber/BetterDummy/issues/583 the additional things to do are:

- [x] add fine level control while Shift+Option is pressed (replicate standard macOS use)
- [x] control the built in display only while Control is pressed
- [x] control all external screens while Control+Command is pressed
- [x] option to make fine level control default

[2022-05-18 12:30] waydabber opened #587 "Additional options to define keyboard control target screen"
Currently custom keyboard control and media key control applies to the display with the mouse. The following options are needed:

- [x] (audio, brightness) Control display with the mouse - _should be default_
- [x] (audio, brightness) Control display that has the focus
- [x] (audio, brightness) Control all displays
- [x] (audio) Control display that has the same name as the current audio device

A

[2022-05-18 12:35] waydabber opened #588 "Combined hardware brightness, software dimming, XDR/HDR upscale slider?"
Should software dimming, hardware brightness control and XDR/HDR upscale be represented in one combined brightness slider or by multiple separate sliders? How will this work in conjunction with XDR upscale auto-tuning (which changes the overhead on-the-fly with Apple displays)?

This should be figured out. The multiple slider solution (currently implemented) is rather confusing (nobody will unders

[2022-05-18 12:36] waydabber opened #589 "Combined keyboard control of hardware (Apple, DDC) brightness, software dimming and XDR/HDR upscale"
How the OSD scale should behave is still in question (should the scale combine or not?). This is somewhat connected to the combined slider question - https://github.com/waydabber/BetterDummy/issues/588

[2022-05-18 21:19] waydabber commented on #587
<img width="842" alt="Screen Shot 2022-05-18 at 23 19 22" src="https://user-images.githubusercontent.com/37590873/169157612-3545f716-2856-4155-8395-c84e253e83ce.png">

(this might need a little beautification in the future)

[2022-05-19 02:47] ati46 opened #590 "Is it possible to automatically destroy or create"
Is it possible to automatically destroy BetterDummy after disconnecting the external monitor, and create BetterDummy automatically after connecting the external monitor?
After the virtual desktop is turned on and the external monitor is disconnected, the virtual desktop still exists, which will prevent the apps placed on the virtual desktop from returning to the notebook screen.

[2022-05-19 05:23] waydabber commented on #590
Hi @ati46

yes, you need to associate the dummy to a display - this will make it automatically connect when the display is connected and disconnect when the display is disconnected

<img width="506" alt="Screen Shot 2022-05-19 at 7 23 31" src="https://user-images.githubusercontent.com/37590873/169216087-794bfc6a-c1bb-41b8-b6b1-6b24b4f771dd.png">

Hope this helps!

[2022-05-19 05:24] #590 closed, assigned to nobody

[2022-05-19 12:12] Zorast opened #592 "Scrolling in Browsers are not Smooth"
Hi there!

I did recognize a laggy not smooth scrolling in all browsers i testet > Safari, Firefox, Chrome.
It is noticeable when u scroll slowly with a TrackPad.

Is this an issue that can be fixed?

[2022-05-19 12:46] waydabber commented on #592
Hmm. It should be smooth (on M1) unless there is a mismatch in refresh rate between the dummy and the display (should be 60Hz).

What is your config?

Thanks!

[2022-05-19 12:55] Zorast commented on #592
Iam on M1 MAX MacBook Pro 16 with Apple Pro Display XDR 32" @ 60hz over Thunderbolt 4
And the Macbook are closed so only the Pro Display XDR are driven.

[2022-05-19 13:05] waydabber commented on #592
Wow, that's a nice setup. :)

However I have no idea why the scrolling is laggy. :( By laggy you mean choppy or is it slow to respond? Does this happen if you mirror a dummy to the internal screen as well?

[2022-05-19 13:18] Zorast commented on #592
Thanks :) !!

Here is a Video:

https://user-images.githubusercontent.com/93705638/169302570-09a1676b-9c5d-40a8-9dc3-d125c9dcbe47.mov

[2022-05-19 13:38] Zorast commented on #592
Thanks !! :D

It is choppy, just looking if other things are also a little choppy and it is.
Also the Scrolling in Dock Apps are choppy.

Is there a refresh rate setting from the Dummy Display?
SwitchResX does show me 60hz for my Pro Display when Dummy is active.

Just want to make a ScreenRecord:

https://youtu.be/RQENs_Rm5zs

[2022-05-19 13:41] Zorast commented on #592
If it will also be reproduce with Internal I will check another Day

[2022-05-19 17:34] waydabber commented on #592
Hi @Zorast - no refresh rate setting, dummy displays are 60Hz. these should match prefectly with the 32" Pro Display XDR.

But: to me the scrolling in the video seems to be smooth as silk. Maybe I am not seeing what you see (for example if for some reason the display is set to 30Hz you'll see the video at 30Hz as well even though the dummy is running at 60Hz)

[2022-05-19 18:38] waydabber opened #593 "Option to match menu icon with main display icon"
Somebody who wants to use BetterDummy as a general display management app (as it is getting stuffed with various non-dummy related goodness as well) might not want a dummy in his menu bar. This option will change the menu icon to whatever the main screen is (if a dummy, it will be a dummy, for a display a display, for a macbook screen a laptop icon, for an imac an imac icon).

<img width="332" alt

[2022-05-20 03:30] chadami commented on #518
@waydabber It seemed to have been solved in the latest macOS 12.4😂

[2022-05-20 05:18] waydabber commented on #518
@chadami - Really? That is great news! :)

[2022-05-20 17:07] waydabber opened #594 "Display name suffixes might get messed up with multiple displays of same name"
This causes some cosmetic and display identification issues (when not UUID is used for identification)

[2022-05-20 17:19] waydabber commented on #518
Anybody else can confirm that this is solved in 12.4? If so then I'll close this one. Thank you!

[2022-05-20 17:31] 3DCoded commented on #518
I don't seem to have this glitch at all. I am on macOS 12.4

[2022-05-20 18:39] waydabber commented on #518
All right, thanks for the response. I'll close this one for now provisionally but will reopen if it surfaces again.

[2022-05-20 18:39] #518 closed, assigned to nobody

[2022-05-20 19:34] waydabber commented on #592
I saw that you updated the screen recording to a better quality but still could not exactly see the problem on the video. Sorry about that.

I'll convert this one into a discussion to see if others have a similar experience!

[2022-05-20 19:34] #592 closed, assigned to nobody

[2022-05-21 14:49] waydabber commented on #581
An other similar issue with the 5K LG HDR display:
<img width="668" alt="unknown" src="https://user-images.githubusercontent.com/37590873/169656911-7bb325cc-6ae4-495f-9a64-2e70861a0864.png">

[2022-05-22 06:40] waydabber opened #596 "Custom keyboard shortcuts don't work when app Menu is open"
This should be fixed.

[2022-05-22 11:30] cyn8 opened #597 "Cannot disable "Low Resolution Mode" after update to macOS 12.4"
I have an LG Ultrawide with a resolution of 3840x1600, which behaves horribly on macOS under normal circumstances. Previously I was able to utilise [RDM](https://github.com/usr-sse2/RDM) to force retina mode on my external display, but this stopped working after the update to macOS 12.4.

I tried to use BetterDummy to resolve my issues, and I noticed that I could not uncheck "Low Resolution Mode"

[2022-05-22 13:13] waydabber commented on #597
Hi @cyn8 - what kind of Mac do you have?

[2022-05-22 13:15] cyn8 commented on #597
Thanks for the reply @waydabber, I have a 14-inch Macbook Pro with the M1 Max chip. The external monitor in question is an LG 38WN95C-W (if that helps).

[2022-05-22 13:52] waydabber opened #598 "Add a simple UI to create custom scaled resolutions for real displays on Apple Silicon"
The app should help users to add custom scaled resolutions to real displays by adding the proper data block in the following way:

- Under `/Library/Displays/Contents/Resources/Overrides` there should be a folder named `DisplayVendorID-????` where `????` is the vendor ID number (hexadecimal).
- Under the previously mentioned folder there should be a file named `DisplayProductID-????` where `????`

[2022-05-22 13:59] waydabber commented on #597
Well, you'll need to create a Dummy of 24:10 and mirror it to the  LG 38WN95C-W in order to have flexible HiDPI resolutions.

<img width="731" alt="Screen Shot 2022-05-22 at 15 58 58" src="https://user-images.githubusercontent.com/37590873/169698819-b972e4a8-935d-4a5e-86c7-307ae8cf28a1.png">

[2022-05-22 14:01] waydabber commented on #597
But 12.4 indeed introduced some changes which messed up resolution management. However there seems to be a way now to create native HiDPI resolutions in 12.4 on Apple Silicon as I described in #598 - I'll be adding this functionality in an upcoming beta. This will be useful for folks who don't need all the flexible resolution range of dummies but need a few specific HiDPI or scaled resolution.

[2022-05-22 17:31] waydabber commented on #589
Now there is a nice combined brightness slider and keyboard control for sub-hardware-zero, normal hardware and XDR/HDR upscale brightness. It is kinda cool I think. :)

[2022-05-22 17:32] waydabber commented on #588
Now there is a nice combined brightness slider and keyboard control for sub-hardware-zero, normal hardware and XDR/HDR upscale brightness. It is kinda cool I think. :)

[2022-05-22 17:53] waydabber opened #599 "Add various options to manage brightness control methods"
Now there is a plethora of brightness management methods implemented but always a default is chosen. In order to prepare for edge cases add an options to:

- [x] Enable/disable DDC control for a given display
- [x] Enable/disable sub-hardware-minimum dimming for a given display
- [x] Option to choose from combined/hardware/software brightness management (when more options are present)
- [x] Option

[2022-05-22 17:56] waydabber commented on #597
I'll convert this one to a discusion now but let me know if you need any extra help with this! :)

[2022-05-22 17:56] #597 closed, assigned to nobody

[2022-05-22 18:01] waydabber opened #601 "Resolution menu/slider is a wreck for some real displays in Monterey 12.4"
Apple did stuff in 12.4 - on [one hand there was improvement](#598) (not sure if it is intentional and/or permanent, but hey, let's count our blessings) on the other hand some things are now broken. One of the things broken is the way resolution lists are working - a high number of phantom resolutions are present in the resolution list (this upsets the resolution slider as well).

This issue affec

[2022-05-22 21:33] waydabber commented on #599
Ok, this looks ridiculous. I'll create a proper Displays tab in Preferences and will relocate these settings there (and add loads more):

<img width="580" alt="Screen Shot 2022-05-22 at 23 33 02" src="https://user-images.githubusercontent.com/37590873/169716814-7d7ff81b-4bd7-44cf-addf-f381ea7e4164.png">

[2022-05-22 22:12] #515 closed, assigned to waydabber

[2022-05-22 22:12] #516 closed, assigned to waydabber

[2022-05-22 22:12] #547 closed, assigned to waydabber

[2022-05-22 22:12] #571 closed, assigned to waydabber

[2022-05-22 22:12] #572 closed, assigned to waydabber

[2022-05-22 22:12] #580 closed, assigned to waydabber

[2022-05-22 22:12] #582 closed, assigned to waydabber

[2022-05-22 22:12] #583 closed, assigned to waydabber

[2022-05-22 22:12] #585 closed, assigned to waydabber

[2022-05-22 22:12] #586 closed, assigned to waydabber

[2022-05-22 22:12] #587 closed, assigned to waydabber

[2022-05-22 22:12] #588 closed, assigned to waydabber

[2022-05-22 22:12] #589 closed, assigned to waydabber

[2022-05-22 22:12] #593 closed, assigned to waydabber

[2022-05-22 22:12] #594 closed, assigned to waydabber

[2022-05-22 22:12] #599 closed, assigned to waydabber

[2022-05-23 07:36] waydabber opened #602 "Update combined brightness slider/keyboard control state for Apple screens when brightness is changed outside of the app"
When combined brightness control is enabled, system level (ambient sensor, touchbar, mission control) panel brightness changes are not reflected in the current state - this results in an unexpected brightness change when the user adjusts the brightness via keyboard or slider.

[2022-05-23 07:40] waydabber opened #603 "Create a Displays tab for various display related settings"
A new Displays (Devices?) tab should be added for display specific settings so the app menu is not cluttered with various misc. settings (especially as a lot more additional settings will be required for future features).

[2022-05-23 07:41] waydabber opened #604 "DDC Display Input control"
Add option to select/Change display input via DDC.

[2022-05-23 16:11] waydabber commented on #581
For the MBP 14" and 16" the app will create a 16:10 (8:5) dummy instead. For other displays the native resolution will be used instead of the currently selected one (this caused the issue with the above 5Kx2K display).

[2022-05-23 17:38] waydabber commented on #601
For future info and help for other developers: you need to filter out the following resolutions:

`ioModeInfoFlags & 0b10_0000_0000_0000_0000_0000 != 0`

There are unsafe resolutions that will still remain in the list, I did not found any obvious differentiator for those. But most apps don't list unsafe resolutions anyway (BetterDummy will list them only if `Show additional resolution options in t

[2022-05-23 18:59] waydabber commented on #596
Ohh boy, this was complicated to fix.

[2022-05-23 19:14] waydabber opened #605 "DDC Volume slider does not zero on mute + app forgets mute state after restart"
Volume slider should show zero when audio is muted

[2022-05-23 19:25] waydabber opened #606 "Night Shift should be turned back off when it was turned off by activating HDR mode from app-menu"
HDR mode should only be turned back on if it was turned off by the app previously and only when the app menu is used to turn off HDR. This way after watching a HDR movie at night the user don't have to toggle both HDR off and re-enable Night Shift manually.

<img width="548" alt="Screen Shot 2022-05-23 at 21 24 19" src="https://user-images.githubusercontent.com/37590873/169891662-50e7ac0b-17fc-4cf

[2022-05-24 05:46] jjangga0214 opened #607 "arbitrary ratio"
Hi! Thanks for maintaining this so useful and awesome project.

I am going to buy a brand-new 28-inch 16:18 monitor (LG DualUp Monitor [28MQ780](https://www.lg.com/us/monitors/lg-28mq780-b)).

<img width="1319" alt="스크린샷 2022-05-24 오후 2 52 44" src="https://user-images.githubusercontent.com/28584151/169958710-6b39a08c-89a3-46cc-b404-098fdc1022f6.png">

Does BetterDummy support HiDPI for thi

[2022-05-24 10:59] waydabber commented on #607
Hi @jjangga0214 - yes, you should be able to create a 16:18 (8:9) sized dummy (there was a bug in one of the earlier versions that made this difficult - a user with the same 16:18 display reported it). If you'll have any problems with it, let me know!

[2022-05-24 10:59] #607 closed, assigned to nobody

[2022-05-24 12:47] waydabber commented on #602
This is a rather tricky problem as combined brightness will (or can) involve both sub-zero-hardware dimming and above-max-hardware XDR upscale for Apple screens so there must be some kind of tradeoff. Apple brightness levels will only replicate to the combined sliders if the slider is inside the minimum and maximum hardware level range (this is currently 20%->100% for Apple displays).

[2022-05-25 11:10] PPPPPH opened #610 "Better Dummy Cause system kernel panic on Hackintosh macOS 12.3.1&12.4"
I have been using Better Dummy On my Hackintosh for a while and it was working great. But it seems like since macOS 12.3.1/12.4 Better Dummy start to cause system panic every time  when the screens go black(eg. screen idle timeout or esc on lockscreen).When screen goes black the system cannot be wake up normally , only by long press the power button to force shutdown the system and reboot. From th

[2022-05-25 12:57] waydabber commented on #610
You might want to try to disable the various sleep related settings in the app and see if this improves things.

<img width="700" alt="Screen Shot 2022-05-25 at 14 51 55" src="https://user-images.githubusercontent.com/37590873/170266243-e051d84e-78fd-4ad0-aeea-936d8583763c.png">

If not, then there is no much to do (with these disabled, BetterDummy does absolutely nothing when the app receives a s

[2022-05-25 13:07] waydabber opened #612 "Warp mouse cursor on Command + click in a PIP window"
When streaming a dummy to a real display, it is possible to move the mouse over to the stream target display itself. This might be confusing as it looks like the mouse is on the dummy desktop while in reality it is not, but hovering over the stream target full screen window.

There should be an option to enable mouse warp - when the user clicks on the stream full screen window, the mouse should wa

[2022-05-25 13:15] waydabber opened #613 "A proper prompt to gain Accessibility Privilege for media key control upon startup"
The app requires Accessibility Privileges for media key control. There should be a proper prompt upon startup explaining why the privilege is needed and how to obtain it (or what should be disabled to avoid the prompt in the future).

[2022-05-25 13:30] waydabber opened #614 "Oversaturation when changing between combined and not combined color controls for upscaled Apple XDR displays"
When XDR upscaling is engaged and the user switches from combined to non-combined brightness control (or the other way around) the image gets distorted/oversaturated.

[2022-05-25 18:12] waydabber commented on #602
I built an elaborate logic to handle this. Obviously macOS scales will influence hardware brightness only, this is properly replicated to the combined hardware brightness slider, if needed software adjustments and upscaling also gradually moves to the appropriate level so the resulting experience is a quite smooth one.

[2022-05-26 16:44] waydabber opened #616 "Brightness keyboard shortcuts should not affect dummy screens directly but only non-dummy mirror or stream target displays"
Dummy uses overlay dimming while the mirrored screen uses colortable based dimming - the two effects should not be applied at the same time. Only the mirror target real screen(s) should be affected, unless they are all virtual screens (like DisplayLink or iPad).

(+ there could be an option to specify how dummy brightness control works in relation to PIP windows, streams and mirroring)

[2022-05-26 18:06] waydabber commented on #614
All right I did rewrite some stuff, this should now work better.

[2022-05-26 19:00] waydabber opened #617 "Full screen stream can be resized by clicking on the top/bottom/left/right border of the stream target screen"
This is rather confusing and should be fixed.

[2022-05-27 08:06] waydabber commented on #616
What to do is:

- Keyboard control should not affect dummy screens directly (direct overlay dimming is still possible via menu slider).
- When the mouse (or focused window if this option is enabled) is on a dummy display, in case of mirroring and full screen streaming the target screen(s) should be dimmed when colortable based and/or hardware dimming is available.

[2022-05-27 08:39] waydabber opened #618 "Combined brightness sub-hw-zero-dimming and XDR upscale switching points should always correspond to a full OSD chiclet"
As explained in the title. :)

[2022-05-27 14:12] waydabber opened #619 "Streaming status should be shown in app menu just like mirroring"
Like this:

<img width="289" alt="Screen Shot 2022-05-27 at 16 12 34" src="https://user-images.githubusercontent.com/37590873/170716638-c30a5ca9-50bd-4d85-81a6-6a6f49bd0467.png">

[2022-05-28 10:53] waydabber opened #620 "Startup in safe mode should not restore previous brightness and color adjustment settings"
In order to prevent display from blanking out when wrong settings were applied.

(safe mode - press Shift during app startup)

[2022-05-28 13:45] waydabber opened #621 "Preferences tab should be reorganized to look consistent (scrolling type)."
The old Resolutions and Advanced tabs should be combined and reorganized into the new scrollable, programmatically generated style.

Also, the white background of the scrollable panes should be changed to the standard window background color.

<img width="798" alt="Screen Shot 2022-05-28 at 15 46 12" src="https://user-images.githubusercontent.com/37590873/170828208-cfa4c96b-0341-4076-80b8-682a33eb

[2022-05-28 16:25] waydabber opened #622 "XDR upscale should not be activated on EDR capable non-XDR Apple displays"
XDR upscale is currently activated for non-mini-LED (non-HDR capable) Apple displays that report EDR capability. This does not make much sense.

[2022-05-28 17:00] waydabber commented on #622
XDR upscale won't be enabled for Apple displays with 600 nits max. brightness and below.

[2022-05-28 20:31] Yunus-Gedik opened #623 "support refresh rate otherwise garbage"
support refresh rate otherwise garbage

[2022-05-28 20:36] roelvangils commented on #623
Show a little respect to the developer please.

[2022-05-28 21:32] waydabber commented on #623
I personally do support refresh rate. I believe refresh rate is a very important concept. Without it our life would be difficult. I stand for all things refresh rate. I am also participating in the annual march for refresh rate whenever one is held in my city (sadly it's rather rare occurrence but this just means we must increase awareness)!

I'll convert this one into a discussion so we can talk

[2022-05-28 21:32] #623 closed, assigned to nobody

[2022-05-29 15:53] waydabber opened #625 "Disallow old Apple Cinema, LED Cinema and Thunderbolt displays from using DDC"
Some of these displays are no longer controllable by macOS (dropped support) and can accept DDC commands but in a different range than normal (0-255). Some of theese displays exhibit a permanent dimming issue after receiving a brightness command. Without proper OSD controls this cannot be reverted unless an old mac is connected with a macOS that supports brightness control.

The best/safest approa

[2022-05-29 21:15] waydabber opened #626 ""Make fine scale default" for brightness control is at a wrong place in Preferences"
This is wrong:

<img width="798" alt="Screen Shot 2022-05-29 at 23 14 10" src="https://user-images.githubusercontent.com/37590873/170891665-0d35e248-a94c-4434-9fa9-f46ae5484ae3.png">

[2022-05-31 20:52] waydabber commented on #603
<img width="842" alt="Screen Shot 2022-05-31 at 22 50 37" src="https://user-images.githubusercontent.com/37590873/171282440-279bed04-677a-4841-ac49-c7dce5108b13.png">

[2022-05-31 20:54] waydabber opened #628 "Add an option under Preferences/General to enable/disable all brightness related display control functionality"
Not all app users want brightness and video control functionality - so there should be a simple, centralized way to disable it.

see https://github.com/waydabber/BetterDummy/discussions/627

[2022-06-01 02:42] Mudflapper opened #629 "F14 is reserved by BetterDummy, need way to switch off in Prefs"
F14 is reserved in BetterDummy for monitor controls but there currently is no way to turn that off in Preferences so I cannot use another app called Butler to use F14 to play/pause Music.app.

[2022-06-01 05:28] roughiain opened #630 "Usability Improvement for colour adjustments add labels"
Guide to what the icons mean on the colour adjustments screen.
<img width="272" alt="Screenshot 2022-06-01 at 07 25 15" src="https://user-images.githubusercontent.com/19661735/171333875-a2a36d76-feca-4eb3-ba33-e13c92de5a6d.png">

Either add a label or text in the background of the slider showing what the slider adjusts, contrast sharpness etc

[2022-06-01 06:45] waydabber commented on #629
I'll add an option for it under the Keyboard pane!

[2022-06-01 06:46] waydabber commented on #630
You are right, it's quite difficult to decode the meaning of the icons. :)

[2022-06-01 12:16] waydabber commented on #629
Done.

<img width="842" alt="Screen Shot 2022-06-01 at 14 15 55" src="https://user-images.githubusercontent.com/37590873/171402255-f8e09655-4f06-475d-b306-8fe9b6abef67.png">

[2022-06-01 13:08] phzeller opened #631 "Dummy mirroring: unable to click macOS notifications / cannot right-click-on-desktop ability when running installers"
Hey there,

I found two examples for this issue. When these macOS notification windows appear, I'm unable to click any of these buttons (at least while monitoring dummies). Although the front-end of the window "confirms" the click on those buttons, nothing happens. In these occasions I have to either use some commands like `killall UserNotificationCenter` or disconnect the dummies.
<p float="left"

[2022-06-01 13:27] waydabber commented on #631
Hi, does this happen when the dummy is being (1) mirrored to the screen, (2) streamed to the screen, (3) simply connected but not mirrored or streamed? Thank you!

[2022-06-01 14:48] phzeller commented on #631
The bug appears when the dummy is being mirrored to the screen (1). If the dummy is only connected (3) the bug does not happen.
I can't test (2), as I have not figured out how to enable streaming. Do you mind explaining me the respective steps?

[2022-06-01 15:24] waydabber commented on #631
Under a connected dummy, select Stream Dummy and select a screen where you want to stream the dummy.

<img width="579" alt="Screen Shot 2022-06-01 at 17 23 27" src="https://user-images.githubusercontent.com/37590873/171440803-a6c22b98-4168-4924-b80f-ab6cd0eafba7.png">

But if it happens with  mirroring, that is enough, I'll try to reproduce it.

[2022-06-01 16:17] waydabber commented on #630
I added an easy-to-reach option to show slider labels. This is disabled by default however.

<img width="864" alt="Screen Shot 2022-06-01 at 18 16 43" src="https://user-images.githubusercontent.com/37590873/171451882-3e4a73ef-b0a8-4634-b65c-45eba13279b6.png">

[2022-06-01 16:37] waydabber commented on #628
<img width="842" alt="Screen Shot 2022-06-01 at 19 11 20" src="https://user-images.githubusercontent.com/37590873/171462344-77555d54-b49d-434a-b82d-c7340cf972d9.png">

[2022-06-01 17:19] roughiain commented on #630
Looks good

[2022-06-02 11:20] #581 closed, assigned to waydabber

[2022-06-02 11:20] #596 closed, assigned to waydabber

[2022-06-02 11:20] #601 closed, assigned to waydabber

[2022-06-02 11:20] #602 closed, assigned to waydabber

[2022-06-02 11:20] #603 closed, assigned to waydabber

[2022-06-02 11:20] #605 closed, assigned to waydabber

[2022-06-02 11:20] #606 closed, assigned to waydabber

[2022-06-02 11:20] #613 closed, assigned to waydabber

[2022-06-02 11:20] #614 closed, assigned to waydabber

[2022-06-02 11:20] #616 closed, assigned to waydabber

[2022-06-02 11:20] #617 closed, assigned to waydabber

[2022-06-02 11:20] #618 closed, assigned to waydabber

[2022-06-02 11:20] #619 closed, assigned to waydabber

[2022-06-02 11:20] #620 closed, assigned to waydabber

[2022-06-02 11:20] #621 closed, assigned to waydabber

[2022-06-02 11:20] #622 closed, assigned to waydabber

[2022-06-02 11:20] #625 closed, assigned to waydabber

[2022-06-02 11:20] #626 closed, assigned to waydabber

[2022-06-02 11:20] #628 closed, assigned to waydabber

[2022-06-02 11:20] #629 closed, assigned to waydabber

[2022-06-02 11:20] #630 closed, assigned to waydabber

[2022-06-03 09:41] alessionossa opened #632 "Dummy resoltuion intervals should be tweaked a bit to include more common resolution options"
A few months ago I was using BetterDummy to create a virtual display with resolution set to 1680x1050 to get "native resolution" when using Apple's Screen Sharing on my MBP 15" (2016) to connect to my remote Mac (see https://apple.stackexchange.com/a/392044 to understand why this is the resolution of MBP 15").
Today I installed BetterDummy on a new Mac but I noticed that the resolutions for 16:10

[2022-06-03 10:21] waydabber commented on #632
Hi there,

are you sure? I just created a 16:10 dummy and the resolution seems to be there. How did you create the dummy? Manually or selected the corresponding menu option?
<img width="298" alt="Screen Shot 2022-06-03 at 12 20 20" src="https://user-images.githubusercontent.com/37590873/171836351-6d0f0225-5c79-418d-8757-7ff676cc938c.png">

[2022-06-03 13:54] waydabber commented on #631
Hmm. I can't seem to reproduce the issue. I am mirroring a dummy, triggering popups like this in various apps:

<img width="372" alt="Screen Shot 2022-06-03 at 15 52 40" src="https://user-images.githubusercontent.com/37590873/171867851-18ca375c-9b8a-4804-87a0-0a2711659106.png">

Clicking OK seems to work just fine. It is possible however that something else is at play here or I am reproducing it w

[2022-06-03 15:37] phzeller commented on #631
I'll be able to further investigate the issue at the end of next week (currently on vacation). I'll get back to you.

[2022-06-03 16:10] waydabber commented on #631
All right, thank you!

[2022-06-03 17:32] waydabber opened #633 "Support reading DDC values upon startup"
Add an option to enable DDC read on startup (supported by some displays).

[2022-06-03 17:33] waydabber opened #634 "Add option to adjust/disable control smoothing"
Some users might not like the way video controls are smoothed - smoothing factor should be adjustable or could be disabled.

[2022-06-03 17:37] waydabber opened #635 "Add hardware DDC contrast control"
Contrast adjustment is supported by most displays - this should be made available with an associated keyboard shortcut.

---

Note: previously this issue contained the implementation of the following (more obscure) control options:

- R/G/B Hue
- R/G/B Saturation
- R/G/B Gain

This is however now removed from this enhancement issue as unfortunately I don't have a display that supports these so I c

[2022-06-03 17:38] waydabber opened #636 "Add option to send arbitrary DDC commands"
This might be good for debugging and fun.

Later custom commands could be created (in an user menu) and hotkeys could be added to it.

[2022-06-03 17:39] waydabber opened #637 "Add option to customize sub-hardware-dimming and XDR/HDR upscale point for the display"
This could help the user to customize the slider/OSD level configuration in a way that is best for the actual setup.

[2022-06-03 17:40] waydabber opened #638 "Add option to customize audio device name associated with the display for DDC volume control"
Sometimes the selected audio device does not correspond to the display name.

[2022-06-03 17:41] waydabber opened #639 "Add options to finetune DDC compatibility on a per-display basis"
- [ ] Option to enable/disable specific DDC controls
- [ ] Some displays might use a different scale than the usual 0-100
- [ ] Some displays might need inverted values
- [ ] Some displays might need alternate Video Control Code or multiple codes for control
- [ ] Some displays might need repeated read/write attempts
- [ ] Some displays might need a specific amount of wait times between read/write

[2022-06-03 17:46] waydabber opened #640 "Add some form of onboarding"
An onboarding is needed to give a brief overview of the functionality of the app.

Display control features and apple keyboard hooking should have an explicit allow/disallow switch on the onboarding screen with special care for upgraders from the v1.1.x version so the feature could be opt-in for them to avoid confusion.

[2022-06-03 17:48] waydabber opened #641 "Rebrand the app to better reflect the more generic nature of the app"
The app is turning into a more generic display management app (while having all the features of BetterDummy). A more appropriate name, app icon should be given to it and it should finally have a proper website explaining the various features.

- [x] New app icon
- [x] New menubar extra icon
- [x] New app name
- [x] New installer design
- [x] New social media banner design
- [x] App website hosting

[2022-06-03 17:52] waydabber commented on #612
It could also work for PIP windows (but not in headerless mode or during resizing).

[2022-06-03 18:13] alessionossa commented on #632
I created the dummy by selecting the option from the menu, and as you can see, the resolution is not present in my list (also if I use the slider, I cannot select that resolution). I am running version 1.1.24 Build 6909.
<div>
<img width="330" alt="creation of virtual screen" src="https://user-images.githubusercontent.com/17525117/171921167-e514a34e-bca9-4133-95d1-e5a14e0cbab7.png">
<img width="35

[2022-06-03 22:53] waydabber commented on #632
Yes, I clearly see that. If you directly create a 1680x1050 dummy (by entering these values to the `Custom Aspect Ratio` option in the `Create New Dummy` submenu), is the dummy properly created and do you have an 1680x1050 in the resolution list?

<img width="372" alt="Screen Shot 2022-06-04 at 0 51 12" src="https://user-images.githubusercontent.com/37590873/171964178-cdeb6e63-6f06-463c-908a-28a17

[2022-06-03 23:22] alessionossa commented on #632
That's the result following the steps you suggested:

<img width="400" alt="custom resolution" src="https://user-images.githubusercontent.com/17525117/171966012-88399238-5a36-482a-9fde-342fc433e7c6.png">

I am using a MacBook Pro (15-inch, 2018) running macOS 12.4 (21F79).

[2022-06-04 07:58] waydabber commented on #632
That should be right.

I think the issue is that the app is creating the resolutions by an increment of 20 (which should mean increment of 10 for HIDPI resolutions). But on Intel if a HiDPI resolution does not have a corresponding "low res" option, it is not shown in the resolution list while on M1 it does show.

I did indeed change in the past how the resolution intervals are calculated, I might

[2022-06-05 06:32] exceedsystem opened #642 "BetterDummy closes from time-to-time due to an issue with the Paddle licensing service"
Repeated sleep and resume operations will cause BetterDummy to exit after a few days.

- Mac mini (M1, 2020) 16GB
- macOS Monterey 12.4
- Dell S3221QS(HDMI)
- BetterDummy(Pro license activated) version 1.2.4-beta build 6915
  ※This problem has also occurred in earlier versions.

  ![image](https://user-images.githubusercontent.com/70489172/172037565-7495df70-9d26-42aa-8079-4d3b8c625c99.png)

  - T

[2022-06-05 07:15] waydabber commented on #642
Hi there - sorry about the issue.

You can take a look a the console output of the app to see what is going on inside - https://github.com/waydabber/BetterDummy/discussions/445

But if the app suddenly crashes, you might have a crash log in Console under `Crash Reports` which can be useful for me to find out what happened.

[2022-06-05 07:45] exceedsystem commented on #642
@waydabber

Thanks for the reply.

I found 2 crash reports of BetterDummy in console.

Here is the part of the crash log.

[code]

Should I send the full crash report to you via email?
Even though the logs are anonymized, I hesitate to paste them here.

[2022-06-05 09:07] waydabber commented on #642
Yes, I need the full crashlog in order to analyze it. You can contact me on Discord and send it over in a private chat if that is all right with you. If not, I'll provide an email address. Thank you!

[2022-06-05 09:52] exceedsystem commented on #642
@waydabber

Unfortunately, I do not use Discord, so could you please contact me at my public email of GitHub?
And if you are worried about attachments, I'll put crash logs directly in the body of the email.

Thank you.

[2022-06-05 09:56] waydabber commented on #642
I did just that, thanks!

[2022-06-05 09:59] waydabber opened #643 "Some low-res displays won't show usable resolutions on Monterey 12.4 unless `Show low resolution` is explicitly enabled"
Due to some changes in 12.4, the resolution list/slider is not really useful on some low-res displays unless this setting is enabled:

<img width="842" alt="Screen Shot 2022-06-05 at 11 59 05" src="https://user-images.githubusercontent.com/37590873/172045167-c61c08e2-305b-48bb-87c6-94d9102663d9.png">

This should be fixed.

[2022-06-05 10:35] waydabber opened #644 "Add option `Reset color table on neutral settings` + explanation"
Currently the v1.2.x versions reset the color table when colortable related modifications (like software dimming, contrast, gain etc) is neutral. This is required to properly show HDR content. However the related API is somewhat buggy and on some systems this causes issues. This should therefore be optional.

[2022-06-06 08:47] waydabber commented on #641
<img width="798" alt="Screen Shot 2022-06-06 at 10 46 52" src="https://user-images.githubusercontent.com/37590873/172128101-9a63ae58-7d35-49bf-a391-6963d85763b8.png">

[2022-06-06 08:52] waydabber opened #645 "Display system configuration editing"
Add a built-in feature to create a dummy-like smooth resolution scaling option for real displays (without dummy mirroring).

This is useful for Apple Silicon in light of changes in macOS 12.4+ and Ventura

Hope this will actually work, initial tests are promising. :)

[2022-06-06 23:52] geraltofriviach opened #647 "Windows move between dual monitors after sleep/lock"
Hello,

I am using the 1.1.24 version on an Apple M1 Pro 16" Monterey 12.4 with two external monitors 27" (so three screens in total).

While BetterDummy perfectly solved the resolution/blur issue I started having after switching from my old Mac to M1 Pro model, whenever I lock my computer (or leave it so it would get to sleep & lock automatically) and come back, when I unlock it the windows are m

[2022-06-06 23:57] #647 closed, assigned to nobody

[2022-06-06 23:58] geraltofriviach commented on #647
Sorry - I just joined github and now realized that this should probably be under "Discussions" - I close it and will raise it there.

[2022-06-07 20:40] waydabber commented on #645
<img width="842" alt="172673086-0548dd9f-4943-4e95-adc0-de0fd3b66345" src="https://user-images.githubusercontent.com/37590873/172882177-19f17953-3d24-4658-935d-c5a9082b0d22.png">

[2022-06-08 14:22] waydabber opened #650 "Add some technical info about the display for easier troubleshooting"
To simplify trouble shooting, I added some useful info to the Displays section. When the user clicks on the display name, a normally hidden block appears that helps support:

<img width="842" alt="Screen Shot 2022-06-08 at 16 23 30" src="https://user-images.githubusercontent.com/37590873/172641139-2788de91-0c44-4f7a-9f5f-dbcce008307c.png">

[2022-06-08 16:17] jacksongoode commented on #631
I've encountered this issue as well. Just by moving the dialogue popup to a non-mirrored screen allows you to click on it.

[2022-06-08 16:54] waydabber commented on #631
Can you guys reproduce this issue when doing

1) Sidecar -> Real display mirroring
2) Real display -> Real display mirroring?

It would be educational to find out if it is a BetterDummy issue or a generic macOS issue either with virtual displays (like Sidecar) only or with mirroring in general?

I don't seem to be able to reproduce the problem but I might be doing something in a wrong way.

[2022-06-09 11:02] abigchopstick commented on #545
I have a similar issue, I'm on 1.1.24 now. Issue began ever since the big version update where Pro features are added, so I dunno which one it was, the new problem is that it doesn't remember my monitor position settings every time I reconnect my laptop.

Below is my optimal configuration with dummy display set as primary monitor:
<img width="311" alt="2022-06-09_18-55-23" src="https://user-images

[2022-06-09 15:11] waydabber commented on #545
Hi  @abigchopstick

well, the current version of BetterDummy does not actively manage display positions (unless the Move feature is used) so aside from some generic ideas like resetting the windowserver display preferences I don't have any useful solutions for now. :( MacOS tends to auto-layout displays pushing them vertically - this is because the default main Window position is (0,0) in the glob

[2022-06-09 16:48] markomitranic opened #651 "Software HDR brightness not working"
Hey there, amazing app, been using it for ages.
I've loved the SW-HDR setting since the beta. Its not particularly useful, ever, and I'm also a bit vary of using it due to burn-in. But, when sitting outside in the sun, it makes an amazing difference. I've fallen in love with it.

Since update to 1.2.4 it ain't working anymore. The brightness bar is there, and both keyboard brightness and the bar m

[2022-06-09 17:26] delfuego opened #652 "Lose background image and right-click-on-desktop ability when running installers"
This is a weird one — after updating to BetterDummy 1.1.24 build 6909, I now have a reproducible issue where, whenever I run an installer for any software (the standard .pkg installers on macOS), when it hits the step where I have to authenticate to allow the software to install, my desktop backgrounds instantly revert to the default macOS one, and I lose the ability to right-click on the desktop.

[2022-06-09 17:29] delfuego commented on #652
I didn't realize there was a beta release out, so I just tested the 1.2.4 beta that's in the releases section here; same issue with that one.

[2022-06-09 17:53] waydabber commented on #651
Hmm. This is interesting. What happens if you unclick `Enable combined dimming` under Preferences/Displays and move only the second slider?

<img width="273" alt="Screen Shot 2022-06-09 at 19 50 39" src="https://user-images.githubusercontent.com/37590873/172912162-ca0114e3-8522-4aca-80ca-7e6331984f98.png">

btw. The HDR upscale function should not cause burn-in as the MacBook has a mini-led displa

[2022-06-09 18:10] waydabber commented on #652
That's weird. It must be related to https://github.com/waydabber/BetterDummy/issues/631 and is probably some kind of protection mechanism. I don't think it was introduced with the update but probably a Monterey 12.4 thing. Or you don't have this issue if you run older BetterDummy builds?

[2022-06-09 18:11] waydabber commented on #631
This one might be related: https://github.com/waydabber/BetterDummy/issues/652

[2022-06-09 20:22] markomitranic commented on #651
Hey @waydabber such a quick response :) Tried it, nothing happens, same thing :/
I'll attempt to reinstall the app, just for the sake of it, until i get some more directions from you.

Thanks for the explanations about HDR, i had no idea, and my Google search back when you first released it, wasn't really fruitful since the domain is heavily polluted with lead gen blogposts that don't say anything

[2022-06-09 20:24] markomitranic commented on #651
@waydabber there is also no difference between "Min HW" and 0%.

[2022-06-09 20:27] markomitranic commented on #651
@waydabber Just re-downloading the dmg and installing the latest beta again fixed the issue immediately. We can close this :)

[2022-06-09 21:59] waydabber commented on #651
I am glad it sorted itself out, however I have no idea what was wrong. If this happens next time, please let me know and we do a more in-depth investigation! Thank you!

[2022-06-09 21:59] #651 closed, assigned to nobody

[2022-06-10 03:46] forza91 opened #653 "Ventura and BetterDummy"
Mac os 13 Ventura has support 2K 120FPS natively, is working on my 2560x1600 monitors. There is an option of 1280x800(HIDPI) for me.

However, the font size is big (Showing as 120% I guess) but I can't find a way to sacle down the font size. So it will be great if BetterDummy supports 120 FPS and the correct font size.
Thanks

[2022-06-10 05:29] waydabber commented on #653
Hi there,

hmm. I think 120fps support was present in Monterey as well if the display supported it. I am not sure about high refresh rate for dummies, but I'll certainly try it as I am on Ventura as well.

Good news is that BetterDummy is 100% compatible with Ventura (including all the beta features).

(I'll convert this one into a discussion and report back on 120fps dummies).

[2022-06-10 05:30] #653 closed, assigned to nobody

[2022-06-10 07:33] cyrusauyeungc commented on #545
I do use better dummy for unlocking the Retina display resolution on my 2k dell display, and I haven't really know how to use the stream display or picture to picture function. Does it mean when you've implemented the  "unlock flexible resolutions on Apple Silicon" feature, things could get easier? thanks and really appreciate your effort!

[2022-06-10 09:10] abigchopstick commented on #545
thank you, I only use it to unlock my 2k display, so many features are not required. I remember one of the earliest version work just fine, so I may just give it a shot and see wether it solves my needs.

[2022-06-10 13:11] markomitranic commented on #651
@waydabber I understand. For future reference: I've been on the beta branch since 1.1.21 i think, and every update since was the built-in, over-the-air update without my involvement. This is the first time I've actually re-downloaded it manually.

[2022-06-10 16:29] waydabber commented on #645
<img width="842" alt="Screen Shot 2022-06-10 at 18 28 14" src="https://user-images.githubusercontent.com/37590873/173110598-adcf0327-5d24-45cb-af17-7222e48d2e31.png">

<img width="842" alt="Screen Shot 2022-06-10 at 18 28 34" src="https://user-images.githubusercontent.com/37590873/173110640-db715e6b-8437-4096-9b91-982ecc4389de.png">

[2022-06-10 16:48] waydabber opened #655 "Brightness OSD is not visible on dummy screen when it is being mirrored to a real screen"
In this scenario the brightness controls affect the real screen, however the contents of the dummy screen is presented to the user so the OSD should be visible on the dummy screen.

[2022-06-10 19:50] waydabber opened #656 "Add support for M2 MacBook Air's resolution"
The resolution is 2560x1664

[2022-06-10 20:33] melcarthus opened #657 "APPLE TV not streaming in 4k when bettery dummy is running"
I'm using better dummy for two days now. And i'm really happy I found this app to help with the horrible scaling macos does.
However I noticed today that when running better-dummy apple-tv is stuck at streaming 1080p. When I closed better dummy it immediately started streaming 4k after I restarted apple TV.

I don't know If I got a setting wrong ore something.

[2022-06-10 20:54] waydabber commented on #657
Hi @melcarthus

Yes, this issue is related to #49

However lucky timing as I'll post a beta update in a day or two that should fix this issue by using an alternate method (that is if you are using a mirrored dummy to have flexible resolution options).

[2022-06-10 20:55] waydabber commented on #142
This will be dealt with in the next update by using an alternate method.

[2022-06-10 20:57] melcarthus commented on #657
Well, apple TV app is for entertainment purposes so this is not a big deal. When I use my mac for work I want to use better dummy. So it's fine. But great that there is a possible workaround comming!

[2022-06-10 20:59] waydabber opened #658 "Add option to have only resolutions in the resolution slider that matches/approximates native aspect ratio"
The resolution slider can become semi-cluttered with non-belonging resolutions. This option will clean it up by providing resolutions only that match the native aspect ratio of the display.

[2022-06-10 21:30] waydabber commented on #658
<img width="842" alt="Screen Shot 2022-06-10 at 23 29 56" src="https://user-images.githubusercontent.com/37590873/173153790-4b0e1d9a-7111-4208-8965-83c9049e0530.png">

[2022-06-10 21:37] #657 closed, assigned to nobody

[2022-06-11 08:37] waydabber opened #660 "Option to show resolution slider as percentage for smoothly-scaled displays"
With the new smooth scaling option for real displays, it would be nice and more intuitive to show a scale percentage (compared to the default resolution) instead of resolution width/height in the resolution slider.

[2022-06-11 11:22] waydabber opened #661 "Scale matching: equalize GUI size among display group members"
With the new scaling options it would be possible to always roughly equalize the GUI size among various displays and use a single percentage based scaler for all displays. That would I think be cool.

[2022-06-11 11:43] waydabber commented on #660
<img width="287" alt="Screen Shot 2022-06-11 at 13 42 44" src="https://user-images.githubusercontent.com/37590873/173186408-6eef1caf-bd24-464c-9110-514411522ef4.png">

[2022-06-11 12:03] waydabber opened #662 "The app is wrongly not using the UUID (again) for settings storage for displays"
Ooops, I made a change that made this wrong a while back. Sorry about that. :(

[2022-06-11 15:12] waydabber commented on #652
I did merge the two bugs as they seem to be related. Still struggling to reproduce though.

[2022-06-11 15:12] #652 closed, assigned to nobody

[2022-06-11 15:12] waydabber commented on #631
_@delfuego reported in a separate issue the following. The two issues are now merged:_

This is a weird one — after updating to BetterDummy 1.1.24 build 6909, I now have a reproducible issue where, whenever I run an installer for any software (the standard .pkg installers on macOS), when it hits the step where I have to authenticate to allow the software to install, my desktop backgrounds instantl

[2022-06-11 16:05] waydabber opened #664 "Add support for macOS Ventura"
The previous version is working fine, some super minor tweaks were needed only.

[2022-06-11 16:40] waydabber commented on #142
If you have this issue and are using the app only to mirror a dummy screen to a real display on Apple Silicon in order to have flexible HiDPI resolutions, [please check out the latest beta](https://github.com/waydabber/BetterDummy/releases) which includes a **new smooth scaling feature for native** displays (no dummy required).

The feature requires macOS Monterey 12.4, 12.5 beta or Ventura and re

[2022-06-11 16:41] waydabber commented on #146
If you have this issue and are using the app only to mirror a dummy screen to a real display on Apple Silicon in order to have flexible HiDPI resolutions, [please check out the latest beta](https://github.com/waydabber/BetterDummy/releases) which includes a **new smooth scaling feature for native** displays (no dummy required).

The feature requires macOS Monterey 12.4, 12.5 beta or Ventura and re

[2022-06-11 16:41] waydabber commented on #140
If you have this issue and are using the app only to mirror a dummy screen to a real display on Apple Silicon in order to have flexible HiDPI resolutions, [please check out the latest beta](https://github.com/waydabber/BetterDummy/releases) which includes a **new smooth scaling feature for native** displays (no dummy required).

The feature requires macOS Monterey 12.4, 12.5 beta or Ventura and re

[2022-06-11 16:41] waydabber commented on #141
If you have this issue and are using the app only to mirror a dummy screen to a real display on Apple Silicon in order to have flexible HiDPI resolutions, [please check out the latest beta](https://github.com/waydabber/BetterDummy/releases) which includes a **new smooth scaling feature for native** displays (no dummy required).

The feature requires macOS Monterey 12.4, 12.5 beta or Ventura and re

[2022-06-11 16:41] waydabber commented on #143
If you have this issue and are using the app only to mirror a dummy screen to a real display on Apple Silicon in order to have flexible HiDPI resolutions, [please check out the latest beta](https://github.com/waydabber/BetterDummy/releases) which includes a **new smooth scaling feature for native** displays (no dummy required).

The feature requires macOS Monterey 12.4, 12.5 beta or Ventura and re

[2022-06-11 16:42] waydabber commented on #144
If you have this issue and are using the app only to mirror a dummy screen to a real display on Apple Silicon in order to have flexible HiDPI resolutions, [please check out the latest beta](https://github.com/waydabber/BetterDummy/releases) which includes a **new smooth scaling feature for native** displays (no dummy required).

The feature requires macOS Monterey 12.4, 12.5 beta or Ventura and re

[2022-06-11 16:42] waydabber commented on #145
If you have this issue and are using the app only to mirror a dummy screen to a real display on Apple Silicon in order to have flexible HiDPI resolutions, [please check out the latest beta](https://github.com/waydabber/BetterDummy/releases) which includes a **new smooth scaling feature for native** displays (no dummy required).

The feature requires macOS Monterey 12.4, 12.5 beta or Ventura and re

[2022-06-11 16:42] waydabber commented on #261
If you have this issue and are using the app only to mirror a dummy screen to a real display on Apple Silicon in order to have flexible HiDPI resolutions, [please check out the latest beta](https://github.com/waydabber/BetterDummy/releases) which includes a **new smooth scaling feature for native** displays (no dummy required).

The feature requires macOS Monterey 12.4, 12.5 beta or Ventura and re

[2022-06-11 16:42] waydabber commented on #271
If you have this issue and are using the app only to mirror a dummy screen to a real display on Apple Silicon in order to have flexible HiDPI resolutions, [please check out the latest beta](https://github.com/waydabber/BetterDummy/releases) which includes a **new smooth scaling feature for native** displays (no dummy required).

The feature requires macOS Monterey 12.4, 12.5 beta or Ventura and re

[2022-06-11 16:42] waydabber commented on #545
If you have this issue and are using the app only to mirror a dummy screen to a real display on Apple Silicon in order to have flexible HiDPI resolutions, [please check out the latest beta](https://github.com/waydabber/BetterDummy/releases) which includes a **new smooth scaling feature for native** displays (no dummy required).

The feature requires macOS Monterey 12.4, 12.5 beta or Ventura and re

[2022-06-11 16:45] waydabber commented on #146
Also, you now have the option to overwrite the native screen resolution on Apple Silicon which might help with aspect ratio issues for displays which report a wrong value.

<img width="842" alt="Screen Shot 2022-06-11 at 18 45 11" src="https://user-images.githubusercontent.com/37590873/173196984-50480f1a-c77c-4b4f-aa33-abe5b989db8d.png">

[2022-06-11 17:06] #145 closed

[2022-06-11 17:06] #146 closed

[2022-06-11 17:06] #271 closed, assigned to waydabber

[2022-06-11 17:06] #545 closed, assigned to waydabber

[2022-06-11 17:10] #645 closed, assigned to waydabber

[2022-06-11 17:10] #650 closed, assigned to waydabber

[2022-06-11 17:10] #656 closed, assigned to waydabber

[2022-06-11 17:10] #658 closed, assigned to waydabber

[2022-06-11 17:10] #660 closed, assigned to waydabber

[2022-06-11 17:10] #662 closed, assigned to waydabber

[2022-06-11 17:10] #664 closed, assigned to waydabber

[2022-06-11 17:12] waydabber commented on #631
@phzeller @jacksongoode - I recommend you to try the latest beta (1.2.5) and use instead the native smooth resolution scale feature if you want flexible HiDPI resolutions on Apple Silicon. This is much better than mirroring a dummy and should not have virtual screen mirroring related issues.

[2022-06-11 17:12] waydabber commented on #652
@delfuego - I also recommend you to try the latest beta (1.2.5) and use instead the native smooth resolution scale feature if you want flexible HiDPI resolutions on Apple Silicon. This is much better than mirroring a dummy and should not have virtual screen mirroring related issues.

Thank you!

[2022-06-11 18:36] cyrusauyeungc commented on #545
may I know if you have tested the new feature "smooth scaling" on a monitor in portrait position?
One of my dell monitor is in portrait position.
I purchased the pro license right after I read your new beta, enabled the smooth scaling and then there's no resolution for 1080*1920, but only 1920*1080. as I remembered in the time when it needs a dummy, the portrait / landscape has to be registered to

[2022-06-11 18:54] cyrusauyeungc opened #665 "Resolution slider is missing + corrupt system configuration when the display is rotated during the procedure"
may I know if you have tested the new feature "smooth scaling" on a monitor in portrait position?
One of my dell monitor is in portrait position.
I purchased the pro license right after I read your new beta, enabled the smooth scaling and then there's no resolution for 1080 x 1920, but only 1920 x 1080, as in most of the resolution available are in landscape mode only. The only available portrait

[2022-06-11 19:07] waydabber commented on #665
Hi there, sorry about that, you are right, I forgot about portrait orientation.

You need to do this to make it work in this beta:

1. Unclick this:

<img width="798" alt="Screen Shot 2022-06-11 at 21 05 56" src="https://user-images.githubusercontent.com/37590873/173201606-8451d76a-f8ce-415a-8aae-88a1733c93ae.png">

2. Then change the display orientation in the menu

<img width="586" alt="Screen S

[2022-06-11 19:16] waydabber commented on #665
But the above-mentioned workaround only affects the slider. If you do not want to use the slider, then you simply have to use the Screen Rotation option under the display, that works fine and is tested. :) Let me know if you encounter any issues!

[2022-06-11 19:17] 3DCoded opened #666 "Menu blocks cannot be collapsed and some other display or dummy related settings cannot be changed (exact list in the issue)"
When I open the BetterDisplay menu, I cannot collapse "Color LCD", nor can I expand "raspberryscreen". I can still expand and collapse the tools menu
<img width="260" alt="Screen Shot 2022-06-11 at 3 15 56 PM" src="https://user-images.githubusercontent.com/69043333/173201898-87b0c5f0-d377-436c-b764-d5e5c54bdeea.png">
.

[2022-06-11 19:25] waydabber commented on #666
Uhh, you are right. This seems to be broken in 1.2.5... :(

I recommend you reset the app so all blocks will be open. I'll fix it in the next release. I did a lot of changes internally, since this was a "new features" beta, the next will be a stabilizing one.

Super sorry about this!

[2022-06-11 19:50] 3DCoded commented on #666
No problem! Thank you for the temporary solution.

[2022-06-11 19:50] waydabber commented on #642
Well @exceedsystem , I examined the logs. Bad news is that the Paddle framework is crashing apparently at the same place. This is a black-box stuff as the licensing and payment provider (Paddle.com) provides the framework in a secured and heavily obfuscated binary (for obvious reasons). I'll try to contact them to figure out if they know about the issue or can help with this.

Thanks for the repor

[2022-06-11 20:16] 3DCoded opened #667 "Some displays glitch out when using DDC audio and brightness control"
When I try to use DDC audio or brightness control on a specific monitor, the monitor will turn many colors and then turn off. It will turn on a few seconds later.  I have noticed that the audio and brightness on the display has changed though. I am not sure if this is a problem with the monitor, but here is the technical information provided by BetterDisplay:
<img width="336" alt="Screen Shot 2022

[2022-06-11 20:53] exceedsystem commented on #642
@waydabber

Thanks for the analysis of the issue.

I see.

Certainly, I think there is something wrong with the behavior around the license activation as it seems to lose the license from time to time.

[2022-06-11 20:57] JX478 opened #668 "Resolution Scaling Slider not appearing"
I have followed all the instructions for it now. But I can't get the Super Flexible Resolution Scaling Slider to appear.

MacOS 12.4
BetterDisplay 1.2.5
Apple Silicon M1

Everything seemed to work but when I reboot the computer it isn't displaying it then.

[2022-06-11 21:06] waydabber commented on #667
It is a sure sign of the display not taking DDC commands well (or you might be using the HDMI port on your 2018 or later Mac which garbles DDC I2C communication, some docks can do the same).

[2022-06-11 21:10] waydabber commented on #668
Hmm. Can you take a look at what happens if you unclick this?

<img width="798" alt="Screen Shot 2022-06-11 at 23 07 44" src="https://user-images.githubusercontent.com/37590873/173204913-ab4e0d71-2396-43e1-a9b0-646c63181873.png">

Also if you change the setting to "Always use resolution submenu", what do you see in the list?

Also, can you please show me a screenshot of the Displays menu content f

[2022-06-11 21:15] waydabber commented on #642
Hmm. That should not happen either. There was one other similar report so far.

Btw is your computer's date properly set and synchronized to a time server? I heard that Paddle might have issues when it isn't, but not really sure to be honest. An other thing that might cause issues if loss of network connectivity even though Paddle should work off-line and issues related to this are supposedly fixe

[2022-06-11 21:41] waydabber commented on #666
Unfortunately this was just the tip of the iceberg, the root cause was a minuscule omission when changing something that is foundational to some things in the app and about a dozen various functionalities are affected (some display or dummy related settings cannot be toggled).

This requires an urgent fix, will provide an other beta soon.

[2022-06-11 22:03] waydabber commented on #666
The exact list of functionalities affected:

- Flipping dummy aspect ratio
- Closing/opening menu blocks
- Toggling activation of full-screen stream on associated dummy connect
- Toggle the option for a dummy to follow the orientation change of the associated display
- Toggle enforcing the mirroring for associated display
- Toggle enforcing connecting the dummy on connecting an associated display

[2022-06-11 22:07] waydabber commented on #668
The issue might be related to this - https://github.com/waydabber/BetterDummy/issues/665

[2022-06-11 22:23] exceedsystem commented on #642
@waydabber

Yes. My compter is synchronizing with ntp server but my network is filtered by Squid for security reason, that may be having an affecting network communication.

However, in any environment, I think it is not good if the calling application crashes due to an unhandled exception raised by the library.
Can't BetterDummy handle the exception?

Anyway, this problem seems to be a rare case,

[2022-06-11 22:27] BillyLavoie commented on #261
This doesn't work on my monitor, I think the resolution is too high (but it did work with dummies except I had this flickering issue...)

I'm able to select 3840x1080 HDPI which but when I select my monitor's resolution 5120x1440 it doesn't support the HDPI

[2022-06-11 22:35] waydabber commented on #642
Tried symbolicating the crash log but the BetterDummy relevant threads where just not doing anything at the moment - this seems to an asynchronous background process of Paddle so there is not much to do about that I think.

I'll leave it open for now but classify it as a known issue for now as there is no known fix and I don't seem to be able to fix it right now. I'll forward the relevant parts to

[2022-06-12 00:18] JX478 commented on #668
I have tried that but it didn’t work for it.

I attached screenshots for it.

[2022-06-12 00:22] JX478 commented on #668
I don’t have any screen rotation set for it.

[2022-06-12 02:42] delfuego commented on #652
@waydabber I downloaded and installed the new app, but where do I find the feature? I don't see it anywhere...

[2022-06-12 04:56] waydabber commented on #668
Hi @JX478 - the screenshot did not seem to come through via mail, sorry.

[2022-06-12 04:59] waydabber commented on #652
Hi @delfuego,

To enable the feature,

1. navigate to the `Displays` section in `Preferences`,
2. enable the `Edit and manage the system configuration of this display` feature,
3. and then enable the `Allow smooth resolution scale option` just below it as it appears.
4. If you did this for all the relevant displays, click on the` Apply System Display Configuration` button at the bottom of the scre

[2022-06-12 05:26] yuzhanglong commented on #142
Pro license...

[2022-06-12 06:35] waydabber commented on #668
However let's discuss this under #665 as the issue is basically the same. I'll review the slider resolutions and make sure it's not as picky as now as I found various circumstances the slider won't show in 1.2.5.

[2022-06-12 06:35] #668 closed, assigned to waydabber

[2022-06-12 06:40] waydabber commented on #667
@smattar2020 - It would be beneficial to have some more info - display vendor and name, and also the way you connect the display. Also you could try if you experience the same with [MonitorControl](https://github.com/MonitorControl/MonitorControl) as a reference. Thank you!

I'll convert this one into a discussion since there will be more issues like this and there needs to be a place to discuss t

[2022-06-12 06:40] #667 closed, assigned to nobody

[2022-06-12 08:14] cyrusauyeungc commented on #665
I think originally my main concern is not about the slider, but the ability to have HiDPI on 2k portrait display.
1. I first started with this settings, with the 2k dell display on the right in portrait position.
At this point everything is set to default in the MacOS display settings.
<img width="780" alt="image" src="https://user-images.githubusercontent.com/69232468/173223608-59d695e5-daf3-42d4

[2022-06-12 09:24] waydabber commented on #665
This is indeed not right. I seem to have portrait options all right but it's not a QHD display I am trying. I'll test it with a QHD display again soon and try to fix the slider as well. I'll report back as soon as I have some findings. Thanks for the patience! :)

[2022-06-12 09:31] waydabber commented on #665
Hmm. I did try it with a QHD display with smooth resolutions enabled. It seems like the options are there and working.

How is the display is connected and what is the exact model of the display? Is it natively and directly connected via USB-C?

<img width="100" alt="Screen Shot 2022-06-12 at 11 29 40" src="https://user-images.githubusercontent.com/37590873/173226942-67c32d95-691e-49d0-9da9-ee1600

[2022-06-12 10:05] waydabber commented on #643
Filtered out fake the HiDPI resolutions reported by 12.4+ when classifying the display as HiDPI.

[2022-06-12 10:38] waydabber opened #670 "Add some additional support info when clicking the display name under Preferences/Displays"
<img width="842" alt="Screen Shot 2022-06-12 at 12 37 00" src="https://user-images.githubusercontent.com/37590873/173229247-7fda6ece-edaa-4af0-9475-a8a162f92dee.png">

[2022-06-12 11:00] lenne0815 commented on #261
Oh man, this is so awesome ! It does work perfectly for my Dell s3422dwg i can now run 100hz @hdmi M1 mini scaled ! I think im gonna buy a dongle soon so i can test 144hz as well. Great work ! Amazing that you can do what Apple cant !

[2022-06-12 11:20] waydabber commented on #665
@cyrusauyeungc - if the display was rotated when you activated the smooth settings and saved the system settings, the written system configuration is corrupted. I'll fix this in the next beta. You might want to try again and do the entire sequence of things while the display is not rotated to begin with. After the reboot you can safely rotate the screen.

[2022-06-12 13:53] waydabber commented on #632
Hi @alessionossa - unfortunately anyhow I look at this it I either hardwire this specific resolution to be available (which is not nice), decrease the max. possible range (as with doubled steps the system could not handle the amount of resolution options) or just leave things as it is. I am leaning to the last option. The issue affects Intel only and there is a workaround for that as a custom dumm

[2022-06-12 13:53] #632 closed, assigned to waydabber

[2022-06-12 16:15] waydabber commented on #631
I can't seem to reproduce these issues, but their relevance is somewhat diminishing with the native smooth resolution scale feature. I'll move this over to discussions to see if others have similar experiences or if there is a clear way to reproduce it on all systems (I don't want just to leave it pending as an issue).

[2022-06-12 16:15] #631 closed, assigned to waydabber

[2022-06-12 16:17] #353 closed, assigned to nobody

[2022-06-12 16:33] waydabber commented on #644
<img width="842" alt="Screen Shot 2022-06-12 at 18 32 16" src="https://user-images.githubusercontent.com/37590873/173243339-6f6908e6-0ac7-4dbb-b3e8-adbf6acf48ea.png">

I am also changing this so the reset happens only if a HDR capable display is affected so there are no resets in vain.

[2022-06-12 16:36] #642 closed, assigned to waydabber

[2022-06-12 16:56] cyrusauyeungc commented on #665
Thanks and appreciate that. Now it's working and wallpaper seemed to be pretty stable now. however the window arrangement might still sometime all group back to the MacBook main display. will monitor continuously.
Tried the new approach that is to reset everything to default first, reboot, then start the whole process again!

[2022-06-12 20:11] waydabber opened #675 "Option to show hw/sw subsliders when combined brightness is enabled"
This is for testing and educational purposes to see how hardware and software brightness control interacts when combined brightness is enabled. Subsliders are updated real-time, it's kinda cool, especially when XDR upscale is enabled on Apple screens and the headroom is dynamically calculated.

<img width="991" alt="Screen Shot 2022-06-12 at 22 08 24" src="https://user-images.githubusercontent.com

[2022-06-12 20:11] waydabber commented on #644
Related to this issue, here is a fun change to help understand what is happening with combined brightness:

https://github.com/waydabber/BetterDummy/issues/675

[2022-06-12 20:13] waydabber commented on #644
(note: I did not remove all colorsync resets as there are some occassions when it is required otherwise the app would not be able to initialize the color table).

[2022-06-12 21:47] #643 closed, assigned to waydabber

[2022-06-12 21:47] #644 closed, assigned to waydabber

[2022-06-12 21:47] #665 closed, assigned to waydabber

[2022-06-12 21:47] #666 closed, assigned to waydabber

[2022-06-12 21:47] #670 closed, assigned to waydabber

[2022-06-12 21:47] #675 closed, assigned to waydabber

[2022-06-13 00:23] 0x-dudu opened #677 "Icons are not displayed and not clickable after updating the latest version"
mac m1 appeared on Sunday after updating the latest version
Icons are not displayed and not clickable after updating the latest version

[2022-06-13 00:28] delfuego commented on #652
@waydabber I unfortunately won't be at my desk that has the HiDPI external monitor for at least a week (kids are between school and camp), but I can see that option if I plug into my non-HiDPI external monitor at home, and it looks like it's pro-only, yes? If so, is there any way to test it out first to make sure it solves the issue I'm seeing? (This is a government-owned computer, and that means

[2022-06-13 00:28] #677 closed, assigned to nobody

[2022-06-13 05:04] waydabber commented on #652
Hi there - of course. There is a 15 trial, but I suppose it is now over. If so, you can still try the feature as I generally did not leave non-pro users in the dust with this.

Simply select `Manually add custom resolutions`, select a resolution you'd like to be added (for example if you have a 2560x1440 display and want 1920x1080 HiDPI to work, enter '1920' and '1080' and click the (+) icon (you

[2022-06-13 08:50] MrMage commented on #140
I have a 2560x1440 165Hz display connected via USB-C. Does the new feature mean that I could now have my M1 Max MBP render 1920x1080@2x (i.e. 4k total resolution), then output that scaled-down to the 2560x1440 display, all at high refresh rates?

[2022-06-13 09:17] waydabber opened #679 "Keyboard brightness control does not work when hardware control is disabled in the latest beta"
Combined or hardware brightness control works, but software-only dimming does not.

This an unintended side-effect / bug caused by the fix for https://github.com/waydabber/BetterDummy/issues/655.

Sorry about that, will be fixed in the next beta!

[2022-06-13 09:30] waydabber commented on #140
Yes, theoreticaly it should work but there might be a limit if the MBP cannot handle the internal 5K framebuffer resolution at 165Hz. It works fine for 120Hz on the MBP for a framebuffer almost twice the native resolution though (so this is about 6K) so I think it will probably work.

[2022-06-13 10:00] pmalek commented on #140
If that works (I'm also on 1440p but I'm fine with 144Hz or 120Hz) then I'm definitely interested in using this tool on a daily basis.

Sadly I've installed it 2 weeks ago and realized that high refresh rates didn't work at that time and wasn't interested in using it.

Now my trial is over and I have no way of testing whether that works on my setup since that's a Pro feature 😞

[2022-06-13 10:07] jonashaag opened #680 "1.2.5b adversely affects native brightness control (makes it choppy) on macOS 13 Ventura"
1.2.5b-beta Build 7554

Reproduce: Go to Displays, disable Enable hardware brightness control.
Expected: macOS native brightness control works.
Actual: macOS native brightness control shows brightness indicator only but brightness can't be changed.

[2022-06-13 10:09] shaynem opened #681 "Display configuration is editable for DisplayLink connected displays (which don't support this feature)"
Version: 1.2.5b-beta

2x External Monitors, both the same brand.

1x Monitor connected directly to the M1
1x Monitor connected via Display Link.

If I edit the raw display name, it changes the display name for both monitors (within the app interface) - selecting "Edit raw display name" and entering a display name, shows this name in both monitors respective fields.

They are detected correctly i.e

[2022-06-13 10:43] waydabber opened #682 "Resolution slider changes to `Low resolution` when the max value was set once"
Since the max native resolution is non-HiDPI, the app switches to low-res, but when the slider is moved back, it does not change back to HiDPI which is wrong. :)

[2022-06-13 10:44] 3DCoded opened #683 "Some text in settings is cut off"
In BetterDisplay's settings, some text is cut off. Is it possible to make the text wrap or resize the window?
<img width="576" alt="Screen Shot 2022-06-13 at 6 44 04 AM" src="https://user-images.githubusercontent.com/69043333/173337170-eb79d581-5705-4d15-b82a-3e0a5d09d10c.png">

[2022-06-13 12:41] waydabber commented on #683
Thank you @smattar2020 !

[2022-06-13 12:45] waydabber commented on #681
The reason the fields are shared for similar displays is that this method can edit the system configuration on a display maker/product model level - so if there are two displays of the same kind, any edits will affect both. This is intentional.

But: DisplayLink displays should not even have this feature enabled as this method (almost for sure) works only for natively connected and built-in displa

[2022-06-13 12:46] waydabber commented on #681
(on displaylink you can use the dummy method for flexible resolutions).

[2022-06-13 12:55] waydabber commented on #680
The native brightness sliders will work only with the built-in display, for any other displays you need to use BetterDisplay's brightness sliders. In order to use the native brightness slider, you need to actually use the slider on the built-in screen. This behavior is not affected by BetterDisplay (the app does not disable the native slider).

[2022-06-13 12:56] waydabber commented on #680
(also, if you are on Ventura, the native slider is buggy, you actually need to open the Dispalys subpanel and select the built-in screen to control the brightness).

[2022-06-13 13:01] waydabber commented on #680
but having said that (at least on Ventura) there is some choppiness when using the native brightness slider - which is probably because the app is subscribed to a notification about the brightness change to recalculate the upscaling headroom. Maybe this is the problem in question, I'll need to check this out. Also if hardware brightness control or XDR upscaling is deactivated, there should be no r

[2022-06-13 13:05] shaynem commented on #681
Yes, already using dummy mirror, was just trying to have a better identification method of displays rather than having duplicate names.

Serial number possible ?

<img width="506" alt="image" src="https://user-images.githubusercontent.com/118681/173360132-211de7c1-ef2e-4d2f-bb9d-5aef586d6c7c.png">

<img width="511" alt="image" src="https://user-images.githubusercontent.com/118681/173360181-9509b6a

[2022-06-13 13:09] waydabber commented on #681
Well, you can change the real display's name, I don't think that after reboot the displaylink display's name will actually change.

But I could add a feature to change a display name in the app menu only (not system wide), that would work for any display.

[2022-06-13 14:50] roelvangils commented on #641
I absolutely love it!

[2022-06-13 15:39] jonashaag commented on #680
Not sure I understand what you are saying and you understand what's my problem. My problem is that on the built-in screen the brightness buttons (touchbar) don't work unless I enable BetterDisplay controlled brightness:

Me pressing brightness up:

<img width="429" alt="Screenshot 2022-06-13 at 17 36 38" src="https://user-images.githubusercontent.com/175722/173391316-ab5bdd43-a55a-4be2-b418-b4a4cf

[2022-06-13 15:44] waydabber commented on #680
Oh yes, sorry about that. I totally misunderstood. Still, the issue I found is valid (at least on Ventura). :)

Your issue is this one: https://github.com/waydabber/BetterDummy/issues/679. It will be fixed in the next beta. The workaround is to select `Disengage from native brightness keys` under Keyboard.

<img width="842" alt="Screen Shot 2022-06-13 at 17 43 08" src="https://user-images.githubus

[2022-06-13 15:47] waydabber commented on #680
With your permission I'll leave this one open for now and reinterpret it to the problem I found on Ventura while misunderstanding your original issue. :)

[2022-06-13 16:54] kgrv-me opened #684 "(Suggestion) Reverse resolution list in submenu to show high resolutions first"
Hi,

I would like to suggest that the list in `Set Resolution` submenu be reversed to display from the highest available resolutions to the lowest resolutions.

Thank you!

[2022-06-13 16:55] waydabber commented on #684
Yes, this makes sense, thank you!

[2022-06-13 17:51] waydabber commented on #682
This is now fixed. Sorry about that.

[2022-06-13 17:52] waydabber opened #685 "Resolution slider always falls short of fully reaching the end even at 100%"
This does not really affect anything but looks wrong! :)

[2022-06-13 18:02] waydabber opened #686 "The resolution list in simple mode should show only resolutions for the current refresh rate"
The user can change the refresh rate in a separate submenu anyway. If `Show additional resolution options` is enabled, the list should still be exhaustive.

[2022-06-13 18:59] 3DCoded commented on #543
Are there plans for implementing this in 1.2.x or 1.3.x?

[2022-06-13 19:59] waydabber opened #687 "With combined brightness, when the brightness is decresed to zero externally for Apple displays, external controls can't recover the brightness"
BetterDisplay's own controls are not affected.

[2022-06-13 20:09] waydabber commented on #543
Yes, I am planning to look into it but not in v1.2.x as that release now has a fixed feature set (see the milestone). I might even leave some stuff out of that as the cycle is getting too long as I am bogged down fixing various bugs. :/

[2022-06-13 20:10] 3DCoded commented on #543
OK. Thanks for the update.

[2022-06-13 20:28] marekkolman opened #688 "1.2.5b native smooting isn't the same quality as HiDPI via dummy"
I have a QHD 2560 x 1440 external screen and _with_ dummy it works great when scaled to 1920x1080. I installed the latest beta 1.2.5b and if I don't use the created dummy, and rescale to 1920x1080 the image looks much less crisp than with the dummy. I have taken the steps in the release notes and rebooted my Mac. Is this expected?

[2022-06-13 20:31] waydabber commented on #688
Hi, please check at 1920x1080 if you are not accidentally running at low res due to this bug: https://github.com/waydabber/BetterDummy/issues/682

<img width="580" alt="Screen Shot 2022-06-13 at 22 30 30" src="https://user-images.githubusercontent.com/37590873/173439907-1a05f224-e48c-462e-af8f-d8865e7a2904.png">

If so please deactive `Low Resolution Mode` for proper clarity. The bug will be fixed

[2022-06-13 20:32] waydabber commented on #679
Fixed (hopefully with no further side effects).

[2022-06-13 20:38] waydabber commented on #680
I looked into is more deeply and found an other more serious bug so this was an useful endeavour:

https://github.com/waydabber/BetterDummy/issues/687

About the choppiness I won't fix that now as I figured out it is a side effect of screen parameter change calls which is needed. I don't remember having this on Monterey and seems to be harmless enough on Ventura as well, but I'll look into it agai

[2022-06-13 20:38] #680 closed, assigned to waydabber

[2022-06-13 20:41] waydabber commented on #681
Fixed.

[2022-06-13 20:44] marekkolman commented on #688
For my native Macbook Pro display, this was not enabled. I can't even enable it (if I click on it, it stays blank). On the external display I don't have any such an option. So this won't be the issue.

[2022-06-13 20:46] waydabber commented on #683
Fixed.

<img width="842" alt="Screen Shot 2022-06-13 at 22 46 26" src="https://user-images.githubusercontent.com/37590873/173442398-d140d5dd-34ca-40ed-a45b-150cf89498da.png">

[2022-06-13 20:47] 3DCoded commented on #683
Thank you!

[2022-06-13 20:47] waydabber commented on #688
Hi there, can you share a bit more about your config (mac model, display type, connection type etc?) Thanks!

[2022-06-13 20:54] marekkolman commented on #688
I have Macbook Pro 14 with M1 Pro running Monterey 12.3.1, the external screen is Dell S2721DS connected via HDMI .

[2022-06-13 21:00] waydabber commented on #688
Ohh, the feature is only compatible with Monterey 12.4 or newer. :)

I'll close this one, let's report back if you still have the issue on 12.4. Thank you!

[2022-06-13 21:00] #688 closed, assigned to nobody

[2022-06-14 05:26] abigchopstick opened #689 "[bug]custom resolution doesn't show up on slider"
- While at it, I also added some other nifty features - you can now override you real display's name, native resolution, default resolution and also add your own custom scaled HiDPI resolutions on Apple Silicon. These are available for free for the benefit of all.

according to this update, I tried setting custom HiDPI resolution for my xiaomi 34 inch monitor with native resolution at 3440x1440, t

[2022-06-14 06:38] waydabber commented on #689
Hmm. The problem might be that 2560x1080 is not _exaclty_ the same aspect ratio as the native 3440x1440.

Try 2580x1080?

Use resolutions that give you the same result (2.38888...) when you divide the width by the height as with the native pixel resolution.

[2022-06-14 06:39] waydabber commented on #689
Let me know if it works! I'll convert this one into a discussion.

[2022-06-14 06:39] #689 closed, assigned to nobody

[2022-06-14 10:16] #679 closed, assigned to waydabber

[2022-06-14 10:16] #681 closed, assigned to waydabber

[2022-06-14 10:16] #682 closed, assigned to waydabber

[2022-06-14 10:16] #683 closed, assigned to waydabber

[2022-06-14 10:16] #684 closed, assigned to waydabber

[2022-06-14 10:16] #685 closed, assigned to waydabber

[2022-06-14 10:16] #686 closed, assigned to waydabber

[2022-06-14 10:16] #687 closed, assigned to waydabber

[2022-06-14 14:33] stldo commented on #220
This feature would be very useful, but instead of requiring BetterDummy on the client side, maybe an HTTP stream would be a better option. This way, any device with a web browser could be used as a screen. Currently, I'm using BetterDummy to create a second screen and access it through screen sharing, but the image quality is really low and consumes a lot of bandwidth.

[2022-06-14 15:00] 3DCoded commented on #220
This feature could bypass the M1's single monitor limit, if you have another computer connected to a monitor, you could just go to the URL and have another screen!

[2022-06-15 02:21] dave-epstein commented on #635
Any idea when this might come out? Having a contrast control (esp. with a keyboard shortcut) would be great. Would it be pleasible technically to support this on DisplayLink screens too?

[2022-06-15 05:29] waydabber commented on #635
Hi @dave-epstein - everything is ready in the app to implement these so I think I'll add them soon.

DisplayLink control is unfortunately not possible at the moment as these displays simply act like virtual displays in the OS and there is no way to perform the access the i2c communication channel to the display required for DDC.

Maybe I should contact the maker of DisplayLink to see if they can o

[2022-06-15 08:15] markomitranic opened #691 "Is the new HiDPI resolution slider antialiased?"
Hey @waydabber I'm running the latest beta right now and I noticed a change which is not bad at all, but I wish I had a tiny bit more visible data.

**My use case:**
I constantly connect to different external monitors, and most of them are 24" 2K, which makes everything too small since macOS doesn't use (or offer) hidpi mode for them. I come to the office in the morning, attach a monitor, clickity

[2022-06-15 08:20] markomitranic commented on #691
Scratch that, i discovered you had already made a setting for that. :)
That does make me think, am I doing this wrong? Is there also a setting that will make the slider stick exclusively to the pixel-to-pixel hiDPI resolutions?

<img width="1184" alt="Skærmbillede 2022-06-15 kl  10 18 04" src="https://user-images.githubusercontent.com/10811624/173778400-b0a8a4cb-83df-4ed3-bcd0-3891706ff9a3.png">

[2022-06-15 08:39] onreg opened #692 "Wrong dummy display resolution when connected via display link"
MacBook:
1. MacBook Pro (13-inch, M1, 2020)
2. macOS version 12.4 (21F79)

Displays:
1. LG UltraGear 27GP850 27" 2560x1440px 165Hz, connected via displayport.
2. LG UltraGear 27GN850-B 27" 2560x1440px 144Hz,  connected via displayport.

BetterDisplay:
1. Version 1.2.5c-bet Build 7617

Both displays are connected to my MacBook via Displaylink.

Then I create 2 dummy displays and set up mirroring.
C

[2022-06-15 08:52] waydabber commented on #691
Hi @markomitranic - what do you mean by pixel-to-pixel HiDPI resolutions? There should be basically exactly two resolutions like that - one that matches the panel native resolution and one that is half of the panel resolution (logically). Anything else is in-between and involves scaling.

Note that with the new version you can have scaled resolutions on Apple Silicon even without dummy and mirrori

[2022-06-15 09:05] waydabber commented on #692
Hmm. I think DisplayLink will not support screens beyond 60Hz (just seeing the high refresh rates there).

Well, the two displays should look the same if both dummies are set up the same way and both are mirrored to the display. The mirror will honor whatever the native resolution is reported by the target device so if you think it is not 2K then there might be something wrong there. You can check

[2022-06-15 09:54] onreg commented on #692
Thank you. I switched mirroring to streaming and the image quality is improved (both dummy displays are set up to 1920x1080 60Hz).

[2022-06-15 19:42] waydabber commented on #692
Thanks for the response!

[2022-06-15 19:42] #692 closed, assigned to nobody

[2022-06-15 19:47] waydabber opened #694 "Newly connected display with smooth scaling enabled is not detected properly"
A display with smooth scaling enabled can have a lot of resolution options. Upon connecting such a display to the OS, it takes some time for the required subsystems to enumerate everything properly. BetterDummy is too fast in detecting the display so some settings might not initialize properly:

- Native and default resolution is not detected properly.
- Resolution slider does not appear in the me

[2022-06-15 19:49] waydabber commented on #691
I'll convert this into a discussion, let me know if I can help with this! :)

[2022-06-15 19:49] #691 closed, assigned to nobody

[2022-06-15 20:46] waydabber commented on #694
Well I did fix this but it might take up to 10 seconds for some display to initialize properly at OS level with excessive amount of display modes and (resolution options multiplied by the available refresh rate, bit depth etc).

[2022-06-16 09:22] fputmango commented on #641
Love your work and bought the app. Is BetterDisplay a complete replacement for BetterDummy (or will it be), because you can use both at the same time. I like the feature in BetterDummy where you can exactly tune the resolution. In BetterDisplay it seems it is only possible in percentage.

[2022-06-16 09:39] waydabber commented on #641
@fputmango - BetterDisplay is just a renamed BetterDummy with more features. You can change how the slider displays the value (percentage or resolution):

<img width="842" alt="Screen Shot 2022-06-16 at 11 39 17" src="https://user-images.githubusercontent.com/37590873/174041912-5d7733f3-4746-4261-9e53-06e37b2eada3.png">

Hope this helps! :)

[2022-06-16 10:34] 3DCoded opened #696 "Option to force-restore Apple screen brightness set by BetterDisplay"
I really like how BetterDisplay allows to set the brightness, but on my Mac, even with auto-adjust brightness off, my brightness still auto-adjusts, which is not what I want. Is there a way for BetterDisplay to keep the brightness at a set value?

[2022-06-16 10:56] waydabber commented on #696
Hi @smattar2020 - is this the built-in display or an external display? If so, what model?

Do you see the brightness slider moving in response to change in lighting conditions?

[2022-06-16 12:11] 3DCoded commented on #696
This is my MacBook Pro 13.3-inch late 2020 Built-in Retina display 2560x1600. I am using True Tone, but I think that is supposed to adjust the tone of the screen. My brightness slider will decrease from 100% every time I wake it up from sleep.

[2022-06-16 12:14] 3DCoded commented on #696
Here is my display settings:
<img width="313" alt="Screen Shot 2022-06-16 at 8 13 33 AM" src="https://user-images.githubusercontent.com/69043333/174067272-3280c765-1d17-4d35-a193-0c2c7a8c319a.png">

[2022-06-16 12:16] 3DCoded commented on #144
I may be on to a solution with using `~/Library/Preferences/com.apple.spaces.plist` I have some partially functioning code. I will post my workaround code here when it is ready. Maybe it could be implemented into BetterDisplay as an override to the Ctrl+Right and Ctrl+Left key combination.

[2022-06-16 12:43] waydabber commented on #696
Hmm. The only other thing I know can dim the screen automatically is the `Slightly dim the display while on battery power.`.

[2022-06-16 12:46] 3DCoded commented on #696
As far as I have tested, that only affects how bright each setting is, not the brightness setting itself.

[2022-06-16 14:02] waydabber commented on #696
I can add an option to force-restore the brightness level set by BetterDisplay for Apple displays upon a change. Currently the app acknowledges the changes made by the OS or via the native OS controls (so native brightness slider, amibent light sensor, touch bar brightness slider etc can function).

[2022-06-16 14:28] 3DCoded commented on #696
OK. That would be great. Thank you.

[2022-06-16 21:11] waydabber opened #697 "Add a simple info popup about the name change for stable version updaters"
I am planning to release v1.2.6 as a stable versions with no new features and only some minor bug fixes. Since the app name is changing, it would be wise to have a minimal heads up about this after the update + some info about the new stuff (+ how to disable brightness control for compatibility reasons).

<img width="521" alt="Screen Shot 2022-06-16 at 23 10 44" src="https://user-images.githubuser

[2022-06-16 23:35] JX478 commented on #665
I still can't get the slider to appear even after the update for it then.

[2022-06-17 01:21] ibehnam opened #698 "[Suggestion ] Automatically Stop Process when Only Internal Display is Connected"
As others have mentioned before, BetterDisplay does have a negative effect on battery (at least it's the case on my M1 MBP). It'd be helpful if the app would disable/stop its process when only internal display is on, and reactivate when connected to external monitors.

[2022-06-17 05:42] waydabber commented on #698
Hi @ibehnam - if you enable `Energy Impact` under Activity Monitor, what levels do you see? It should be zero or near zero when the app is idle. If this is not the case then something is amiss. Thank you!

[2022-06-17 11:46] waydabber opened #699 "Show a non-intrusive warning about permissions problem in menu instead of an alert dialog"
The app now shows alert popups when an accessibility or some other permission is missing. It would be much better to add a nice warning banner about it on top of the menu instead.

(Idea from d1rewolf from the Discord channel)

--

[code]

[2022-06-17 12:23] ibehnam commented on #698
@waydabber Thanks for your reply. I did that. Its Energy Impact is between 0.5 to 1.5. Is there anything to do about it?

[2022-06-17 13:44] waydabber commented on #698
Hi @ibehnam

hmm. that seems a bit high when the app is doing nothing. Can you tell me the following:

- what mac model are you using,
- what app version are you using and
- what functionality is being used (is there a dummy enabled for example and is being mirrored or streamed?)

Also if you have the time, you can peek into the Console logs to see if BetterDummy doing anything (like in a configur

[2022-06-17 13:55] ibehnam commented on #698
Sure! Here's some info:
- MacBook Pro with M1 Pro Chip (2021 Model) - 13-inch
- OS: macOS 12.4 21F79 arm64
- BD 1.2.5c-beta Build 7617
- One disconnected dummy display:
<img width="297" alt="image" src="https://user-images.githubusercontent.com/58621210/174312396-63c2d571-eb9d-4d70-957e-6a35ca32e5b3.png">
<img width="271" alt="image" src="https://user-images.githubusercontent.com/58621210/17431229

[2022-06-17 15:03] waydabber commented on #698
Well, BetterDummy should not be doing anything in this state. Can you look at the console if you see anything?

(btw you can also try the native smooth scaling feature instead of using dummy mirroring for S32D850).

[2022-06-17 18:03] waydabber commented on #698
Ok, I may have found something - when the ambient light sensor causes the screen brightness to change (if automatically adjust brightness is enabled), BetterDisplay indeed react and recalculate various color management stuff and things for XDR upscaling related to this event. This will take up some resources. Maybe this is the issue.

[2022-06-17 18:52] waydabber commented on #698
All right, I did optimize stuff however the results are minimal. It turns out the problem is much deeper than that and runs into the core of macOS HDR management. If any HDR content is present on screen (it can be a video, Safari content etc, even BetterDisplay closed) the cause induced by the ambient light sensor will change the EDR headroom of the display (how much HDR/XDR brightness the system

[2022-06-17 18:53] waydabber commented on #698
I'll convert this into a discussion. An issue might be presented to Apple about it to tune down the time resolution of `NSApplication.didChangeScreenParametersNotification` a bit to conserve more battery.

[2022-06-17 21:59] waydabber opened #702 "Improve ambient light sensor induced XDR macOS battery drain issue"
If an app has some HDR content on screen on an XDR or EDR capable display with the ambient light sensor enabled, the light sensor induced changes constantly induce a recalculation of the EDR headroom which seems to be rather CPU heavy. To fix this, putting an XDR/EDR display to EDR mode when not needed is now avoided + I added an experimental option to turn off XDR upscale readiness when the combi

[2022-06-17 21:59] waydabber commented on #702
For more info see this - https://github.com/waydabber/BetterDummy/discussions/701

[2022-06-17 22:02] waydabber opened #703 "Display reconfiguarion app menu icon"
When the app is configuring displays, the app menu is not responsive. To make it obvious that something is going on, the app icon should reflect this during this process, especially as configuring smooth scaled displays may take a few extra seconds.

[2022-06-17 22:03] waydabber commented on #694
Changing orientation caused a similar issue, that was fixed as well.

[2022-06-18 11:01] waydabber commented on #699
If there is an Accessibility Permissions issue, the following item will appear in the menu:

<img width="350" alt="Screen Shot 2022-06-18 at 12 59 36" src="https://user-images.githubusercontent.com/37590873/174434746-5f1e19c1-4c78-434f-9033-c2009572016a.png">

When the user clicks on it, this info appears. It also gives the option to disable functionality that needs this.

<img width="488" alt="Sc

[2022-06-18 14:42] waydabber opened #704 "Emphasize a little more the display header under Displays"
Some users did not recognize that the Displays tab was on a per-display basis. To alleviate this, each display section head (aka. the display name) should be emphasized a bit more (bigger text + an icon).

<img width="798" alt="Screen Shot 2022-06-18 at 16 40 59" src="https://user-images.githubusercontent.com/37590873/174443440-a01cfa28-8825-46ba-8aff-490a15b39cf7.png">

[2022-06-18 14:44] waydabber commented on #703
These three dots in the icon indicate that something is going on and the app is busy reconfiguring.

<img width="272" alt="Screen Shot 2022-06-18 at 16 44 17" src="https://user-images.githubusercontent.com/37590873/174443526-0bfbaf08-9dfe-4e8e-8e87-bc3bbea8e692.png">

[2022-06-18 21:52] pavs94 opened #705 "Crashing issues and not scaling"
I've been trying to get BetterDisplay to run for a couple hours now but it consistently crashing /spinning and not responding.

I tried uninstalling, restarting, re-installing, updating and all the standard processes

The process I'm currently getting issues are as follows:
- Connect Macbook pro 16 inch 2019 to display
- Display 27 inch 2560x 1440 - LG Ultragear 27gl850
- Open Better Display
- Cre

[2022-06-18 22:08] waydabber commented on #705
Hi @pavs94 - unfortunately virtual display mirroring generally does not work at all on Intel Macs with discrete (AMD) video cards. This is stated in the compatibility section. Really sorry about that!

[2022-06-18 22:08] #705 closed, assigned to nobody

[2022-06-18 23:42] #694 closed, assigned to waydabber

[2022-06-18 23:42] #697 closed, assigned to waydabber

[2022-06-18 23:42] #699 closed, assigned to waydabber

[2022-06-18 23:42] #702 closed, assigned to waydabber

[2022-06-18 23:42] #703 closed, assigned to waydabber

[2022-06-18 23:42] #704 closed, assigned to waydabber

[2022-06-19 10:16] #641 closed, assigned to waydabber

[2022-06-19 21:32] waydabber commented on #655
There appears to be a regression with this as it is once again not working well.

[2022-06-20 13:31] ncc-74205 opened #708 "Zoom with pinch gesture in picture-in-picture windows"
Would be nice to be able to zoom inside a picture-in-picture window showing a dummy screen with a pinch gesture on the trackpad. This would be useful especially when the dummy screen has a much higher resolution than the main screen displaying the picture-in-picture window.

[2022-06-20 15:20] waydabber commented on #708
Great idea!

[2022-06-21 06:05] ncc-74205 commented on #708
Also, being able to scroll when zoomed in would be very helpful in such a setting. Maybe, this could be done in combination with a special key pressed, e.g. fn.

[2022-06-21 10:46] djsaijr opened #710 "Display flickering issue after external display wakes up with dummy mirroring"
Hi there!

My config is: MBP 14" with M1Pro, connected via LENTION Universal USB-C Docking Station (CB-D53s) to 34" Philips 345E2.

I have 2 issues, when the BD and custom HiDPI resolution is enabled:

1. Aster waking up the display starts to flickering, when I'm moving cursor. Reconnecting dummy did not solve the problem.   Made a quick demonstration: [Video]( https://youtu.be/g4-5LjApKw4 )
2. Af

[2022-06-21 10:58] waydabber commented on #710
Hi @djsaijr, both issues are related to dummy mirroring - see #261. I'd recommend to use the new `Allow smooth resolution scale` feature (see this [tutorial](https://github.com/waydabber/BetterDisplay#how-to-unlock-scaling-and-hidpi-for-my-display)) instead of dummy mirroring if your goal is to simply have flexible custom HiDPI resolutions and running Monterey 12.4 or newer. This approach gives yo

[2022-06-21 10:58] #710 closed, assigned to nobody

[2022-06-21 17:42] eledtech1234 opened #712 "Novastar LED Controllers / Custom EDID"
Hi,

i don't know if its ok to ask here.
i am working with LED Screens, most with custom resolutions.
so i am wondering 2 things if its possible:
1. can betterdisplay force EDIDs like Nvidia Custom Resolutions in Nvidia Control Panel?
For example the EDID of my LED Controller is 3840x2160 (which i can not change), but i wanna send a custom resolution of 5760x1344 for example. Betterdisplay can do

[2022-06-21 20:34] waydabber commented on #712
Hi there,

1. On Intel Macs you can override the EDID and create custom timings, but on Apple Silicon Macs it does not seem to be possible. You are stuck with the timings that the display provides or you can use a programmable (hardware) EDID emulator with passthru to modify them. On Intel you have great tools like SwitchResX to add custom timings (or you can do it yourself if you are up to it wit

[2022-06-21 20:35] #712 closed, assigned to nobody

[2022-06-22 21:03] waydabber opened #715 "(Non XDR) HDR display upscaling does not work"
Due to a change, external HDR display upscaling is not enabled unless an XDR display (like the internal new MBP display) is also connected in 1.2.6. This is a bug. The only workaround is to use the older [1.2.5 beta](https://github.com/waydabber/BetterDisplay/releases/tag/v1.2.5-beta) version which is still available as download (this version is mostly identical to 1.2.6 but does not have this bug

[2022-06-22 21:12] waydabber opened #716 "Some settings are not enabled until an other setting is changed on that specific pref pane"
<img width="842" alt="Screen Shot 2022-06-22 at 23 11 39" src="https://user-images.githubusercontent.com/37590873/175136903-6d286b4a-fa41-4c57-b044-2927f1d63cee.png">

[2022-06-23 12:57] alohaquando opened #717 "Ventura betas - Stage Manager thumbnails are hidden while software video adjustments is enabled"
Starting BetterDisplay on macOS Ventura always cause the Stage Manager thumbnails to disappear. It doesn't matter if a display or a dummy is connected, as long as BetterDisplay is running, the thumbnails will be hidden.
Toggling Stage Manager and changing the show or hide thumbnails options does not fix this. The only way to make the thumbnails show again is to quit BetterDisplay.

This error is h

[2022-06-23 13:06] waydabber commented on #717
Yes, this is characteristic for many apps and happens with Beta 2 as well. Stage Manager is rather buggy. If you want to use stage manager with these betas, you'll need to disable `Settings/General/Compatibility/Enable advanced display control` _or_ disable `Settings/Displays/Enable software-based video adjustments` for all displays and then restart the app.

I'll try to figure out how to fix stag

[2022-06-23 13:09] alohaquando commented on #717
Ah got it! Thanks for your prompt reply and the workaround worked perfectly. Glad I bought the app, and great job!

[2022-06-23 15:10] owine opened #718 "Feature: Mute on Sleep or Screen Saver"
Would be great to have a toggle that would mute the computer/monitor when the system sleeps or the screen saver comes up.

[2022-06-23 17:37] 3DCoded opened #719 "OpenSource for Pro License"
Are there plans to make BetterDisplay Open Source with some sort of verification system so that only people with a Pro License Key can access it?

[2022-06-23 20:32] waydabber commented on #719
No, I don't have plans like this, I don't see how this would work in practice. I might however release an updated open source version with less features.

[2022-06-23 20:32] #719 closed, assigned to nobody

[2022-06-23 20:33] waydabber commented on #718
It would be possible to add such a thing for DDC audio, but generic audio management is not a scope for the app as of now.

[2022-06-23 20:59] waydabber commented on #717
So the exact reason is that if a stationary window is present (this is required with software dimming for technical reasons - the window is hidden), Stage Manager does not know what to do so it simply opts not to work at all. I think this is a bug more than a feature in Stage Manager.

I can add an option to make things compatible with Stage Manager, however software dimming will become choppy or

[2022-06-24 19:11] roelvangils opened #722 "Customizable menubar icon"
Nitpicking: the menubar item looks a bit out of place when seen next to the macOS built-in display settings menu bar icon. The display icon is not the same size. Maybe it's better to make it look the same but with the slider knobs on the little screen? Or, maybe even better, why not use put a nice "BD" abbreviation on that tiny screen (in the HDMI font that you use elsewhere)? That would make it e

[2022-06-24 19:14] roelvangils commented on #635
Not having a contrast slider is the only reason I keep your other app MonitorControl open as well ;)

[2022-06-24 19:15] waydabber commented on #722
Well, I intentionally did not want to use the SF Symbol icon (but I would not put those two icons next to each other). You can enable the `Match menu icon with main display icon` in which case the app will use only SF Symbols in the menu bar (but in this case the external display icon will be the same as the display control panel icon which might also be a bit annoying). Maybe I'll add a feature t

[2022-06-24 19:17] roelvangils commented on #722
Thanks, master! You're a genius :)

[2022-06-24 19:22] waydabber commented on #635
Oh yes, sorry, I'll work on this, just stuck with other life matters. It's on the roadmap! :)

[2022-06-24 19:31] roelvangils commented on #635
Don't feel rushed at all! :)

[2022-06-25 14:15] waydabber commented on #655
I added a super convoluted logic that should handle various scenarios of brightness control when mirroring and streaming is happening and there is an overlay based screen involved. There are scenarios when brightness control simply won't work as expected, but it has hard technical limitations (for example a config when at least mirror member requires overlay based dimming will not work if it is a

[2022-06-25 15:07] waydabber opened #724 "Native brightness/volume keys are used during display configuration, after configuration the strokes are applied in a long loop"
Not cool. :)

[2022-06-25 17:04] waydabber opened #725 "If native media keys used during display configuration, keys might get stuck afterwards"
This is not cool. Happens on Ventura (possibly Monterey?)

[2022-06-25 17:39] 3DCoded opened #726 "BetterDummy shows as app name while using Mission Control when `Group windows by application` is enabled"
While I am using the Settings window, BetterDisplay shows the name BetterDummy.
<img width="758" alt="Screen Shot 2022-06-25 at 1 37 39 PM" src="https://user-images.githubusercontent.com/69043333/175784676-2c4cc417-9cdf-4f18-b075-cd3f04cbaf57.png">

[2022-06-25 18:27] waydabber commented on #726
Is tha app named BetterDisplay or BetterDummy under Applications? If you did install BetterDisplay as an update, the app name won't change! :)

[2022-06-25 20:27] 3DCoded commented on #726
I deleted BetterDummy and installed BetterDisplay.

[2022-06-25 20:27] 3DCoded commented on #726
It is named BetterDisplay under Applications

[2022-06-25 21:40] waydabber commented on #726
Where exactly do you see BetterDummy? Is this Exposé?

Due to compatibility reasons some of the software identifier strings and the bundle ID is actually BetterDummy still (this is to have the app reach the old BetterDummy settings file on upgrade, avoid the need to re-activate the license upon upgrade and let Sparkle auto-update from BetterDummy to BetterDisplay).

I'll probably move licensing an

[2022-06-26 00:19] #655 closed, assigned to waydabber

[2022-06-26 00:19] #715 closed, assigned to waydabber

[2022-06-26 00:19] #716 closed, assigned to waydabber

[2022-06-26 00:19] #725 closed, assigned to waydabber

[2022-06-26 02:22] NewAlexandria opened #727 "Listing in the App Store"
Will you be adding the app to the App Store so that we can pay for it through there?

[2022-06-26 12:03] 3DCoded commented on #727
I think it uses private APIs, which Apple probably won't let into the App Store.

[2022-06-26 13:30] math1974 opened #728 "When mirroring a Dummy, is now keeping the Pro Motion Refresh rate of Mac book M1 Pro"
Im facing this issue. Im tryna create a dummy 4:3 to play a specific game and when a mirror this display to my main, it loses the pro motion refresh rate, which is crucial to run the game smoothly

[2022-06-26 15:59] waydabber commented on #728
Yes, dummies are locked at 60Hz, there is no support in macOS for high refresh rate virtual displays. This might change when Apple introduces ProMotion for sidecar possibly. :(

[2022-06-26 15:59] #728 closed, assigned to nobody

[2022-06-26 19:56] waydabber commented on #727
Yes, apps like these are not good candidates for the App Store. I'd be super happy if I could post it there though.

[2022-06-26 19:57] #727 closed, assigned to nobody

[2022-06-26 20:07] waydabber commented on #726
Oh I found it, I had to enable `Group windows by application` to see the name in Mission Control. It is indeed BetterDummy.

I am afraid won't change until I fully complete the transition with the above mentioned stuff.

[2022-06-26 20:08] 3DCoded commented on #726
I forgot that I had that on!

[2022-06-26 20:18] waydabber opened #732 "Volume OSD not showing on the mirror source screen when the volume controlled display is a mirror target"
This is a problem when a dummy is mirrored to a DDC volume controlled display. Even though volume control works but the volume OSD is not visible.

[2022-06-26 23:46] cprcrack opened #733 "Cannot reach HiDPI 2560x1440 resolution, only 2544x1431"
This is my setup:

- Philips PHL325E1 monitor with a native resolution of 2560x1440
- Macbook Air M1
- macOS Monterey 12.4
- BetterDisplay 1.2.7

I've correctly configured the new native smooth scaling feature for hardware displays without using any dummy, which is a feature I was really waiting for months. However when I was changing the Low Resolution "2560x1440, 75Hz, Default, Native" to the Hi

[2022-06-27 00:02] cprcrack commented on #261
This sounds amazing, gonna test it right away. And a well deserved reason to go Pro honestly, thanks a lot!

[2022-06-27 05:59] jmole opened #734 "Feature Request: Help M1 Macs get 4K120 support with Active DisplayPort/HDMI converters"
Thread for context is here: https://forums.macrumors.com/threads/mac-mini-4k-120hz.2267035/page-18

You can easily get 4K120 on a compatible DisplayPort display, but even with an active DisplayPort to HDMI2.1 adapter (such as [this](https://www.amazon.com/dp/B092RD7MQR), or [this](https://www.amazon.com/dp/B01B6ZOMIS)), HDMI displays are limited to 4K60, even if the display supports a 4K120 input.

[2022-06-27 09:40] daslicht commented on #261
what is the current status?
Is it now working reliable?
How about 100Hz?
What about teh artefacts on transparanet areas ?

[2022-06-27 09:46] daslicht commented on #261
which dongle will support 144Hz ?

[2022-06-27 09:48] daslicht commented on #261
how to test pro features? The latest beta says trial expired

[2022-06-27 10:19] 3DCoded commented on #261
If it's been 14 days since you first installed any version of BetterDisplay, then your trial expired.

[2022-06-27 10:52] daslicht commented on #261
Me was told earlier to install the trial to see if it fixed the flicker, which it doesn't.
We should be able to re-test

[2022-06-27 11:15] waydabber commented on #261
You can try if things work by disconnecting the dummy and creating a manual custom resolution under Displays. That feature is free. If that works, smooth scaling should work as well. The flickering still might come up if you use the dummy mirroring method and not the native smooth scaling. Hope this helps!

[2022-06-27 11:20] waydabber commented on #733
This is expected. The native resolution is only available as LoDPI, this is a macOS limitation. But using HiDPI for the native resolution would only result in a supersampling/antialiasing effect (some do like this). If you really want this effect, you still need to use dummy mirroring. I think most of the benefits of HiDPI come only if you use a resolution that is lower than the native resolution

[2022-06-27 11:20] #733 closed, assigned to nobody

[2022-06-27 12:41] lenne0815 commented on #261
After setting it up correctly with pro license i didn't have the flicker issue anymore (I believe it was only flickering because of some mirroring issues which obviously don't apply with this method anyway)

[2022-06-27 17:38] daslicht commented on #261
may I get another trial to try this fraeture if it works before spending any money ? The previous version didn't work properly ...

[2022-06-27 17:41] daslicht commented on #261
how do i do that ? please

[2022-06-27 18:28] waydabber commented on #261
Hey @daslicht

I'd give you an other trial but unfortunately this is not possible with Paddle.

Regarding creating custom resolutions:

1. Disconnect any dummies
2. Go to Settings/Displays
3. Click on Manually add custom resolutions
4. Enter a resolution (for best results enter a resolution that matches the display's aspect ratio) and click on the (+) symbol

<img width="842" alt="Screenshot 2022-

[2022-06-28 08:25] waydabber commented on #734
Well, this is a tough one. I don't think this will be possible as with M1 macs the options are even more limited than Intel. On Intel at least you can override the EDID but on M1 afaik it is not possible, so we can't even add simple custom timings - a workaround for the lack of HDMI 120Hz mode is a step beyond that. The thread is super interesting tough! :)

If there is any supposed fix, I can add

[2022-06-28 09:59] daslicht commented on #261
That gives me :
![](https://i.imgur.com/L3PtVcs.jpg)

It says 3392x954 currently active as low res but in reality it is the resolution shown in system preferences

BTW after uninstalling BetterDummy Iand reinstalling betterDisplay I got another 14 days trial.
When I I enable Allow smooth resolution scale, I get a lot low res resolutions added to teh system setting but no hidpi :/

Cheers Marc

[2022-06-28 11:03] waydabber commented on #261
@daslicht - I see that you use a DWQHD display. On base M1 machines the max. horizontal resolution is limited at 6K which means you won't get higher than 3072px HiDPI width. On M1 Pro/Max/Ultra machines the limit is 3840px HiDPI width.

[2022-06-28 12:31] daslicht commented on #261
So which other resolution should work ? And wich is the max height @HiDPI ?

3072px x ????

[2022-06-28 15:39] waydabber commented on #261
@daslicht - it depends on what machine you have. For entry level M1 machines 3072px HiDPI (that is 6144px) width seems to be the maximum.

See #735

[2022-06-28 15:41] BillyLavoie commented on #261
M1 Pro also can't reach the 'retina' version of 5120x1440 (10240x2880) :(

[2022-06-28 15:42] waydabber commented on #261
yes. You need to use a dummy for that and enable 16K resolution in settings.

[2022-06-28 16:01] BillyLavoie commented on #261
Yea unfortunately then I end up with the flickering issue

[2022-06-28 17:37] dotsam commented on #635
The latest DisplayLink release has beta support for f.lux https://support.displaylink.com/knowledgebase/articles/1990237 which I would think might more generally be support for color table manipulation?

There was no flux update to correspond with this, so my thought is that this might work through an existing system API now?

[2022-06-28 17:54] waydabber commented on #635
I don't think it uses the system api but probably a direct cooperation with f.lux? But I can provide a build that allows color table manipulation for non-dummy virtual displays to see if anything happens.

But if there is a demand, I could contact DisplayLink and ask about a custom way to have DDC and colortable manipulation support. Surely they have the ability to implement these things as the ha

[2022-06-28 21:40] waydabber opened #740 "Custom system configuration for displays with 0 as vendor or model ID not stored properly"
### Discussed in https://github.com/waydabber/BetterDisplay/discussions/737

<div type='discussions-op-text'>

<sup>Originally posted by **Namu-Lee** June 28, 2022</sup>
<img width="1440" alt="스크린샷 2022-06-28 오전 11 54 10" src="https://user-images.githubusercontent.com/76895251/176082048-53cab499-12fc-4d45-aa26-44e4712fb8c5.png">

Hi, I'm using a QHD(2560*1440) external monitor connected v

[2022-06-29 11:36] firko-learnin opened #741 "Feature: Force RGB color space"
With the new option to convert displays to HiDPI without mirroring would it be possible add an option to force an RGB color space?

Certain monitors default to YPbPr resulting in blurry text and inaccurate colors, the current workaround for this is:
[https://gist.github.com/GetVladimir/c89a26df1806001543bef4c8d90cc2f8](https://gist.github.com/GetVladimir/c89a26df1806001543bef4c8d90cc2f8)

It seems

[2022-06-29 11:39] daslicht commented on #261
and vertical ?

[2022-06-29 13:54] hxzl-98 opened #742 "I CAN'T USE"
I have a 2K monitor and I follow your steps to build a 16:9 virtual monitor, but when I use this virtual monitor as a mirror of my external monitor, I find it very fuzzy, No matter how I adjust the resolution of the virtual display

[2022-06-29 13:55] 3DCoded commented on #742
Have you tried using the new native HiDPI scaling with macOS 12.4+?

[2022-06-29 14:47] hxzl-98 commented on #742
My system version is 12.4. My built-in display zoomed just fine on this version

[2022-06-29 14:48] 3DCoded commented on #742
The HiDPI native scaling completely replaces the dummy mirroring for most cases.

[2022-06-29 15:04] hxzl-98 commented on #742
How can I turn on hiDIP on the external monitor

[2022-06-29 15:06] 3DCoded commented on #742
See #678

[2022-06-29 16:10] waydabber commented on #261
I am not sure about a vertical limit, did not encounter a problem there so far but with some of the new 16:18 aspect ratio displays there might be problems.

[2022-06-29 16:16] waydabber commented on #741
Yes, I was aware of the issue as I had to use this workaround with my other LG display on earlier Monterey versions and also wrote a quick tutorial about it on macrumors back in the day - https://forums.macrumors.com/threads/mbp-m1-and-lg-27uk850-w-washed-out-colors.2270452/post-30262233

I guess I could add a feature to automate this. I honestly thought this is not a problem anymore but apparentl

[2022-06-29 20:26] cprcrack opened #743 "Provide a way to completely clean all system settings added by BetterDisplay"
Hi, I would like to test some things and it seems like BetterDummy (now BetterDisplay) has added some options to the Colour Profile selection on System Settings > Displays. It seems like some resolutions have appeared there as well with the new Smooth resolution scale option (the native HiDPI modes that do not use the dummy), although I'm not completely sure about it.

I have tried disabling Bette

[2022-06-29 20:57] waydabber commented on #743
Hi there,

of course. Here is what you should do: https://github.com/waydabber/BetterDisplay/discussions/191#discussioncomment-1763550

[2022-06-29 21:00] #743 closed, assigned to nobody

[2022-06-29 23:12] hxzl-98 commented on #742
Hidpi is in parentheses when I add 1280*720 resolution
![image](https://user-images.githubusercontent.com/73286696/176560513-95a66570-5904-46d3-bf38-46e1ce1a8ba2.png)
But when I added 1920*1080 resolution, HIDPI didn't show up
![image](https://user-images.githubusercontent.com/73286696/176560889-9cb0a052-2d22-4a12-b29d-b845775d9ca8.png)

[2022-06-29 23:15] hxzl-98 commented on #742
This is my monitor information
![image](https://user-images.githubusercontent.com/73286696/176561271-1620b03b-0338-4afa-929d-eda9fe929f22.png)

[2022-06-29 23:35] hxzl-98 commented on #742
I solved the problem
The reason is that the default resolution of my monitor is not 2560*1440, I changed it and rebooted it
thanks！

[2022-06-29 23:35] #742 closed, assigned to nobody

[2022-06-30 12:19] daslicht commented on #261
Ok looks like it is not possible at all to use any other hidpi resoplutions than provided by default, all other resolutions added by better display are low res

[2022-06-30 12:24] pawelhoros opened #745 "Custom HiDPI res on Intel MBP 13"?"
HW:
MBP 13,3'' 2020 (Intel based),
QHD 27'' Philips Brilliance 272B (2560x1440) connected via USB-C.

Setup:
Dummy 16:9 created and mirrored to external display. Dummy is set as main display. I use FHD res for dummy.

Problem:
When external monitor is reconnected, external display is cropped (see attached photo) and unusable (pointer creates glitches or disappear).
![IMG_1764](https://user-images.

[2022-06-30 13:03] waydabber commented on #261
@daslicht - So you see the extra resolutions, but each one of them (even lower resolutions) are low-res only? Are you on 12.4+? Can you share the screenshot of the resolution menu? Thanks!

[2022-06-30 13:11] waydabber commented on #745
Hi there,

wow, this is weird.

Your goal is to have 1920x1080 HiDPI on your QHD Display, right? I think smooth scaling should work on an Intel 13" MBP (but not entirely sure as I had no chance to test it on Intel).

Or you could try creating a custom resolution of 1920x1080 instead (under Settings/Displays) if you don't have Pro, as this might produce better results than the dummy mirroring appro

[2022-06-30 13:11] #745 closed, assigned to nobody

[2022-06-30 13:39] daslicht commented on #261
yeh 12.4 (21F79)

see:
https://www.youtube.com/watch?v=coReSUyKoA8

[2022-06-30 14:17] waydabber commented on #261
@daslicht - something is not right there. I don't think the updated configuration was applied.

- What do you see under app Settings/Displays? Is smooth scaling enabled for the display? Did you click on Apply afterwards and reboot when instructed?
- If you switch to the resolution menu instead of slider in the app and allow all sub-options like this, what do you see in the App menu/Set Resolution

[2022-06-30 14:29] daslicht commented on #261
Yes I followed the instructuoins and rebooted.
![](https://i.imgur.com/PgoYtiJ.png)

The resolution menau shows this:
![](https://i.imgur.com/lexKH08.png)

Here we go: https://workupload.com/file/7wQnYNz2rUn

thank YOU! :)

[2022-06-30 14:45] waydabber commented on #261
Well, the resolution list seems all right and it seems like everything should work as intended. However you are running into the 3072px horizontal HiDPI limit characteristic for base M1 configurations. I don't think there is any way to get over that at the moment.

But now that I think back, didn't we already did establish this? I thought were talking about a 16:18 aspect ratio display -  maybe th

[2022-06-30 15:03] daslicht commented on #261
3072 is enough, but the vertical 864 px is critical in some situations :)

[2022-06-30 15:39] waydabber commented on #261
Yes, but this vertical limit comes from the aspect ratio of the display. :( On M1 Pro you can go up to 3840x1080 HiDPI native but you might still find that limiting. I am afraid only the dummy method helps with this but I understand that you might still encounter the flickering issue with that.

[2022-06-30 15:44] waydabber opened #748 "Add True Tone and Dark Mode toggles to the Tools section + the option to auto-disable True Tone when external display HDR switch toggled"
Since there is a Night Shift toggle already, it would make sense to add a True Tone and Dark Mode toggle as well. This way one do not have to use the Control Center Displays section alongside the BetterDummy menu.

Auto-disabling Night Shift really helps with HDR content. Auto-disabling True Tone will also help for external HDR displays to render colors better - this will be useful when hiding the

[2022-06-30 16:25] waydabber commented on #748
<img width="528" alt="Screenshot 2022-06-30 at 18 25 48" src="https://user-images.githubusercontent.com/37590873/176729090-344dcf5b-4e7f-4696-b70b-22c7fef35fab.png">

[2022-06-30 16:28] waydabber opened #749 "Add option to disable Night Shift, True Tone when specific apps are running (in Full Screen)"
I always do this when running IINA or VLC in full screen. It would be great to have an option to automate this.

Apps could be added to a list and specified if the presence of an app window or its full screen status triggers disabling/enabling Night Shift and True Tone.

This built on #748

[2022-06-30 17:52] dotsam commented on #635
I did a bit of poking around in f.lux with Hopper and didn't see anything DisplayLink specific, but I'm by no means an expert in disassembling.

Regardless, I'd be happy to test a build that attempts color table manipulation on virtual displays.

[2022-06-30 20:24] waydabber commented on #635
Sure, here is a build that reports virtual displays as colortable manipulation capable but uses the standard macOS APIs for it. Let me know if something is changed with the latest DisplayLink beta drivers. Thanks!

[BetterDisplay-v1.3.0-alpha1.zip](https://github.com/waydabber/BetterDisplay/files/9023163/BetterDisplay-v1.3.0-alpha1.zip)

[2022-07-01 07:42] dotsam commented on #635
This seems to work exactly as it should with the DisplayLink 1.7 drivers and the `Allow f.lux to warm colors at night` option enabled.

Brightness/contrast/RGB/color temperature all seem to work. The only issue I've noted is "distorted" colours when pushing contrast or gain too high into the positive.

The other item of note is that when color table manipulation is enabled for a display, but the D

[2022-07-01 07:52] waydabber commented on #635
This is great news, thanks for testing it! I’ll add a new "Force-enable colortable manipulation" option to virtual displays with some explanation regarding DisplayLink v1.7 driver requirement and `Allow f.lux to warm colors at night` to be enabled.

[2022-07-01 07:54] waydabber opened #750 "Enable colortable manipulation for DisplayLink v1.7"
[dotsam](https://github.com/dotsam) (Sam Edwards) [3 days ago](https://github.com/waydabber/BetterDisplay/issues/new#issuecomment-1169027613)
The latest DisplayLink release has beta support for f.lux [support.displaylink.com/knowledgebase/articles/1990237](https://support.displaylink.com/knowledgebase/articles/1990237) which I would think might more generally be support for color table manipulatio

[2022-07-01 07:55] waydabber commented on #750
Meanwhile here is a pre-release version for DisplayLink v1.7 users that allow color table manipulation for virtual displays:

(download removed)

[2022-07-01 07:56] waydabber commented on #750
Original discussion here: https://github.com/waydabber/BetterDisplay/issues/635#issuecomment-1169027613

[2022-07-01 07:56] waydabber commented on #635
https://github.com/waydabber/BetterDisplay/issues/750

[2022-07-01 09:28] daslicht commented on #261
I payed with thought to give a 5k2k scrreen a try, but I heard many negative things like less brightness, burn in etc .

Anyoen here using a 5k2k screen and compared it to a Samsung CRG9 ?

[2022-07-01 10:19] jack407315483 opened #751 "input method Stuck"
when using betterdisplay for a long time, input method(Chinese) will be very  slowly。

I guess the reason was  betterdisplay  using screen mirroring。

[2022-07-01 10:53] waydabber commented on #751
Hi, I think the problem is this: https://github.com/waydabber/BetterDisplay/issues/518

However with the new native smooth scaling method to get HiDPI resolution should not have this issue, I recommend using that instead if your only goal with mirroring a dummy is to have scalable HIDPI resolutions! See this tutorial: https://github.com/waydabber/BetterDisplay#how-to-unlock-scaling-and-hidpi-for-m

[2022-07-01 10:53] #751 closed, assigned to nobody

[2022-07-01 17:38] yipru opened #753 "Getting stuck trying to mount a Disk Image."
Hi, I today noticed that upon trying to mount a Disk Image the ok and cancel, as seen attached, did not action as usual.  Instead, what can be seen in the attached gets stuck and when closing the BetterDisplay ok and cancel did work.  It took me a while to see why this was happening but the only fix I could find is to close BetterDisplay when I face this issue but if there is another solution woul

[2022-07-01 18:40] 3DCoded commented on #753
Have you used the new HiDPI native scaling method that completely replaces dummies for the most part? This REQUIRES macOS 12.4+.

[2022-07-01 18:48] waydabber commented on #753
This might be the same issue as this: https://github.com/waydabber/BetterDisplay/discussions/672

This seems to be a generic issue with virtual displays that happens to some people (3 and counting), but super hard to reproduce. Exact reasons are not known.

@smattar2020 is right, if you use dummies solely for mirroring in order to get HiDPI resolutions and flexible scaling on Apple Silicon, you mi

[2022-07-01 18:48] #753 closed, assigned to nobody

[2022-07-02 08:14] mmazzoli-dev commented on #140
Just wondering what the current state is on getting an external monitor with >60z HiDPI running with a macbook that has a 60hz in built display, such as the M1 Air. I have the pro version of BetterDisplay but no luck. Is this issue still subject to the requirements outlined in the top level comment (possibly after Apple introduces ProMotion for AirPlay or Sidecar). Thanks :)

[2022-07-02 10:00] waydabber commented on #140
Native smooth scaling should allow high refresh rate displays. However high refresh rate over HDMI does not work in macOS as far as I know, so you need to use USB-C.

[2022-07-02 10:08] mmazzoli-dev commented on #140
Ah, well I'm using a USB-C to Displayport cable as my monitor doesn't have USB-C, so perhaps that's a problem, but the monitor supports 2560x1440p at 144hz (Asus PG279Q) and does work at 144hz over this cable fine with no HiDPI enabled. I don't get a black screen or anything when I try to use BetterDisplay with it, I get the higher refresh rate options in BetterDisplay, just nothing happens when I

[2022-07-02 10:16] waydabber commented on #140
USB-C to DisplayPort should be fine.

Unfortunately I don't have a high-refresh rate display, but you should try lower resolutions or lower refresh rates to see if there is a point that is working. Running 2560x1440p HiDPI at 144Hz might be taxing the system too much (?) as that would mean an equivalent of approx. 10K@60Hz pixel rate in terms of framebuffer size, so there might be a system induced

[2022-07-02 10:35] mmazzoli-dev commented on #140
Thanks for all the help :) Yeah it seems something else is the issue, as opposed to bandwidth (although I get why that might be an issue anyway).

Basically whenever I'm in HiDPI mode for my external monitor, no matter how low the resolution is, selecting any other refresh rate (including 24hz) never actually switches it from 60.

<img width="809" alt="image" src="https://user-images.githubusercon

[2022-07-02 10:43] MrMage commented on #140
I might have a related issue: from my M1 Max MBP, I can drive my WQHD monitor at 170 Hz with full picture quality when connected without BetterDisplay. However, when using BetterDisplay's HiDPI upscaling, any refresh rate higher than 120 Hz leads to chroma subsampling (4:2:2). Note that I am "only" using ~2048x1152px @2x, ie. slightly more than 4K resolution. I believe the MBP should still be able

[2022-07-02 12:28] waydabber commented on #140
@amroc-dev - you seem to be mirroring the internal display to the external display. The refresh rate will be fixed to best match the internal display in this scenario imho.

@MrMage - Chroma subsampling on/off should depend more on the available bandwidth and connection type for the given display/connection (also the display EDID and various other factors influence this). MacOS has various rules t

[2022-07-02 12:32] waydabber opened #756 "Configure the TV status of a display (to enable Night Shift on TVs)"
Some displays report themselves as TV (or macOS treats them as TVs beyond a certain physical size). TVs get an underscan slider but Night Shift do not apply to them and the OS might switch to a less desired encoding scheme (instead of RGB) upon detecting a TV.

A toggle should be added to the Custom display configuration section to override the default setting (+ the app should report the current

[2022-07-02 13:37] unsalkorkmaz commented on #140
<img width="3062" alt="Screen Shot 2022-07-02 at 16 27 41" src="https://user-images.githubusercontent.com/207720/177003051-8f376fd0-4939-48d0-b942-9a2529f817fb.png">

<img width="3062" alt="Screen Shot 2022-07-02 at 16 32 38" src="https://user-images.githubusercontent.com/207720/177003078-63b89934-6f4d-4697-b0c0-10c6204533ae.png">

Monitor: https://www.mi.com/global/monitor34/
Computer: mac mini m

[2022-07-02 14:04] mmazzoli-dev commented on #140
Hmm, I'm unclear how I should be setting this up. If I don't use the mirroring option (either to my internal or the dummy), then I don't get any HiDPI options on my external monitor at all.

[2022-07-02 20:53] waydabber commented on #140
hey @unsalkorkmaz - take a look at this: https://github.com/waydabber/BetterDisplay/discussions/735#discussioncomment-3031912

@amroc-dev - if you are on apple silicon and running Montery 12.4 or newer, you should follow this guide: https://github.com/waydabber/BetterDisplay#how-to-unlock-scaling-and-hidpi-for-my-display

If this still does not work, there might be other factors at play. In this c

[2022-07-02 21:21] Veeit opened #757 "[Feature Requerst] Flip image horizontally (teleprompter mode)"
Hey,

I'm looking for an option to flip/mirror a macOS display. This is needed for teleprompters that mirror a display to show it in front of the camera. I would love to seed the option to flip a display horizontally implemented.

[2022-07-02 22:19] waydabber commented on #757
This could be made possible with full screen streaming a dummy + a transformation.

[2022-07-03 09:28] waydabber commented on #757
This is fun, I'll add this both horizontally and vertically to PIP and full screen streams.

[2022-07-03 10:08] waydabber commented on #757
<img width="494" alt="Screenshot 2022-07-03 at 12 08 22" src="https://user-images.githubusercontent.com/37590873/177034990-b4dd8ee3-6c9e-45f2-9ee8-5906b2889878.png">

Same for full screen streaming.

[2022-07-03 10:21] waydabber opened #758 "Change brightness and display characteristics by a schedule and/or sunrise/sunset timing"
Change the brightness, color temperature and other factors in a configurable way throughout the day.

Original feature request:

[2022-07-03 15:47] mmazzoli-dev commented on #140
Oh man, thanks so much. I followed these instructions and it does indeed work, have my external 1440p monitor running with smooth resolution scale HiDPI, and 144hz! Thanks once more for your help, hugely appreciated!

[2022-07-04 08:13] Zorast opened #760 "Max. HiDPI resolution for Pro Display XDR?"
Hi there,

u write:

NEW! Convert your internal and natively connected external displays to smoothly-scaled HiDPI displays on Apple Silicon - now even without mirroring a dummy (displays with notch, HDR, HDCP, high refresh rate fully supported)! *

But it does not, iam added 4k without Dummy in BetterDisplay to my Pro Display XDR in a MB16 M1 MAX  but it does not show up in HiDPI also after reboot

[2022-07-04 08:44] waydabber commented on #760
How did you add it? Did you enable smooth scaling or added it manually? Can you post some screenshot of your Settings/Displays (the relevant parts) and also if you enable Settings/App Menu/Always use resolution slider + enable the two settings beneath it, what do you see in the `Set Resolution` submenu (screenshot)?

Thanks a lot! :)

[2022-07-04 11:18] 3DCoded opened #761 "Grey out HiDPI options if not on 12.4+ to reduce confusion"
If BetterDisplay hid or greyed out all the HiDPI options until it is on 12.4+ and gave a helpful message, maybe it would reduce confusion with HiDPI not working.

[2022-07-04 11:18] 3DCoded commented on #760
Are you on macOS 12.4+, as this is required for native HiDPI scaling.

[2022-07-04 12:04] waydabber commented on #761
You are right, I should a warning if the user has an older version of the OS.

[2022-07-05 02:11] Cherynoble opened #762 "16:9 aspect ratio while using pro motion"
Is it possible to add a feature which allows the user to have a 16:9 aspect ratio while using apple’s pro motion for smoother usage on the 14 and 16inch macs

[2022-07-05 06:22] vheathen opened #764 "Bug: after waking up a mirrored display is dim and BetterDummy is not responding until force quit and start again"
Quite often after a long sleep and waking up the external display is dim and BetterDummy is not responding. Scaling etc works though. After I force to quit it in the Process manager and start again everything returns to normal. I have this issue for quite long time already with different versions. Can't say when I found it the first time.

BetterDummy Pro v1.2.7 build 8076
MacOS 12.4
MacBook Pro M

[2022-07-05 09:22] antrikshmisri opened #765 "Help Wanted: Can't seem to run my LG 1440p monitor with 144hz refresh rate."
I set up BetterDisplay to mirror for my [LG 1440p](lg.com/in/monitors/lg-32GK650F-B) monitor (with some scaling). Everything works fine but the problem is that my monitor can't seem to go to 144hz although it supports it. Am I doing something wrong?

[2022-07-05 10:56] waydabber commented on #762
Sure, just add your specific resolution manually, it should work (just tested it on my 14" mbp with a random 16:9 resolution).

<img width="842" alt="Screenshot 2022-07-05 at 12 53 59" src="https://user-images.githubusercontent.com/37590873/177312590-d20deb3e-76da-44fb-9a84-8d54b85a0a66.png">

[2022-07-05 10:56] waydabber commented on #762
(you can select this non-native aspect ratio resolution it by changing the resolution slider to resolution sub menu under App Menu).

[2022-07-05 10:57] #762 closed, assigned to nobody

[2022-07-05 11:01] waydabber commented on #764
Hi there,

- Does this only affect your external display or your internal display is doing the same?
- Does changing the slider do something or nothing at all?
- Only DDC is affected or software brightness control (if you use the default, combined control then the 0-50% part of the slider) is affected as well?

The answers to these will help figuring out what is going on. Thank you!

[2022-07-05 11:05] waydabber commented on #765
Hi @antrikshmisri - are you mirroring a dummy? If so, then you'll get stuck at 60Hz as dummies don't support high refresh rates. If you are on Apple Silicon, running monterey 12.4 or newer then you can enable native smooth scaling instead which will give you HiDPI and flexible scaling while keeping the high refresh rate - just follow this tutorial: https://github.com/waydabber/BetterDisplay#how-to

[2022-07-05 11:05] #765 closed, assigned to nobody

[2022-07-08 05:00] vheathen commented on #764
Sorry for a long pause. Its weird but recent few days sleep didn't lead to the dimmed display. May be because I rebooted my Mac (I don't do it often).

But the app is still not responding and shows a rainbow spinner when I put the mouse pointer on the app icon after every sleep. Mirroring works but it is not possible to open or change options. Right now I woke the laptop up and BetterDummy is not

[2022-07-08 08:30] Zorast commented on #760
There are some issue I seen, iam already on latest MacOS.
1. There is an issue that i can not create more that 1 Manual resolution, it deletes automatically the resolution set before.
2. The resolutions does only show 7 Bit Color in Resolution List.
3. Default Resolution wich is set does not work after reboot >> UPDATE: It only works in Low Res Mode!!
4. 4k HiDPI without Dummy does not work

Just

[2022-07-08 08:36] Zorast commented on #760
<img width="729" alt="Bildschirmfoto 2022-07-08 um 10 40 52" src="https://user-images.githubusercontent.com/93705638/177953438-a677d9fd-1906-434a-988a-f2dc627252ff.png">

<img width="728" alt="Bildschirmfoto 2022-07-08 um 10 35 53" src="https://user-images.githubusercontent.com/93705638/177952619-d0777d5b-ce02-420d-a6aa-7bfa28f856a9.png">

<img width="728" alt="Bildschirmfoto 2022-07-08 um 10 36 0

[2022-07-08 11:35] 3DCoded commented on #760
M1 Macs don’t natively support 4K HiDPI. You have to use a dummy for that. This is a hardware limitation, not a software problem.

[2022-07-08 12:46] Zorast commented on #760
Ure not right, thats the reason why waydabber implement a feature that works without a dummy in BetterDisplay. But probably it does not work on my side :/

[2022-07-08 14:05] waydabber commented on #760
Hi there, what Mac model are you on? M1 Pro/Max/Ultra should support up to 7680px scaled width (that is 3840 width HiDPI). But for the Pro Dispaly XDR Apple might have created custom limitations. It is interesting that the list there maxes out at 3696px.

[2022-07-08 14:18] Zorast commented on #760
Iam on M1 MAX with MacBook Pro 16.

There is a Thread about that here: https://forums.macrumors.com/threads/pro-display-xdr-on-my-16-macbook-pro-m1-max.2320684/page-5

The maximal Resolution that can be set is 3728 x 2097 HiDPI, the maxed out List with 3696px probably show this resolution because i set this before with SwitchResX

[2022-07-08 17:25] Zorast commented on #760
Iam on M1 MAX MacBook Pro 16.

[2022-07-08 21:25] waydabber commented on #760
Oh yes, I was reading that thread as well and was aware about the experiments. Can you try enabling smooth resolution scale in BetterDisplay for the Pro Display XDR to see what resolutions are created and if they work? It is not entirely logical that 3728px would be the max resolution, on my M1 Pro connected to a 4K display I can get higher than that (up until 3840 sans the 3840 since the native r

[2022-07-11 10:04] Zorast commented on #760
Test it now again, but it does not work :( Only when enable for "low res mode" it shows me 4k and mor
<img width="442" alt="Bildschirmfoto 2022-07-11 um 12 05 50" src="https://user-images.githubusercontent.com/93705638/178240870-017c912e-91cd-4214-ad1b-371cd32f341f.png">

[2022-07-11 10:08] Zorast commented on #760
And u see here, I can only set 1 custom resolution, when creating a second It replace the one set before.
<img width="442" alt="Bildschirmfoto 2022-07-11 um 12 07 03" src="https://user-images.githubusercontent.com/93705638/178241276-90eb11ba-eae5-4ef6-b0f2-b2ef61fc999b.png">

[2022-07-11 10:08] waydabber commented on #760
How about something slightly lower, like 3808x2142?

<img width="303" alt="Screenshot 2022-07-11 at 12 07 27" src="https://user-images.githubusercontent.com/37590873/178241216-ddc8019e-c072-43d1-997e-8bbcb6ed9631.png">

[2022-07-11 10:10] waydabber commented on #760
Oops. True. This is a bug, I must have messed up something, works like this for me as well...

[2022-07-11 10:12] waydabber opened #771 "'Manually add custom resolutions' does not work since 1.2.5c"
When trying to add multiple custom resolutions via the `Manually add custom resolutions`, only one resolution can be added (addig an additional resolution will overwrite the previously added one).

https://github.com/waydabber/BetterDisplay/issues/760#issuecomment-1180209929

[2022-07-11 10:14] waydabber commented on #760
I added it as an issue tagged bug, will fix it. It is interesting that nobody noticed or reported this so far...

https://github.com/waydabber/BetterDisplay/issues/771

[2022-07-11 10:16] Zorast commented on #760
Haha waydabber, iam so far a bug tester, did see so many bug also in another system or app as well,  i am too precise :D

[2022-07-11 10:17] Zorast commented on #760
This is not showing me, can only set a custom resolution. I testet it with 3728x2097 and it works, but this was confirmed on macrumors before.

[2022-07-11 10:19] waydabber commented on #760
Interesting. It might be that Apple somehow specifically whitelists some resolutions to work with the Pro Display XDR? Or something else is behind this. With smooth scaling enabled you can also go up only to 3728x2097, right?

[2022-07-11 10:21] Zorast commented on #760
Yes smoth works with it, but it also works probably with selected listet resolution i think because it was not set before in custom resolutions.

[2022-07-11 10:22] Zorast commented on #760
I just thinking about to rename the Pro Display XDR but probably it can brake some ather thinks too, I don't not want to do that :/

[2022-07-11 10:51] Zorast commented on #760
Just delete Switch ReX and this change some things a little bit. After that i have to reboot and set the custom resolution on BetterDisplay again to get that confirmed. But 4k is only in Low Res still there. The maximal res from BetterDisplay generate in HiDPi is: 3696x2079

[2022-07-11 13:35] waydabber commented on #760
Hmm. Yes, this is probably because the automatically generated resolution list does not include the 3728x2097. I don't really understand why the OS would allow a slightly higher scaled resolution for a 4K display but a slightly lower one for a 6K display.

[2022-07-11 13:37] waydabber commented on #760
I'll convert this into a discussion. :)

[2022-07-11 13:37] #760 closed, assigned to nobody

[2022-07-11 15:28] ExtinctPatronageDeodorize commented on #741
I can confirm this is very much still a problem on M1 macbook, USB-C <-> DisplayPort cable and a certain 1440p LG monitor.

[2022-07-11 15:54] fkick opened #773 "Virtual display on headless M1 Mac Mini Cursor Ghosting"
Hello,

I have setup a headless m1 Mac mini with BetterDummy with the idea to create a virtual display at a custom resolution so that when I remote in that resolution matches my iMac that I am connecting from.

I setup a dummy with a resolution of 2560x1440 and the resolution looks fine, however I am seeing a trailing “ghosting” cursor when using the dummy as the main display.

Is there a setting

[2022-07-12 03:06] poneding opened #774 "Cant toggle between full screens in dummy monitor."
If you full screen multi apps in dummy monitor, cant toglle them with four finger move.

[2022-07-12 05:53] vincentardern opened #775 "Night Shift not applying to my main display (dummy on an external 4k screen, with dummy enforced as mirror main)"
Hi

Night Shift is not applying to my main display (dummy on an external 4k screen, with dummy enforced as mirror main).
Running 1.2.7 b 8076, on macOS 12.4, M1 MBA.

Happy to help troubleshoot a bit, but this is my main work machine so I won't do anything too crazy.

[2022-07-12 07:24] waydabber commented on #773
This is interesting. You mean you see two mouse cursors? Do you have maybe a screenshot of this? Is this with Apple's Screen Sharing app?

[2022-07-12 07:26] waydabber commented on #774
Hi @pescox - I think this issue is the same as this one: https://github.com/waydabber/BetterDisplay/issues/144

This seems to be a macOS bug, does not work without BetterDummy for a mirrored Sidecar or AirPlay display either. However if you use the native smooth scaling option, it should work.

[2022-07-12 07:27] waydabber commented on #774
Since this is a duplicate, I'll close this issue, but a mention should appear in the other thread. You can still post a reply however, I'll get notified of it! Thank you!

[2022-07-12 07:27] #774 closed, assigned to nobody

[2022-07-12 07:30] waydabber commented on #775
Does Night Shift apply when a dummy is not being mirrored? Dummy mirroring should not affect Night Shift applicability but the display status is (if it is registered as TV, Night Shift will not apply - https://github.com/waydabber/BetterDisplay/issues/756).

[2022-07-12 08:32] poneding commented on #774
Is this feature required pro licenses?
<img width="684" alt="image" src="https://user-images.githubusercontent.com/33922888/178446883-30c26ba2-6f25-47b6-9e5d-67a8089d37d6.png">

[2022-07-12 09:13] waydabber commented on #774
Yes, it is. You can use the `Manually add custom resolutions` feature to add a custom resolutions manually for free - unfortunately there is a bug in v1.2.7 that prevents adding multiple custom resolutions, I'll fix this one - #771.

[2022-07-12 09:23] waydabber commented on #764
Hi @vheathen - sorry about the delayed response!

When the spinning is happening, how does the icon look like? Do you see three dots in it? Enumerating a high number of resolution options (especially for a dummy with maybe 16K enabled or multiple dummies and displays with smooth scaling enables) takes a while but should be resolved within an acceptable timeframe.

Btw are you using dummy mirroring

[2022-07-12 10:09] poneding commented on #774
Ok, thanks for your solution.

[2022-07-12 15:47] Wiredframe opened #776 "Thank you!"
Wanted to leave a big thank you here for creating this awesome tool. You saved my Dell P2421DC 24" 1440p monitor I didn't want to replace with a bigger 4K 27" because of my small desktop. Thanks very much, pro license activated!
<img width="683" alt="grafik" src="https://user-images.githubusercontent.com/13737875/178533618-fe168bfe-99b4-4054-94c1-c625ec016009.png">

[2022-07-12 19:35] waydabber commented on #771
It was a lame error but present since v1.2.5c. Sorry about that. :( Should have noted earlier.

[2022-07-13 02:18] fkick commented on #773
https://user-images.githubusercontent.com/8224667/178636788-fc6dab32-1103-4c45-8b02-e429e37d543b.mov

Here's a quick screen recording of what I'm seeing. This happens with Apple's Screen Sharing/Remote Desktop as well as third party remote access apps like Jump Desktop.

[2022-07-13 09:26] waydabber commented on #773
Interesting. It seems like for some reason on the receiving end the mouse cursor is not hidden (this is apparent from the difference in size) while it should be. I am not entirely sure if this is a BetterDisplay problem, this behavior does not arise if BetterDummy is not running and the stock virtual adapter is used?

I'll test this with an M1 Mini as well soon!

[2022-07-13 11:20] Jarzka commented on #776
A big thank you for the latest update. I can finally use my 1440p monitor with scaled UI AND now with 144Hz refresh rate ❤️

[2022-07-13 11:57] fkick commented on #773
Correct, if BD is disabled and using the stock virtual display or Jumps new virtual display beta this does not occur.

[2022-07-14 08:24] vheathen commented on #764
Hi @waydabber , thanks for the answer!

I've uploaded a screenshot with the icon to [the same album](https://photos.app.goo.gl/N9frsqebQKCjMCxC7) . Yes, it has 3 dots. But it is not responding forever (until I restart the app).

Yesterday I got dimmed screen again. Sliders for the external display and dummy in the Control Center are disabled and it's not possible to access in-app sliders of Better

[2022-07-14 10:13] waydabber commented on #764
Hmm. The three dots means the app is enumerating display modes and configuring stuff. This should end within a few seconds - if it does not, then something is going horribly wrong. :)

Can you take a look at the Console while this is happening and filtering to BetterDisplay? This is how you can do it: https://github.com/waydabber/BetterDisplay/discussions/445

Thanks!

[2022-07-15 06:28] oleiolei opened #777 "How to uninstall the software properly?"
Hi,
After having a trial, I decide to uninstall BetterDisplay. Is there a way to reverse all the changes it has done in the system? I know it created many scaling resolution options in the system preference. What should I do to completely erase what BetterDisplay has done on my Mac?

[2022-07-15 07:12] waydabber commented on #777
Hi there, just follow this: https://github.com/waydabber/BetterDisplay/discussions/191

Thank you!

[2022-07-15 07:12] #777 closed, assigned to nobody

[2022-07-15 09:28] alexmnps commented on #764
✅ I have the exact same thing going on

[2022-07-15 09:39] waydabber commented on #764
Can you guys copy a console log about this? If the three dots are never done, the app is locked up somehow in a configuration phase - this happens when the OS itself lazily enumerates the resolutions endlessly for some reason (in an undocumented API which is used to get some resolution details and manage HDR). I added a cut-off point for that in the app for this eventuality but it might not work a

[2022-07-15 09:41] alexmnps commented on #764
I'll give it a go next time it occurs. Keep you posted.

[2022-07-15 09:52] vheathen commented on #764
I've tried to do it yesterday but without success - no messages (which is quite understandable because it is not responding so the process probably just freeze). And after that I had to reboot my mac cause it started to freeze as well :)

But was going to try again next time I get BetterDummy stuck, which is actually right now (just checked) :)

[2022-07-15 09:54] waydabber commented on #764
Oh right, you should start logging _before_ the reconfiguration is taking place, not when everything is locked up already - sorry for not mentioning this.

[2022-07-15 10:07] vheathen commented on #764
Sadly I still can't get anything in the Console except overall freezes until I stop streaming there. Its empty, the pic is in the same album. I've tried to start it then send Mac to sleep then wake it up - BetterDummy freeze, console is empty

[2022-07-15 11:25] alexmnps commented on #764
I was able to captured the following logs, after locking, sleeping and waking my Mac Mini M1. The BetterDummy app will be frozen consistently after this sequence. Not sure if it helps.

[code]

[2022-07-15 13:40] waydabber commented on #764
And that's it? I see that you are using an associated dummy. This fails somewhere completely different than what I assumed.

Why not use native smooth scaling instead of dummy mirroring? Or the resolution is not appropriate for that?

[2022-07-15 14:05] waydabber commented on #764
Can you please try what happens if you disassociate this dummy and try mirroring it manually to the associated display 2 (I assume that is Xiaomi Curved Gaming Monitor 34")? Does it hang then as well?

[2022-07-15 14:20] alexmnps commented on #764
I tried that, but the resolution doesn't go high enough. I have a 49" ultra wide Samsung display. With smooth scaling it only goes up to 3072x864.

[2022-07-15 14:22] alexmnps commented on #764
Indeed! When I disable auto-association, the hanging stops after sleep-wake cycles!

[2022-07-15 14:36] alexmnps commented on #764
4000pt wide would make it a usable resolution btw.

[2022-07-15 14:48] waydabber commented on #764
Thanks for the info! I'll try to reproduce the wake freeze when associated issue!

Yes, 3072 is a limit for the entry level m1. With m1 pro you can go up to approx 3840 horizontally.

[2022-07-15 14:50] alexmnps commented on #764
Interesting. Good to know.
I really like your product! Thanks for all the good work.

[2022-07-16 20:09] waydabber commented on #773
All right, I had the chance now to test with a headless mac mini M1. I don't seem to be able to reproduce the issue though. I created a 16:9 dummy, tried various dummy resolutions (both LoDPI and HiDPI) and the mouse ghosting is not there with Remote Management. Both Macs are running Ventura dev beta 3, the client is an 14" MBP.

I am not sure what is happening there - maybe some other app is inte

[2022-07-16 20:13] waydabber commented on #775
I move this over to discussions. Let me know if I can help with this! Thanks!

[2022-07-16 20:13] #775 closed, assigned to nobody

[2022-07-16 21:23] fkick commented on #773
Did you have a physical monitor or hdmi dummy connected at all? I noticed that if there’s at least one real display or physical dummy it works. Im also tried Big Sur and Monterey , haven’t had a chance to update to Ventura yet for testing.

[2022-07-17 03:23] marketmann opened #780 "Question about text blur (3x HiDPI mode?)"
Hi there,

Can your app decrease "resolution" without increasing text blur?

I have a m1 16 inch mbp. I'm not using an external display.

My machine's default "resolution" is 1727x1117.  On this setting, ui text size is very crisp. At the same time, it's too small for me.

If I go to 1496 x 967, the ui text get's bigger.

Problem is, it also make the ui text blurry.

Is there a way to get the ui t

[2022-07-17 07:36] waydabber commented on #773
No, I turned off the mini, removed the external display and then turned on the mini in headless mode from boot - I did not want an external display to interfere in any way. I then connected via Screen Sharing, logged in and activated a dummy. The OS nicely switched over to the newly connected dummy as expected.

I did try this feature before on an Intel mini and M1 mini (with Monterey 12.1/2 or so

[2022-07-17 07:41] waydabber commented on #780
The 16" Macbook Pro has a native resolution of 3456x2234. In HiDPI mode (when the desktop is rendered at 2x resolution) the 1:1 pixel scaled logical desktop resolution is 1728x1117 - this gives the best picture quality. If you go below that, the GUI will become increasingly blurrier, since macOS cannot render the desktop at higher than 2x resolution (so there is no something like "Super HiDPI mode

[2022-07-17 07:42] waydabber commented on #780
(I'll convert this into a discussion)

[2022-07-17 07:42] #780 closed, assigned to nobody

[2022-07-17 15:44] Pulset opened #782 "It's not work when I set my native panel pixel resolution"
My display is 1920 x 1080,I select this resolution.Then I find it's not work,becase this icon is dim.When I select 1280 x 720, it's ok.So I'm confused.

![image](https://user-images.githubusercontent.com/21022593/179405966-44f75bde-97ba-4737-83ea-6af298a1200c.png)

[2022-07-18 06:59] waydabber commented on #782
Hi @Pulset - It seems like you have created a dummy display and mirrored it. The resolution list you are seeing is the dummy resolution list (which is independent of the display's native resolution). For more resolution options you can use the app's resolution slider until the UI looks right or click on 'Show all resolutions' (显示所有分辦率) while pressing the OPTION button on your keyboard.

If you wan

[2022-07-18 07:00] waydabber commented on #782
(I'll move this over to discussion as the info might benefit others as well).

[2022-07-18 07:00] #782 closed, assigned to nobody

[2022-07-18 07:04] waydabber opened #789 "Add an option to change font smoothing level in macOS"
Some users seek changing the grayscale font smoothing levels in macOS via the following commands:

[code]

There could be a simple menu for this under Tools for easier access.

Note, that this will not bring back [subpixel font smoothing](https://en.wikipedia.org/wiki/Subpixel_rendering) (Windows ClearType like fonts for LoDPI displays), simply change the traditional antialiasing intensity (makes

[2022-07-18 07:05] waydabber commented on #773
I will move this over to discussion, please let me know if you figure out something and I'll do more tests as well!

[2022-07-18 07:06] #773 closed, assigned to nobody

[2022-07-18 08:53] waydabber opened #791 "Dummy mirroring not working properly in latest Ventura beta"
In the latest Ventura beta mirroring and dummy mirroring scenarios might not work properly (screen is frozen, Windows are resized weirdly etc).

Will probably be fixed in future betas.

[2022-07-18 16:42] ibehnam opened #792 "Smooth Scaling option doesn't show up + Screen Flickers"
I followed the tutorial but checking "Edit and manage the system config. of this display" doesn't show a "smooth scaling" feature under it:

<img width="730" alt="image" src="https://user-images.githubusercontent.com/58621210/179560537-b9826ad4-00c6-4130-afe1-13118095a945.png">

As a result, all resolutions are "invalid" in the app, and selecting them changes nothing:

<img width="295" alt="image"

[2022-07-18 16:47] ibehnam commented on #789
Is it possible to do this only for external displays? On the internal one, fonts look fine, but the external monitor definitely can use some font smoothing.

[2022-07-18 17:00] ibehnam commented on #792
Update: I reset the BD settings and now things are working great even without a dummy. Thank you, esp. for the smooth scaling feature!

[2022-07-18 17:00] #792 closed, assigned to nobody

[2022-07-18 17:03] ibehnam opened #793 "Suggestion: Disable "Low Resolution Mode" by Default"
When using smooth scaling, I noticed the quality of image/text dropped significantly. Turned out I had to uncheck "low resolution mode" in the app settings:

<img width="295" alt="image" src="https://user-images.githubusercontent.com/58621210/179564434-b1334659-363d-47bb-b347-c29db4a24a4e.png">

I think it'd be better to leave it off.

[2022-07-18 20:04] waydabber commented on #792
Hmm. That is weird. I have no idea why the options did not present themselves. Sorry about that, I'll try to reproduce the issue.

[2022-07-18 21:42] tomek1911 opened #794 "Swipe between full screens apps is not working for a dummy screen"
I am using MacBook m1 2020, with BigSur 11.6.1. I have a 1440p external screen. I created a dummy and use a smooth scaling of 90%. But there is a problem with 3 finger swipe to move between full screen apps. With cursor on external screen, apps on builtin screen are swiped. Do you have similar problem, can it be fixed through settings?

[2022-07-18 21:47] 3DCoded commented on #794
This is a known issue with macOS, not BetterDisplay. See #144. You can use native HiDPI smooth scaling instead of dummies. See #678.

[2022-07-18 21:57] tomek1911 commented on #794
thanks - it seems it is a well-known issue

[2022-07-18 22:41] ibehnam commented on #792
Thank you. And I should say that with smooth scaling, the battery drain problem is almost gone (it shows 0.1 in Activity Monitor)—much better than with dummy screens.

[2022-07-18 22:49] tomek1911 commented on #794
I tried to use HiDPI smooth scaling but I cannot. I have a 2560x1440 monitor. I can set scaling between 50 and 100%. Anything below 100% is blurred. I cannot use dummy (it was sharp) because the swipe is not working. Is BetterDisplay of any use for me? Maybe it is a problem with my monitor? I connect my Mac with USB-c to docking station that supports  2K@60Hz and with HDMI to monitor
<img width="6

[2022-07-18 22:58] 3DCoded commented on #794
What I use is click `Manually add custom resolutions`, add ONE resolution (any more will overwrite the previous one. This is a glitch; see #771) and put in your desired HiDPI resolution and then also edit the default resolution to be that too. Then hit `Apply Changes` at the bottom (a red banner will appear) and reboot.

[2022-07-18 23:04] tomek1911 commented on #794
How do I know that I provided HiDPI resolution? I don't know what value I should add

[2022-07-18 23:24] 3DCoded commented on #794
I would use 1920x1080 for 16:9 or 1020x1200 for 16:10 for a reference then change from there.

[2022-07-19 12:36] waydabber commented on #789
This setting works system-wide only I am afraid. :/

[2022-07-19 12:39] waydabber commented on #793
Normally low resolution mode activates only when the scaling slider is set to the native resolution (as there is no HiDPI counterpart for that normally). But upon switching to a lower resolution, HiDPI should kick-in again. However if the user switches to Low Res, the scale slider should stick to LoDPI modees. If this is not the case then there is a bug somewhere.

Is there a specific way you can

[2022-07-19 12:45] waydabber commented on #794
Hi @tomek1911 can you switch to `Always use resolution submenu` at the `Resolution selector` under Settings/App Menu + enable `Show additional resolutions options` and then make a screenshot of the Set Resolution submenu contents?

Thank you!

[2022-07-19 14:31] ibehnam commented on #793
I tried resetting BD to re-create the problem but nothing happened. I guess the scale has been saved in macOS so even closing BD doesn't change the scale anymore (which is a good thing—with dummy displays, closing BD would change the resolution).

What I did before was just reset the BD settings and follow the tutorial to enable smooth scaling.

[2022-07-19 14:34] ibehnam commented on #789
Dang...
In that case, two things:
1. AFAIK, this needs logging off and on again. Is it possible to do it in a way that applies font smoothing without logging off (as in, using the BD app)?
2. Since most users use their Mac in clamshell mode, can there be an automation script that enables font smoothing when only external display is being used, and revert back when the external display is disconnec

[2022-07-19 16:37] waydabber commented on #793
Well, if the display was in some (other than the native) LoDPI mode when BD is launched, the scale defaults to LoDPI mode and sticks to it (until it is set to the native res) - maybe that's what was going on. :)

I'll close this one, but if you can reproduce the issue, let me know! Thanks!

[2022-07-19 16:37] #793 closed, assigned to nobody

[2022-07-19 16:39] waydabber commented on #789
If I remember correctly from the time I was experimenting with this the setting applies on the fly but only for apps that are launched after the setting was changed. All other apps including Finder etc requires a restart. It would be rather drastic to BD simply start restarting all running apps so I guess this is something we'll have to live with. :]

[2022-07-19 21:41] tomek1911 commented on #794
I followed your instruction. There is no HiDPI list, only low res. The screenshot only covers part of the list.
<img width="324" alt="Screenshot 2022-07-19 at 23 39 15" src="https://user-images.githubusercontent.com/23128356/179853349-f26d596a-d943-4c3f-951f-a58194f7320e.png">

[2022-07-19 22:39] Qwin opened #797 "HIDPI on 5120 x 1440 not getting sharper"
Hello everyone,

So just started using this product and try it out on my 5120 x 1440 monitor (samsung odyssey g9 49"). So the highest hidpi choice I get using a USC - C to DP on my m1 pro mac is the 3840 x 1080 choice (5120 x 1440 low res) which sadly really cuts down on my vertical perspective. I was thinking of somehow getting hidpi on 5120 x 1440 using a dummy and I actually got it working with

[2022-07-19 23:15] Qwin commented on #261
@BillyLavoie

if you are using the CRG9 the flickering issue only happens if you have VRR enabled (at least for me it does), try setting refresh rate to fixed (60hz if you tried 10240 res, that was the max I got out of it)

[2022-07-20 06:22] daslicht commented on #261
variable. refresh rate ? or what do you mean ?

[2022-07-20 09:23] waydabber commented on #794
Opps, this feature only works with Monterey 12.4 or newer. You'd need to upgrade if you are running Big Sur. Sorry about not mentioning this!

[2022-07-20 09:27] waydabber commented on #797
Hi there, I think you are doing everything all right. The sharpness however really depends on the PPI (pixel density) of the display which is a physical property. The Odessy G9 has a low PPI (109) which is nowhere near the PPI of 200 for most Apple displays or approx 150 common for 4K 27" displays which might still be considered "retina quality". If you are using a frame buffer of 10240 x 2880 wit

[2022-07-20 09:28] waydabber commented on #797
I'll convert this to a discussion. Let me know if my explanation is not clear or you have any questions! :)

[2022-07-20 09:28] #797 closed, assigned to nobody

[2022-07-20 10:03] tomek1911 commented on #794
ok, thank you - I will consider Monterey

[2022-07-20 10:14] tomek1911 commented on #794
12.4 is a very fresh version, and I prefer to wait until things are stable and tested. Will this feature be ported to BigSur, or it will never happen?

[2022-07-20 10:30] 3DCoded commented on #794
This was a feature that was added in macOS 12.4+ and macOS 13 beta. It seems unlikely that Apple will port a feature that just came a few weeks ago to an older OS.

[2022-07-20 11:34] waydabber commented on #794
All right, I'll close this issue.

I concur with @3DCoded, this feature depends on changes introduced in 12.4+ and will not be available in Big Sur I am afraid.

[2022-07-20 11:34] #794 closed, assigned to nobody

[2022-07-20 12:32] waydabber commented on #732
All right, this should be fixed now.

[2022-07-20 12:55] usmajeed opened #801 "MacOS suddenly supports HiDPI on 1440p Display?!"
Hello,

I checked today and noticed HiDPI options were available for my 1440p Display today, with 144Hz as well! My monitor is an Acer XF270HUA. This is potentially great news, as this is the reason many people use BetterDummy.

I was wondering if anyone else can check their display options. I am on MacOS Monterey 12.4.

<img width="644" alt="image" src="https://user-images.githubusercontent.com/2

[2022-07-20 12:58] usmajeed commented on #801
Oh yes, I should add that I'm on a MacBook Pro 13" M1 2020.

[2022-07-20 13:27] waydabber commented on #801
Hi there,

this has been available for a while, you can enable native smooth scaling on 12.4: https://github.com/waydabber/BetterDisplay#how-to-unlock-scaling-and-hidpi-for-my-display

Individual HiDPI resolutions can also be added (this is a free functionality in BD). 1920x1080 HiDPI might get suddenly available if in the past you did experiment with display overrides with apps that support defin

[2022-07-20 13:27] waydabber commented on #801
I'll close this issue for now but let me know if you have any more questions! :)

[2022-07-20 13:27] #801 closed, assigned to nobody

[2022-07-20 14:25] usmajeed commented on #801
Hi I got a response from Stephane Madrau of SwitchResX. This is not to do with his software.

Apparently in Monterey 12.4 Apple has enabled (more) custom HiDPI resolutions up to the resolution of the Apple 6K display.

[2022-07-20 14:26] usmajeed commented on #801
![14B8150D-E2B1-4931-A711-B570E5065F8A](https://user-images.githubusercontent.com/27242561/180007109-c8860373-e305-4c44-bd3f-ed1c0dcc46d4.jpeg)
![F2F90D9B-8350-472B-BC9F-5B0B12EBF523](https://user-images.githubusercontent.com/27242561/180007121-dce13301-b231-4392-aa77-8896162671b0.jpeg)

[2022-07-21 09:59] waydabber commented on #801
Yes, this is what I tried to explain. Since 12.4+ custom resolution limits were relaxed (the native smooth scaling feature of BetterDisplay uses this feature in conjunction with the app's scaling slider - this lets you scale HiDPI resolutions smoothly in 1% percentage increments). However this does not normally allow 1080p HiDPI to be enabled for 1440p displays without a display override present.

[2022-07-21 16:19] laciseber opened #802 "Restore brightness level after resolution switch or app restart (including HDR upscaling/brightening)"
I use my display at maximum hardware brightness (the PWM flickering was giving me headaches) and whenever I switch resolutions the software-only dimming jumps back to 100%.

[2022-07-21 18:50] waydabber commented on #802
I was able to reproduce this issue with software-only dimming. This is a bug. Combined dimming is not affected. Thanks for the report!

[2022-07-22 22:05] matthargett opened #803 "loses track of current resolution/scaling"
I have a Samsung Neo G9 UUW, connected to a CableMatters 8K DisplayPort USB-C adapter, and 16" 2019 MacBook Pro running MacOS 12.4. Often BetterDisplay works great, allowing me to get the full native 5120x1440 resolution, letting me crisply see all my code and debugger windows clearly.

Sometimes After the Mac sleeps, or  I Disconnect and re-connect the USB-C adapter, BD appears to lose track of t

[2022-07-22 23:40] matthargett commented on #803
A few hours later, the computer goes to sleep. When it wakes back up, I have my 5120x1440 native resolution, but BetterDisplay doesn't think any monitor is connected.
![image](https://user-images.githubusercontent.com/1550766/180580949-0aedb8da-72c5-4d66-a384-5aad7af0b6bd.jpeg)

[2022-07-24 07:29] waydabber commented on #803
Hi @matthargett - do you experience similar issues with a direct connection?

[2022-07-24 11:23] roelvangils opened #804 "Easier access to Night Shift Slider"
Have you considered adding the Night Shift Strength slider below the Brightness slider? I don't see why it needs to be in its own sub-menu.

![20220724_132145_Safari@2x](https://user-images.githubusercontent.com/103744/180644684-3e2b8aca-a464-49c6-b540-ca4a4d095d50.png)

[2022-07-24 12:17] waydabber commented on #804
It is under Tools because brightness is a per-display setting while Night Shift strength applies to all displays. I should maybe add an option to have the slider moved to top level under Tools (?). But it kinda belongs to other blue light control related settings and in v1.2.8 this section will be expaned to look like this:

<img width="297" alt="Screenshot 2022-07-24 at 14 16 52" src="https://use

[2022-07-24 12:19] waydabber commented on #804
Btw I plan to add a brightness slider that affects all displays at once and that should be under Tools as well somehow. I'll probable rename the section title from Tools to something else to reflect that this section is not for a specific display (I don't know the name yet).

[2022-07-24 12:33] waydabber commented on #802
This should be fixed in the next version. Several things required some change so hopefully nothing will break (there are several scenarios to be handled with this which makes things rather complex under the hood).

[2022-07-24 13:40] roelvangils commented on #804
Makes total sense! Looking forward to the next release.

[2022-07-24 13:41] #804 closed, assigned to nobody

[2022-07-24 16:24] matthargett commented on #803
There are only USB-C ports on this MacBook, no HDMI or DP out. I do have a monitor at work (Dell 3840x2160) that has a "direct" USB-C connection, and can verify it doesn't have this intermittent scaling issue when I connect it.

On my Surface Book 2, using the same USC-C to 8K DP interface, it always works and gives me 5120x1440.

[2022-07-24 19:04] waydabber commented on #803
I am not sure the adapter is at fault, if the OS sees the display, BD should detect it as well. When the "BetterDisplay doesn't think any monitor is connected" state occurs, if you quit and restart BD is the display detected?

It would be educational to see the console logs after sleep (here is how to enable and filter logging: )

Logs also might shed some light on the "BD appears to lose track of

[2022-07-24 19:17] dannycoin opened #805 "macOS High Sierra & NVIDIA GPU's"
Hello..

I use MacOS High Sierra 10.13.6 because my GPU is an NVIDIA Maxwell architecture and nvidia drivers do NOT work on later versions of macOS.

is there a posibility to make **dummy / virtual / fake monitors** on this specify macos version?

--Danny.

[2022-07-24 19:44] waydabber commented on #805
It is probably possible as I think the relevant APIs were present in High Sierra to create virtual displays.

[2022-07-24 20:02] waydabber commented on #750
I added a checkbox under Settings/Dispays for this (for not dummy virtual displays, like DisplayLink).

<img width="624" alt="Screenshot 2022-07-24 at 22 01 22" src="https://user-images.githubusercontent.com/37590873/180663808-c384cbb6-93eb-41a5-898d-10a20d863421.png">

I should probably acquire a DisplayLink adapter so I could do some tests with this, but hopefully it works.

[2022-07-24 20:23] waydabber commented on #757
Sorry guys for the unexpected delay, the development got stuck a bit due to personal reasons. I'll soon release this one.

[2022-07-24 20:57] matthargett commented on #803
I didn't see the text for enabling logging, maybe you didn't paste?

Screenshots of it only really giving me 3840x1080:
<img width="616" alt="image" src="https://user-images.githubusercontent.com/1550766/180665349-558a8347-cdc3-45a0-9d6b-71acff4abd6b.png">

<img width="531" alt="image" src="https://user-images.githubusercontent.com/1550766/180665394-af35ff7e-56fb-471d-aa64-c4e3c67b0612.png">

Note

[2022-07-24 22:03] waydabber commented on #803
Sorry, I here is how to see the logs: https://github.com/waydabber/BetterDisplay/discussions/445

Regarding the additional info for the display, I meant the app Settings (gear icon), Displays tab and then click on the display name (big font with an icon before it). :)

Do you mean even in System Preferences/Displays you have 3840x1080 max? Does it depend on the refresh rate selected (as some resol

[2022-07-25 03:08] dannycoin commented on #805
I really need this app..  but as I said my GPU is NVIDIA.

could you please build a compatible version app for High Sierra?

I need at least the feature to create virtual dummy monitors.

--Danny.

[2022-07-25 07:26] waydabber commented on #805
Hi @dannycoin - I am afraid this is not possible as many of the code in the app is incompatible with macOS versions older than Big Sur. :(

What is the functionality you need exactly?

[2022-07-25 07:33] waydabber commented on #805
(let's move this issue over to discussions)

[2022-07-25 07:33] #805 closed, assigned to nobody

[2022-07-25 17:07] GaryHanchengLiQB opened #807 "Workaround for macOS bug mirrored virtual screens have laggy or sometimes unresponsive mouse cursor"
Hi! I'm currently using BetterDisplay with a Dell S3220DGF, and had this curious problem where the mouse cursor doesn't show up immediately after mouse movement after it normally disappears during typing.

Illustration here: https://youtu.be/-mJYMJAfsEo. I immediately started moving the mouse after typing a few letters but the cursor only shows up after a small delay, meaning I couldn't find the c

[2022-07-25 18:35] mygizli04 commented on #220
For anyone else looking for this, I've managed to get it working by using AnyDesk and sharing the dummy screen. The built-in VNC would show both screens at the same time but I found AnyDesk has an acceptable latency ( doesn't route through the internet or anything ) and free for personal use as well

[2022-07-25 20:30] waydabber commented on #807
This is interesting. Are you using dummy mirroring?

[2022-07-25 20:41] GaryHanchengLiQB commented on #807
Yes I am, setting the monitor to mirror the dummy

Also I don't know if it's because of me updating to macOS 12.5 late last week. Before that update I was running BetterDummy v1.2.2 and it was fine

FYI this is a 2021 14-inch MacBook Pro with M1 Pro chip

[2022-07-25 20:55] GaryHanchengLiQB commented on #807
Seems like it's not just during text editing, the cursor would sometimes disappear on its own: https://youtu.be/wARDNJSep6A

Appreciate you looking into this :)

[2022-07-25 21:48] waydabber commented on #757
This needs some work still as during tests I found some issues (flipping messes up the coordinate system in a way that rotation and off-center viewing fails, so I'll need to rework those as well).

[2022-07-25 21:55] waydabber commented on #807
There was no change in this regard from 1.2.2 to 1.2.7 I think. The issue might be with macOS 12.5, but I am on Ventura beta 3 and I am not sure I can reproduce the issue the issue (sometimes it feels like I can pinpoint occasions when the mouse seems to appear a bit late if I move it super slowly but other times not, I would not have noticed any issue if I was not super aware that there might be

[2022-07-26 00:50] ibehnam opened #808 "Apple TV Works Now!"
Just wanted to mention that Apple TV (the app on macOS) doesn't work when using dummy displays, but with smooth scaling, it works fine. I was told that Apple sorta blocks untrusted displays due to DRM.

[2022-07-26 07:48] waydabber commented on #808
Thanks for the info! Yes, Apple TV app uses HDCP which is a copy protection mechanism and is incompatible with Virtual Displays (dummies, sidecar etc). Native scaling does not have this issue.

[2022-07-26 07:48] #808 closed, assigned to nobody

[2022-07-26 09:32] oleiolei commented on #777
I followed the steps listed there, but I have a problem now. My input method icon on the menu bar becomes pixelated (even on the MacBook's screen when it's not connected to a external monitor). I don't know what went wrong. I tried to remove all languages I was using and added them back. It worked for a while. Now they are all pixelated again
<img width="126" alt="截屏2022-07-26 17 31 47" src="https

[2022-07-26 09:53] waydabber commented on #777
@oleiolei - hmm. This seems to be a macOS issue to me.

[2022-07-26 12:12] waydabber commented on #757
All right, i fixed the issue with alignment. Rotation would need some more work but I don't think ppl really want to rotate and flip at the same time so I'll just not support doing both at the same time. If this is a real need, I'll address it in the future.

[2022-07-26 16:21] waydabber commented on #756
<img width="842" alt="Screenshot 2022-07-26 at 18 20 47" src="https://user-images.githubusercontent.com/37590873/181058958-2c1f5f04-8215-4b7e-900d-d174d2192e91.png">

[2022-07-26 17:04] #732 closed, assigned to waydabber

[2022-07-26 17:04] #740 closed, assigned to waydabber

[2022-07-26 17:04] #748 closed, assigned to waydabber

[2022-07-26 17:04] #750 closed, assigned to waydabber

[2022-07-26 17:04] #756 closed, assigned to waydabber

[2022-07-26 17:04] #757 closed, assigned to waydabber

[2022-07-26 17:04] #771 closed, assigned to waydabber

[2022-07-26 17:04] #802 closed, assigned to waydabber

[2022-07-26 17:28] waydabber opened #810 "Add option treat a display detected Apple-made as third party/generic"
Some displays are erroneously detected as Apple displays and therefore loose DDC support. This option should fix that.

[2022-07-27 01:29] phu54321 opened #811 "Sparkle update window still says "BetterDummy""
<img width="732" alt="image" src="https://user-images.githubusercontent.com/775265/181140603-6e49d4f7-ea50-4cb0-9aed-94fb2e1e0191.png">

Thanks.

[2022-07-27 07:11] waydabber commented on #811
Indeed. This is because some internal identifiers are still BetterDummy for compatibility reasons for older upgraders and Sparkle uses these strings for identification. This will probably change when I do a major version update where I want compatibility to be broken anyway.

[2022-07-27 08:29] voyager163 commented on #807
I am also having the same issue.

[2022-07-27 08:32] voyager163 opened #812 "Screen Flickering"
Sometime I will see the screen flickering from original colour to darker colour. This is when i leave my mac studio for a long time and I will see it after I login.

Temp Fix: I just need to restart the computer and everything will be back.

[2022-07-27 08:38] waydabber commented on #812
Hi there, are you using dummy mirroring or native smooth scaling?

[2022-07-27 08:40] waydabber commented on #812
Oh, from your comment at #807 I take you are using dummy mirroring. Flickering with dummy mirroring is a known issue #261. You don't have to restart the entire computer, but disconnect and reconnect the dummy. If the limits of native smooth scaling do not affect your workflow, you might be better off trying that approach to get more scaled resolution as that does not have this issue.

[2022-07-27 08:40] #812 closed, assigned to nobody

[2022-07-27 08:42] waydabber commented on #807
I did some investigation. I am afraid I can't fix this issue as this is not something BetterDummy does but seems to be an issue related to virtual screens being mirrored.

If you have an iPad, you could try if you connect it to the Mac as a Sidecar display and mirror the iPad to your main screen (not the other way around!), the same behavior should occur, even without BetterDummy running.

If this

[2022-07-27 15:28] velvetfingers opened #816 "App not starting?"
Unsure whether this is an issue with Ventura given that it's in beta, or with the app. Once starting the app, no icon appears in the menu bar, and the app is wholly unusable - I cannot even access a single screen.

Let me know if there are any diagnostics or some sort of logs I can provide.

[2022-07-27 16:04] waydabber commented on #816
I am running Ventura beta and the app should start. Do you see the app in the Activity Monitor? If you start the app again (once it is already running), does the pop-up show?

<img width="372" alt="Screenshot 2022-07-27 at 18 04 35" src="https://user-images.githubusercontent.com/37590873/181295337-6d775345-12c4-4a26-ac59-712941697193.png">

If the issue is that you have the menu item disabled in-a

[2022-07-27 17:05] velvetfingers commented on #816
Yes, once I start the app again that screen pops up, unless I quit the app via activity monitor. I seem to have discovered the problem. The app was not showing on the menu bar so I couldn't even access the in-app settings, never mind configuring anything. Alas, if I selected the native settings under 'displays' of 'more space', then the app would appear in the menu bar. I think I may just have too

[2022-07-27 18:17] ghost commented on #807
Hello I have exactly same issue.
After update to 12.5, my externals (mirrored to dummy) displays (one via usb-c, other via hdmi) started to have a problem with a mouse cursor.
In short when i move my mouse from retina display to external source - it's not visible until i click on something, sometimes it just disappears.

Could you have a look please? Thanks!

[2022-07-27 21:06] waydabber commented on #816
Oh yes, should have thought about that. Interestingly macOS has no mechanism to scroll the menu bar so if there are too many items or the running app has too many menus taking up menu bar space, things just go missing. :)

[2022-07-27 21:06] #816 closed, assigned to nobody

[2022-07-27 21:18] waydabber commented on #807
Yes, the issue seems to be present in Ventura beta4 as well (was not in beta3). The mouse cursor tends to disappear when entering text and takes its time to reappear. A probably related issue is that mouse shake or an increased cursor size makes the cursor icon cut into half.

This seems to be a macOS bug, I am not sure if it is fixable on BetterDisplay's end. Probably the best we can do is to rep

[2022-07-28 14:28] robisaacnz opened #818 "Removing application with AppCleaner immediately ends trial period"
If you get BetterDisplay into a state where it hangs at boot, and use AppCleaner to remove the application and all of its settings, the trial period is marked as over the next time you install it.

[2022-07-28 17:46] waydabber commented on #818
This is a Paddle issue (the licensing and payment provider), I think there are some anti-piracy measures in the Paddle API. However Paddle is a black box to me (for obvious reasons they provide a heavily obfuscated binary only).

But you really don't need to use AppCleaner to remove BetterDisplay, simply move it to the trash. The only permanent change it makes is the display configuration modifica

[2022-07-29 02:14] robisaacnz commented on #818
Oh, I'm sorry, I wasn't very clear. I wasn't trying to uninstall it, I was trying to remove a broken configuration that was freezing the app at startup. I hadn't seen the your instructions on how to do that, and something like AppCleaner is much faster than tracking down a lot of tiny prefs files. Just moving the app to the trash would not have helped me.

Maybe share with the Paddle folks that a

[2022-07-29 03:25] ibehnam opened #819 "Brightness above 50% Min HW changes nothing"
Thanks to BD, I can change the brightness of my external monitor using keyboard. But whether using keyboard or the brightness slider in the app, nothing changes for brightness >50% Min HW.  It does work perfectly fine for <50% though. The video shows it best:

https://user-images.githubusercontent.com/58621210/181676367-eb3b0858-ac87-4125-b623-725b18f19950.mov

[2022-07-29 09:22] waydabber commented on #818
Hi @robisaacnz - the trial should be 14 days, not 15 minutes (the trial length is not determined by Paddle). Did your trial expire in 15 minutes? If so then something must be wrong or AppCleaner somehow interfered with Paddle, maybe removed some vital data that Paddle interpreted as tampering somehow? If you DM me on the discord channel, we can try figuring something out.

Btw: if you have any iss

[2022-07-29 09:26] waydabber commented on #819
Hi there, this is because when `Enable combined dimming` is enabled (under Settings/Displays), brightness 0-50% is software adjustment (to allow full dimming to black) and 50-100% is hardware backlight control via DDC protocol. It seems the DDC part does not work on your config for some reason.

The reasons might be:

- You are using the HDMI port to connect instead of USB-C
- You might be using a

[2022-07-29 09:26] #819 closed, assigned to nobody

[2022-07-29 10:25] iogitio opened #821 "Auto enable/disable Night Shift when specific app is in foreground"
Hoping it’s ok to suggest a feature that would be super useful (to many people?)…

I’m sure there are other scenarios where this would be useful, but for my specific use case… it would be nice if BetterDisplay could automagically disable MacOS’ Night Shift feature when an app (Final Cut Pro) is in the foreground so that color rendering is accurate, and switch on when the app is in the background f

[2022-07-29 10:29] waydabber commented on #821
Hi there, I am planning a feature like that - https://github.com/waydabber/BetterDisplay/issues/749

I recommend adding your input to that thread so when I get to implementation all requests are taken into consideration! :)

Thanks!

[2022-07-29 10:29] waydabber commented on #821
(i'll close this one now so we don't have duplicates).

[2022-07-29 10:29] #821 closed, assigned to nobody

[2022-07-29 10:30] #818 closed, assigned to nobody

[2022-07-31 15:20] NotYourTypicalDeveloper opened #823 "No improvement after connecting and mirroring dummy display to my monitor. Fonts are still dented"
Hello,

I have been using betterDisplay with my Electriq 27" QHD for 1 month without issue
After buying the licence  and after I bought myself a 2nd monitor (Dell 27" QHD) I've decided to connect both my monitors to 2 separate dummys. It caused all sorts of issues.

With DELL monitor: the scaling (to make font bigger) made them screen and font blur. Therefore I gave up, deleted all the dummies to

[2022-07-31 18:23] NotYourTypicalDeveloper opened #824 "when enlarging fonts, screen surface display is smaller than it should be"
After creating a dummy display for my monitor (2560x1440px QHD), I tried to use the smooth scaling to increase fonts, icon etc .. as all was too small but
either the screen showed as the size of a 24" approximately, leaving a large black frame around the displayed screen
OR
the screen was quite blur (fonts , images everything)
besides, the displays keeps on getting  messed up, resulting in me havi

[2022-07-31 18:24] 3DCoded commented on #824
Have you tried the new native HiDPI scaling _instead_ of dummies?

[2022-07-31 18:27] NotYourTypicalDeveloper commented on #824
Thanks for the comment. I don't know what it is, how do I enable it please?
I spent the whole sunday trying to fix these. Everytime I touch the settings / try to configure anything in the betterDisplay app or in my mac settings, it messes all my display preferences and reposition the screens randomly. Quite frustrating