[2022-02-11 11:41] ktssr opened #333 "Dummy screen is set to be a main display and is invisible"
Macbook pro screen is struck after changing resolution. From then on when ever I open the app the screen is being struck and I have to restart the system

[2022-02-11 11:56] detinater commented on #327
@waydabber  It happens with streaming and mirroring. I installed the 1.1 beta and now I can swipe up on the iPad and close the sidecar app without a freeze. However, "accidentally" disconnecting the thunderbolt cable still freezes up applications on my M1 MBP in both modes.

Also something interesting, when you do the above and disconnect the cable, you have to reboot the Mac as well as the iPad.

[2022-02-11 11:56] detinater commented on #327
@waydabber  It happens with streaming and mirroring. I installed the 1.1 beta and now I can swipe up on the iPad and close the sidecar app without a freeze. However, "accidentally" disconnecting the thunderbolt cable still freezes up applications on my M1 MBP in both modes.

Also something interesting, when you do the above and disconnect the cable, you have to reboot the Mac as well as the iPad.

[2022-02-11 14:24] daslicht commented on #261
Just got the flicker again, evebn tho both screens have teh same color profile assigned :(
I try the beta build now

[2022-02-11 14:52] waydabber commented on #261
Hey @daslicht thanks, let me know if the new beta is better. I honestly have no idea whether the latest changes help or not, but worths a shot. :)

[2022-02-11 14:57] waydabber commented on #327
Hey @detinater - If you simply have a dummy enabled but it is not mirrored or streamed to the iPad screen or it is mirrored or streamed to a different screen or into a PIP window, do you experience a similar issue? Besides the Sidecar, dummy and the built-in display do you have any other displays attached?

I am yet to successfully reproduce this issue (I am trying with an M1 MBA and an iPad mini

[2022-02-11 14:58] SunsetYe66 commented on #261
@waydabber Hi! Really appreciate your work.

Quick feedback, 1.1.0-beta2 will not flicker when:

- Display `Dummy 16:9`'s ColorSync is set to Dummy 16:9.icc
- Display `Dell D2421DS`'s ColorSync is set to Dell D2421DS.icc

The default setting sounds not that reasonable compared to your workaround. I've changed display `Dummy 16:9`'s ICC file to `Dell D2421DS.icc` for further testing, will let you k

[2022-02-11 14:59] waydabber commented on #333
Hmm. I'll need more details on the setup and on how to reproduce the issue exactly. If you can do a video about the issue I might better understand what is happening. Thank you!

[2022-02-11 15:06] waydabber commented on #261
Hi @SunsetYe66 - thanks for the feedback!

Unless the display has a custom icc profile provided by the manufacturer, the default icc profile created by the OS (with the display's name) is usually the same as the sRGB profile. With 1.1.0-beta2 this should be the same as the Dummy's profile (which is also based on the sRGB profile now), so changing from Dell to Dummy should not make a difference (wh

[2022-02-11 15:18] SunsetYe66 commented on #261
@waydabber hmm... I'm taking this step because I can see a noticeable change after changing the ICC file. It turns out the `rXYZ` number is different than yours.

<img width="500" alt="image" src="https://user-images.githubusercontent.com/53211446/153616657-6073b731-ab75-4dd8-82a8-43dd28b9e154.png">

My screen is shipped with a factory color management file. When using Windows, I need to install i

[2022-02-11 16:32] waydabber commented on #261
Hmm. That `Dummy Temp` has the values of Generic RGB, I think that was created by a previous version. The `Dummy Temp` is not actually used by the app during normal desktop use - it is a temporary dummy that is created upon sleep when the sleep workaround option is enabled.

The Dell profile seems to be a custom one, which is logical if it is manufacturer supplied. If things work with the v1.1.0-b

[2022-02-11 16:52] waydabber commented on #261
@SunsetYe66 - I did a test round again. I am sorry, what I wrote in my previous post is wrong. You are right, for whatever reason the the Dummy color profiles generated by the OS still has the values for Generic RGB - even though these are not the values assigned to the created virtual screen it in the app and the console is complaining about missing colorspace when mirroring and it defaults to sR

[2022-02-11 18:27] #274 closed, assigned to waydabber

[2022-02-11 19:13] mycroftcanner opened #334 "NDI Source support"
It would be cool to be able to use BetterDummy as a NDI source. [NewTek NDI®](https://ndi.tv/) protocol allows high-quality, high-performance, low-latency streaming of video and audio over a local network.)

VLC has reversed engineered the protocol [here](https://code.videolan.org/jbk/libndi).

[2022-02-11 20:40] waydabber commented on #334
Well, it is certainly possible to do this both with a dummy or a real display surface as source. I added it to the enhancement list.

[2022-02-12 12:45] waydabber commented on #327
Hi, I am unable to reproduce the issue (M1 MBA+iPad Mini 6+Monterey 12.3 Beta). I do the following:

- Start BetterDummy
- Connect the iPad
- Enable Sidecar as an extended screen (using an USB-C cable)
- Create and connect a dummy that matches the size of the iPad Mini 6 display
- Mirror the dummy to the Sidecar display (via the BetterDummy's mirroring menu)
- Disconnect the iPad

Upon disconnect

[2022-02-13 10:31] ktssr commented on #333
Video link
https://drive.google.com/file/d/15oMuDnVEm5Mt1yONqXiEXSXcHzzGNNhA/view?usp=drivesdk

[2022-02-13 11:19] SunsetYe66 commented on #261
@waydabber
Good news! `1.1.0-beta2` seems to handle the color spec correctly. Flickers have been gone for 2~5 times these days.

For the last post, yes I post the `Dummy Temp` color profile screenshot, but all the 3 Dummy-related color profiles (i.e 2 Dummy 16:9 and 1 Dummy Temp) have the same number.

For other people suffering from this problem, I strongly recommend you update to `1.1.0-beta2` a

[2022-02-13 18:15] waydabber commented on #333
Hi @ktssr - I think the dummy display is set to be the main display and it takes all the windows. The macbook display is set to be an extended display. The dummy display is invisible as it is not mirrored to anywhere.

You can open System Preferences/Displays and set up mirroring there or if you download BetterDummy v1.1.0 you can peek into what's on the dummy display using the Picture in Picture

[2022-02-14 09:39] detinater commented on #327
@waydabber Update on this, after you said you couldn't replicate I went to take a video and ended up going down a rabbit hole of flipping things on and off and scenarios. Long story short, I can reproduce this using just Apple's sidecar so this must be some sort of Apple sidecar bug. Looking on Reddit I'm not alone on the sidecar instability: [https://www.reddit.com/r/iPadOS/comments/qruskz/sideca

[2022-02-14 10:30] waydabber opened #337 "Ability to create a custom dummy with manually defined resolutions"
### Discussed in https://github.com/waydabber/BetterDummy/discussions/336

<div type='discussions-op-text'>

<sup>Originally posted by **aitorgomez** February 14, 2022</sup>
Hi there,

I didn't find this topic anywhere, but I'm wondering if there is the way to create a custom resolution.

I've got a 2560 × 1440 DELL 2421D 24" external monitor. Back with my Intel 2015 MacBook Pro I could check that

[2022-02-14 10:31] waydabber commented on #337
I could add a feature to create a custom dummy that does not conform to a known aspect ratio and has custom defined resolutions.

[2022-02-14 10:32] waydabber commented on #261
Thanks @SunsetYe66 for the response!

Anybody else can confirm that the lastest beta indeed fixes this problem? Thank you!

[2022-02-14 10:33] #333 closed, assigned to nobody

[2022-02-14 10:51] trttkm commented on #261
I reproduced steps mentioned by @SunsetYe66, and yet don't see flickering, but I'll watch for it for a while, will send an update later

[2022-02-14 10:59] tsujp opened #339 "Fuzzy / un-sharp when used for 2560x1440 27GL850 in mirror-mode"
Great app, I've just spent an hour or so playing around with it and while I can get it to work with flickering (as this is a high refresh rate display) which is already known, window edges and other straight lines which are very sharp both without this running _and_ on the in-built laptop display become fuzzy, sort of "out of focus" if you will. It's noticeable that the image being pushed to the s

[2022-02-14 11:12] isnowify commented on #261
@waydabber
Having switched from current latest release `1.0.13` to `1.1.0-beta2` and tried out the beta version for around 3 days, and the flickering issue seems still exists for me, but not that frequent as it used to be.
Before installing `1.1.0-beta2`, I have discarded my dummy monitor in `1.0.13`, cleared all the color profiles in `/Library/ColorSync/Profiles/Displays`, and removed `BetterDumm

[2022-02-14 11:52] waydabber commented on #261
Thanks for the responses.

Based on these I think the issue was not fully resolved and the causes are still not understood, although changing the virtual display's colorsync descriptors to sRGB might have helped some. There is some inconsistency about the whole problem - the system created dummy profile still reflects Generic RGB (despite the descriptors using sRGB values) and the console WindowSe

[2022-02-14 11:58] waydabber commented on #339
Hi @tsujp mirroring should not produce an issue like this. If you use 2560x1440 hidpi on a native 2560x1440 display, the only thing you might notice is that originally pixel-sharp lines might become somewhat blurred. This is the result of the 2x supersampling that occurs since 2560x1440 HiDPI is rendered at 5120x2880 and then downscaled to the display's native 2560x1440. The effect might be simila

[2022-02-14 11:58] #339 closed, assigned to nobody

[2022-02-14 13:15] chrisge78 commented on #261
@waydabber Thanks for making this application happen and it's really useful on my Mac. I wrote a shell script to kill and restart the application process when screen flickers after waking up as a temporary solution, and am happy with that.

[2022-02-14 14:03] waydabber commented on #261
Hi @chrisge78 - the disconnect/reconnect on sleep/wake option does not achieve this? Does the flickering remain with that option but not with restarting BD? If yes then I might need to tweak how that works.

[2022-02-14 14:39] Jerrod-RCTech commented on #337
I would love this feature. My use case is a little different, but still requires a custom resolution. I use a headless Mac Mini and remote into it from Windows. I prefer to keep my remote window maximized, but not in full screen, so I have to use a resolution smaller than the window to fit properly. If I could set a custom resolution, then I could make it perfectly fit in the window. Thanks!

[2022-02-14 16:01] patrickmast commented on #337
I'd LOVE to be able to create custom resolution! Thank you for a GREAT tool! 👍

[2022-02-14 17:21] daslicht opened #341 "Visual Glitches with Transparency"
Hi,
I get visual glitches in the terminal when transparency is enabled:
see:

https://www.youtube.com/watch?v=hIwItuoZycY

[2022-02-14 17:28] daslicht commented on #341
Just tested , it happens with any transparent planes, even the Finder Sidebar etc...
Best seen if something bright is in teh background.

[2022-02-14 17:33] waydabber commented on #341
Yes, this happens with Sidecar and AirPlay as well without BetterDummy, so it is a macOS thing for virtual displays (probably on M1 only, but had no chance to look for it on Intel).

See these for more about this: https://github.com/waydabber/BetterDummy/discussions/129, https://github.com/waydabber/BetterDummy/discussions/281

[2022-02-14 17:33] #341 closed, assigned to nobody

[2022-02-15 03:43] JokerQueue opened #343 "laggy while using Chinese Pinyin input sources"
BetterDummy version: v1.0.13
Mac version: M1 MacBook pro 14, Monterey 12.2

It took me a long time to locate this problem:
while using BetterDummy and Chinese Pinyin input sources, there will be an obvious laggy in switching between apps and typing in the app. It happens in any app some hours after opening.

How I located this problem:
- My system load is very low;
- When I changed to ABC input so

[2022-02-15 05:28] akswalia23 opened #344 "Netflix doesn't display video in Safari. (Which is the only way to get higher than 720p on Mac)"
Netflix on safari, assuming due to some sort of DRM doesnt work with betterdummy on macOS Monterey

[2022-02-15 07:28] daslicht commented on #261
Just got the flicker after a computer start. :/ Both screens share the same calibration.
reconnect cycle doesn't fixed it. Quitting and restarting BetterDummy fixed the issue.

[2022-02-15 18:09] daslicht commented on #261
My Color Profiels List meanwhile contain a lot  porofiles named to my screen, I havent creatdd them mnaually.
Is tehre a way to get rid of all profiles but keep the native monitor one ?

[2022-02-16 01:06] NormanZyq commented on #343
Same here. Only reopening the app can solve this right now, that's a little bit annoying

[2022-02-16 07:08] waydabber commented on #261
@daslicht - yes, just empty the folder `/Library/ColorSync/Profiles/Displays` and restart your Mac.

[2022-02-16 07:11] waydabber commented on #343
Is this happening only while using Chinese Pinyin input source? That is strange (and something I cannot really recreate in depth - I am happy that I was able to learn English, I don't stand a chance learning Chinese :)).

[2022-02-16 10:35] JokerQueue commented on #343
Really strange. You could just add one  Pinyin input source and try typing anything later, don't need to learn Chinese :)

[2022-02-16 11:04] waydabber commented on #343
I did try it but did not notice any issues. But if I understand correctly the problem should happen after using Chinese Pinyin for several hours.

I am not sure how BetterDummy is related to this problem, I agree that it seems to be somehow system related - after setting up the virtual screen and mirroring, BetterDummy should actually do nothing else about it, it's all macOS from that point on - s

[2022-02-16 14:45] waydabber commented on #344
Hi, unfortunatelly HDCP is not supported for virtual displays. This affects BetterDummy but Sidecar, Airplay and DisplayLink as well.

https://github.com/waydabber/BetterDummy/issues/145

[2022-02-16 14:45] #344 closed, assigned to nobody

[2022-02-16 15:37] waydabber commented on #343
I'll convert this one into a discussion - maybe others will chime in about this mysterious problem.

Also does this issue happen with BetterDummy v1.1.0? If yes, then does a reconnect cycle fix it or only a complete app restart? Thank you!

<img width="453" alt="Screen Shot 2022-02-16 at 16 37 02" src="https://user-images.githubusercontent.com/37590873/154299646-c289c852-cf8f-42d8-a83d-0f8c101dfb4

[2022-02-16 15:37] #343 closed, assigned to nobody

[2022-02-17 07:44] japtor opened #348 "Sidecar resolution won't reset"
Little background to my setup, Monterey 12.2.1 (and a version or two before) on Intel, with 2560x1440 display and sidecar on iPad mini (2021).

Not entirely sure how this happened, but started when I started messing with BetterDummy. Basically with BD not running and/or reset and everything, Sidecar runs 2560x1440 on the iPad. Only with a BD virtual display connected (even before mirroring the BD

[2022-02-17 08:37] waydabber commented on #348
Are you sure it's 2560x1440 and not 2266x1488 (which is the standard resolution of the mini)? If the latter, then you can change this back to 1133x744 (the same resolution with HiDPI enabled) in macOS.

[2022-02-17 08:37] #348 closed, assigned to nobody

[2022-02-17 10:13] daslicht commented on #261
Yesterday I deleted all color profiles and made sure both 'screens' have the same assigned.
Today after reboot, flicker :(

[2022-02-17 10:36] waydabber commented on #261
@daslicht - an alternative is to use the Full screen stream instead of mirroring, that won't flicker. I think the flickering (and other known issues) will not go away until Apple fixes virtual display mirroring in general, but since this is a less common use case (ppl usually don't mirror their Sidecar or Airplay displays to their displays but the opposite is happening) it won't happen anytime soo

[2022-02-17 14:18] daslicht commented on #261
@waydabber Are there any significant downsides using streaming ?

[2022-02-17 14:59] waydabber commented on #261
@daslicht - not really, but it has its own annoyances currently. Streaming takes over the target display's screen surface and streams the contents of the dummy to it (essentially covering the screen surface). Think of it as a maximized Picture in Picture window. But the target display still remains to be a separate display in the display arrangement, the mouse and even windows can be dragged into

[2022-02-17 15:09] daslicht opened #352 "Streaming Display glitch"
I was just editing my calender and them tried moving the window down and this happens:
![](https://i.imgur.com/E3KAmKA.jpg)

[2022-02-17 15:22] waydabber commented on #352
wow, nice. :) You should not be able to move the full screen stream window but you somehow managed to do it. The effect is cool though!

I'll try to reproduce this one. If you can reproduce this one, can you give me a step-by-step instruction on how to do it? Also are you using any third party app that manages/arranges windows maybe?

[2022-02-17 15:55] daslicht commented on #352
whats settings do i need to set under disaplysettinsg for each screen

Have a look it even gets more funky:
https://www.youtube.com/watch?v=pygnUVouwoQ

I think the dummy was set as extended display.

[2022-02-17 16:00] daslicht commented on #352
When Enable Steaming the main display is shown as extended display.
When i cahneg it to main display, I get a 3rd Desktop shown without dock and i cant use macos anymoreuntil I logout.
After that the main display is set again as extended.
When The Main Display is set as extended and the dummy as main display, i can move windows out of teh view which breaks the whole GUI to being useless or you can

[2022-02-17 16:05] waydabber commented on #352
Yeah, that won't work, if you have a single monitor and do streaming, you should leave it as BD sets it up - the dummy display should be main and the main display extended. If you move the displays around or change the display settings, things will be messed up. BD will not try to reconfigure anything as it assumes that the user knows why he is reconfiguring stuff the way he does (on multi display

[2022-02-17 17:04] waydabber commented on #352
But this feature does not seem to be ready for prime time it seems. :) I'll try to make it better in the future.

[2022-02-17 18:08] daslicht commented on #352
I just tried it again with mirroring, but that doenst work properly or reliable here neither :/

https://www.youtube.com/watch?v=hFWPUlX6G0M

Today I got fullscreen flicker, not just some colours

[2022-02-18 18:04] chadbailey59 opened #353 "Public Service Announcement: Where did my notifications go?"
(Feel free to close this if it's unnecessary noise.)

At some point in recent history, I noticed that I wasn't seeing any notifications on the top right of my screen when using my MacBook in closed-lid mode. They were there if I clicked Notification Center in the menu bar, but I kept missing calendar appointments because I didn't get the notifications _when they happened_.

I started suspecting Be

[2022-02-20 10:20] waydabber commented on #353
Hey,

yep, this is mentioned in the README  under `Usage`, but probably a bit buried. I'll pin this one as it comes up from time to time. :)

[2022-02-21 15:27] waydabber opened #356 "Enhanced resolution selector menu for displays"
Add option to show additional display information for a real display resolution selector (https://github.com/waydabber/BetterDummy/issues/87):

- refresh rate
- bit depth
- indication of detected nativeness
- indication of defaultness
- show unscaled non-native resolutions and status

This is useful for understanding how macOS manages a display and discover mirroring issues (black bars etc).

[2022-02-21 17:11] waydabber commented on #356
<img width="1012" alt="Screen Shot 2022-02-21 at 18 10 58" src="https://user-images.githubusercontent.com/37590873/155000501-a794268e-2301-4433-a6a2-734e1fdd936a.png">

[2022-02-21 17:12] waydabber commented on #87
see also #356

[2022-02-21 18:17] waydabber opened #357 "Add a hint to the menu if mirroring seems to be wrongly configured"
Many users use BetterDummy to mirror a dummy screen to a real display. Sometimes however the mirroring is configured wrongly (instead of the dummy mirrored to the display, it is set to the other way around). The app should give a hint that this might not be was intended by the user.

[2022-02-21 18:18] waydabber commented on #357
<img width="359" alt="Screen Shot 2022-02-21 at 19 15 24" src="https://user-images.githubusercontent.com/37590873/155008570-a13aea20-52aa-402b-9e9f-08ae78afc348.png">

[2022-02-22 10:11] AliKashiif opened #359 "Issue with Google Sheets on Chrome Browser."
I am using MacBook pro 21 with Asus Pro Art 34 inch UW Curved Monitor, I downloded it and worked the complete day and I was quite satisfied that finally, I got the problem fixed.

But from the last 24 hours, I am having trouble with my Google Sheets on Chrome browser, I have done everything I can from clearign caches, to uninstalling all extensions, reinstalling browser etc. (everyhing I can) but

[2022-02-22 13:39] waydabber commented on #359
Hmm. Honestly I don't know how this problem can be caused by BetterDummy. Do you experience a similar problem with other browsers as well (you could try Edge as that is also Chromium based)?

I did try the latest Chrome and Google Sheets (I am a frequent user) and had no issues (I am using an M1 MBA running the latest version of Monterey).

[2022-02-22 13:39] waydabber commented on #359
(I'll move this over to discussions, maybe others can chime in who have a similar experience)

[2022-02-22 13:40] #359 closed, assigned to nobody

[2022-02-22 15:47] waydabber commented on #146
The next beta version of the app will provide some info on the resolutions available for the display and will also indicate the `Native` and `Default` resolutions (`Native` resolution is used whenever macOS uses mirroring) - see https://github.com/waydabber/BetterDummy/issues/356. This might debug displays that incorrectly report their default resolutions and give more insight why mirrored screens

[2022-02-22 16:17] gotchapt commented on #146
~~I can't see `BetterDummy's Preferences/Advanced`, where is this option?~~

Ok, it's on the Beta only

[2022-02-22 16:30] waydabber commented on #146
Yeah, it will be in the upcoming beta. The current 1.1.0 beta still does not have this. I'll post a new version as soon as it is somewhat ready - I started a major refactoring because of some future ideas and now everything is all over the place so needs some time. :)

[2022-02-22 17:41] gotchapt commented on #146
This fixed my issue regarding black bars/borders: https://gist.github.com/ejdyksen/8302862

EDIT: But I can't use the 1080p HiDPI resolution, it always resets to the low resolution.

I am connected through a USB-C -> DP1.4 cable and the maximum HiDPI resolution I can use is 1664x936, resolutions higher than this default to their low version.

[2022-02-22 18:31] waydabber commented on #146
Hi, is this on Intel or M1?

[2022-02-22 20:01] gotchapt commented on #146
Hey, it's on Intel

[2022-02-22 22:25] waydabber commented on #259
<img width="496" alt="Screen Shot 2022-02-22 at 23 25 39" src="https://user-images.githubusercontent.com/37590873/155229935-71957528-778c-4463-b7f2-23689938eb7a.png">

[2022-02-24 00:53] davidwilhelmschmitt opened #362 "Show/hide PIP window with a keyboard shortcut + temporary shortcut-hideable full screen stream"
Is it possible to actually see the virtual monitor on a second desktop? I use Davinci Resolve and it is possible to send a full frame preview to an external monitor. With better dummy i cam as far as convincing resolve there is a second monitor connected. now i would like to actually see the second monitor on a second desktop so that i can swipe between full screen mode and normal interface. So wo

[2022-02-24 09:05] waydabber commented on #362
Yes, with the v1.1.0 beta you can open a PIP (Picture in Picture) window and make it full screen (as a space). The upcoming v1.1.0-beta3 also lets you open a PIP window for a real display as well (for example if you have a display that you don't have a direct line of sight to, like during a presentation). Hope this hleps. Let me know if this is not what you meant.

[2022-02-24 10:04] davidwilhelmschmitt commented on #362
Hi Waydabber, thank you for your quick response! PIP sound exactly what i need which is amazing and i installed the 1.1.0 beta version to try it out. It also seems to work but the PIP Viewer always stays gray. It says 16:9 (9108DB5A) but there is no image of a second screen visible. I also tried mirroring my screen but it didn´t show anything either... I´m working on Monterey 12.2.1. Any idea what

[2022-02-24 10:39] waydabber commented on #362
Hmm. Not really. Did you give Screen Recording permissions to BetterDummy?

Here is an updated beta version that can show a non-dummy display in a PIP window as well. Does that work?

https://github.com/waydabber/BetterDummy/releases/tag/v1.1.0-beta3

btw. are you on Intel or M1?

[2022-02-24 10:50] davidwilhelmschmitt commented on #362
My bad, i forgot to give it Screen Recording Permission. Now it works but there is one problem left. When i make the PIP viewer full screen (as a space) and swipe from my resolve interface to this space it changes from resolve to finder and therefor stops the full screen of my image. So i need to find a way to keep Davinci Resolve running as the main app behind the PIP full screen space...

[2022-02-24 10:54] waydabber commented on #362
I am not sure I understand. :) I thought that you have a dummy screen that contains the app you use which you want to stream to a PIP window.

[2022-02-24 11:04] davidwilhelmschmitt commented on #362
Sorry if i explained it wrong. So i did the following:
1. Create a Dummy
2. Start streaming PiP and toggle Full Screen to set up the Dummy Image as a Space (Let´s call it Space 2)
3. Open Davinci Resolve and let it send a Full Frame View of the Videotimeline to the Dummy (Space 2)

Everything works except for one problem. When i´m on Space 1 which is the Interface of Davinci Resolve and switch to

[2022-02-24 11:23] waydabber commented on #362
Yes, that might be a problem. :)

[2022-02-24 19:38] davidwilhelmschmitt commented on #362
I see. I will check if i find a way to keep Resolve as the primary app even when switching to the Dummy Space. Thank you anyways, great app i really appreciate your help!

[2022-02-24 20:03] waydabber commented on #196
Seems like there is some demand for this in real life lol: https://github.com/waydabber/BetterDummy/discussions/366

[2022-02-24 20:31] waydabber commented on #362
You could create a PIP window without a title and set its window proiriority to highest and move it to an other space and maximize it by resizing the window (not by making it full screen). This way that window would not automatically need focus when switching to that space. The only problem is that currently the highest priority PIP window also transcends spaces so 'd need to add an additional PIP

[2022-02-25 10:19] davidwilhelmschmitt commented on #362
I just tested it and Resolve will stop sending its preview to Better Dummy once i switch spaces. So i guess there is no way of using spaces to my advantage unless there was a way to keep the focus on one space on an OSX level...

[2022-02-25 10:24] waydabber commented on #362
Hi, an option would be to use a PIP window that does not have focus, but hovers above everything else and can be shown and hidden with a keyboard shortcut. I could implement something like this but this is a bit farther off as I generally have to add keyboard shortcut support to the app - it is on the wishlist. :)

[2022-02-25 10:39] davidwilhelmschmitt commented on #362
That sounds great, thank you so much for taking the time and trying to help me with that problem! I´m looking forward to that option!

[2022-02-25 21:07] jaredallard commented on #262
Just want to add this, I found that if you're using this to get around HiDPI limitations for the Odyssey G9 (like I am), if you create your virtual dummy (e.g. 32:9, like I) and then set the "real" monitor to 120hz you'll get 120hz support. This will then break the HiDPI support, of course.

Here's the trick: If you _delete_ the virtual dummy after that, the HiDPI settings from the virtual dummy a

[2022-02-25 22:27] waydabber commented on #262
That is interesting! Do you have an exact step by step procedure on how to reproduce this in a reliable way?

[2022-02-26 16:18] waydabber commented on #362
I added this one to the enhancement list. I think I'll create a full screen stream also that is temporary in nature (can be shown and hidden using a keyboard shortcut). This could work in a way that would allow the user to quickly switch to the stream of any of displays or dummies on his main display quickly. Having this would be a neat and useful function in general I think.

[2022-02-26 16:20] waydabber opened #367 "Option to prohibit the mouse from entering a display when it is covered with a full screen stream"
When a full screen stream is covering a display, the mouse should be prevented from entering the host display surface.

There should be a setting to toggle this prohibition.

[2022-02-26 16:25] waydabber commented on #196
For starters I'll add a simple implementation:

- a setting to change the full screen stream aspect ratio to hold the source (preserve ratio) or the target display (stretch), pixel perfect (do not resize).
- in case of stretch or no resize, the location of the video - top, center, bottom + left, center, right

(if I am at it, I might optionally add the possibility of resizing and moving the video

[2022-02-26 16:26] waydabber commented on #11
Well, preferences is now added. Also there is this: https://github.com/waydabber/BetterDummy/issues/362

[2022-02-26 16:26] waydabber commented on #362
dependent on https://github.com/waydabber/BetterDummy/issues/11

[2022-02-26 16:29] waydabber opened #368 "Paddle integration to manage licences and purchases for Pro"
Paddle will allow the purchase of Pro. See #233

[2022-02-26 16:30] waydabber opened #369 "Beta update channel for Sparkle"
Ability to join/leave beta updates in Preferences

<img width="842" alt="Screen Shot 2022-02-26 at 17 30 20" src="https://user-images.githubusercontent.com/37590873/155850969-2ebec778-1ef8-4e8a-948d-104b7a2dc38d.png">

This is now working finally (since beta5).

[2022-02-26 16:31] XuBoZhangQvQ opened #370 "Added monitor refresh rate problem"
My monitor refresh rate is 144Hz, but with the monitor added by BetterDummy, only 60HZ

[2022-02-26 16:32] waydabber commented on #352
In the upcoming betas I'll be working on improving full screen streaming. Rewritten most of it by beta5 but still there are gaps. Thank you for your patience! :)

(I'll convert this one into a discussion.)

[2022-02-26 16:32] #352 closed, assigned to nobody

[2022-02-26 16:34] waydabber commented on #370
Hi @XuBoZhangQvQ - Yes, unfortunatell, this is a limitation in the current versions of macOS.

See #363 #140 and other similar issues/discussions.

Thank you for your understanding!

[2022-02-26 16:34] #370 closed, assigned to nobody

[2022-02-26 16:41] XuBoZhangQvQ commented on #370
@waydabber Thank you very much! 😆

[2022-02-27 14:12] davidwilhelmschmitt commented on #362
Sounds great and yes i agree this might be also interesting in a lot of situations!

[2022-02-28 10:37] mbennoer commented on #261
Hi, just wanted to let you know my working setting with two different Lenovo Thinkvision panels: After having changed both Dummy and Lenovo panel color profiles to sRGB, flickering after sleep stopped and didn't return so far.

Im on the stable version 1.0.13 on a MacBook Air M1 (2020).

[2022-03-01 16:07] Mark2Mark commented on #368
As a user of Paddle I’d like to highly recommend it. They recently changed their branding and documentation sites, which makes things a little cumbersome at the moment, but I am happy with how they operate.
Intergrating the Paddle SDK is incredibly simple.

[2022-03-01 16:52] daslicht commented on #261
I don't have srgb on my macmini m1 :/ just these:
![](https://i.imgur.com/YBEnWGu.png)
![](https://i.imgur.com/1rkyeXy.png)
Today it worked the whole day without flicher tho :)

[2022-03-02 03:31] Senorsen commented on #261
I found (another) workaround: if the external better-dummy screens flicker after wake up, you lock screen (<kbd>control</kbd>-<kbd>command</kbd>-<kbd>Q</kbd>), then press <kbd>esc</kbd>, after about 1 sec (MBP screen turns off), press any key or unlock using Touch ID. Screens should not flicker any more.

[2022-03-02 20:07] waydabber commented on #367
Well, this is not working as well as I expected. I am trying to detect if the mouse enters the streaming view area and if so, determine the direction of the incursion and put the mouse back where it belongs. It kinda works, but has some annoying side effects (like part of the cursor still appears on the target display screen when moved over halfway) and cannot prevent cases when a user tries to mo

[2022-03-03 01:59] iguillen opened #372 "Display stutters"
I haven't seen this reported in issues or discussions so forgive me if it has and I'm just missing it. I'm using a 14" M1 Max and a Dell 40" 5K2K and the display is stuttering, sometimes pretty badly. It seems to have started in the last couple of weeks because I didn't notice it when I first started using the program about a month ago. Disconnecting the dummy, disconnecting the display, and reboo

[2022-03-03 10:10] waydabber commented on #372
Hi, I am not sure if this is a BD related issue. I experienced something similar recently (irrespective of BD), but I was running the Monterey 12.3 beta - the solution was to reset the display preferences by  com.apple.windowserver.displays.plist from under /Library/Preferences and your user's Library/Preferences/ByHost folder (there might be multiple files like this with some UUID-s attached to t

[2022-03-03 10:10] #372 closed, assigned to nobody

[2022-03-03 21:29] trttkm commented on #261
Wow, that's really helpful! Seems that's easiest/fastest way to remove flickering yet.
Thanks @Senorsen!

[2022-03-03 22:24] cheynewallace commented on #261
Throwing my hat in the ring here also, but have been experiencing this problem since I got my new Mac months ago,  glad I found this thread and that im not alone.. Its super annoying.

Solutions i've found after so much trial and error, much like already mentioned here but

- Disconnecting, waiting and reconnecting the HDMI cables.  This often does not work however, and can be very frustrating hav

[2022-03-04 04:51] rbreaves opened #374 "How to Force 2x scaling for Retina resolutions?"
I am trying to couple this software with the use of things like Nuords RDP and Jump Desktop Fluid protocol, but so far on HiDPI/Retina monitors the result is something that is still blurry. Is there any way we can enable the scaling and allow users to better control which scale factor they are working with?

Thanks! This is a wonderful app by the way.

[2022-03-04 05:50] rbreaves commented on #374
What would help would be to re-expose the Snow Leopard option.. then we could easily do 2x & fractional as it supported that before & appears to still (at a gpu cost). I would think it’d be cleaner to figure out the undocumented API than dealing w/ EDIDs.

Also so far I’m not seeing an improvement w/ sharpness on remote software.. I can see the native res of the remote client side clearly but then

[2022-03-04 16:56] Branchenprimus commented on #140
Is it possible to estimate, when Apple will introduce ProMotion for AirPlay or Sidecar?

However great afford so far!

[2022-03-04 17:46] Atemu commented on #140
Here's the best we have: https://www.m8ball.com/en/answer-8955120.html

[2022-03-04 18:38] waydabber commented on #140
lol

[2022-03-04 19:28] Branchenprimus commented on #140
LOL, thats hilarious. How about asking the magic shell? https://deconimus.github.io/magic-conch-shell/#

[2022-03-04 22:49] chapgrif opened #375 "ipad air 2020 aspect ratio"
when creating a 23:16 dummy and setting sidecar to mirror it, when optimized for the 23:16 dummy the aspect ratio is off on the ipad. Black bars on top and bottom, and scaling is small, even when setting 23:16 dummy to the lowest resolution. From playing around with it, it seems the ipad isn't recognizing the incoming aspect ratio as correct/native, so it's throwing off. System information says si

[2022-03-05 04:42] morganholly commented on #161
Would this allow different scaling for the PIP window? I'm currently using a non-integer scaling on my 4k external monitor to get a similar size menubar and ui to my internal display, but for pixel perfect apps like aseprite and reaktor it's a little annoying. Being able to run them at native scale, or maybe even at half resolution nearest-neighbor upscaled, would be really nice. I just found this

[2022-03-05 12:06] waydabber commented on #374
Hi, macOS initially had some half-baked support for resolution independence (AppleDisplayScaleFactor) much like Windows does today. When Apple introduced retina displays, they ditched thisfor the sake of a fixed 2x resolution rendering. Current macOS versions either render the display at 1x or 2x, anything in between is a bitmap based scaling of the 2x resolution - these will never be as sharp as

[2022-03-05 12:06] #374 closed, assigned to nobody

[2022-03-05 12:18] waydabber commented on #375
Hey @chapgrif - you are right. I don't have an iPad Air 2020, but its resolution is 2360x1640 according to the specs so the aspect ratio in BetterDummy is clearly wrong there. I must have misread the specs there when did that, sorry. I'll fix this in the next version. Please use the `iPad Pro 11"` aspect ratio meanwhile as that should be a much better fit (its aspect ratio is almost the same as th

[2022-03-05 12:24] waydabber commented on #161
Yes, since you can size the PIP window to whatever size you want and you can have whatever resolution you want for the dummy, the PIP window scaling can (and most probably will) be different than your main desktop's. However it is rather difficult to achieve pixel perfect scaling inside a PIP window, as even if you achieve it, the window itself resides on a scaled desktop which is inherently somew

[2022-03-05 15:25] waydabber commented on #367
<img width="842" alt="Screen Shot 2022-03-05 at 16 24 30" src="https://user-images.githubusercontent.com/37590873/156889689-e9be691e-3395-4cc1-9764-a01737dbb359.png">

[2022-03-05 16:08] waydabber opened #378 "Mirroring menu should distinguish if a display is configured as mirror target or source"
Mirroring menu should make it obvious when a display is not a mirror target of a dummy but a mirror source for the given dummy.

Related to https://github.com/waydabber/BetterDummy/issues/357.

[2022-03-05 16:08] waydabber commented on #378
<img width="595" alt="Screen Shot 2022-03-05 at 17 06 21" src="https://user-images.githubusercontent.com/37590873/156891216-1607710e-b8a2-49d3-873a-c1bc5cfed525.png">

[2022-03-05 16:56] chapgrif commented on #375
No worries, it was confusing me too because online the iPad Air 2020 is labeled as a “23:16” aspect ration, when in reality according to actual resolution it’s a little different. I’ll test it out in the next version, thanks!

Also another question for you if you know, on Monterey when using sidecar I have no resolution or scaling options in the system display settings menu for the sidecar screen

[2022-03-05 17:17] waydabber opened #379 "Add mirroring menu for real displays"
To help fixing/configuring mirroring issues, the mirroring menu should be available for real displays as well.

Related to https://github.com/waydabber/BetterDummy/issues/378 and https://github.com/waydabber/BetterDummy/issues/357

[2022-03-05 17:18] waydabber commented on #379
<img width="529" alt="Screen Shot 2022-03-05 at 18 18 00" src="https://user-images.githubusercontent.com/37590873/156893454-ddb840ee-4c46-44de-9b2c-91ee854168f2.png">

[2022-03-05 17:20] waydabber commented on #375
No, sidecar has only two options, 1x or 2x (for HiDPI) resolution of the physical iPad display size. Even these are not exposed by default, the 1x resolution can only be accessed in the Display panel when you do mirroring.

[2022-03-05 17:23] chapgrif commented on #375
Got it, I do see those two options on the mirrored screen when mirroring to sidecar. What a miss by apple!

[2022-03-05 17:26] waydabber opened #380 "Add option to set a display or dummy as main display + show status in the menu"
Showing main/extended status and giving the ability to set it helps users to fix configuration issues without visiting Displays under System Preferences

[2022-03-05 18:00] waydabber commented on #159
<img width="467" alt="Screen Shot 2022-03-05 at 19 00 03" src="https://user-images.githubusercontent.com/37590873/156894909-e7f8bac6-6af1-43f5-aa94-8a1f1495d637.png">

<img width="331" alt="Screen Shot 2022-03-05 at 19 20 50" src="https://user-images.githubusercontent.com/37590873/156895537-faf1cb4a-33eb-46c3-b9ae-7a57b5e9e828.png">

[2022-03-05 18:40] waydabber commented on #159
Note: From now on third party apps can detect BetterDummy dummies by checking for `kCGDisplayIsVirtualDevice` and `CGDisplayVendorNumber` - checking name for the string `Dummy` will no longer be a reliable indicator.

[2022-03-05 22:36] morganholly commented on #161
is the PIP composited into the dummy or on top of the dummy at the resolution of the output monitor?

[2022-03-06 02:18] yihuanlin opened #381 "Can I set a default configuration for Dummy?"
I use an external 4k display with my MBP m1 Pro. The only setting that works for me is to mirror an around 981x1744@60Hz HiDPi Dummy to my display set at 4k 60Hz. When I log in macOS (or Dummy) will set both of them to 2K HiDPi which appears stretched and blurry. I wrote an AppleScript to help me reset it but it have to delay at the line "click menu bar item 1 of menu bar 1" for a second, as the c

[2022-03-06 03:09] yihuanlin commented on #381
I replaced "click menu bar item 1 of menu bar 1" with clicking the coordinate of the button. Now scripting is much faster.		```
set x to value of attribute "AXPosition" of menu bar item 1 of menu bar 1 as list
		do shell script "opt/homebrew/bin/cliclick c:" & item 1 of x & "," & item 2 of x
[code]

[2022-03-06 07:52] waydabber commented on #161
The PIP is composited as a part of the desktop (it is a window with a view surface that contains the scaled copy of the dummy screen), it does not float above the composited desktop. The framebuffer contains the rendered desktop and that is scaled to the physical output (if scaling is needed - when the physical resolution is different from the framebuffer resolution). There is no mechanism in macO

[2022-03-06 07:55] morganholly commented on #161
i see. does betterdummy do the scaling or does macos?

[2022-03-06 07:57] waydabber commented on #381
Hmm. MacOS should remember the last set dummy resolution. If I understand correctly this somehow does not happen with your setup. Is the problem related to using a portrait resolution?

I could add an option "Force set last used resolution upon connect" as a dummy option if this is helpful on some configs.

[2022-03-06 07:58] morganholly commented on #161
because if betterdummy did then scaling that to a framebuffer with the output resolution, then compositing in another virtual display i think could do pixel perfect scaling of one/some windows. however i'm not sure if that would affect performance

[2022-03-06 08:05] waydabber commented on #161
I think you should just see the end result and determine if it is acceptable or not - if you have a 4K display for example, set the desktop to 2560x1440 HiDPI (this will be a scaled retina resolution), create a dummy at 1920x1080 HiDPI resolution and then create a PIP window on your 2560x1440 desktop of the dummy and set it to full screen (this will result in an 1920x1080 HiDPI screen which should

[2022-03-06 08:35] morganholly commented on #161
i will try to remember to install and play around with betterdummy tomorrow

[2022-03-06 12:24] yihuanlin commented on #381
Hello there. Thank you for your reply. I am indeed using portrait mode but I think my issue can also be seen in landscape view. It would be very helpful if there is the option to set a resolution upon reconnecting. I also suggest adding the option to set/remember to alignment of multiple screen if possible. Thank you.

[2022-03-06 13:09] waydabber commented on #381
Hi @yihuanlin - normally both alignment and last resolutions are saved by macOS for each combination of displays. If they aren't saved then something is wrong there, you might have to reset the display configuration maybe?

[2022-03-06 13:59] yihuanlin commented on #381
Yeah. Is weird that adjusting resolution in System Preferences does not work for me. Both Dummy and my external display are "1197x2128 HiDPI" in System Preferences. But I set Dummy to 981x1744 HiDPI and my mirror display to 4k standard.

[2022-03-06 14:09] yihuanlin commented on #381
I am thinking of replacing plist file to restore settings. I found com.apple.windowserver.displays.plist in /Library/Preferences, which looks like the profile for display preferences. But I do not which process to killall after replacing that profile.

[2022-03-06 17:51] waydabber commented on #381
Hi @yihuanlin

You can delete this file and also the one under your user's Library/Prefernces/ByHosts folder and restart the Mac. This should reset your display configuration and maybe force macOS to properly store configurations again.

If you want to restore or edit BetterDummy's preferences, look at `me.waydabber.BetterDummy` under your Library/Preferences folder.

[2022-03-06 17:54] waydabber opened #382 "Ability to easily create and switch display layout protection presets"
MacOS stores the last saved layout for a given combination of active displays. This is great but sometimes it is annoying. Would not it be great to be able to save a specific display layout (display location, main/extended status for displays and mirroring) configuration and restore it as needed?

The function should be intelligent - if one or more of the displays are missing or not connected, the

[2022-03-06 17:55] waydabber commented on #381
I'll convert this one into a discussion, but I created a new enhancement which I definetly plan to implement as this would be a great feature.

https://github.com/waydabber/BetterDummy/issues/382

[2022-03-06 17:56] waydabber commented on #382
Also, layouts could be set as preferred - so if a new display is connected or there is some change or during app startup BetterDummy would restore the preferred configuration - connecting a new display would not totally mess up the desktop layout anymore.

[2022-03-06 17:57] waydabber commented on #380
I added this one both for dummies and real displays, it is much easier to change main display now.

[2022-03-06 17:58] waydabber commented on #380
<img width="527" alt="Screen Shot 2022-03-06 at 18 57 59" src="https://user-images.githubusercontent.com/37590873/156935655-35007f40-ca2d-4bf9-b8b4-445b46d1bc4d.png">

[2022-03-06 18:00] waydabber opened #383 "Add more info about dummies and displays + configuration menu option for displays"
The app should give more detailed information about displays:

- Display type (dummy, internal, external, virtual)
- Mirroring status (to, multiple to, from)
- Main or extended
- Serial number
- Identifier

<img width="501" alt="Screen Shot 2022-03-06 at 19 00 19" src="https://user-images.githubusercontent.com/37590873/156935740-29bfdaf1-c0b1-4d19-999e-ac90535b9e4a.png">

[2022-03-06 18:02] #381 closed, assigned to nobody

[2022-03-06 18:10] waydabber opened #385 "Assist moving displays around"
There should be a feature to simplify moving displays around - the user could define where he wants to move a screen relative to an other screen - up, down, left, right and also specify the alignment relative to the other screen (vertically/horizontally centered, snap to top/bottom, left/right or touch at corner, depending on orientation).

This should greatly simplify setting up a desired layout.

[2022-03-06 21:30] waydabber commented on #327
Thanks for the response regarding this!

[2022-03-06 21:30] #327 closed, assigned to nobody

[2022-03-07 04:25] shailabhr opened #386 "Blurred text on Acer G245HQL extended display"
Hi,
I am using the M1 MacBook Pro and have the Acer G245HQL monitor as an extended display. The BetterDummy does seem to improve the quality which is immediately noticeable on the wallpaper. However, the text clarity (MS word, excel) is still not as good. It is a bit blurry I would say. I am actually using the Apple's USB-C to vgi dongle to connect the display. Do you think it could improve if I u

[2022-03-07 09:26] waydabber commented on #386
Hi, word clarity will not be great on a Full HD display as macOS does not use subpixel rendering in any form (unlike Windows). Changing the cable will not help, so I do not recommend changing it for this reason. Hope this helps!

[2022-03-07 09:26] #386 closed, assigned to nobody

[2022-03-07 12:58] waydabber opened #390 "Stream only a part of the desktop to an other screen (cropping)"
It might be useful to be able to stream a part of the screen to an other display or dummy.

The idea is somewhat related to #197 and #200.

See this discussion for the original request: https://github.com/waydabber/BetterDummy/discussions/389

[2022-03-07 15:44] waydabber commented on #261
I finally managed to get hold of a setup that produces this issue (in this case it mildly affects some bluish colors). I did some additional tweaks in the [beta6](https://github.com/waydabber/BetterDummy/releases?q=beta&expanded=true), I am not sure these actually help, but on this particular setup the latest changes seem to make the problem go away. It might only be this setup or something else m

[2022-03-07 18:12] Foxhoundn commented on #261
I installed BetterDummy today (it's amazing btw, you should be working for Apple) and I got the flicker after waking up my mini after some hours - just disconnected & connected the dummy again and the flicker is gone.

[2022-03-07 18:18] waydabber commented on #261
Hi @Foxhoundn - which version did you install? the stable or the latest beta?

[2022-03-07 18:21] Foxhoundn commented on #261
Hi! The beta.

[2022-03-07 18:24] waydabber commented on #261
All right. Thanks for the info! Changes in beta6 do not solve the flickering then. 😿

[2022-03-09 12:47] 175562784 commented on #144
Can we get a shortcut key to turn BetterDummy ON or OFF, turn it off to switch space then turn it on.

[2022-03-09 14:03] waydabber commented on #144
Yes, I plan to add keyboard shortcut support #11. However, turning BetterDummy off will remove the virtual screen as well and cause desktops/spaces to be rearranged among displays, so I don't think it's a good solution. BetterDummy is not doing actively doing anything that prevents switching spaces on extended mirror sets, it is just a general macOS bug.

A solution might be to add custom keyboard

[2022-03-09 15:52] tangruilover commented on #261
1. cleared all the color profiles in /Library/ColorSync/Profiles/Displays
2. set the physical monitor's color profile to its custom one, that is, select your monitor's name
3. leave Dummy 16:9 as is
4. restart your Mac

[2022-03-09 18:36] waydabber commented on #261
Hi @tangruilover - what is your experience, after you set things back do default with the above procedure, does it flicker for you or not? Thanks!

[2022-03-09 19:33] waydabber opened #395 "Beta versions should always receive beta updates"
Beta versions should receive beta updates no matter what the `Receive beta updates` setting is, until the next non-beta release when these clients should automatically opt-out of betas.

[2022-03-09 19:35] waydabber commented on #395
<img width="842" alt="Screen Shot 2022-03-09 at 20 34 48" src="https://user-images.githubusercontent.com/37590873/157518353-e37e2865-273c-423a-8394-af1884d08eb2.png">

[2022-03-10 01:16] tangruilover commented on #261
On Tuesday, I adjusted the color profile of the physical monitor, and the flickering occurred. Yesterday, after doing the above method, there is no flickering.

[2022-03-10 04:14] cheynewallace commented on #261
^ Can confirm I tried the above solution, it has not resolved the issue for me.   It came back after the machine went to sleep and re-woke.

[2022-03-11 14:50] waydabber opened #396 "Option to keep source aspect ratio for full screen streaming"
Option to set whether full screen stream target should keep the source screen's aspect ratio (much like how mirroring works) or stretch to fill the target screen (this is how full screen streaming worked before). The former should be the default.

[2022-03-11 15:10] waydabber commented on #396
<img width="459" alt="Screen Shot 2022-03-11 at 16 10 43" src="https://user-images.githubusercontent.com/37590873/157894240-93ef129e-3e06-4962-a95c-d28b588cd7b4.png">

[2022-03-11 15:14] waydabber commented on #196
This is now working.

[2022-03-11 15:41] waydabber commented on #196
<img width="508" alt="Screen Shot 2022-03-11 at 16 41 45" src="https://user-images.githubusercontent.com/37590873/157899665-74a94f27-7777-46f2-9240-9aa67c59aa36.png">

[2022-03-11 21:24] waydabber opened #397 "Real display rotation"
Add display rotation option for real displays

[2022-03-12 15:47] yuzhanglong commented on #142
I have the same problem，could you have solution？

[2022-03-12 16:12] waydabber commented on #142
I still don't have an MBP so I am not sure how things exactly work out, but you can see what happens if you stream a dummy (using the v1.1.0-beta version) to the internal display instead of mirroring it. What will happens to the notch?

[2022-03-12 16:32] yuzhanglong commented on #142
It works, but have some problem, The display content seems vague：

![image](https://user-images.githubusercontent.com/56540811/158026215-f10eb7bd-0ed0-41f8-954a-5d561cc01af9.png)

 when I use "native", it works well(but the words are too small 😭😭):
![image](https://user-images.githubusercontent.com/56540811/158026268-a26329c4-da7b-422f-9384-8886bf525537.png)

[2022-03-12 17:26] waydabber commented on #142
I am not sure what vague means. :) You should set the dummy to the desired HiDPI resolution (not Standard as that will result in a low-rez resolution) and the stream target display (which is the internal display of the MBP) to its Default or Native resolution (but you don't have to change it manually, BetterDummy tries to take care of it during full screen streaming when this is not disabled by by

[2022-03-12 17:27] waydabber commented on #142
But I think streaming is not happening for you somehow, things might not be set up properly. You should stream the dummy to the internal display, not the other way around.

[2022-03-12 17:38] waydabber opened #399 "Prevent situation when display A is streamed to B which is streamed back to A"
A stream target display should not be allowed to be a stream source to prevent circularity and then chaos.

[2022-03-12 18:42] waydabber opened #400 "Various full screen streaming and PIP issues"
Various issues to be fixed:

- [x] Handle source and target screen resolution changes
- [x] Handle target display moving around
- [x] Fix global display coordinate space not refreshing on resolution change

[2022-03-12 19:03] waydabber opened #401 "Option to show settings for active display only"
There should be an option to show settings for active display only (that has the menu bar). All other displays should be located in an "Other displays" submenu. This should help reduce clutter in the app menu.

[2022-03-13 04:54] wenyurush opened #402 "Localization support"
Whether to consider multilingual support ,such as Chinese.

[2022-03-13 08:42] waydabber commented on #402
When functionality is a bit more settled (probably after v1.1.0), I might publish language translation files and a translator's guide. I understand the value of localization (I am not a native English speaker myself).

[2022-03-13 10:48] waydabber opened #405 "Add a single option under display to fully set up and activate a dummy suited for the display"
There should be an easy way to add and set-up a dummy that fits a given display:

- Function to be under the Display's Configuration menu
- A dummy of the right aspect ratio should be created
- Dummy name should reflect that it belongs to a certain display (renameable later)
- Dummy should be auto-associated with the display
- Mirroring or streaming should be automatically turned on

[2022-03-13 13:01] wenyurush commented on #402
Well, let's look forward to a better version together. I am also willing to contribute my share if needed.

[2022-03-13 13:01] #402 closed, assigned to nobody

[2022-03-13 16:07] waydabber commented on #337
Custom dummy resolutions are being implemented under this issue: https://github.com/waydabber/BetterDummy/issues/84

[2022-03-13 16:07] #337 closed, assigned to nobody

[2022-03-13 16:17] waydabber commented on #84
<img width="576" alt="Screen Shot 2022-03-13 at 17 15 54" src="https://user-images.githubusercontent.com/37590873/158068847-70d4596f-8a81-4cf2-8a36-f1ee88258b44.png">

<img width="307" alt="Screen Shot 2022-03-13 at 18 15 36" src="https://user-images.githubusercontent.com/37590873/158071173-cbb8dafc-6297-4f29-b507-2a09f208f31d.png">

[2022-03-13 20:11] waydabber commented on #405
<img width="563" alt="Screen Shot 2022-03-13 at 21 10 50" src="https://user-images.githubusercontent.com/37590873/158077242-47a490c3-29d6-412b-bf90-8432c8c0997d.png">

<img width="305" alt="Screen Shot 2022-03-13 at 21 11 42" src="https://user-images.githubusercontent.com/37590873/158077268-f1cab0e7-9a85-4221-954a-52d0fcc5fa02.png">

<img width="299" alt="Screen Shot 2022-03-13 at 21 10 56" src="h

[2022-03-14 16:45] daslicht commented on #261
I never used Standby on my macMini M1, today i tried it.
After sleep the display is bropken even without using better dymmy :
![](https://i.imgur.com/DOktdQh.jpg)

[2022-03-15 09:04] waydabber commented on #163
Hey all, @alin23 took the challenge and figured out a way on how to hack some Apple APIs and make XDR screens go bright. I advise you to check out his solution and help testing here: https://github.com/alin23/Lunar/issues/417#issuecomment-1067694345.

I might still be working on this but still don't have a Mac with an XDR display while he has + he put a lot of effort into figuring this out. It's o

[2022-03-15 09:04] #163 closed

[2022-03-15 10:55] waydabber commented on #159
MonitorControl was updated to reflect this change, upcoming versions will be compatible with renamed dummies - https://github.com/MonitorControl/MonitorControl/pull/975

[2022-03-15 21:01] waydabber commented on #385
<img width="555" alt="Screen Shot 2022-03-15 at 21 59 39" src="https://user-images.githubusercontent.com/37590873/158471705-87a94f8b-f15d-4212-80e2-7ca1699eac0f.png">

If things get messy this might help fixing stuff without opening System Preferences / Displays. Feature might need some polish though.

[2022-03-16 04:34] z1mpleee opened #406 "no display in streaming mode"
Why no display in streaming mode, can only see the mouse and dock

[2022-03-16 09:56] phzeller commented on #261
I'm also experiencing this issue since I've upgraded to a newer MacBook. The MacBook is connected to two Dell P2418D monitors. I'm currently using BetterDummy 1.0.13 Build 1205.

Interestingly, the flickering consistently only appears on one of the two monitors. The affected monitor's dummy is set as the main monitor.

@waydabber please let me know if you need any further details

[2022-03-16 13:03] waydabber commented on #261
Hi @daslicht - that's a macOS issue I am afraid. Sometimes things don't work out after sleep even on the latest and greatest computers (especially if tricky peripherials are involved) - I'd get worried only if this is a standard thing. :)

Hey @phzeller - you should try the v1.1.0-beta as well. But to be honest, I am still unsure what causes the flickering, except that it's a macOS bug, the OS app

[2022-03-16 17:03] uhthomas opened #407 "BetterDummy v1.1.0-beta crash on Intel"
The application just won't start at all. The current stable version does work, however.

[BetterDummy-2022-03-16-165754.ips.zip](https://github.com/waydabber/BetterDummy/files/8266672/BetterDummy-2022-03-16-165754.ips.zip)

[2022-03-16 18:11] waydabber commented on #407
Hey @uhthomas , are you on Intel? We just figured out a horrible bug (see the Discord channel) that might affect Intel builds on Monterey and causes an instant crash if have a dummy (which is of course the purpose of the app lol)

[2022-03-16 18:21] uhthomas commented on #407
Guilty as charged 😄

Look forward to the bug fix! :) Just got everything I need working with the stable version, so no rush.

[2022-03-16 18:26] waydabber commented on #407
The issue seems to be that Intel does not report virtual displays as such (at least on 12.3) and BetterDummy relies on this even for detecting its own virtual dispalys. This specific detection issue makes the normal resolution menu crash. A quick fix is to change the following setting to this. But you can do this only if you remove all dummies first (or reset the app).

<img width="842" alt="Scree

[2022-03-16 18:30] uhthomas commented on #407
Unfortunately the suggested work around doesn't help. The app just does not start even from a fresh install (no dummies, no existing config) and so it's not possible to change that option.

Thanks for the detailed explanation though, really interesting to learn about.

[2022-03-16 18:35] waydabber commented on #407
Well, the configuration perseveres if you uninstall the app. You need to issue a `defaults delete me.waydabber.BetterDummy` in Terminal.

[2022-03-16 18:48] waydabber commented on #406
Hey, do you have only a single display? If so, then it seems like the streamed display is not set to main. You can change that in v1.1.0-beta7 by selecting the Dummy, and choosing `Set as Main Display` as seen below:

<img width="494" alt="Screen Shot 2022-03-16 at 19 48 17" src="https://user-images.githubusercontent.com/37590873/158664863-dd1f1a32-4adc-4594-93b5-aafbee210eeb.png">

[2022-03-16 18:49] uhthomas commented on #407
I'm quite certain I tried that already, but I guess I can try again?

Is there anyway to backup the config? I spent a bit of time getting it right, so I'm reluctant to lose all the work I've done.

[2022-03-16 18:49] waydabber commented on #406
(btw betterdummy should realize that you are streaming on a single display setup and should set the dummy as main, don't know why that didn't work - are you on M1 or Intel?)

[2022-03-16 18:50] waydabber commented on #407
Ohh, I see. Well, I recommend waiting a bit, I'll link here a new build you can try to see if it works better.

[2022-03-16 18:51] uhthomas commented on #407
I just removed the app from `/Applications`, ran `defaults delete me.waydabber.BetterDummy` and then moved `v1.1.0-beta7` to `/Applications`. Fails to launch, instant crash. Hope this is helpful.

[2022-03-16 18:53] waydabber commented on #407
Yes. Do you have maybe any display connected that can be regarded as a virtual display (like Sidecar, DisplayLink, AirPlay) etc? Thank you!

[2022-03-16 18:59] uhthomas commented on #407
Not that I'm aware of. The only thing which could cause weirdness is some random thing I'm forced to use called [DisplayLink](https://www.synaptics.com/products/displaylink-graphics/downloads/macos). I'll see if killing it helps.

[2022-03-16 19:13] waydabber commented on #407
yes, DisplayLink is a virtual display.

Can you give a try to this version?

[LINK REMOVED]

Thank you!

[2022-03-16 19:19] uhthomas commented on #407
The new version seems to be a little better -- it launches after the configuration is reset. Thanks!

There are some problems though:
- Another crash when attempting to setup mirroring: [BetterDummy-2022-03-16-191648.ips.zip](https://github.com/waydabber/BetterDummy/files/8269275/BetterDummy-2022-03-16-191648.ips.zip)
- Display association does not work. The serial numbers are unique, and do not c

[2022-03-16 19:21] waydabber commented on #407
For the second issue, you'll have to enable this option. This is also related to the virtual display identification issue on Intel. Btw, you are running 12.3, right?

<img width="842" alt="Screen Shot 2022-03-16 at 20 20 20" src="https://user-images.githubusercontent.com/37590873/158671606-d369ceeb-28fc-47fd-a6d5-95eb5b20a6b4.png">

[2022-03-16 19:23] uhthomas commented on #407
Unfortunately I've already tried with the option both enabled and disabled.

Yep, latest update.

[code]

[2022-03-16 19:27] waydabber commented on #407
Yes, the problem seems to plague Intel with the latest Monterey version. I'll think through how to remedy this properly. Thanks for your patience!

[2022-03-16 19:30] uhthomas commented on #407
Frustratingly, this seems like a DisplayLink thing I think. The monitors _refuse_ to mirror dummies. Enabling "Enforce dummy as main" leads to a loop of BetterDummy and and DisplayLink fighting over who's mirroring who in the form of the displays flashing. Heh. Not really sure what to do about this, and not really sure this is BetterDummy's problem. Ugh.

[2022-03-16 19:30] waydabber commented on #407
_for more info about the issue:

https://ptb.discord.com/channels/903276571773771796/903276571773771799/953653912135663656_

[2022-03-16 19:33] waydabber commented on #407
Yeah, DisplayLink complicates things and some things have clearly changed in 12.3 which might cause issues. I'll try to make things work as much as I can though. The app should not crash that's for sure. :)

[2022-03-16 19:38] uhthomas commented on #407
Thanks for all the help! :) Really appreciate it

[2022-03-16 19:45] uhthomas commented on #407
Also, not sure if this is related to BetterDummy, but I found that "Swipe between full-screen apps" didn't work when using BetterDummy. Have you encountered this before? To clarify, it would work on the main display (the MacBook display), but not on either of the external monitors. This does work when not using BetterDummy though.

<img width="331" alt="Screenshot 2022-03-16 at 19 44 13" src="http

[2022-03-16 19:47] waydabber commented on #407
I did analyze the crashlogs. The second crash log seems to be a different issue - it is related to a mirroring configuration problem while the actual crash happened outside of BetterDummy at the system level it seems.

The first crash is the same issue that was detailed in the Discord discussion linked above.

About the full screen app issues see this one: https://github.com/waydabber/BetterDummy/

[2022-03-16 22:14] waydabber commented on #407
An updated version was released, hopefully that fixes some of the issues.

[2022-03-16 22:15] waydabber commented on #406
I'll move this over to discussions as others might have a similar issue.

[2022-03-16 22:15] #406 closed, assigned to nobody

[2022-03-17 04:02] AstroQore opened #409 "Support for 21:9 displays"
I have a 3440*1440 21:9 monitor, I can't find the corresponding virtual monitor in BetterDummy, is it possible to enable hidpi for 21:9 monitor

[2022-03-17 06:26] waydabber commented on #409
H @AQ-Official - your display is actually 21.5:9 - choose that setting.

You can also download the v1.1.0 beta, that will show which dummy matches your display or allows you to set up a dummy that matches your display. It also allows custom aspect ratios.

[2022-03-17 10:04] waydabber opened #410 "Use UUID as permanent preferences identifier (better support M1 Pro/Max/Ultra multi-display configs)"
Relying on CGDirectDisplayID or display metrics (like serial number) is not sustainable in light of difficulties with identifying virtual displays on Intel and the way M1 Pro/Max machines vary CGDirectDisplayID numbers. It is best to use UUID from now on (CGDisplayCreateUUIDFromDisplayID)

This will require associate displays again and breaks compatibility with some stored settings from earlier be

[2022-03-17 22:08] ghost opened #411 "Gamma changes when switching monitor inputs"
Using the beta.

I have an LG 5K2K monitor and I'm switching between a M1 mini (DisplayPort) and a MacBook Pro M1 Max (Thunderbolt) by switching inputs on the monitor. Both are running BetterDummy.  When switching to the mini, the gamma of the display appears to change dramatically. It doesn't seem to matter what I have set for the color profile - Dummy or a native one (I generally use DCI-P3 sinc

[2022-03-18 05:56] terabyte128 opened #412 "Incorrect aspect ratio on a portable monitor"
I've got [this monitor](https://www.amazon.com/gp/product/B09BD1Z42M/ref=ppx_yo_dt_b_search_asin_title?ie=UTF8&psc=1) and have successfully used it with BetterDummy and my Intel MacBook Pro in the past. The steps I used to configure it are:

1. Create new dummy > 16:10
2. Set up display as mirror for dummy
3. From the app menu, set preferred resolution (in my case, 1440x900)

On the Intel Mac this

[2022-03-18 10:14] waydabber commented on #411
Hi @KiwiInDC - BetterDummy does not change the gamma curve of the display. Are you using some other app maybe to control the display brightness, like MonitorControl which uses gamma control by default? If so, can you try quitting that app and see if the issue persists? Please let me know your findings! Thank you!

[2022-03-18 10:23] waydabber commented on #412
Hi @terabyte128,

the problem might be that the OS erroneously identifies the native display mode of the display (this is a common occurence with portable displays as these usually contain a chipset from the same OEM manufacturer which is known to have this problem). This incorrect native mode is used by the OS during mirroring. If this is the issue, then it is unrelated to BetterDummy.

You can c

[2022-03-18 11:02] phzeller commented on #261
Hey @waydabber - just to keep you updated: unfortunately, v1.1.0-beta does not fix the issue. As you point out, it is most likely a macOS bug. When pressing `^⌘Q`, the flickering immediately stops and I can use the display without issues. As a workaround, that's fine for me.

[2022-03-18 16:07] terabyte128 commented on #412
Hi @waydabber,

Thank you for the quick reply! It looks like **checking** the option to not force native mode, then enabling mirroring, did the trick. However, when I restart the app (or unplug the monitor) I need to go through the configuration steps again. Is there a way to automatically set up this association upon startup?

[2022-03-18 16:20] waydabber commented on #412
Hmm. you enabled mirroring or streaming? :)

You can auto-activate streaming by using this rather obscure setting here:

<img width="535" alt="Screen Shot 2022-03-18 at 17 19 26" src="https://user-images.githubusercontent.com/37590873/159041827-de816928-f761-4a3e-9248-f60c4a73e208.png">

But first you have to start streaming and associate the dummy to the display.

[2022-03-18 16:22] #409 closed, assigned to nobody

[2022-03-18 17:43] terabyte128 commented on #412
Aha! I didn’t see the auto-start setting. With that enabled, it works :)

Sam
On Mar 18, 2022, 9:20 AM -0700, Istvan Toth ***@***.***>, wrote:

[2022-03-18 21:17] #412 closed, assigned to nobody

[2022-03-19 13:22] tibbus commented on #411
For me what worked was to set the same color profile to all the Dummies and all Monitors, I've set the sRGB IEC61966-2.1 for all.

[2022-03-19 13:40] ghost commented on #411
Sorry, should have said "looks like it changed gamma" meaning the visual appearance is the same.  Not using anything else to control the monitor. Interestingly I have a MacBook Pro M1 Max I use with the same monitor (LG 40WP95C) and it shows somewhat similar effects i.e. visual changes that look like a change to the tone curve, but the other direction. I have both the dummy and the real display se

[2022-03-19 15:13] tibbus commented on #261
For me what worked was to set the same color profile to all the Dummies and all Monitors, I've set the sRGB IEC61966-2.1 for all.

[2022-03-19 15:15] waydabber commented on #411
Thank you all for the responses!

Yes, there are colorsync problems when virtual displays are mirrored. This is I think somewhat similar in nature to the [flickering issue](https://github.com/waydabber/BetterDummy/issues/261) some others are experiencing after sleep (that seems to be a variant of the problem - the OS alternatively alters colors frame-by-frame when there is on-screen activity). It

[2022-03-19 15:15] #411 closed, assigned to nobody

[2022-03-19 15:33] #407 closed, assigned to waydabber

[2022-03-19 15:33] #400 closed, assigned to waydabber

[2022-03-19 15:48] waydabber opened #416 "Mirrored sets should be grouped in the menu"
Currently when mirroring is happening, the menu still shows the interlinked displays separately providing controls for mirror/stream target displays that are not logical to be present. The menu should present these displays sets in a grouped manner to make it more obvious what is happening, showing only the relevant options.

Grouping should be default but optional (depending on a Preferences sett

[2022-03-19 16:04] waydabber opened #417 "Differential display reconfiguration"
Display reconfiguration should be differential - upon change existing display object should be kept as much as possible.

This will allow PIP windows and full screen streaming to continue to operate and even survive changes like change in orientation or aspect ratio of the dummy.

[2022-03-19 16:07] waydabber opened #418 "Ability to redefine dummy aspect ratio"
Add option to redefine dummy aspect ratio (+ convert existing dummies to custom ones). Dummy should retain its serial number and display UUID.

[2022-03-20 16:19] DavidMali opened #419 "Random flickering starting after a while of use"
Hey,

so my setup has been working well for a while. I have an M1 Macbook air and one external monitor. I use a Dummy which I then mirror to my external screen and use the internal monitor as an extended screen.
Now, this setup has been stable, even through sleep. I've checked all the optional sleep options. However, since yesterday I am running into this weird issue where towards the afternoon my

[2022-03-20 18:01] waydabber commented on #419
Hmm. If you quit BetterDummy does the flickering stop instantly?

[2022-03-20 18:04] DavidMali commented on #419
@waydabber Yep, it also stops when I change the resolution of my main monitor. However, this causes a weird glitch where I won't be able to access the macOS Menu bar on the monitor anymore as it'll somehow be glitched into the dummy display. and I can't see it. I'm running the latest beta build btw

[2022-03-20 18:38] waydabber commented on #419
Hmm. That is weird. The menu bar should always be shown except when the displays are arranged vertically.

Are you on Intel or M1?

[2022-03-20 18:39] DavidMali commented on #419
on M1

[2022-03-20 18:46] waydabber commented on #419
Can you post some photos using your phone about the problem whenever it happens again so I can envision it better? This might be something new and I am unsure about what to say at the moment. :)

[2022-03-20 18:59] DavidMali commented on #419
Hey sure, I'll try to get a video of it the next time it happens, it's
really weird. Thanks a lot for your time!

On Sun, Mar 20, 2022 at 7:46 PM Istvan Toth ***@***.***>
wrote:

[2022-03-21 13:07] VinyLimaZ opened #420 "Ability to navigate mesa using shortcut on dummy"
When I create the dummy and associate with my display when I navigate between mesa only the retina answers the shortcut, even my mouse been on my second monitor, when I detach from dummy display all works as expected and I can use shortcut to navigate between mesas

[2022-03-21 19:30] waydabber commented on #420
Hmm. I am not sure I know what a `mesa` is in this contect. Sorry about that!

_You surely not mean Black Mesa from Half Life? ;)_

[2022-03-21 19:33] waydabber opened #421 "Import dummies from v1.0.x and pre-v1.1.0-beta8 dummies to v1.1.0 and beyond"
The format of how dummies and displays are managed has changed. This was needed for future-proofint and planned new features (also in some rare cases dummy settings could be messed up in the past).

A mechanism is needed to import old preferences into newer versions.

[2022-03-22 12:48] VinyLimaZ commented on #420
I think that 'mesa' is a translation for another word, but I'm talking about the 'spaces', I think that a image talks more than 1k words
![image](https://user-images.githubusercontent.com/7059661/159485216-941080e1-bde2-4411-af76-0185cd34c399.png)
That's what I'm talking about, so when I try to switch between them only the mesa that are on mac screen I can navigate, the only way to be able to do t

[2022-03-22 14:24] waydabber commented on #420
Ohh, I see. I should have figured out. Unfortunately this is a known macOS bug that affects mirroring (the same happens without BetterDummy if you mirror a Sidecar screen for example). For more about this issue, see this:

https://github.com/waydabber/BetterDummy/issues/144

[2022-03-22 15:22] DavidMali commented on #419
@waydabber I managed to get a video of it this time, I'll attach it here. The burn-in in the screen was gone about 30 seconds after I finished the video, I guess it disappears more rapidly if I disconnect betterdummy. My monitor model is: LG 27GP850 UltraGear. What I am doing when it starts seems to be irrelevant but this is now the 3rd day in a row that it started in the afternoon at about the sa

[2022-03-22 16:05] waydabber commented on #419
Hey @M0mentoMemes - thanks for the video!

First, I am glad to see you are using the square styled MonitorControl sliders - I made that and I thought nobody will use it and it is for my own amusement only - and here you are using it! :)

It is entirely possible that there are multiple issues here:

- Unfortunatelly the flickering is totally invisible in the video, but it might simply be this: http

[2022-03-22 16:55] waydabber opened #422 "Properly show Variable Refersh Rate in listed resolution menu"
Variable refresh rate should be properly shown in the resolution menu.

[2022-03-22 16:56] waydabber commented on #422
<img width="447" alt="Screen Shot 2022-03-22 at 17 59 01" src="https://user-images.githubusercontent.com/37590873/159534545-f0febf2f-6b47-4596-adce-13cd493c8206.png">

[2022-03-22 17:15] waydabber opened #423 "Option to auto-switch to fixed mode when VRR mode activated for a real display"
Monterey detects Variable Refresh Rate displays and depending on configuration tends to auto-select VRR. Even when the user select a non-VRR mode, sometimes after sleep or becuase of some unrelated display reconfiguration the system restores VRR.

This is a problem for cheaper displays with less convinfing Freesync implementations with no ability turn it off on the display OSD.

A feature could be

[2022-03-22 17:30] heyitsbarish commented on #419
I have the same issue, (v1.1.0-beta8 Build 2811, also occurred in beta6) but I'm wondering if it's related to a far more annoying issue I can't seem to resolve.

Every few minutes the screen will flash to a state that occurred briefly in the past then come back to the present. For example, I'm typing and a letter or whole word disappears off screen then reappears along with any new content I typed

[2022-03-22 17:54] waydabber commented on #419
I am not sure if this is the same issue. Do you have maybe a video of this so I see how fast this process is? If it is very quick (meaning displayed frames get mangled up), it is usually a sign of source (dummy - 60Hz) and target screens have a different refresh rate that don't have a sensible common denominator. For example mirroring a 60Hz display to a 72Hz or 50Hz screen might produce something

[2022-03-22 18:00] VinyLimaZ commented on #420
Hmmmm, glad to know, so I'll report back to apple, ty for the time! Congrats for the app, it helps a lot <3

[2022-03-22 18:07] #420 closed, assigned to nobody

[2022-03-22 18:07] DavidMali commented on #419
@waydabber I do also experience the issue described by @heyitsbarish although it seems to only be related to typing text for me. When I type (no matter what program) it sometimes doesn't write the letter for a second and then replaces it, almost as if there was some automatic autocorrect happening. It's really weird

[2022-03-22 18:14] DavidMali commented on #419
Ah and thanks a lot for the reply to my issue, I'll go through your ideas tomorrow and check whether I can test them and maybe make a better video of the flickering. Weirdly it is very noticeable on darker, solid backgrounds while being barely noticeable on brighter colors on the screen. The flickering is also very quick and more intense than the flicker issue when waking the screen up from sleep.

[2022-03-22 19:22] DavidMali commented on #419
Oh and I mainly have the square style in monitor control as it's the only option available when you select "show tick marks" but I don't mind it^^

[2022-03-23 05:55] villerinne commented on #261
Just a tip for anybody dealing with the flickering: it's quite easy to use Automator to have a single button on the dock which just kills and restarts dummy, which stops the flickering for me at least. I've attached a screenshot with the steps required. Probably could do it without the 1 second sleep even but mine has that added. Automator should be included on every Mac by default, it's not anyth

[2022-03-23 07:43] daslicht commented on #261
Same here , still color flickers with 1.1.0-beta8 2811

[2022-03-23 08:03] waydabber commented on #419
All right, thanks for the feedback you all!

I recommend that we should continue all flickering stuff in this thread so things remain organized :)

#261

[2022-03-23 08:03] #419 closed, assigned to nobody

[2022-03-23 08:10] waydabber commented on #261
Hey @villerinne - so you say that restarting BetterDummy always works, but "Reconnect Dummy" does not? If so, the difference might be that reconnect is too fast and I might have to add some delay. I'd create a test version for that. Otherwise it should be identical to restarting the app.

<img width="480" alt="Screen Shot 2022-03-23 at 9 08 58" src="https://user-images.githubusercontent.com/375908

[2022-03-23 08:45] daslicht commented on #261
yeh , I wasnt even using Better Dummy, I thought you might be interested in funny looking glitches, I apologize for being offtopic :)

[2022-03-23 08:49] villerinne commented on #261
@waydabber for me both reconnect and restart solve the problem equally, it's simply easier to automate stopping and starting the entire process and it's more tedious to click the small icon on the menu bar to reconnect. Don't read anything into the delay thing, it's just something I added randomly cause I felt I should give the process a few milliseconds to actually die :) Any by "taskbar" previou

[2022-03-23 09:08] waydabber commented on #261
@villerinne - all right. Then adding a keyboard shortcut in the future to reconnect dummies (or maybe an improved version - reconnect the dummy that has the mouse cursor on it) will be helpful solving this issue. An other thing I might try is adding an option to reconnect the dummy after sleep (currently there is an option to disconnect on sleep and reconnect after wake but I think it is not worki

[2022-03-23 09:16] waydabber opened #424 "Add option to reconnect all dummies"
There is an option to reconnect an individual dummy. If there are multiple dummies, an option should be added under the "Manage Dummies" menu to reconnect all dummies.

[2022-03-23 09:18] waydabber opened #425 "Change the reconnect upon sleep/wake option to reconnect after wake only"
There is an option currently to disconnect dummies on sleep and reconnect them on wake. This does not work really well and does not seem to help with flickering issues.

The option should be changed to do both the disconnect and the reconnect after wake instead.

[2022-03-23 16:12] waydabber opened #426 "Make app menu icons optional (for more macOS like aesthetics)."
v1.1.0 has icons for some main menu options - this is not the typical way macOS apps work. This should not be the default appearance and made optional instead for a cleaner look.

[2022-03-23 16:13] waydabber commented on #426
<img width="294" alt="Screen Shot 2022-03-23 at 17 13 41" src="https://user-images.githubusercontent.com/37590873/159745582-3fee2176-92fd-43a3-9dd2-d1b838129f18.png">

[2022-03-23 19:03] waydabber opened #427 "Add some corresponding icons to display/dummy headers"
This should make things look nicer

[2022-03-23 19:05] waydabber commented on #427
Various icons added:

- Built-in display - macBook
- Built-in display  - iMac
- Virtual display (tv + mediabox icon)
- External display
- Dummy connected
- Dummy disconnected

<img width="266" alt="Screen Shot 2022-03-23 at 20 04 03" src="https://user-images.githubusercontent.com/37590873/159776471-b4822ca1-6f5f-4bb7-8785-e299b142fbd5.png">

[2022-03-23 19:30] anthonyalayo opened #428 "I can't mirror dummy display?"
Hi all,

I followed the README, and I'm not sure what is happening. I am currently using the latest beta version of 1.1.0.

I am able to configure the dummy as the main display, but as soon as I click for my monitor to be the mirror, I get a flash of that configuration and then another flash. At that point, my monitor is now the main display and the dummy is the mirror.

Could someone explain why?

[2022-03-23 19:30] RogalaPiotr opened #429 "Problem with remembering the position of the windows"
Hey, I'm very happy with the BetterDummy app.

My only problem is that when my computer starts the screensaver. It is after resuming that all application windows are arranged differently. Can this issue be fixed?

I'm using MacBook Pro M1 (2020) System Monterey latest updates and ButterDummy also the latest version - I tested also older version, but I have same issue related to app windows.

Thank

[2022-03-24 03:10] Nebulous15 opened #430 "Accidentally set the dummy as main display - help!"
While goofing around in settings I accidentally choose the dummy display as my  "main display" and it rendered my real display useless. The only way to fix the issue is to literally unplug my mac mini and plug if back in. The worse part is it doesen't matter how many times I uninstall it and then reinstall it, it KEEPS THE SAME SETTINGS. I understand this is useful for installing updates but there

[2022-03-24 06:19] waydabber commented on #430
Hi, in v1.1.0 you have the option to set any display as main from the menu (which is visible in all displays). This is available both for dummy and real displays.

<img width="525" alt="Screen Shot 2022-03-24 at 7 18 52" src="https://user-images.githubusercontent.com/37590873/159854351-9eb91578-0f81-4ca7-afde-3bb247932a31.png">

On v1.0.x you have to kill System Preferences, move the dock to the s

[2022-03-24 07:36] #428 closed, assigned to nobody

[2022-03-24 07:39] #429 closed, assigned to nobody

[2022-03-24 07:42] #430 closed, assigned to nobody

[2022-03-24 16:20] 3DCoded opened #434 "Configuring displays eats up memory (v1.1.0-beta8)"
When I am on v1.1.0-beta8, in Acvitity Monitor, it says that BetterDummy is using over 2GB RAM!
<img width="598" alt="Screen Shot 2022-03-24 at 12 18 15 PM" src="https://user-images.githubusercontent.com/69043333/159962450-d70bcdb3-329c-42cb-96dd-4b3da11500bf.png">

[2022-03-24 17:11] waydabber commented on #434
Yes, it is absoultely possible. I since rewrote a large chunk of the app again, but I'll do some profiling and before the final release I try to stop adding things and changing everything and instead focus on performance and bugs.

The app should normally consume something between 60-250MB typically depending on what is happening. In your case something went into a death spiral inside I think. :)

[2022-03-24 17:35] tautomer commented on #144
It seems
* If I first set the dummy as the main display and then mirror my external display to dummy, switching spaces works on both displays. (Is this what you mean by "main mirror sets"?)

* If I mirror first and then move the bar, this exact issue shows up.

[2022-03-24 22:02] waydabber commented on #416
<img width="512" alt="Screen Shot 2022-03-24 at 23 02 31" src="https://user-images.githubusercontent.com/37590873/160017709-a718d5ae-c8df-42a8-928a-1412365b104d.png">

[2022-03-24 22:35] 3DCoded commented on #434
Will this be fixed in the final release of v1.1.0?

[2022-03-25 02:18] 175562784 commented on #144
Yes

[2022-03-25 03:33] waydabber commented on #434
Hopefully. I have yet to reproduce the issue though. Some details about usage circumstances would be beneficial (for how long the app was running, config info, what functionality was used etc) that might shed some light on what is happening. Did this problem appear in beta8 only (if you've been using earlier builds)?

Thanks!

[2022-03-25 12:17] 3DCoded commented on #434
I was using full screen stream on a 1920x1200 dummy and the same on a 1536x960 dummy. I believe the issue happened when it first started. I don't remember having memory leaks as large as this one in the release version.

[2022-03-25 14:37] daslicht commented on #419
Interesting find, when I etup teh display this way I dont get theses artefacts on transparent parts of teh GUI:

![](https://i.imgur.com/fO5X520.png)

![](https://i.imgur.com/aPhqwm1.png)

![](https://i.imgur.com/8Kdb1Tn.png)

[2022-03-25 15:13] waydabber commented on #434
Thank you, that's a useful info, helps me figure out where to look!

Are you on M1?

[2022-03-25 15:35] 3DCoded commented on #434
Yes; I am on a MacBook Pro M1.

[2022-03-25 16:08] 3DCoded opened #435 "Add full screen window mode for streaming to prevent windows sneaking under the stream target (experimental)"
When I use BetterDummy Full Screen Stream, some of my windows are spawning on the physical screen and are immediately hidden. I use Rectangle so I can use a keyboard shortcut to move it back, but I think that BetterDummy should block windows from spawning on the physical screen during full-screen streaming.

[2022-03-25 17:10] waydabber commented on #435
Yes, I am planning to create a background process to move Windows that somehow manage to get to the stream target display (and is covered by the stream) to the stream source display. I could take the stream target screen for exclusive use but unfortunately that blocks Mission Control (which would be annoying) in macOS so that is not a viable alternative.

[2022-03-25 17:27] waydabber commented on #434
So far I could not figure out what causes memleak, I tried reproducing it using full screen stream but wasn't successful so far (but I found some bugs so it wasn't a total waste :)). If you want, I can give you a version compiled for profiling and you could maybe try to recreate the problem while running Instruments and check for memleaks (but it is a rather tedious thing). I don't know how long a

[2022-03-25 17:54] 3DCoded commented on #434
Here is a screen recording when starting BetterDummy with Activity Monitor open.

https://user-images.githubusercontent.com/69043333/160175463-53608441-7d75-4cea-9cda-e6bf0a5f7286.mov

[2022-03-25 17:55] 3DCoded commented on #434
Full-Screen Streaming auto-started a few seconds after I stopped the recording.

[2022-03-25 19:51] 3DCoded commented on #435
Ok, thank you!

[2022-03-25 20:49] waydabber commented on #434
Whoah, that is not normal at all. :)

Do you see something in the Console? For instructions, follow this but enter `BetterDummy` instead of `MonitorControl`:

https://github.com/MonitorControl/MonitorControl/discussions/851#discussioncomment-1851914

Also, can you send me the app preferences file (from your user's Library/Preferences folder - get the  `me.waydabber.BetterDummy.plist` file).

After

[2022-03-26 08:43] haren724 opened #436 "Support for high refresh rate screens"
The dummy display's refresh rate is 60Hz currently. Is that possible to add some higher figures like 75Hz, 120Hz and 144Hz? Thanks for your hard work.

[2022-03-26 09:00] waydabber commented on #436
Hey @Haren724 - this is not possible at the moment as 60Hz for virtual displays is a macOS limitation. Hopefully Apple will improve this once they introduce ProMotion support for Sidecar maybe.

see https://github.com/waydabber/BetterDummy/issues/140

[2022-03-26 09:00] #436 closed, assigned to nobody

[2022-03-26 14:30] 3DCoded commented on #434
Here is what console said during BetterDummy startup:
`(removed)`

And here is the `me.waydabber.BetterDummy.plist` file:
`(removed)`

When I deleted the plist file and manually restored my previous dummies and resolutions, the error still persists.

_(I removed the attached stuff as it contained some not too sensitive hardware IDs, but still - waydabber)_

[2022-03-26 14:51] daslicht commented on #419
OK that isnt the solution either :/ Just got this after boot:

https://www.youtube.com/watch?v=9CgKJRxfM4c

[2022-03-26 15:24] waydabber commented on #434
Hi, I transplanted your settings file to my system (rewriting the required identifiers) and I am able to reproduce the same exact issue (upon starting the up it starts to eat up RAM quickly). Now I just have to figure out why. :) Your input is incredibly useful!

[2022-03-26 15:48] waydabber opened #437 "Full Screen Streaming should ask for Screen Recording permissions before blacking out the screen..."
The screen is blacked out when full screen streaming is started but if the app has no Screen Recording permissions there is no easy way to recover from that. This situation should be addressed.

[2022-03-26 15:53] 3DCoded opened #438 "New dummy for display should default to current resolution, or allow to change default resolution via setting"
When I create a dummy for a display, it always sets to 2304x1440 resolution, which is beyond the maximum resolution of my monitor, so it is very hard to navigate to BetterDummy to lower the resolution. Will there be a feature where when creating a dummy for a display, it will default to the current resolution for that screen, or a feature in settings to change the default resolution when creating

[2022-03-26 15:54] 3DCoded opened #439 "Full screen stream freezes upon check for update"
When I am using full-screen streaming and check for an update, the entire screen freezes. Luckily I have a touch bar to hit OK out of the update dialog. Is there a fix for this?

[2022-03-26 16:11] waydabber commented on #439
I'll look into that, it's because the stream (and PIP) is currently running in the main thread which is apparently blocked by some app stuff. This is not optimal indeed.

[2022-03-26 16:17] waydabber commented on #438
I can change the resolution to match the current screen when the new Create Dummy for the Display functionality is used, but this will not be a permanent thing, only valid for that particular display configuration. Setting a default resolution is a bit more problematic for virtual displays as macOS seems to simply designate one that it feels optimal for virtual screens based on minimum and maximum

[2022-03-26 18:34] waydabber commented on #390
I just looked into this one and it is working. An UI should be added though to define boundaries. It will be implemented in a future version.

[2022-03-26 18:40] waydabber commented on #434
Ok, I fixed this, it is now somewhat better. Still goes up to a few hunder megabytes briefly though with 4 displays. Will try to optimize more in the future but as it is not a permanent thing (it goes back down quickly), I'll leave it as this for now.

[2022-03-26 18:52] waydabber opened #440 "Resolution slider's rightmost setting does not register"
Annoyingly the resolution slider's rightmost setting does not register which is apparent with real displays with low number of settings

[2022-03-26 18:55] waydabber commented on #416
<img width="842" alt="Screen Shot 2022-03-26 at 23 27 48" src="https://user-images.githubusercontent.com/37590873/160259207-bf3f620c-166a-404b-9060-caf144e3e3f5.png">

<img width="513" alt="Screen Shot 2022-03-26 at 23 34 34" src="https://user-images.githubusercontent.com/37590873/160259202-1b5436cc-ff6a-40eb-88be-e48e5cc1f824.png">

[2022-03-26 22:33] waydabber commented on #426
<img width="842" alt="Screen Shot 2022-03-26 at 23 27 48" src="https://user-images.githubusercontent.com/37590873/160259122-8e817b7e-edc0-43ff-905c-89089843dba7.png">
<img width="268" alt="Screen Shot 2022-03-26 at 23 28 08" src="https://user-images.githubusercontent.com/37590873/160259128-fdfaceac-166a-4ed6-975e-31ef17737523.png">
<img width="262" alt="Screen Shot 2022-03-26 at 23 32 47" src="htt

[2022-03-27 11:28] waydabber commented on #437
<img width="328" alt="Screen Shot 2022-03-27 at 13 28 14" src="https://user-images.githubusercontent.com/37590873/160279351-93f69052-d16f-49ae-ad52-abf57e1cd9eb.png">

[2022-03-27 13:48] #375 closed, assigned to waydabber

[2022-03-27 13:48] #434 closed, assigned to waydabber

[2022-03-27 13:48] #439 closed, assigned to nobody

[2022-03-27 13:48] #440 closed, assigned to waydabber

[2022-03-27 17:38] 3DCoded commented on #434
Thank you!

[2022-03-27 17:53] waydabber commented on #434
Did beta9 fix the issue?

[2022-03-27 18:33] waydabber opened #442 "Resolution slider text color is hard to read in dark mode in v1.1.0-beta9"
The light-gray over white looks bad in dark mode for the slider.

[2022-03-27 18:35] waydabber commented on #442
This one should be readable now:

<img width="305" alt="Screen Shot 2022-03-27 at 20 34 42" src="https://user-images.githubusercontent.com/37590873/160295601-9f5711b0-3027-4712-a043-fa3a270a046f.png">

<img width="287" alt="Screen Shot 2022-03-27 at 20 35 16" src="https://user-images.githubusercontent.com/37590873/160295614-b884a4c6-b8e5-471b-9514-2d55850f3f8b.png">

[2022-03-27 18:38] waydabber commented on #368
A quick update: Paddle integration is still on the table - I encountered some issues with the macOS SDK, hope things will be sorted out soon.

[2022-03-28 11:01] 3DCoded commented on #434
So far, yes! Thank you.

[2022-03-28 11:02] 3DCoded commented on #434
I also switched over to mirroring instead of streaming until #435 gets solved.

[2022-03-28 11:57] waydabber commented on #434
If you don't have any issues with mirroring (flickering or sleep issues) and don't need any feature that only works with streaming (for example landscape ipad, off-center screen etc)  then it is generally better to use mirroring than streaming.

[2022-03-28 13:51] d1rewolf opened #443 "After applying the update for latest beta release (v1.1.0-beta9), switching inputs causes dummy to become pixelated"
I have a number of HDMI inputs on the TV I use BetterDummy with. When I switch away from the Mac to one of these inputs and return to better dummy, I often have to reconnect the dummy to make it show up (when streaming with Full Screen Stream). However, when I do this with the latest release, the dummy restores but is pixelated (see attached screenshot). This happens even if I restart BetterDummy

[2022-03-28 15:34] waydabber commented on #443
Thanks for the report! I'll try to reproduce the issue and fix it by the next version! It would be useful if you could send me console logs from BetterDummy when you disconnect and reconnect HDMI.

btw. if you don't want the HDMI switch to cause issues, you can buy a cheap EDID emulator that reads the TV's edid signals and acts as a proxy between the mac and the TV - so the Mac thinks HDMI is alwa

[2022-03-29 09:27] daslicht commented on #419
same in beta 9, switching teh resolution of dummy and main (under system prefs) display fixed it this time

[2022-03-29 09:28] daslicht commented on #419
btw. why is that issue marked as closed ?

[2022-03-29 10:11] waydabber commented on #419
Hi @daslicht I still receive the comments here, but this is actually a duplicate of https://github.com/waydabber/BetterDummy/issues/261 so it would be better to contribute to that discussion.

[2022-03-29 10:12] waydabber commented on #419
(I clarified the labels)

[2022-03-29 10:19] daslicht commented on #419
uhh ohh I thought it was this tread , didnt knew it was the dubplicate :) thanks !

[2022-03-29 14:15] waydabber commented on #443
Hey @d1rewolf - ~~I think I identified the cause of the issue.~~ Still the console logs would be valuable.

See [this](https://github.com/waydabber/BetterDummy/discussions/445) about getting the console logs!

Update: I have no idea what the problem is, I simply cannot reproduce it even if I change some stuff manually. If I reduce the resolution of the dummy stream I get a completely different kin

[2022-03-30 02:09] ati46 opened #446 "After using BetterDummy, the M1 has a problem that the programs that wake up other desktops from sleep will appear on the first desktop"
After using BetterDummy, the M1 has a problem that the programs that wake up other desktops from sleep will appear on the first desktop。

I have a 27-inch monitor, because I can't turn on dhidp, so I use BetterDummy to mirror the virtual monitor, but it will cause the problem that all the programs on the second and third desktops will be moved to the first desktop after the screen wakes up. Can so

[2022-03-30 02:50] #446 closed, assigned to nobody

[2022-03-30 03:33] tommiyau opened #447 "No Better Dummy Display after upgrade to MacOS12.3"
I have a M1 MAC that was configured as follows: M1_>elgato dock->Thunderbolt 2 Apple Display. To get a second display I also had elgato dock->Dell 6000 dock->HDMI LG 4k Monitor and utilised a display link driver. I ran better dummy on the Lg 4k for better resolution. After upgrading to MacOS12.3 when using betterdummy the display simply goes blank. If i quit better dummy the display comes up via d

[2022-03-30 09:25] tommiyau commented on #447
some weird relationship between Use As and Optimise For. The front page is missing the detail on how to configure on 12.3 as the link is still present but the text gone. I've got it working again so closing the issue.

[2022-03-30 09:25] #447 closed, assigned to nobody

[2022-03-30 10:47] gbil opened #448 "Invert Association"
I have the following use case hence why open this issue, I couldn't find something relevant in my search

* Dummy screen connected
* Connect to external monitor and close lid

What happens
* Dummy stays connected
* Systems things they are still 2 screen connected (external + Dummy)

What I expect:
* If external monitor is XXXXX
* Disconnect Dummy

[2022-03-30 15:42] waydabber commented on #448
Hmm. Why don't you associate the dummy with the internal display if that is the only circumstance you want it to be active? :)

[2022-03-30 16:14] gbil commented on #448
That is a good point and I did that in the past and things went south when I was connecting screen with the lid closed. *but* I now tried again with the latest pro version and seems to work now so I'll close this ticket

[2022-03-30 16:14] #448 closed, assigned to nobody

[2022-03-30 16:21] waydabber commented on #448
Great, thanks for the feedback!

[2022-03-30 16:33] waydabber commented on #443
Hey @d1rewolf - since this issue seems to be sleeping and I don't seem to be able to reproduce the issue, I'll close it for now. But feel free to comment anyway and I'll reopen it as soon as I receive any new info (like the console logs which might help)! Also, I'd appreciate if you could detail your configuration. Thank you!

[2022-03-30 16:38] d1rewolf commented on #443
It's an M1. Apologies for the delay. Very busy week but I'll attempt to reproduce and the logs back to you asap. Thanks!

[2022-03-31 13:39] 3DCoded commented on #443
I had this same issue when I used full-screen streaming. I switched over to mirroring when it started glitching.

[2022-03-31 13:57] waydabber commented on #443
Thanks @d1rewolf and @smattar2020 for the input. I'd like to figure out what the problem is. Are you all on M1?

[2022-03-31 14:28] d1rewolf commented on #443
I am on an M1 @waydabber. M1 Max Pro (16 inch).

I was able to reproduce it again this morning. I simply let the update happen after being prompted (I have "Receive beta updates" enabled). After the update, I immediately had a pixelated screen when resuming streaming. I also quick BetterDummy after a bit, re-launched, and same thing. I'm sticking on v1.1.0-beta8 for now. Thanks for checking it out

[2022-03-31 15:05] waydabber commented on #443
Well the log seems ok. :) Is the problem happening on the 43S405 display, right? The update was at 10:03?

[2022-03-31 18:35] vincentardern commented on #443
I think I have this issue, but I'm not certain (It's a new to me monitor, and I'm using an HDMI cable, when I should be using displayport). Does anybody have a copy of beta8 I can try to see if it reverts to somewhat normal behaviour? I didn't save the original download... Thanks

[2022-03-31 19:22] waydabber commented on #443
[BetterDummy-v1.1.0-beta8.zip](https://github.com/waydabber/BetterDummy/files/8392539/BetterDummy-v1.1.0-beta8.zip)
[BetterDummy-v1.1.0-beta7a.zip](https://github.com/waydabber/BetterDummy/files/8392540/BetterDummy-v1.1.0-beta7a.zip)
[BetterDummy-v1.1.0-beta6.zip](https://github.com/waydabber/BetterDummy/files/8392552/BetterDummy-v1.1.0-beta6.zip)

[2022-03-31 19:23] waydabber commented on #443
Here are some older version, let me know after which one does it break. :)

[2022-03-31 21:53] d1rewolf commented on #443
@waydabber yes, the problem is happening on 43S405. I'm streaming the dummy to it.

Re: time in the logs, no, the update was done prior to capturing the logs. That 10:03 was just a restart....I attempted to restart it to see if that would fix, which it didn't ;-)

[2022-04-01 03:41] vincentardern commented on #443
My displayport cable has arrived in the post and I've switched to it. My monitor is now working perfectly, so I won't pursue this bug sorry.

[2022-04-02 10:02] waydabber opened #453 "Add move display to a corner of an other display"
The move menu should be expanded with an option to move a display to diagonally corner-touch the reference point display.

[2022-04-02 10:34] waydabber commented on #453
<img width="455" alt="Screen Shot 2022-04-02 at 12 34 02" src="https://user-images.githubusercontent.com/37590873/161379270-fcfc022f-7bd5-4353-a4ec-fe5b7bbd833f.png">

[2022-04-02 12:34] Zyeus commented on #261
I tried to set the sRGB IEC61966-2.1 for all. Then,it worked, no flickering again. (v1.1.0-beta9)

[2022-04-02 12:37] waydabber commented on #453
These new custom icons are more expressive:

<img width="525" alt="Screen Shot 2022-04-02 at 14 36 20" src="https://user-images.githubusercontent.com/37590873/161383619-0de42907-0504-4be1-9391-9312b9394d82.png">

[2022-04-02 12:39] waydabber commented on #261
Btw, in beta9 I included an option to quickly reconnect all dummies in the menu and also updated the reconnect after sleep thing. These might also help treating/preventing flickering.

[2022-04-02 12:46] Zyeus commented on #261
But……the flicker still appeared in this version，until I did the above operation.:(

[2022-04-03 22:09] waydabber commented on #368
I had some slight hiccups along the way but finally it works. :)

[2022-04-03 22:13] waydabber commented on #443
Thanks to the donations I was able to upgrade my base level MBA to a 14" MBP (still base level but it's an amazing upgrade for me). I'll try to recreate the problem on my TV, hopefully I'll figure out what is happening.

[2022-04-03 22:42] zdc-12 opened #457 "Windows don't maximize to the entirety of the screen"
After Mac Studio wakes up from sleep mode, the secondary monitor doesn't have the dock but the windows behave as if the dock was present in that screen so the windows cannot be maximized to fill up the entire screen including the bottom part. I tried doing this with the mouse dragging the window downwards but it doesn't work
![Screen Shot 2022-04-03 at 5 45 55 PM](https://user-images.githubusercon

[2022-04-04 00:45] angusturner commented on #144
I am finding that following @tautomer 's suggestion I can indeed get spaces switching to work, BUT at the cost of some weird sleep issues (related to #143 I think?). Every time my computer wakes from sleep all of my windows get rearranged, usually putting all spaces onto the external monitor. This completely breaks my workflow, to the extent that I prefer to use my old Intel Macbook.

Hope apple w

[2022-04-04 07:04] waydabber commented on #457
I don't know why this is - I think it might be some kind of macOS windowmanager issue when displays are reconfigured as BetterDummy does not manage/affect Window sizes or dock location. If you move the dock there (by moving the mouse to the bottom of the screen and keep trying to move it down further) and then move your dock back to the other screen, is the problem fixed?

[2022-04-04 17:10] tautomer commented on #144
That's really weird. For me, the arrangement not only survives sleep/week cycles, also works for multiple dummies (I connect/disconnect different dummies at home and work).

Could it be that I completely started from scratch (create new dummy, arrange displays, and organize my spaces)?

[2022-04-04 17:50] waydabber opened #458 "Native and Default resolutions are not indicated in the Resolution menu sometimes"
This usually happens until the first display configuration change.

[2022-04-05 14:19] thebisonbuilder opened #459 "The screen flashes at a high rate (Beta feedback)"
Everything is working, but the screen flashes at a super high rate whenever anything on the screen changes. It is as if it is partially re-rendering with every change to the screen.

[2022-04-05 14:48] waydabber commented on #459
Hi @cocosans - this is a known issue with virtual display mirroring. You can try streaming instead. Reconnecting the dummy also fixes the problem but it might come back after sleep. No real fix yet as this is a macOS issue when mirroring virtual displays.

https://github.com/waydabber/BetterDummy/issues/261

[2022-04-05 14:48] #459 closed, assigned to nobody

[2022-04-05 16:00] waydabber commented on #443
Hi, I was able to reproduce the issue. It seems like the stream target display's resolution sometimes reverts to the lowest possible setting in beta9 when the app is trying to set the native mode for full screen streaming. This is a bug. You can fix this by adjusting the target display resolution (using the BetterDummy resolution slider or menu) or by enabling this:

<img width="842" alt="Screen S

[2022-04-05 18:39] waydabber commented on #368
Hope this will be easy and obvious:

<img width="842" alt="Screen Shot 2022-04-05 at 20 35 21" src="https://user-images.githubusercontent.com/37590873/161826332-4e6689c3-1271-4859-8470-0cfbff32ff9e.png">
<img width="842" alt="Screen Shot 2022-04-05 at 20 34 51" src="https://user-images.githubusercontent.com/37590873/161826350-bd7889db-e3c8-42aa-aa98-52a1f6874dc7.png">
<img width="842" alt="Screen

[2022-04-06 21:44] #84 closed

[2022-04-06 21:44] #159 closed

[2022-04-06 21:44] #196 closed, assigned to waydabber

[2022-04-06 21:44] #368 closed, assigned to waydabber

[2022-04-06 21:44] #383 closed, assigned to waydabber

[2022-04-06 21:44] #385 closed, assigned to waydabber

[2022-04-06 21:44] #395 closed, assigned to waydabber

[2022-04-06 21:44] #396 closed, assigned to waydabber

[2022-04-06 21:44] #397 closed, assigned to waydabber

[2022-04-06 21:44] #405 closed, assigned to waydabber

[2022-04-06 21:44] #410 closed, assigned to waydabber

[2022-04-06 21:44] #416 closed, assigned to waydabber

[2022-04-06 21:44] #417 closed, assigned to waydabber

[2022-04-06 21:44] #418 closed, assigned to waydabber

[2022-04-06 21:44] #421 closed, assigned to waydabber

[2022-04-06 21:44] #422 closed, assigned to waydabber

[2022-04-06 21:44] #424 closed, assigned to waydabber

[2022-04-06 21:44] #425 closed, assigned to waydabber

[2022-04-06 21:44] #426 closed, assigned to waydabber

[2022-04-06 21:44] #427 closed, assigned to waydabber

[2022-04-06 21:44] #437 closed, assigned to waydabber

[2022-04-06 21:44] #442 closed, assigned to waydabber

[2022-04-06 21:44] #443 closed, assigned to waydabber

[2022-04-06 21:44] #453 closed, assigned to waydabber

[2022-04-06 21:44] #458 closed, assigned to waydabber

[2022-04-06 21:44] #87 closed

[2022-04-06 21:44] #94 closed

[2022-04-06 21:44] #161 closed

[2022-04-06 21:44] #162 closed

[2022-04-06 21:44] #174 closed

[2022-04-06 21:44] #181 closed, assigned to waydabber

[2022-04-06 21:44] #182 closed, assigned to waydabber

[2022-04-06 21:44] #183 closed, assigned to waydabber

[2022-04-06 21:44] #209 closed, assigned to waydabber

[2022-04-06 21:44] #219 closed, assigned to waydabber

[2022-04-06 21:44] #226 closed, assigned to waydabber

[2022-04-06 21:44] #231 closed, assigned to waydabber

[2022-04-06 21:44] #258 closed, assigned to waydabber

[2022-04-06 21:44] #259 closed, assigned to waydabber

[2022-04-06 21:44] #260 closed, assigned to nobody

[2022-04-06 21:44] #265 closed, assigned to waydabber

[2022-04-06 21:44] #313 closed, assigned to waydabber

[2022-04-06 21:44] #331 closed, assigned to nobody

[2022-04-06 21:44] #356 closed, assigned to waydabber

[2022-04-06 21:44] #357 closed, assigned to waydabber

[2022-04-06 21:44] #367 closed, assigned to waydabber

[2022-04-06 21:44] #369 closed, assigned to waydabber

[2022-04-06 21:44] #378 closed, assigned to waydabber

[2022-04-06 21:44] #379 closed, assigned to waydabber

[2022-04-06 21:44] #380 closed, assigned to waydabber

[2022-04-06 21:44] #2 closed

[2022-04-06 21:44] #86 closed

[2022-04-06 21:44] #93 closed

[2022-04-06 21:44] #114 closed

[2022-04-06 21:44] #155 closed

[2022-04-06 21:44] #156 closed

[2022-04-06 21:44] #158 closed

[2022-04-07 00:49] starInEcust commented on #436
what a pity！my display's refresh rate is 240Hz~

[2022-04-07 10:34] daslicht opened #461 "Better Dummy Crash Report"
[code]

[2022-04-07 11:06] waydabber commented on #461
Thank you! Can you describe when or how did this happen? I'll symbolicate it and try to figure out where did the crash occur.

[2022-04-07 14:37] waydabber opened #463 "Custom background color/image or sequence of colors/images for full screen stream letterboxing"
For a TV as Display use case with letterboxing it would be useful to have a custom color or image (or sequence of colors and images to prevent burn-in) instead of the black background. This could help create a nice ambience around the display area and reduce eye strain.

[2022-04-07 14:39] waydabber opened #464 "Slightly move around letterboxed screen when full screen streaming to prevent OLED burn-in"
OLED TVs used as displays could benefit from periodically moving around the letterboxed screen when some part of the TV's screen is used as a monitor.

[2022-04-07 19:00] Mudflapper commented on #461
We spoke earlier on Discord about this. I had a panic/restart early this morning and Thunderbolt I/I was mentioned so I thought it was related to my two OWC Thunderbay units running SoftRAID. But the SoftRAID dev (who's super helpful btw) said it was replayed to my new LG 34WK95U display sleep. Better Dummy has fixed all the other issues with this display but the sleep thing is still off because w

[2022-04-07 21:38] yihuanlin opened #466 "Add back the option to set external display resolution when mirroring Dummy?"
Dear developer,

Could you please consider adding back the option to set external display resolutions when mirroring Dummy? My monitor can't work with that settings, as discussed in #381

Thank you.

[2022-04-08 05:06] waydabber commented on #466
Hi @yihuanlin

If I understand correctly, the problem is that when you are mirroring a dummy, the dummy and display settings are combined into one in the menu like this:

<img width="297" alt="Screen Shot 2022-04-08 at 7 04 01" src="https://user-images.githubusercontent.com/37590873/162368347-10c4e440-3249-4f80-9acf-08558b11a3d0.png">

You can disable this behavior by deselecting this:

<img width

[2022-04-08 12:56] yihuanlin commented on #466
Thank you. That works!

[2022-04-08 12:56] #466 closed, assigned to nobody

[2022-04-08 13:33] Zike3Syh opened #468 "Fail to use keyboard shortcut to switch the applications in extended screen in multiple screen scene"
I use two monitors, one is 3840\*2160(auto hidpi) as main monitor and another is 1440\*2560(rotate 90 and turn to 720\*1280 after better dummy mirroed) as the extended monitor. I found that it's impossible to switch applications in the second monitor by keyboard shortcut(control + -> / <-), even if I focused in the second monitor before I enter the keyboard, instead the applications in the main mo

[2022-04-08 13:40] waydabber commented on #468
Hi @Zike3Syh - I think this is the same issue as this one: https://github.com/waydabber/BetterDummy/issues/144. The thread has some possible solutions that work for some but sadly it is a macOS issue that affects extended mirror sets in general.

[2022-04-08 13:43] Zike3Syh commented on #468
Very sorry to bother you for the same issues.

[2022-04-08 13:43] #468 closed, assigned to nobody

[2022-04-08 13:45] waydabber commented on #468
it's ok, I know this one is annoying. Some had some luck by changing the order of setting things up but I don't know how reliable a solution that is. Hope Apple will solve this one eventually, many have reported it to them.

[2022-04-08 13:52] waydabber commented on #461
Hi @Mudflapper - I can confirm that the issue is a Thunderbolt related device issue and seems to be related to power management/wake problems - BetterDummy does not seem to play any part in it. I don't think either that it's related to SoftRAID as this seems to be a hardware level issue, either with the Thunderbolt display or the Thunderbay units. I am not sure why the SoftRAID dev said it's relat

[2022-04-08 14:12] waydabber commented on #461
hi @daslicht - unfortunately I wasn't able to parse out an exact reason for the crash from the symbolicated crash log as it does not clearly point to a section of the code but only a `thunk` (this is a complier generated thing and cannot be directly tied back to a clear location in the app source code from the information contained in the log). Sorry about that. :(

I hope this crash is not a freq

[2022-04-08 14:12] #461 closed, assigned to nobody

[2022-04-08 15:54] Mudflapper commented on #461
Thanks. I got another wake-from-sleep restart today when I woke my computer from overnight napping. It's got to be the display because the screen remains black, turns on dimly, screen says no signal and wants that it's going into sleep mode, then it restarts. I might have to get rid of this thing after all. I'll check into a firmware update and possibly try the Monterey 12.4 beta to see if that fi

[2022-04-08 16:06] chrisspiegl commented on #261
Hey @waydabber, I am testing the latest release 1.1.10-beta and seeing this issue as well.
I have all three workaround activated.

When I come back after my mac went to sleep by itself, my external monitor which is mirroring a 1080p HiDPI display is flickering. Note that I have the security settings to that upon wake I am asked to login (Apple Watch, Finger Print, or Password).

Solution at this p

[2022-04-08 17:27] waydabber commented on #461
@Mudflapper - I'd try the display with a USB-C to DisplayPort cable (so no Thunderbolt) - I know that will kill the USB HUB functionality and power but will probably work with zero issues. Native Thunderbolt is great but sometimes it is not. :)

[2022-04-08 17:36] waydabber commented on #261
Thanks @chrisspiegl for sharing!

I know this issue is super annoying for those who experience it. For now I concluded that it is a bug in how virtual display mirroring is handled in Monterey for M1 systems and I can't do much about it except listing it as a known issue and being upfront about the problem + hope Apple will solve it or it will go away in a future macOS update. Reconnecting the dumm

[2022-04-09 02:55] zdc-12 commented on #457
I think it had something to do with another app that I was using for managing the position of the windows on screen.

After a reboot, I didn’t experience that issue anymore. It was probably a false positive.

[2022-04-09 02:55] #457 closed, assigned to nobody

[2022-04-09 06:34] li0926 opened #469 "Will this result in double the monitor output performance?（dummy and real）"

[2022-04-09 07:49] chrisspiegl commented on #261
@waydabber I appreciate your approach with this and the detailed response. I understand that in certain areas you are at the mercy of the OS. For me the `Lock & Unlock` is not that bad and currently the fastest way of resolving the issue. A shortcut as you described it would probably help 👍.

Let's hope Apple does address this in the future.

[2022-04-09 07:52] waydabber commented on #457
All right, thanks for the response!

[2022-04-09 07:58] waydabber commented on #469
Hi @li0926 - the app does not physically increases the number of pixels on your display - if you use a dummy with HiDPI resolution and mirror it to your non-HiDPI display, the number of pixels on your display will remain the same, only the framebuffer (the representation of the screen inside your Mac's memory) will increase in quality. This is useful for scaling purposes (when you want to have an

[2022-04-09 07:58] #469 closed, assigned to nobody

[2022-04-09 09:31] daslicht commented on #261
I get the flicker even after a fresh reboot sometimes, very annoying,.

[2022-04-09 09:55] waydabber commented on #261
Indeed it is. I am not sure why it happens for some and not for others though. Streaming doesn't have this issue but it has other problems. I'll try to iron those out a bit more in the future so it could be used as a reliable alternative for those who have the flickering issue with mirroring. An other thing we might try is to involve two dummies in the mirror set (mirror a dummy to a real screen a

[2022-04-09 10:46] daslicht commented on #261
the really stromng fliker I showed in a video only happens after boot. It never happend (yet) when I start BetterDummy manually.

[2022-04-09 11:53] waydabber opened #471 "PIP windows of multiple dummies sometimes gets mixed-up"
After creating two dummies and chaning their orientations dummes got mixed up - both dummies' PIP window shows the same dummy.

[2022-04-09 11:54] waydabber opened #472 "Rename the option 'Filp Aspect Ratio' back to 'Portrait' for better discoverability"
Hey guys, I am on pro version of Better Dummy. But I can't figure out how to use it in portrait mode. I think a couple of betas back there was an option? By the way thanks for the wonderful tool.

(skynet)

[2022-04-09 11:56] waydabber commented on #472
This is now changed back. The menu item will recognize the orientation of the original dummy (custom sized dummis can be protrait by default) and interpret flipping the aspect ratio accordingly. The menu was renamed back to Portrait Orientation.

<img width="531" alt="Screen Shot 2022-04-09 at 13 56 01" src="https://user-images.githubusercontent.com/37590873/162573096-1de215d9-46de-40cc-890b-69170

[2022-04-09 12:34] waydabber opened #473 "Option to pause/freeze PIP window or full screen stream"
This might be useful to help better create screenshots or analyze screen contents on the fly. Should work best with a keyboard shortcut. #11

[2022-04-09 12:41] waydabber commented on #11
Custom keyboard shortcut keys to

- [ ] Disconnect dummy with mouse
- [ ] Disconnect/reconnect dummy with mouse
- [ ] Disconnect all dummies
- [ ] Connect all dummies
- [ ] Disconnect/reconnect all dummies
- [ ] Make screen with mouse main screen
- [ ] Increase resolution by one bucket
- [ ] Decrease resolution by one bucket
- [ ] Destroy mirror set that has the mouse
- [ ] Stop all streaming
- [

[2022-04-09 12:47] waydabber opened #474 "Hide+darken a display behind a mirror ("Hide Display", "Unhide display")"
A feature to disconnect/disable a display would be nice (see https://github.com/MonitorControl/MonitorControl/discussions/994).

This ~is not entirely possible due to technical constraints but it~ could be simulated by darkening the given screen (as much as possible (only apple built in displays and screens with some kind of local dimming or dynamic dimming can reach full blacklight off typically)

[2022-04-09 16:22] waydabber opened #475 "Add safe mode during startup (by pressing Shift)"
If shift is pressed during startup, dummies should not autoconnect + the app should give a warning about starting in safe mode.

This is to prevent an erroneous/unusable display configuration to activate itself.

[2022-04-09 16:48] waydabber commented on #261
@daslicht if this happens every time for you consistently, can you try what happens if you create two dummies and create a mirror set that mirrors one dummy to both the main display and the other dummy? Does it flicker with such a setup as well? Thank you!

_(ps. I know such a test probably messes up your setup so if you don't want to experiment with it, I understand.)_

[2022-04-10 09:24] daslicht commented on #261
Ok I will try it, is it correct that the Physical Screen is set as Mirror of tyeh Dummy ? Or need the Dummy be teh Mirror of thw Physical Screen ?

[2022-04-10 11:24] waydabber commented on #261
For this test a dummy should be mirrored to
- a physical display
- an other dummy

You can create a mirror set with multiple participants - but be warned, macOS might freak out a bit so if it does not succeed for the first try, you might have to try again or try the mirroring in various order:

<img width="500" alt="Screen Shot 2022-04-10 at 13 23 00" src="https://user-images.githubusercontent.com

[2022-04-10 11:43] daslicht commented on #261
How to do it here :

![](https://i.imgur.com/XiHQXTF.png)

[2022-04-10 13:54] waydabber commented on #261
<img width="548" alt="Screen Shot 2022-04-10 at 15 54 32" src="https://user-images.githubusercontent.com/37590873/162621894-d980826a-bc94-4b88-bd26-1024e81b3f21.png">

[2022-04-10 13:56] waydabber commented on #261
I think I'll just move these menus back to the main menu level in the future + give an option to decide which menu should be at main menu level and which one should go under Settings so ppl could customize things a bit. :)

[2022-04-10 16:51] daslicht commented on #261
I cant set 2 two dummiues to teh same screen:

![](https://i.imgur.com/4HIl6HQ.png)

[2022-04-10 16:52] daslicht commented on #261
Or when I assign 2 dummies like this I get no scaling at all :

![](https://i.imgur.com/JFbLzCx.png)

[2022-04-10 17:47] waydabber commented on #261
Hi @daslicht - I think I misunderstood you earlier - I thought you were asking how to do association in v1.1.x (the screenshot I was showing was for the new version, you are using the 1.0.x version). But you don't have to associate the dummy to a display in order to create the mirror set for this test at all.

[2022-04-10 17:51] waydabber commented on #261
So the best course of action is this:

1. [Download the v1.1.x version](https://github.com/waydabber/BetterDummy/releases)
2. Create two dummies
3. Mirror one of your dummies to the real display and the other dummy at the same time.

You should end up with something like this (The `Dummy 16:9` is being mirrored to `Test Dummy` and `CreatorXtreme` (which is my external display):

<img width="531" a

[2022-04-11 09:01] daslicht commented on #261
Ahh ok, the update reminder downlaoded me that older version. Puh that version was a nightmare.
I crreated a dummy and it set it as extended display. But notr could I get back to teh main screen nor could i stop better dummy ! It was very hard to recover my system , NO QUIT possible, and eth same after reboot (when load at login)
![](https://i.imgur.com/qI6CjMO.png)

[2022-04-11 09:03] daslicht commented on #261
The Mirror is displayed and the mian display is hidden correct ?

[2022-04-11 09:05] daslicht commented on #261
Like this:
![](https://i.imgur.com/zzLyIcv.png)

This looks wrong, teh full resolution of my main screen is not shown ?
![](https://i.imgur.com/2FuoIVO.png)

System Prefs show:

![](https://i.imgur.com/XQWP6Ox.png)

![](https://i.imgur.com/WOiyIti.png)

![](https://i.imgur.com/OuTg1dL.png)

How is this properly setup?

[2022-04-11 09:37] mbennoer opened #478 "Advanced settings changing back after quitting and restarting"
I just realized what is causing problems in my setup at home: When I connect to my external display in the morning, I sometimes need to quit and restart BetterDummy manually. In Preferences -> Advanced I have disabled everything, especially because "use mirrored dummy sleep workaround" is slowing down connection after sleep.

Problem: After having restarted the BetterDummy, the disabled options "u

[2022-04-11 10:56] waydabber commented on #261
Hi @daslicht - almost! You should mirror a dummy (which you'll use to create the custom resolutions) to a real display and an other dummy. Now you mirrored a real display to two dummies which is not useful, since this way you'll be constrained by the resolutions available for the real display - this is not what we'd want.

[2022-04-11 11:01] waydabber commented on #478
Hmm. Indeed, this is a bug. Not just that - when I toggle one of the settings, an other setting is toggled sometimes. I did mess up the wiring there. :( Will fix it in the next version, nice catch! :)

[2022-04-11 11:47] daslicht commented on #261
so like this?

![](https://i.imgur.com/FuRiHKU.png)
![](https://i.imgur.com/0uN7NLZ.png)
![](https://i.imgur.com/swJwxTT.png)
![](https://i.imgur.com/exXEJoy.png)
-------

[2022-04-11 12:11] waydabber commented on #261
Exactly! Now the question is if you leave it like this, does the flickering still happen. I think you should test it for a while and see. If it happens (or does not happen) let me know. It's just an experiment to find a workaround.

[2022-04-11 12:13] waydabber commented on #478
@mbennoer - sorry to say but right now that checkbox does absolutely nothing at all. I did some refactoring, the name of the referenced outlet has changed and forgot to update the checkbox. Really sorry about that, fixed it, it will work in the next version!

[2022-04-11 20:15] waydabber opened #479 "Add a HDR toggle to the menu for (HDR capable) real displays"
It might be useful to toggle HDR from the menu bar. This is relevont for HDR capable displays only.

[2022-04-11 20:29] waydabber commented on #479
<img width="516" alt="Screen Shot 2022-04-11 at 22 29 00" src="https://user-images.githubusercontent.com/37590873/162826467-c1388729-671a-45ae-b234-7710fad99fba.png">

[2022-04-11 20:39] waydabber opened #480 "Add Refresh Rate submenu to real displays"
When the resolution slider is used, there is no way to change refresh rate. A refresh rate submenu for real displays would help that.

[2022-04-12 06:38] mbennoer commented on #478
Thank you for fixing this so fast. Your tool is really saving my life, I'm happy to support further development :)

[2022-04-12 07:08] mbennoer commented on #382
+1 for this, would be great to have this included in BetterDummy. My displays change the window layout nearly every time the external one sleeps, I currently cope with that by using the window manager Moom, which can save individual layouts and have them restored with a keyboard shortcut.

[2022-04-12 09:28] daslicht commented on #261
I am curious , do theses gliches also happen with a hardware dongle ?

[2022-04-12 11:16] waydabber commented on #261
hi @daslicht - No, this specific flickering issue happens with virtual displays only - so if it can't be fixed and is pronounced on your setup, trying a hardware dummy might be a reasonable thing to do. I used a hardware dongle before with an M1 Mini with a QHD display and it was working fine, maybe with some minor caveats (resolution and aspect ratio options were limited to what's in the EDID of

[2022-04-12 12:20] daslicht commented on #261
Thanks for the reply, that sound's like more trouble than just restarting better dummy once things go wrong .

Will theses hardware dongles work at all with a 32:9 screen ?

[2022-04-12 12:30] waydabber commented on #261
Nope unfortunately, these have a fixed resolution list in their EDID. If you are interested I'll check a typical Chinese one for the resolutions enabled as I have one laying around somewhere but I think it only knows the typical 16:9 resolutions up to 4K. There are programmable ones but those cost a magnitude more. Also there are some that can record an EDID so if you find a higher resolution disp

[2022-04-12 14:54] waydabber commented on #382
This is definitely a priority on the todo list. My plan is to have the ability save these data as a profile to be recalled:

- Enabled dummies
- Mirroring configuration
- Resolutions/refresh rate
- HDR status
- Location of displays in the display configuration
- Main display status
- Orientation of the display

I'd like to make the various configurations available in a menu for quick access and al

[2022-04-12 15:03] waydabber opened #481 "Customizable menu layout to manage increasing complexity + help focusing on preferred use-cases"
Ability to customize how functions are presented under a display/dummy menu

For each menu option/functionality there should be 3 settings:

- Show at main menu level
- Show under Settings (for a display/dummy)
- Hide

This would help non-Pro users hide useless menu items after the trial + users could move often-used functions to top-level and relegate less used functions to a submenu level to dec

[2022-04-12 15:05] waydabber commented on #147
This will be incorporated into #382 so I'll close this one.

[2022-04-12 15:05] #147 closed

[2022-04-12 15:06] waydabber commented on #362
This is going to be a part of https://github.com/waydabber/BetterDummy/issues/11

[2022-04-12 15:06] #362 closed, assigned to nobody

[2022-04-12 19:03] waydabber commented on #480
<img width="593" alt="Screen Shot 2022-04-12 at 21 01 53" src="https://user-images.githubusercontent.com/37590873/163034878-7f2322c4-d6d5-486e-b08a-487a79cbb3fe.png">

[2022-04-12 19:28] waydabber opened #482 "Resolution slider should stick to current refresh rate"
Resolution slider should show options for the current refresh rate and should keep the refresh rate unchanged upon changing resolution.

[2022-04-13 13:26] 3DCoded opened #483 "Contact without Discord"
Hi, I know that you said that you would email contributors via OpenCollective a license code, but I believe I did it anonymously. I have the confirmation email from OpenCollective but do not have access to Discord. Is there another way to contact you without Discord for the license code?

[2022-04-13 13:54] #483 closed, assigned to nobody

[2022-04-13 18:27] waydabber commented on #11
<img width="842" alt="Screen Shot 2022-04-13 at 22 24 46" src="https://user-images.githubusercontent.com/37590873/163264273-4b687947-d8e3-4499-89c7-715d81f882c8.png">

(shortcuts are not set by default, the user can assign shortcuts to the function he wants to access via keyboard)

[2022-04-14 04:55] nvcken opened #485 "Does this app help to make M1 MacBook Pro able to extend dual monitors?"
Spec
- MacOS: Big Sur 11.6.5
- MacBook Pro (13-inch, M1, 2020)

I use with this hub
![HyperDrive-4in1-HDMI-A](https://user-images.githubusercontent.com/3489866/163315955-ca177b38-0477-4e90-9399-494f51c7b016.jpg)
<img width="304" alt="Screen Shot 2022-04-14 at 11 43 55" src="https://user-images.githubusercontent.com/3489866/163315951-51b8d281-cfc2-4565-8933-7789b7991f97.png">
Product link : https:/

[2022-04-14 09:35] waydabber opened #486 "Add low resolution switch to real displays as well"
Real displays would benefit from a quick low resolution switch checkbox as well.

[2022-04-14 09:35] waydabber commented on #486
![Screen Shot 2022-04-14 at 11 34 21](https://user-images.githubusercontent.com/37590873/163357762-4d9d0c9e-0d9a-4c62-a149-c168139492c5.png)

[2022-04-14 11:52] waydabber commented on #485
Hi @nvcken - I am afraid, not. Macs with M1 CPUs can drive only 2 displays including the built-in display natively which results in the 1 external display limit for the 2020 M1 MBP. You'd need a HUB with DisplayLink technology incorporated to drive a second external display or you can use SideCar with an iPad.

Note, that DisplayLink is an USB attached display and the OS will treat it as a virtual

[2022-04-14 12:55] #485 closed, assigned to nobody

[2022-04-14 12:58] waydabber opened #488 "Option to hide full screen stream temporarily"
Full screen stream covers the desktop of the stream target display at top level. Sometimes a window gets stuck beneath the stream cover on the desktop of the target screen which is difficult to access in these situations.

A function to temporarily hide the stream cover would be useful to help out in situations like these. The option should be available in the menu and as a keyboard shortcut.

[2022-04-14 14:38] waydabber commented on #488
<img width="576" alt="Screen Shot 2022-04-14 at 16 37 40" src="https://user-images.githubusercontent.com/37590873/163413567-982a0017-cadc-4812-b7fc-ceded24a7cb4.png">

Also added as keyboard shortcut.

[2022-04-14 14:51] waydabber opened #489 "Mouse is not visible in streamed real screens"
Mouse is invisible when streaming a real screen.

[2022-04-14 14:53] waydabber opened #490 "Ability to toggle mouse cursor visibility for PIP and full screen streaming"
Some use cases might benefit from hiding the mouse cursor during streaming.

[2022-04-14 22:49] exceedsystem opened #491 "Add UI for settings export/import"
Thank you for the great software!

I would like the features to import and export dummy displays and various settings.

Best regards,

[2022-04-15 08:04] waydabber commented on #491
Good idea, it is certainly possible but some settings are tied to real display hardware identifiers which could be difficult to transfer among macs. Import/export is feasible for local configurations for real displays and dummies.

[2022-04-15 08:17] waydabber opened #493 "Option to hide mouse cursor for PIP window and full screen stream"
This works only if there are no virtual or dummy displays connected. Might be useful for some scenarios (like doing a presentation).

<img width="497" alt="Screen Shot 2022-04-15 at 10 17 09" src="https://user-images.githubusercontent.com/37590873/163545061-73238ed9-4c28-412f-8c97-e060ed176f72.png">

[2022-04-15 10:24] exceedsystem commented on #491
@waydabber

Thank you for your response.

I understand.
Personally, I am considering using this feature as a means of recovery in case I accidentally delete settings or initialize the OS.

[2022-04-15 12:31] waydabber commented on #491
All right. Meanwhile you can simply save the settings file for backup reasons. It's located under your user's `Library/Preferences` folder and it is called `me.waydabber.BetterDummy`.

[2022-04-15 12:52] waydabber opened #494 "Resolution slider omits native (highest) resolution"
Native resolution is usually the highest resolution supported by the display and is non-HiDPI. Because of this latter fact the resolution slider omits this option which is not ideal. This should be changed.

[2022-04-15 13:28] tracure1337 commented on #480
Was about to ask for the same. Really looking forward if I finally can get a good resolution HDPI with 60hz with my external monitor and this tool.

crossing fingers for 1.1.11

[2022-04-15 15:26] waydabber commented on #480
Hi @cocoonkid. Hmm. The problem is, this works for real displays only. if you are mirroring a dummy to a real display, it should default to 60Hz or the maximum that is provided by the real display. Which means mirroring a dummy should already work at 60Hz, if not, this change will probably not fix it.

[2022-04-15 16:13] #11 closed

[2022-04-15 16:13] #438 closed, assigned to waydabber

[2022-04-15 16:13] #472 closed, assigned to waydabber

[2022-04-15 16:13] #473 closed, assigned to waydabber

[2022-04-15 16:13] #475 closed, assigned to waydabber

[2022-04-15 16:13] #478 closed, assigned to waydabber

[2022-04-15 16:13] #479 closed, assigned to waydabber

[2022-04-15 16:13] #480 closed, assigned to waydabber

[2022-04-15 16:13] #482 closed, assigned to waydabber

[2022-04-15 16:13] #486 closed, assigned to waydabber

[2022-04-15 16:13] #488 closed, assigned to waydabber

[2022-04-15 16:13] #489 closed, assigned to waydabber

[2022-04-15 16:13] #493 closed, assigned to waydabber

[2022-04-15 16:13] #494 closed, assigned to waydabber

[2022-04-16 00:47] exceedsystem commented on #491
Thank you for the advice.

I see, I will try it.

[2022-04-16 10:19] waydabber opened #495 "Trial days counter not seem to work properly"
Trial days counter do not seem to update and is stuck. This creates confusion as the trial might end suddenly without the user being aware beforehand.

[2022-04-16 10:57] waydabber opened #496 "Trial counter not updating properly"
Trial counter might not update properly which might lead to sudden unexpected end of the trial (as it shows more days left than actual trial expiration).

[2022-04-16 11:38] waydabber commented on #481
<img width="842" alt="Screen Shot 2022-04-16 at 13 37 39" src="https://user-images.githubusercontent.com/37590873/163673462-a7de3a1c-bb25-41a4-82a3-693b49c02648.png">

[2022-04-18 08:35] waydabber opened #499 "SDR to HDR upscaling (full brightness for HDR and XDR displays)"
Add a toggle to upscale SDR content to full HDR brightness on HDR compatible external displays and Apple XDR displays (should add a proper slider as well as a next step).

BetterDummy's solution is superior to other solutions in the following regards:

- There are now at least three actual implementations out there. Two is using overlays (one is working other is buggy at the moment) which is an in

[2022-04-18 09:17] waydabber commented on #163
this will be implemented here: https://github.com/waydabber/BetterDummy/issues/499

[2022-04-18 11:35] waydabber opened #500 "Consistently add menu icons to all items if menu icons are enabled"
Now some menu items have icons, others don't when menu icons are enabled. It should better be consistent. :)

[2022-04-18 11:38] waydabber commented on #499
This is going to go to version 1.2.0. It is working fine but some major rework is needed to have all the required foundations properly in place.

_note: I might as well implement the full suite of brightness controls inside the app. That would solve various unsolved interoperability problems between BetterDummy and MonitorControl as well._

[2022-04-18 11:41] waydabber opened #501 "Some portrait dummy specifications are missing from the New menu"
This is not a problem for Pro users as Pro has an option to change orientation on-the-fly. However non-Pro users will loose these dummy formats compared to the v1.0.x version which is not nice. These should be added back.

[2022-04-18 11:43] waydabber commented on #500
For those who love icons (disabled by default for a cleaner macOS like look).

<img width="546" alt="Screen Shot 2022-04-18 at 13 43 10" src="https://user-images.githubusercontent.com/37590873/163803452-f37deac4-5d96-497a-a0df-8489a91af022.png">

[2022-04-18 11:56] waydabber commented on #501
<img width="729" alt="Screen Shot 2022-04-18 at 13 55 59" src="https://user-images.githubusercontent.com/37590873/163804810-87cafe95-bc2a-4b20-855e-d4cb807819d0.png">

[2022-04-18 17:32] mmolinari commented on #261
I've always had the flickering issue (M1 MacBook Pro) but I'm happy to report that this workaround worked perfectly for me. Is there anything else you want me to try?

[2022-04-18 18:38] waydabber commented on #261
hi @mmolinari - thanks for the report. If this is a stable workaround, I might add this one as well as an easy to select option + hide the technical dummy in the menu and make the whole thing automatic. This workaround would be great as it basically requires no extra resources from the mac thanks to the shared framebuffer on mirroring.

Maybe what you could try is how this affects sleep without an

[2022-04-18 19:11] mmolinari commented on #261
I tested sleep on 1.1.11-beta with this configuration:
"Use mirrored dummy sleep workaround" checked
"Reconnect dummies after wake" unchecked
"Disconnect dummies upon lock and connect upon unlock" unchecked

Results:
- the first time the display on the affected monitor was frozen instead of going to sleep; the mirroring was lost and I had to set it up again;
- I started setting the mirror target t

[2022-04-18 20:54] JoAz111 opened #503 "Add option to use serial number for display preferences storage and association instead of UUID for DisplayLink"
DisplayLink changes UUID's sometimes during disconnect/reconnect. Serial stays stable.

[2022-04-18 21:43] waydabber commented on #261
Thanks @mmolinari for the test! I'll experiment with this as well!

[2022-04-18 21:45] waydabber commented on #503
Thanks for the report, I'll add back the option to use Serial instead of UUID. This should help glitching DisplayLink associations. :)

[2022-04-18 22:20] waydabber commented on #503
<img width="842" alt="Screen Shot 2022-04-19 at 0 20 15" src="https://user-images.githubusercontent.com/37590873/163886667-b9e67cf3-1623-4b14-919b-97f3c29e8050.png">

[2022-04-18 22:30] waydabber commented on #503
You'll have to click "Use alternate method..." on this tab.

[2022-04-19 06:36] ymmshi opened #505 "How to modify the default resolution"
I wonder whether it can modify the default resolution of the dummy.

![image](https://user-images.githubusercontent.com/13198991/163940522-6e6639c7-86dc-4990-90ae-38b2c9bd3826.png)

[2022-04-19 06:52] waydabber commented on #505
Hi @ymmshi - unfortunately not, this is something that macOS determines using it's own (sometimes not very clear) logic.

[2022-04-19 06:52] #505 closed, assigned to nobody

[2022-04-19 10:12] daslicht commented on #261
we are supposed to choose teh resolution in system preference or in better dummy ?

When i cahnge teh resolution in system preferences on some resolutions the dock vanish . Soem doesnt work at all.

No dock :
![](https://i.imgur.com/0qTZx5j.jpg)

Dock:
![](https://i.imgur.com/YAFokSw.jpg)

No dock :
![](https://i.imgur.com/m37LEJR.jpg).

a kind of confusing

[2022-04-19 10:14] daslicht commented on #261
is this correct like this? It shows extened ?

![](https://i.imgur.com/2OtOgR1.jpg)

![](https://i.imgur.com/gFnCHkT.png)

[2022-04-19 12:28] #481 closed, assigned to waydabber

[2022-04-19 12:28] #496 closed, assigned to waydabber

[2022-04-19 12:28] #500 closed, assigned to waydabber

[2022-04-19 12:28] #501 closed, assigned to waydabber

[2022-04-19 12:28] #503 closed, assigned to waydabber

[2022-04-19 12:30] waydabber commented on #261
Yes, this seems to be ok!

[2022-04-19 18:05] waydabber opened #507 "Hide menu icon check box works in reverse"
Hide menu icon checkbox under App Menu is not working properly.

[2022-04-19 18:06] waydabber opened #508 "If a menu option is too long the resolution slider's text is not located properly when it is to the right"
Cosmetic issue.

[2022-04-19 18:14] waydabber opened #509 "Implement display brightness management framework"
This is required for HDR/XDR upscaling support. #499

Brightness management should fully work with various dummy configurations including mirroring and streaming - in a way this is not possible with third party brightness management apps or MonitorControl.

This is a ground-up effort so past mistakes of MonitorControl are not carried over and should give a foundation of all the advanced functional

[2022-04-19 18:18] waydabber commented on #499
#509 is required for this.

[2022-04-19 18:29] vyatkinsen opened #510 "The Dummy screen video replays do not turn on"
The system automatically switches to the main display's video repeat. I've tried reconfiguring the mirror in Dummy, but that doesn't help. I could send a video of this. Sorry for the typos, I'm using a translator.
LG ULTRAFINE 27UP850.
MBP 15" 2017

[2022-04-19 18:35] waydabber commented on #510
Hi there, a video would be useful as I don't clearly understand the problem, maybe it's the translator. :)

[2022-04-19 18:46] vyatkinsen commented on #510
https://youtu.be/isWFYZ0zqms

[2022-04-19 18:55] waydabber commented on #510
Uhh that looks annoying. :(

What Mac model are you using?

You might try deleting the dummy and creating a new dummy manually with the right aspect ratio and configure mirroring manually. If it does not succeed at first, you can try it again 2-3 times forcing the dummy to be mirrored to the screen and not the other way around. Sometimes when the macOS windowserver display configuration is corrupt

[2022-04-19 18:59] vyatkinsen commented on #510
![IMAGE 2022-04-19 21:59:35](https://user-images.githubusercontent.com/70971514/164076353-6fbdffec-c959-426b-8858-9b5e45c37bce.jpg)

[2022-04-19 19:09] vyatkinsen commented on #510
I found some dependency. When I manually switch the display to Dummy mirror mode, the whole interface zooms in and everything works until I change the resolution (no matter where I change it: dummy or in the settings). Then everything switches back again.

[2022-04-19 21:01] waydabber commented on #510
Hey @vyatkinsen - unfortunately your mac has an AMD Radeon GPU. Mirroring a dummy will not work with that reliably. :( But don't despair, you can use other apps (like [this](https://www.madrau.com)) on Intel macs to create custom resolutions if that is your main goal.

[2022-04-19 21:01] #510 closed, assigned to nobody

[2022-04-20 15:06] waydabber opened #512 "Implement gammatable brightness control"
Implement gammatable based dimming control built upon #509

[2022-04-20 15:07] waydabber opened #513 "Implement overlay dimming"
Implement overlay dimming based on #509

[2022-04-20 15:07] waydabber opened #514 "Implement DDC control framework"
Implement DDC for DDC based functionality

[2022-04-20 15:08] waydabber opened #515 "Implement basic DDC brightness control for external displays"
Implement DDC brightness based on #509

Also depends on #514

[2022-04-20 15:08] waydabber opened #516 "Implement Apple brightness control"
Implement Apple brightness control based on #509

[2022-04-20 15:25] waydabber commented on #512
<img width="306" alt="Screen Shot 2022-04-20 at 17 24 50" src="https://user-images.githubusercontent.com/37590873/164266258-1dedb4ea-14ed-4261-b1e0-840a23b75c42.png">

[2022-04-20 15:25] waydabber commented on #509
<img width="306" alt="Screen Shot 2022-04-20 at 17 24 50" src="https://user-images.githubusercontent.com/37590873/164266258-1dedb4ea-14ed-4261-b1e0-840a23b75c42.png">

[2022-04-20 17:33] waydabber commented on #499
<img width="541" alt="Screen Shot 2022-04-20 at 19 31 29" src="https://user-images.githubusercontent.com/37590873/164289272-16b4b404-da15-4699-869b-78d8c387cb05.png">

[2022-04-20 20:33] #507 closed, assigned to waydabber

[2022-04-20 20:33] #508 closed, assigned to waydabber

[2022-04-21 07:11] chadami opened #518 "Typing delay after a few hours while using Chinese input methods when a dummy is being mirrored - SOLVED(?)"
When I open betterdummy for a few hours, there will be a delay in typing with Chinese input method in any of the software. Here's the video.

https://user-images.githubusercontent.com/8320951/164395195-aa343773-2e2b-48aa-a250-67970973672e.mp4

[2022-04-21 08:50] ykorzikowski opened #519 "How to mirror or stream a dummy to a mobile or portable 4K display (Uperfect etc...)?"
Hey there,

first, I really like your project. I bought some 4k mobile usb-c monitor, but unfortunatelly mac os not allow me to use hdpi-scaling. I created a dummy, set it to 1080p (hdpi), set the usb-c-mon to mirroring mode and set manually to 4k resolution.

In the new version, the resolution of dummy & real usb-c-mon always sync, so I have only 1080p real resolution and can't set to 4k.

If you

[2022-04-21 11:35] waydabber commented on #518
I think this is the same issue: https://github.com/waydabber/BetterDummy/discussions/347

Yes, this strangely seems to happen with virtual displays (with mirrored Sidecar as well as far as I know) and is not a directly BetterDummy related issue. In the v1.1.x version there is a Reconnect Dummy option - you can set up a keyboard shortcut for it as well, that might alleviate the issue but of course

[2022-04-21 11:41] waydabber commented on #519
Hi @ykorzikowski,

most portable 4K displays are using the same chipset and they have a faulty EDID - they report a wrong native resolution which will result in a disabled hidpi mode. Is this the problem you are trying to circumvent? If so, then you can't use mirroring (because of the faulty EDID and wrong native resolution) - you need to change the display's resolution to 4K, activate the followi

[2022-04-21 13:25] ykorzikowski commented on #519
I will try with the new version. But before the update this was my workflow:
- Create dummy & connect
- Mirror the dummy to the usb-c monitor
- set the mirror to 1080p hdpi (via RDM)
- set the usb-c monitor to 4k res (via RDM)

Is streaming same performance / battery life as it is with mirroring?

My specs:
- MB: MacBookPro18,1
- Monitor: https://www.uperfectmonitor.com/de/collections/portable-mon

[2022-04-21 14:45] waydabber commented on #519
Hi, yes, this display uses DP alt mode over USB-C and has the same issue as other portable 4K displays.

This workflow is rather unorthodox but you can do the same with BetterDummy (no need to use RDM as BD has a similar resolution menu built-in, just not exposed by default). the trick is to select a resolution to your target display which is markes as `Unscaled` - that will force the mirror to us

[2022-04-22 07:54] ykorzikowski commented on #519
Hey,

yes this method works thank you :) Is it possible to save the settings or customize the resolutions to save some time when reconnecting the display?

I am going to buy a license now :)

[2022-04-22 07:59] waydabber commented on #519
Hi, these settings should be saved, also you can associate a dummy to a display so it automatically connects whenever a display is connected.

I'll add storing and recalling display configurations as well, it's on the enhancement list -https://github.com/waydabber/BetterDummy/issues/382

Thank you!

[2022-04-22 08:02] #519 closed, assigned to nobody

[2022-04-23 12:37] waydabber commented on #499
- The v1.2.0 beta includes a feature called **SDR to HDR/XDR Upscaling**. This lets you enhance your screen's brightness to reach the full potential of Apple's XDR displays or any other external reference HDR displays.
- I'd be happy to receive some feedback regarding the feature here or at the [Discord channel](https://discord.gg/aKe5yCWXSp). :)
- To enable the feature you'll need to go to `Setti

[2022-04-23 12:57] waydabber commented on #499
https://github.com/waydabber/BetterDummy/releases/tag/v1.2.0-beta

[2022-04-23 16:50] #509 closed, assigned to waydabber

[2022-04-23 16:50] #512 closed, assigned to waydabber

[2022-04-23 20:20] waydabber opened #521 "Add custom keyboard keyboard shortcut for brightness (HDR upscale) and gamma adjustment"
HDR upscale should have a keyboard shortcut (increase/decrease).

[2022-04-24 05:41] anshzinc opened #522 "No dock or menu items visible, can't quit BetterDummy"
Hi, I just wanted to give BetterDummy a try. After installing, I (regrettably, I think) set my external monitor as target. Then while going through the readme, I created a dummy and set the mirror target as my external monitor. After this I can no longer see my main desktop, which has my dock. And the mac menu bar is not visible either.

Essentially all I have now in my desktop is this firefox win

[2022-04-24 08:04] waydabber commented on #522
Hi there,

sorry for the bad experience! :(

I am  not sure what is happening. :) BetterDummy does not hide the menu bar in any scenario and the menu bar should be visible in all desktops in macOS so the app menu should be accessible where you can turn off the dummy or change the visible screen to be the main display. The dock can be transferred to any display by simply moving the mouse to the bot

[2022-04-24 08:04] #522 closed, assigned to nobody

[2022-04-24 13:46] waydabber opened #525 "Gamma slider for HDR upscaling on reference HDR displays"
Reference HDR displays have a somewhat desaturated and subdued look. This is great for HDR videos but for HDR upscaling purposes and work it is annoying. A gamma slider would help to offset this (with a gamma correction of about 0.8 reference HDR displays look OK for desktop purposes, even though this does not fully alleviate the slight desaturation which would need a filter to correct).

[2022-04-24 14:44] waydabber commented on #525
This now nicely compensates for the faded-out look for HDR upscaling (at least on my mini-led reference HDR display):

<img width="326" alt="Screen Shot 2022-04-24 at 16 43 10" src="https://user-images.githubusercontent.com/37590873/164981984-d5eaeba2-05f6-4956-8baf-dad6b09d57ba.png">

[2022-04-25 08:59] #499 closed, assigned to waydabber

[2022-04-25 12:31] pinguinjkeke opened #526 "TrueTone availability"
Can TrueTone be achieved so the color profile of the dummy will match to MBP?

[2022-04-25 12:51] waydabber commented on #526
Hi @pinguinjkeke - TrueTone works independently of color profiles and is applied over it. If your macbook's lid is open, and truetone is enabled, truetone's effect should replicate to external displays, including mirror targets (no matter if it is a mirror of a dummy or a real screen).

You can test this yourself by mirroring a dummy to an external displays and toggling truetone on/off - the effec

[2022-04-25 12:51] #526 closed, assigned to nobody

[2022-04-25 15:38] timboxyz opened #528 "Mirroring Dummy only temorarily flashes up mirror display the reverts"
Using 1.12 on Monterey 12.3.1 and have set up a 1920x1080 dummy.
When I try and mirror this onto a genuine external 1920x1080 monitor the displays blink. Temporarily show the correct mirroring, but then revert.

If I use the System Preferences mirroring it seems to work OK.

[2022-04-25 15:50] waydabber commented on #528
Sometimes this does happen, unfortunately display and mirroring configuration is not an exact science in macOS (should be but the windowserver does its own things. Resetting the display configuration usually helps (https://github.com/waydabber/BetterDummy/discussions/191#discussioncomment-1763550) but if you were able to set up mirroring using System Preferences and it is stable I would not bother

[2022-04-25 15:50] #528 closed, assigned to nobody

[2022-04-25 16:30] lenne0815 commented on #261
If I enable / disable HDR the flickering goes away too.

[2022-04-25 16:57] waydabber commented on #261
Hi @lenne0815 - nice workaround. :) Btw - what kind of HDR display do you have?

[2022-04-25 17:26] lenne0815 commented on #261
Its a Dell s3422dwg, not a real HDR display unfortunately ;)

21x9 3440x1440 Displays are a huge pita on macOS so much that I rather use it at eye straining 60hz instead of 144hz just to get the scaling done via BetterDummy.

[2022-04-25 17:45] waydabber commented on #261
Yeah, it does not have any local dimming but peak HDR brightness seems to be higher than peak SDR brightness so at least it has that. :) Can you maybe try the [v1.2.0 version](https://github.com/waydabber/BetterDummy/releases/tag/v1.2.0-beta) and check for me if HDR/XDR upscale is available and does it make any difference in terms of desktop brightness on such a display? Also, if you could share t

[2022-04-25 19:34] lenne0815 commented on #261
I can't test that unfortunately as there's no dcc support on the m1 Mac minis hdmi port, I can't even adjust normal brightness. The basic HDR toggle does work though via better dummy, it works from display settings as well.

HOLD UP ! Wtf, it does work without the dummy and it does scale beyond normal non HDR peak brightness ! Is HDR brightness done via an overlay ?

I tried the Console log but In

[2022-04-25 20:06] waydabber commented on #261
No, it is not an overlay and it does not use DDC so you should be fine with no DDC support for this feature. The next beta will contain some gamma correction slider as well as HDR tends to look a bit washed out by default. Can you tell me the max % it will allow to scale up for you? That would be an important bit of data for me. Thank you!

Yes, for the console log you need to filter to the releva

[2022-04-25 20:13] lenne0815 commented on #261
141% Its blindingly bright at that setting. And yes, the colors look really washed out compared to sdr modes, that's why I suspected the overlay.

Below 10% the backlight seemingly stays on a single level and the picture just disappears, I think that's a hardware specific thing.

Interestingly enough the monitor doesn't give me the "very bright power consumption high" warning which turns up if I m

[2022-04-25 20:28] waydabber commented on #261
it should be in HDR mode if the brightness went beyond 350 nits for that display (max HDR brightness is somewhat above 500nits for the s3422dwg). The colors being washed is characteristic to reference HDR mode (this is due to the wider gamut of HDR). The next version will solve that by giving the ability to change the gamma (but colors will stay a bit undersaturated).

[2022-04-26 16:51] waydabber commented on #521
<img width="842" alt="Screen Shot 2022-04-26 at 18 49 10" src="https://user-images.githubusercontent.com/37590873/165352136-15a9a5ac-4da5-4e56-9d18-bb3508d80b82.png">

[2022-04-26 16:51] waydabber commented on #521
I changed this to a scroller and is now generated programmatically so I can add many-many more keyboard shortcut options in the future. :)

[2022-04-26 20:07] waydabber commented on #513
<img width="862" alt="Screen Shot 2022-04-26 at 22 07 06" src="https://user-images.githubusercontent.com/37590873/165383313-71e55bc7-7e33-49c4-9252-784b0f4f59f9.png">

[2022-04-27 13:37] waydabber commented on #525
I did upgrade the gamma slider to act more like a contrast boost slider (neutral at 0 which is the center position, adjustable between -8.0 and +8.0) as probably most users won't clearly understand how gamma works and would be puzzled by the fact that they have to decrease gamma power in order to get a more contrasted image.

<img width="335" alt="Screen Shot 2022-04-27 at 16 08 02" src="https://u

[2022-04-27 17:32] WilliamDenniss opened #531 "Add option to show Settings submenu toggles at main menu level."
Wanted to share some feedback on the latest menu design.

I find that I need to connect/disconnect the dummy every time I unplug my MacBook from my display, otherwise it behaves like the display is still connected. I place the macOS menu bar on the right side, and my monitor on the right as well, so when I unplug the monitor with the dummy still attached I can't see the menu bar :)

With the previ

[2022-04-27 17:39] waydabber commented on #531
Sure, I can add an option to put Settings toggle options to the main menu level.

However you should associate the dummy to a display, that should make it connect/disconnect automatically. If for whatever reason this does not work properly, you can try changing this setting and re-associate.

<img width="842" alt="Screen Shot 2022-04-27 at 19 38 59" src="https://user-images.githubusercontent.com/3

[2022-04-27 20:52] waydabber commented on #514
Basic support added both for Apple Silicon and Intel.

[2022-04-28 10:38] waydabber opened #532 "In some instances resolution sliders go MIA"
Resolution sliders are missing in action here. Why is that? This needs some investigation.

![unknown](https://user-images.githubusercontent.com/37590873/165734840-912ab9ac-5945-44d7-a2a1-7111b807f6bb.png)

[2022-04-28 10:40] waydabber opened #533 "Trial counter does not seem to update in Preferences"
The trial counter is updated in the menu but in Preferences under Pro the trial days value seems to be stuck. This should be fixed.

<img width="574" alt="Screen Shot 2022-04-28 at 12 40 21" src="https://user-images.githubusercontent.com/37590873/165735222-22ea7a98-92bb-499d-b3c8-aca63ea2a5d7.png">

[2022-04-28 10:51] waydabber opened #534 "Resolution slider not updated correctly upon mode change in some circumstances"
On some BetterDummy operations the resolution slider is not updated and does not reflect the current resolution. This should be fixed.

[2022-04-28 15:58] waydabber opened #535 "Add options about where to show brightness/gamma/volume sliders to Appearance preferences tab"
The location of the new sliders should be configurable as other things.

[2022-04-28 16:00] waydabber opened #536 "Create new Appearance scrollable Preferences tab"
This is to be programmatically generated and will replace the current `App Menu` tab. As many more menu elements are to be expected, the view must be scrollable to accomodate them.

[2022-04-28 16:01] waydabber commented on #535
Depends on #536

[2022-04-28 16:01] waydabber commented on #531
Depends on #536

[2022-04-29 10:54] waydabber commented on #535
<img width="842" alt="Screen Shot 2022-04-29 at 14 31 47" src="https://user-images.githubusercontent.com/37590873/165944826-3378842a-8273-4921-8b39-dab89e0fe0a8.png">

[2022-04-29 20:55] 9M6 opened #537 "Refresh Rate not showing on Samsung Curved Monitor"
The refresh rate does not show on the Dummy, my screen is a curved Samsung monitor with 100Hz, but the Dummy sticks to the default 60Hz. I'm using a MacBook Pro M1 Max (24).

Is this a known issue, or will it be fixed/implemented in the future?

Thank you

[2022-04-29 20:57] 9M6 commented on #537
Never mind, found the answer. #140

[2022-04-29 20:57] #537 closed, assigned to nobody

[2022-04-30 08:45] draugvar opened #538 "Secondary monitor doesn't save background images."
Hi,
I use my ultra-wide Philips monitor as a main display and the 14' macbook m1 pro as the secondary one. The problem is that every time I boot my laptop the secondary monitor lose its background. link to an explaining video attached.
https://photos.app.goo.gl/j1RTY6nzxcLnWTeZ6

BR

[2022-04-30 11:09] waydabber commented on #538
Hi there, this is an interesting issue. Background displays should be tied to a specific display configuration which is managed by macOS so the app has no control over what is happening. If the background display keeps reverting (even after you change it to the desired setting the second time) then either display IDs keep changing (this usually happens with DisplayLink devices) or the windowserver

[2022-04-30 11:09] #538 closed, assigned to nobody

[2022-04-30 20:20] 3DCoded opened #540 "Udemy videos won't load"
When I have BetterDummy on, Udemy videos are a black screen, with it off it works just fine. Is there a fix or workaround for this?

[2022-04-30 20:59] waydabber opened #541 "Refresh Rate list does not properly show non-whole natural number Refresh Rates"
Refresh rates with decimals are not correctly shown in the refresh rate selection menu.

[2022-04-30 21:03] waydabber commented on #540
If UDemy uses HDCP then no, there is no solution. Virtual displays do not support HDCP content protection, this technology requires direct HDMI, DP, DVI (+ some other more obscure) video connection to work in order to be enforced. This is why even Airplay or Sidecar can't display this stuff.

[2022-04-30 21:04] #540 closed, assigned to nobody

[2022-05-01 09:24] waydabber opened #543 "Monitor wraparound"
Carried over from https://github.com/MonitorControl/MonitorControl/discussions/1019

I have an idea for a feature I call Wraparound, which comes from an old piece of software of the same name that's no longer supported. The idea is that you could select sides of a monitor that, when enabled, allows the cursor to wrap around to the other edge. For example, in a 2 monitor setup, when your cursor mov

[2022-05-01 09:27] waydabber opened #544 "Fade-out, fade-in, fade-to-black, cross-fade functionality for streams"
Home studios/streamers would benefit from the following functionality:

- Ability to fade-in and fade-out a stream target display in a controlled way to black or to a generic background screen
- Ability to cross-fade between streams/displays on a stream target display

Cross fade, fade-to-background should be configurable and should be invoked with a keyboard shortcut.

[2022-05-01 11:12] JamieKM commented on #543
Just to be thorough, here are screen shots of the other Preference panes:

<img width="607" alt="Screen Shot 2022-05-01 at 7 10 23 AM" src="https://user-images.githubusercontent.com/104679784/166143435-419555ba-5584-4072-b6e8-a14e29ae86be.png">

<img width="607" alt="Screen Shot 2022-05-01 at 7 10 29 AM" src="https://user-images.githubusercontent.com/104679784/166143441-2e551265-dbe0-4c65-b056-161

[2022-05-02 09:31] cyrusauyeungc opened #545 "Wallpaper and window location persistence issues on some multi-monitor configurations"
I am currently with the latest version 1.2.0 build 4251, on an M1 MacBook Pro with 2 Dell displays.

<img width="297" alt="image" src="https://user-images.githubusercontent.com/69232468/166213499-e36aeeaf-b26a-4668-8228-0f86fecd3f71.png">

I am unable to replicate how to reproduce it, but there are 2 issues when waking up the laptop.
1. wallpapers would be swapped randomly.
2. All currently opened

[2022-05-02 10:29] waydabber commented on #532
This should now be fixed. We'll see.

[2022-05-02 14:38] shaynem commented on #145
Work around is to disable hardware acceleration in the browser

<img width="891" alt="image" src="https://user-images.githubusercontent.com/118681/166252253-e0508bd0-cedd-456c-807f-8e97a0cbb8cd.png">

This is affecting more than just Safari

Setup alt webkit browser for streaming. not ideal, but will get it working.

[2022-05-02 14:59] waydabber commented on #145
Nice, thank you! :)

[2022-05-02 22:07] waydabber commented on #545
Well, it's gonna be a bit hard to figure this one out or reproduce it as such things tend to happen even without BD if multiple displays are involved and get activated in different combinations (macOS seems to be able to remember a finite amount of past desktop configurations and with 4 displays - if sleep workaround fix is enabled, it gets up to 5 temporarily because of an additional dummy being

[2022-05-02 22:12] waydabber commented on #531
You can now put everything in the main menu level if you want.

<img width="317" alt="Screen Shot 2022-05-03 at 0 11 05" src="https://user-images.githubusercontent.com/37590873/166335505-f16f6ef8-44ca-447d-bfa6-4069aefede78.png">

<img width="842" alt="Screen Shot 2022-05-03 at 0 11 51" src="https://user-images.githubusercontent.com/37590873/166335543-bb98324c-a517-4ec4-bd04-e4bcd1729b53.png">

[2022-05-03 10:58] waydabber opened #546 "Improve menu usability + collapsible display blocks"
- Get rid of combined displays upon mirroring (it is a bit difficult to understand and disorientating).
- Make display blocks optionally collapsible to compensate for this - so unwantend items can be reduced.
- Make a bit clearer the separation between display blocks and the ending main menu part.

[2022-05-03 10:59] waydabber commented on #546
Related to #531

[2022-05-03 10:59] waydabber commented on #546
The current status of this:

<img width="261" alt="Screen Shot 2022-05-03 at 12 59 45" src="https://user-images.githubusercontent.com/37590873/166441828-05f78dfe-68b1-4d61-9a2e-e98d64408e29.png">

[2022-05-03 20:31] waydabber commented on #546
Updated status:
<img width="268" alt="Screen Shot 2022-05-03 at 22 30 48" src="https://user-images.githubusercontent.com/37590873/166560893-d7754280-acb5-4445-be79-fc07155afee0.png">
<img width="276" alt="Screen Shot 2022-05-03 at 22 30 33" src="https://user-images.githubusercontent.com/37590873/166560924-7c88fadd-1dd6-4f4a-a27d-9aeb1e873b86.png">
<img width="276" alt="Screen Shot 2022-05-03 at 22

[2022-05-04 18:20] waydabber commented on #545
This seems to be a similar issue: https://github.com/waydabber/BetterDummy/discussions/539

[2022-05-04 18:22] waydabber commented on #545
I'll add this as a known issue for now. I will try to figure out why is this happening for some but currently I have no exact idea as wallpaper and window locations are managed by macOS on a per-display-layout basis and is not directly affected by BetterDummy (but certainly there is an indirect effect as BetterDummy's changes might induce the OS to switch to a different arrangement).

[2022-05-05 15:52] waydabber opened #547 "Brightness and color control smooth transitions"
Add smooth transitions to brightness control

[2022-05-05 15:53] #513 closed, assigned to waydabber

[2022-05-05 15:53] #514 closed, assigned to waydabber

[2022-05-05 15:53] #521 closed, assigned to waydabber

[2022-05-05 15:53] #525 closed, assigned to waydabber

[2022-05-05 15:53] #531 closed, assigned to waydabber

[2022-05-05 15:53] #532 closed, assigned to waydabber

[2022-05-05 15:53] #533 closed, assigned to waydabber

[2022-05-05 15:53] #534 closed, assigned to waydabber

[2022-05-05 15:53] #535 closed, assigned to waydabber

[2022-05-05 15:53] #536 closed, assigned to waydabber

[2022-05-05 15:53] #541 closed, assigned to waydabber

[2022-05-05 15:53] #546 closed, assigned to waydabber

[2022-05-05 16:00] waydabber opened #548 "Enable/disable NightShift + adjust NightShift intensity from menu"
This is useful for HDR playback and as a generally quick way to reach for the nightshift slider.

As NightShift affects HDR but ppl might want to enjoy their HDR content unaffected or quickly alter NightShift intensity from a menu without going through the trouble of going to System Preferences.

[2022-05-05 16:06] waydabber opened #549 "Add a general redetect displays option"
Sometimes it is just reassuring to have an option to redetect things. :)

[2022-05-05 16:08] waydabber opened #550 "General disconnect all mirrors option, rebuild mirrors option"
Sometimes it is reassuring to have a quick option to simply turn off all mirroring.

Rebuild mirrors is a related function - it takes the current mirror, breaks it and then rebuilds it. Might help fix colorsync flickering issues with mirroring a dummy.

[2022-05-05 16:42] waydabber commented on #474
I pan add to this for internal displays since that should work reliably. For most external displays the backlight would not turn off which is annoying (bit for mini leds and oleds it would be fine).

[2022-05-05 16:45] waydabber commented on #474
Depends on https://github.com/waydabber/BetterDummy/issues/516 (for internal displays)

[2022-05-06 05:25] waydabber opened #551 "Dimming overlay (Sidecar, Dummy, AirPlay, DisplayLink) not resized properly on resolution change"
Dimming overlay size is not properly updated on resolution change resulting in a partial cover/dimming of the screen.

[2022-05-06 17:27] WilliamDenniss commented on #531
Thank you for this tip, I was wondering if I had missed something. I'll give that a try, and your debugging steps if it doesn't work.

I also found that I can just close BetterDummy to "disconnect" then open it to "reconnect" as another option.

Awesome! Thank you. I was exploring the highly customizable settings yesterday, pretty cool for power users.

[2022-05-06 18:06] waydabber opened #553 "Associate dummy to multiple displays"
### Discussed in https://github.com/waydabber/BetterDummy/discussions/552

<div type='discussions-op-text'>

<sup>Originally posted by **aeons** May  6, 2022</sup>
I regularly use different, identical monitors and would like to auto-connect and associate a single dummy with all of them. Is that possible?</div>

[2022-05-06 22:31] waydabber opened #554 "Option to auto-disable NightShift when enabling HDR for a display"
NightShift affects the colors of reference HDR displays. It would be great to have an option to auto-disable NightShift whenever HDR mode is activated on an external display.

[2022-05-07 10:00] waydabber commented on #548
<img width="329" alt="Screen Shot 2022-05-07 at 11 59 32" src="https://user-images.githubusercontent.com/37590873/167249411-fbd96fb9-ef44-41fc-8117-24391473431f.png">

This is not its final location - maybe there should be an `All Displays` block that contains stuff that affects every display. This could serve as a place for combined brightness sliders as well.

[2022-05-07 10:50] waydabber opened #555 "Add color temperature correction slider"
Advantages:

- This would allow devices without NightShift the option to allow warmer settings like TVs
- Would allow correction towards the blue end of the spectrum as well (NightShift can correct towards warmer only)
- This would be a per display option (while NightShift affects every compatible display)

Disasvantages:

- In HDR mode it will make things render in SDR

[2022-05-07 10:51] waydabber opened #556 "Add keyboard shortcut for NightShift and color temperature"
- First feature depends on #548 (available)
- The second feature depends on #555 (in progress)

[2022-05-07 14:04] waydabber opened #557 "Make XDR/HDR Upscale a permanent setting (so it doesn't have to be enabled every time)"
The setting should let the brightness slider have the HDR/XDR headroom all the time without toggling the setting. On external HDR displays HDR upscale should work when the display in HDR mode.

On HDR displays enabling this setting when the display is in non-HDR mode should give a popup informing the user that the function works with HDR enabled only and should offer the option to enable HDR.

[2022-05-07 15:55] mgansler opened #558 "App keeps forgetting I have a license - update Paddle SDK to 4.3.0"
Sometimes the app keeps "forgetting" I have an active license. I have PIP running but when I click on the icon in the status bar it shows "Get a pro license" (or whatever the menu entry is called). When I then stop PIP (which I need to do to watch Netflix/Prime) I cannot reactive PIP. Usually restarting the entire App fixes it but just now I had to restart it three times and now my license is acti

[2022-05-07 15:59] waydabber commented on #558
Hmm. That is not right. Is there any pattern? Does it happen with PIP running only or does it happen at other times? When you restart the app the license was not active right after the restart?

What kind of hardware do you have? Paddle (the licensing service the app uses) posted an updated SDK notifying that there are some edge cases when licenses are not correctly tied to a specific hardware. I'

[2022-05-07 16:07] waydabber commented on #558
@mgansler - If I'd give you an interim beta build with an updated Paddle SDK would you help me by trying it out to see if the problem is fixed? Thank you!

[2022-05-07 16:09] trevholliday opened #559 "Max dummy resolution gets limited when switching to portrait mode"
The scaling is off for a 16:18 monitor, it defaults to "isPortrait". When I toggle portrait it breaks and falls back to mac non HiDip scaling.

<img width="252" alt="Screen Shot 2022-05-07 at 9 08 03 AM" src="https://user-images.githubusercontent.com/92799520/167262541-552b422e-ba17-4d4a-a883-34cdb6a42c53.png">

<img width="249" alt="Screen Shot 2022-05-07 at 9 08 39 AM" src="https://user-images.g

[2022-05-07 16:19] waydabber commented on #559
Hey, I think you should try adding 18 by 16 when creating the custom dummy. If you create 16 by 18, then the width is smaller than the height and that will be regarded as portrait.

[2022-05-07 16:49] trevholliday commented on #559
https://www.lg.com/us/monitors/lg-28mq780-b

I updated and now I have black bars on the top and bottom of the screen.

I tried to take a screen shot but it is too large.

It is a 16 : 18 monitor.

I think the overall problem is that i cant get the ratio of 2560: 2880

When I update to the scaling fails.

[2022-05-07 16:54] mgansler commented on #558
Hey @waydabber, thanks for the quick reply. Of course I am willing to help.

I am on an 16" M1 Max - do you need more specifics?

So far I have not noticed a pattern. I use BetterDummy in conjunction with OBS to share my screen for pair programming via zoom/Teams. I have OBS showing a preview onto a virtual display and am very happy for the PIP feature of BetterDummy because Teams switches the vir

[2022-05-07 16:55] waydabber commented on #559
First: I see the original issue, upon changing portrait orientation, the resolution list gets limited and the max resolution gets capped. This is definitely a bug!

Wow, what a funny display, never heard of such a thing. Anyway, you should simply create a 16:18 dummy, it is not a problem that it is marked as portrait, as this is technically a portrait display, you don't have to change it to non-po

[2022-05-07 17:08] waydabber commented on #558
Cool use for the PIP function! :)

Here is a build with the updated Paddle SDK - would you please run this for a while and see if the problem is still present?

[removed]

This has some half-baked things like an abrupt Night Shift menu item in the main menu (I'll figure out where to put it to make it more sense).

Thank you!

[2022-05-07 17:10] waydabber commented on #554
<img width="528" alt="Screen Shot 2022-05-07 at 19 10 44" src="https://user-images.githubusercontent.com/37590873/167264684-2ffba7c9-f256-4876-bf83-dd8b87b36331.png">

I should find a better place for the Night Shift menu... :)

[2022-05-07 17:49] trevholliday commented on #559
Awesome!

So I will keep it at 16:18 in portrait and in a future update the resolution will be able to bump from 1440:1620 to 2560:2880?

MacOS shows the screen resolution, but the scaling is still off. Everything is to small. This monitor is basically two 21' 1440 p monitors stacked.

[2022-05-07 17:51] waydabber commented on #559
No, if you do not click on the portrait checkbox (and leave it checked) the resolution should be fine to begin with. Is it not? I just created a custom dummy with 16:18 and it worked fine for me. You don't have to make it non-portrait for it to work.

[2022-05-07 17:59] trevholliday commented on #559
It is not.

After resizing the dummy and not clicking on the portrait checkbox the resolution defaults to 1440:1620.

If I change it to the 2560:2880 with the slider if falls back to the macos scaling it looks like.

[2022-05-07 18:01] trevholliday commented on #559
1440: Scaling Image
<img width="776" alt="Screen Shot 2022-05-07 at 11 00 05 AM" src="https://user-images.githubusercontent.com/92799520/167266348-bdb0d92a-5f80-4e92-9458-233043ecc395.png">
e

[2022-05-07 18:02] trevholliday commented on #559
2880: Scaling image
<img width="2672" alt="Screen Shot 2022-05-07 at 11 01 19 AM" src="https://user-images.githubusercontent.com/92799520/167266358-7187bba3-470a-4b9c-8445-32678f72409a.png">

[2022-05-07 18:03] trevholliday commented on #559
if I open mirroring target and stop the mirror, and then restart the mirror it falls back to 1440:1620 every time.

[2022-05-07 18:35] waydabber commented on #559
when it falls back, can you increase the resolution to a larger one?

Btw. I fixed the issue with the limited portrait switch resolution problem. But this issue should only affect situations when you change the portrait setting to the opposite of what it was by default (so on an originally portrait dummy the problem happens only when you switch it to non-portrait).

[2022-05-07 18:37] waydabber commented on #559
So to clarify - the problem is that you cannot set a higher dummy resolution when you create a new 16:18 dummy (and leave it as it is, don't click on the `Portrait` setting) or the problem is that on mode changes the resolution reverts to a basic 1440:1620?

[2022-05-07 18:42] trevholliday commented on #559
I cannot set the higher dummy resolution.

The slider will allow me to set it, but after setting the resolution it falls back to the default mac os scaling (I think).

[2022-05-07 18:42] trevholliday commented on #559
Thanks for fixing the limited portrait switch resolution!

[2022-05-07 18:43] waydabber commented on #559
What Mac model do you have?

[2022-05-07 18:48] trevholliday commented on #559
<img width="218" alt="Screen Shot 2022-05-07 at 11 47 57 AM" src="https://user-images.githubusercontent.com/92799520/167267841-7691cdc6-a638-4e56-a5e5-a9ea223bd54e.png">

[2022-05-07 19:41] waydabber commented on #559
The 1440x1620 is the default resolution for this aspect ratio if a dummy is created it seems (this is selected by macOS based on verious factors). The fact that the system reverts to this resolution when there is a display layout that was previously unused is normal. However you should be able to change this resolution while you are mirroring your dummy to your display using the slider or the Syst

[2022-05-07 21:36] mgansler commented on #558
It still seems to be present - when I first opened the app it didn't properly active the license. Quit & open again and now it recognizes as licensed

[2022-05-07 21:39] mgansler commented on #558
I reopened it a couple of times now, the license always activated. I will continue to use it and report back

[2022-05-07 22:15] waydabber commented on #558
Ok, thanks! When the menu says the license is not activated, do you see it unactivated in Preferences/Pro as well?

You can try deactivating and activating the license in the Pro menu as well. Paddle uses some proprietary thing to store and tie licences to Macs, maybe something is/was interfering with this. All this is not encouraging, this thing should be rock solid and reliable.

[2022-05-07 23:05] #559 closed, assigned to waydabber

[2022-05-08 05:45] mgansler commented on #558
The menu and the preference are in sync.

I'll try deactivating/activating the license if it happens again. Right now it is activated. So maybe it is better now and it was just the first start of the beta app.

[2022-05-08 05:49] mgansler commented on #558
I had PIP on and closed the app. Then, after reopening the license was not activated. But now I cannot reproduce it, the license stays active even though I quit the app while PIP is active

[2022-05-08 06:01] mgansler commented on #558
It just deactivted on my while I was making breakfast. Unactivate/activate via the preferences via the pro tab worked though.

[2022-05-08 11:07] waydabber commented on #555
<img width="567" alt="Screen Shot 2022-05-08 at 13 07 02" src="https://user-images.githubusercontent.com/37590873/167293382-4c296ff2-469a-4af6-a2d9-865575826d06.png">

[2022-05-08 11:08] waydabber opened #560 "Add R/G/B tint (gamma) sliders for more fun color correction options"
R/G/B range sliders would allow the user to control individual R/G/B channels for even more fine-tuned color table control

[2022-05-08 13:21] waydabber commented on #560
<img width="268" alt="Screen Shot 2022-05-08 at 15 21 25" src="https://user-images.githubusercontent.com/37590873/167298166-2408bb7c-e258-4199-97a6-95d8a4f754bf.png">

[2022-05-08 13:23] waydabber opened #561 "Add gain option to squeeze out some more nits or fake brightness"
This will help overdrive max brightness when HDR upscale is not possible but there is dark content on screen or just allows to squeeze out a few more nits out of that HDR display when the max brightness autotuning logic in the HDR brightness upscaler leaves some small amount of headroom unutilized.

[2022-05-08 13:24] waydabber commented on #561
<img width="295" alt="Screen Shot 2022-05-08 at 15 24 13" src="https://user-images.githubusercontent.com/37590873/167298281-e943f1c9-73e1-4824-a460-d7450cfd7e55.png">

[2022-05-08 14:12] waydabber opened #562 "Create a proper menu for all color correction options"
There are a lot of color correction options now, these should have a separate menu.

[2022-05-08 14:13] waydabber commented on #562
<img width="546" alt="Screen Shot 2022-05-08 at 16 11 47" src="https://user-images.githubusercontent.com/37590873/167300301-858b4a94-a585-430c-b80f-287b40fe68ce.png">

[2022-05-08 14:14] waydabber commented on #562
+ added a notification in HDR mode that color adjustments will flatten HDR content

[2022-05-08 15:18] waydabber commented on #556
<img width="842" alt="Screen Shot 2022-05-08 at 17 18 26" src="https://user-images.githubusercontent.com/37590873/167303007-3f7aaa22-193d-4df3-9a75-802e2a2d154f.png">

[2022-05-08 16:54] waydabber opened #563 "Restore brightness/color adjustments upon reconnect/restart"
Brightness and color adjustments should be saved and restored (as far as it makes sense).

[2022-05-08 17:34] waydabber opened #564 "Option to easily reset all color adjustments for a display"
it's a bit tedious to move all sliders to the center. There should be a quick menu option.

[2022-05-08 17:34] waydabber commented on #564
<img width="291" alt="Screen Shot 2022-05-08 at 19 33 32" src="https://user-images.githubusercontent.com/37590873/167308342-92e69174-dbf0-423d-87ff-f8cd4ef842ff.png">

[2022-05-08 19:45] waydabber opened #565 "After resetting the app in Preferences no items appear under the display in the menu"
After an app restart the menu appears properly.

[2022-05-09 16:37] waydabber opened #566 "Add contrast control"
<img width="580" alt="Screen Shot 2022-05-09 at 18 36 49" src="https://user-images.githubusercontent.com/37590873/167456466-29430a34-cc26-4ae7-a877-e63f8e792c78.png">

[2022-05-09 16:38] waydabber commented on #551
Made this super quick on resolution change + now it applies after restart or dummy reconnect as well.

[2022-05-09 21:03] mgansler commented on #558
After a normal day of usage it is still active - so maybe it has improved.

[2022-05-09 21:38] waydabber commented on #558
Well, we do hope so. If the issue is happening again, let me know! Thank you!

[2022-05-09 21:40] waydabber opened #567 "Create a permanent Tools area at the bottom of the menu"
This area should be collapsible and its contents configurable as room is needed for functions that are not specific to a particular display or dummy (like NightShift, general configuration stuff and some planned set-all-displays at once stuff).

[2022-05-09 21:41] waydabber commented on #567
This currently looks like this. Its contents is not configurable yet, I'll probably add that in future betas as options there begin to expand.

<img width="306" alt="Screen Shot 2022-05-09 at 23 35 05" src="https://user-images.githubusercontent.com/37590873/167503214-b387f91b-5975-4104-865c-95f668659c5c.png">

[2022-05-10 00:42] ghost commented on #567
Dear Mr. Toth:

We unsubscribed to this thread yesterday but continue to be flooded with
voluminous emails. Please, how do we stop this?

We clicked "unsubscribe" in a thread email yesterday. We were directed
to GitHub and logged in. We unsubscribed. GitHub then said "You've been
unsubscribed from this thread." But we continue to get thread emails. We
clicked on "unsubscribe" again today. We were

[2022-05-10 03:47] Awesome-E opened #568 "(beta bug) Enabling HDR/XDR Upscale makes brightness slider disappear"
Bug report, version 1.2.1 beta

**Steps to reproduce:**
1. Open the app
2. Enable HDR/XDR Upscale
3. Click out of the menu bar app so it disappears
4. Open the menu bar app again.

**Expected:** Brightness slider for display shows
**Actual:** Brightness slider is gone

<img width="302" alt="image" src="https://user-images.githubusercontent.com/54484616/167538573-84713de1-9c98-4b41-befc-01bb137a1a3

[2022-05-10 09:14] waydabber commented on #567
Hi @Meta-Self

Maybe you set to watch the project and asked for notifications about every activity? You can change that here:

<img width="313" alt="Screen Shot 2022-05-10 at 11 12 52" src="https://user-images.githubusercontent.com/37590873/167593870-e803dd7a-051f-4395-9bc1-33eec04fc760.png">

[2022-05-10 09:16] waydabber commented on #568
Hi @Awesome-E - thanks for the report. This is an issue indeed, and is hopefully fixed in v1.2.2-beta. I did not reach the goals of the beta yet, but I'll post it anyway as the slider disappearing stuff is annoying. Also in v1.2.2 you won't have to toggle upscaling every time + the app remembers the last upscale level, so restarts will be easier.

[2022-05-10 12:35] waydabber commented on #568
Hey @Awesome-E - just popped a new beta, you can try this one - please let me know if you have any issues with it! Thank you!

[2022-05-10 12:42] waydabber commented on #568
https://github.com/waydabber/BetterDummy/releases/tag/v1.2.2-beta

[2022-05-10 12:43] #548 closed, assigned to waydabber

[2022-05-10 12:43] #551 closed, assigned to waydabber

[2022-05-10 12:43] #554 closed, assigned to waydabber

[2022-05-10 12:43] #555 closed, assigned to waydabber

[2022-05-10 12:43] #556 closed, assigned to waydabber

[2022-05-10 12:43] #557 closed, assigned to waydabber

[2022-05-10 12:43] #558 closed, assigned to waydabber

[2022-05-10 12:43] #560 closed, assigned to waydabber

[2022-05-10 12:43] #561 closed, assigned to waydabber

[2022-05-10 12:43] #562 closed, assigned to waydabber

[2022-05-10 12:43] #563 closed, assigned to waydabber

[2022-05-10 12:43] #564 closed, assigned to waydabber

[2022-05-10 12:43] #565 closed, assigned to waydabber

[2022-05-10 12:43] #566 closed, assigned to waydabber

[2022-05-10 12:43] #567 closed, assigned to waydabber

[2022-05-10 12:43] #568 closed, assigned to waydabber

[2022-05-10 15:15] ibehnam opened #569 "Brew Version is Outdated"
`brew info betterdummy` shows 1.1.12. Can you please update that?

Some people tend to block internet access for most apps and only update them through `brew`.

[2022-05-10 15:19] waydabber commented on #569
Hi, the latest stable version is 1.1.12, so that should be correct. It is true that it is rather outdated but the 1.2.x development cycle is not yet finished (there are a lot of things to add and settle) so there are only betas beyond that 1.1.12.

[2022-05-10 15:20] #569 closed, assigned to nobody

[2022-05-10 15:31] waydabber opened #571 "Make the contents of the new Tools menu block configurable"
In v1.2.2 a new Tools menu block was introduced. This should be configurable especially as the contents of this block will grow - menu items should be hideable or relocatable to a secondary "More options..." submenu just like how Display and Dummy blocks work.

[2022-05-10 18:31] waydabber opened #572 "Slider graphics and text colors are somewhat off with some backgrounds"
This happens both in dark and light mode. This needs some tuning as the icons and percentages are sometimes indiscernible.

[2022-05-10 22:16] Awesome-E commented on #568
Seems fine to me so far – thanks for the quick fix!

[2022-05-11 11:00] hericius opened #573 "PIP window auto (re)connect option - option to start PIP window when connecting to a display or dummy"
Hello,

Using a 49" screen, BetterDummy Pro saved me with a 1920x1080 PIP screen for Teams presentation.

I don't know if this suggested feature is already on your roadmap but, I'm interested in the option to have the PIP start automatically when I connect to a dummy screen.

Thanks in advance, and I waiting to be able to test this new feature :-)

Regards,
André for Hericius

[2022-05-11 14:45] AmrSol opened #574 "FPS is not the same as original monitor + minor mouse input delay"
Hi waydabber,
I'm using a Dell S2721D 27" QHD 75fps screen and a Logitech MX Master 3 mouse.
I've noticed that when BetterDummy is being mirrored onto my monitor, the FPS of the monitor is capped at 60. Is it possible for the FPS to be uncapped?
Also, I've noticed that there is a slight mouse input delay. The mouse does not feel as accurate when BetterDummy is in use.

Of course, I would like to t

[2022-05-11 14:56] waydabber commented on #574
Hi @AmrSol - yes, virtual screens (like SideCar, AirPlay, DisplayLink and also BetterDummy) are maxed out at 60Hz in macOS. This is a limitation that might change in the future (the relevant APIs do accept higher refresh rate configurations but don't act on it) maybe when Apple introduces ProMotion for Sidecar or AirPlay.

See this for more info: #140

[2022-05-11 14:56] #574 closed, assigned to nobody

[2022-05-11 15:10] waydabber commented on #573
I'd implement it as a reconnect option - this means the PIP window would be opened if it was connected when the dummy was disconnected previously. Is that all right with you?

[2022-05-11 15:15] waydabber commented on #572
This is how light mode looks like (more contrasted and readable):

<img width="525" alt="Screen Shot 2022-05-11 at 17 13 09" src="https://user-images.githubusercontent.com/37590873/167885149-d99b1ac7-6cac-4102-a0d3-b4018403e92a.png">

This is how dark mode looks like (a little bit flatter and more contrasted):

<img width="527" alt="Screen Shot 2022-05-11 at 17 14 40" src="https://user-images.gith

[2022-05-12 12:48] roelvangils commented on #515
That would be great. Have you ever considered merging the features of MonitorControl and BetterDummy into one (paid) app? Both apps are amazing. The only thing I don't like about BetterDummy is its name! ;)

[2022-05-12 12:50] Code317 opened #576 "On the external screen, the four finger gesture no work"
<img width="1920" alt="image" src="https://user-images.githubusercontent.com/48311882/168078412-9564b1b7-9ff1-460c-8053-e24e5bd8f6f2.png">

[2022-05-12 12:57] Code317 commented on #576
I saw it, this is the known bug of Mac

[2022-05-12 12:57] #576 closed, assigned to nobody

[2022-05-12 14:42] waydabber commented on #515
Yes, I am about to implement most of what makes sense from MonitorControl into BetterDummy. I don't just copy things but reimplement them from ground-up to be more futureproof so it takes some time.

What name would you prefer? :) The app is turning into a general app about doing all kinds of display related stuff so I am thinking about a name change that reflects this but could not figure out wha

[2022-05-12 14:43] waydabber commented on #576
Yes, this is unfortunately an issue with macOS currently. :(

[2022-05-13 01:32] lumenium commented on #261
I've tried all the methods above, but it did not work. But I've found another way to solve it. Just turn off and on the monitors and all the flickering stops. Hurray.

[2022-05-13 10:03] mmolinari commented on #261
Another workaround that works most of the times for me is to just use "Reconnect Dummy".
In general I try that, if it doesn't work I remove the second dummy (if I had it, for example right now I don't) and recreate it. If that doesn't fix it, WindowServer generally crashes right after, and when I login I'm able to go back to a flicker-free state (worst case I have to re-arrange the monitors, not a

[2022-05-13 15:00] roelvangils commented on #515
What about Monitor Maestro? 🪄😉

[2022-05-13 20:19] waydabber commented on #515
Well, that is certainly a name! ;)

[2022-05-13 22:13] roelvangils commented on #515
Okay, here are some additional suggestions! :)

- DisplayX
- MultiMonitor
- VirtualDisplay(s)
- Ecran (French for computer display)
- eCran
- Pantalla (Spanish for computer display)