[2022-07-31 18:28] 3DCoded commented on #824
First, delete your dummy displays, then follow #678 and reboot.

[2022-08-01 07:20] Veeit commented on #757
Perfect, just tested it and it works as I imagined! Thanks a lot

[2022-08-01 07:36] op06072 opened #825 "There is flickering when using with IntelliJ IDEA."
I'm using Pycharm and IntelliJ IDEA and BetterDisplay Pro.
When I changed brightness of Macbook pro 16 (2021)'s internal display, the flickering is occured in IntelliJ IDEA. But Pycharm is ok.
Do you need more info for your debugging?
Anyway, thank you for your awesome work.

[2022-08-01 07:48] waydabber commented on #757
Thanks for testing! :)

[2022-08-01 07:51] waydabber commented on #825
Hi there,

1. Are you using dummy mirroring?
2. Are you using XDR brightness upscaling?

If you disable 1. or 2. (depending on which one do you use), do you still experience the issue?

Thanks!

[2022-08-01 09:13] op06072 commented on #825
1. Yes, I'm using two FHD monitors with dummy mirroring. But this occured only with internal display.
2. Oh yes. I'm also using it.

And I disabled it separately. But still occured.

[2022-08-01 10:27] leronxv commented on #825
I had the same problem with some screens flickering when using IDEA (i.e., double-clicking Shift on the search page, etc.), but I also had the same problem when not using BetterDisplay

[2022-08-01 11:17] NotYourTypicalDeveloper commented on #824
Hello, thanks.

**For this monitor (Dell 27" QHD):**
there is no option to set a custom HiDPI resolution, in the Better Display (even though I have the pro version)
<img width="620" alt="Dell" src="https://user-images.githubusercontent.com/41584108/182136333-d915fd69-fdd4-428a-81c7-660a0207c6e3.png">
<img width="392" alt="Dell config" src="https://user-images.githubusercontent.com/41584108/1821363

[2022-08-01 11:20] 3DCoded commented on #824
If your display's actual size is 2560x1440, you cannot get 2560x1440 HiDPI resolution. Trying lower resolutions, 1920x1080 should work on that display.
**does it mean I shouldn't need to generate any dummy display if I use custom HiDPI?** yes

[2022-08-01 11:26] waydabber commented on #824
Hi @CAH1983,

the first display is probably connected via a DisplayLink dock which uses a virtual display technology. Native smooth scaling does not work on these displays, you can however use dummy mirroring with them (but it might have issues).

As @3DCoded mentioned, for the other display, I recommend setting an interim resolution (you can go up to 99% of the 2560x1440, but the native resolutio

[2022-08-01 11:30] pabloibanezcom commented on #807
Hello, I'm facing the same issue when mirroring two monitors. It started to happen after upgrading to 12.5. Any news on any potential fix for this? It's a shame because until this doesn't come I need to disable BetterDisplay. Thanks!

[2022-08-01 11:30] waydabber commented on #825
I am not entirely sure what's up with Java and flickering on Apple XDR displays. This might happen when HDR content is on screen so the display is in XDR/EDR mode (XDR brightness upscaling switches the display to this), but that is a general macOS issue, not specifically related to BetterDisplay. Usually the built-in player does this flickering sometimes with specific blue colors however, I am not

[2022-08-01 11:32] waydabber commented on #807
Hi @pabloibanezcom - I am still investigating this. However the issue happens only with dummy mirroring. For most users native smooth scaling is a much better option (or creating specific custom HiDPI resolutions for those who do not want to purchase Pro as that functionality is available for free).

[2022-08-01 14:34] megasoft1978 commented on #807
Hi,
I just bought the Pro version and I'm looking for a bit of support on this issue.
I'm using dummies for Xiaomi Mi Monitor (Ultra wide 34) and Asus MX279 but I'm getting the issue about the cursor disappearing. Mac OS 12.5.
You mention native smooth scaling. Could you please help me properly set up this?

[2022-08-01 15:09] waydabber commented on #807
Yes, of course. You should follow these instructions to set up native smooth scaling on you Apple Silicon mac: https://github.com/waydabber/BetterDisplay#how-to-unlock-scaling-and-hidpi-for-my-display

Let me know if you have any issues!

[2022-08-01 15:09] #824 closed, assigned to nobody

[2022-08-01 15:14] waydabber commented on #823
Hi there, let's continue the discussion here: https://github.com/waydabber/BetterDisplay/discussions/827

[2022-08-01 15:14] #823 closed, assigned to nobody

[2022-08-01 15:38] megasoft1978 commented on #807
@waydabber This looks amazing! Thank you very much!
Very cool app! ;)

[2022-08-01 15:41] waydabber commented on #807
I meant the section under `How to unlock scaling and HiDPI for my display?` - this deals specifically with enabling native smooth scaling (as opposed to the dummy mirroring method).

[2022-08-01 15:47] megasoft1978 commented on #807
Yes, I did that and now everything is perfectly working. This is even better than before as it has higher quality.
Thank you! :)

[2022-08-02 08:27] pabloibanezcom commented on #807
Thank you @waydabber. I was in the same situation as @megasoft1978 and by enabling native smooth scaling everything looks better and without the mirroring issues.

[2022-08-02 08:33] ghost commented on #807
Yes, I confirm that the solution with native smooth scaling works like a charm! Thank you!

[2022-08-02 13:48] megasoft1978 opened #828 "Weird horizontal band on Xiaomi Ultrawide Monitor 34 after sleep"
I'm not sure I'm able to explain it correctly but when the monitor goes to sleep and I try to wake it up, there are some horizontal bands moving.
It takes almost a minute to come back normal.
Is it possible some issues with the refresh rate?

[2022-08-02 13:49] waydabber commented on #828
Well, i don't know. :) You might want to post a video about it.

If you are all right with it, I'll move this over to discussion, maybe other Xiaomi users can chime in!

[2022-08-02 13:49] #828 closed, assigned to nobody

[2022-08-02 15:43] waydabber commented on #810
<img width="842" alt="Screenshot 2022-08-02 at 17 42 37" src="https://user-images.githubusercontent.com/37590873/182416041-8aec6cbe-fcf2-4640-95a8-ff6168c9b313.png">

[2022-08-02 20:00] CrozMartin opened #830 "typo in settings"
in the settings under "Manually add custom resolutions" there is a small typo

it says `resoltuion` instead of resolution

[2022-08-03 01:28] hstriepe opened #831 "U3818DW on Ventura: Audio keys not working, moving contrast to 100% clobbered screen sync forcing reboot"
This is working great on my Mac Studio on Monterey. With Ventura, I switched back to Monitor Control. The audio keys not working, moving the contrast slider to 100% clobbered screen sync forcing a reboot.

[2022-08-03 06:21] waydabber commented on #831
Hey there - hmm. Audio keys should work on Ventura (you might have to redo accessibility setup?). I am not sure about the contrast slider (under Color Adjustments), it should not affect hardware sync as the alteration is happening at software level.

Or are you talking about DDC audio and brightness not working/creating issues with the screen? If the latter, then you have to check if you are not u

[2022-08-03 06:22] #831 closed, assigned to nobody

[2022-08-03 10:42] kachkaev commented on #807
Same problem here on two M1 MBPs after upgrading to macOS 12.5. I can’t use a workaround because “Allow smooth resolution scale“ is disabled in BetterDisplay settings.

<div align="center"><img src="https://user-images.githubusercontent.com/608862/182583016-c15dd2c2-579e-48b6-baf0-ee14dfd0b4f5.png" width=500 /></div>

<div align="center">(it remained disabled after a reboot)</div>

<br/><br/>
Here

[2022-08-03 11:48] jhogendorn opened #833 "Changing display system configuration affects all monitors of the same vendor/model"
If i change the raw display name for one of my 2 identical model monitors, on reboot, they will both be named the same with (1) and (2) suffixes.

[2022-08-03 12:59] waydabber commented on #807
Hi @kachkaev - yes, native smooth scaling is a Pro feature so it will be disabled if the Trial expires and you don't purchase Pro.

If you don't want to purchase Pro but you are using some specific resolutions and don't need too much flexibility, you can create custom resolutions for completely free by enabling `Manually add custom resolutions`. Simply enter the desired resolution and click on the

[2022-08-03 13:00] Laksmack commented on #197
This feature would be huge, and would really be useful for me  +1 on the feature request :)

1/4, 1/2, and 1/4  split of my screen would allow for the main screen and 2 separate work areas.

if this became a separate tool, I would buy a license :)

[2022-08-03 13:01] waydabber commented on #833
Yes, this is because system display configurations are actually tied to display vendor and model numbers, not specific displays. So if you have more than one of the exact same display, all custom display configuration changes will be applied to all of these displays. This is a macOS limitation and cannot be circumvented I am afraid.

[2022-08-03 16:08] kachkaev commented on #807
Ah right, how could I miss that part of the text? 🤦 😅

I followed your suggestion and it did the job – big thanks for your reply and support!

<div align="center"><img width="500" alt="Screenshot 2022-08-03 at 17 04 57" src="https://user-images.githubusercontent.com/608862/182656302-1a66b12d-4c7b-46d8-8f92-995b302b14f0.png"></div>

Looks like I don’t need a pro license but I should probably still

[2022-08-03 17:06] waydabber opened #834 "Add toggle to allow invalid resolutions and allow 8K+ native scaling options - dependent on (future?) macOS support"
The latest Ventura beta seems to allow native resolutions in HiDPI with display config editing. Also future macOS versions might allow higher-than-native HiDPI resolutions (who knows?). There should be some toggles that allows these possibilities for the slider and native smooth scaling.

[2022-08-03 17:17] waydabber commented on #834
This setting will apply to native smooth scaling as well. Might work in the future.

<img width="842" alt="Screenshot 2022-08-03 at 19 16 17" src="https://user-images.githubusercontent.com/37590873/182669437-49f97b6c-2020-44a2-9eba-41e5915a3637.png">

[2022-08-03 17:36] waydabber commented on #834
Resolutions marked as `Invalid` in the past will be marked as `Discouraged` instead as they might work and be useful.

<img width="579" alt="Screenshot 2022-08-03 at 19 36 01" src="https://user-images.githubusercontent.com/37590873/182672978-6e1c595b-09ba-4f77-b6bf-3d725194bd31.png">

[2022-08-03 17:40] waydabber commented on #834
From now on discouraged modes will appear in the list when this is enabled. Also, in this case the slider maximum will attempt to use HiDPI for native resolution instead of LoDPI.

<img width="842" alt="Screenshot 2022-08-03 at 19 39 29" src="https://user-images.githubusercontent.com/37590873/182673633-00d7c116-1a9f-4496-a4a1-02e7d760776f.png">

[2022-08-03 18:08] waydabber commented on #834
Here is a pre-beta to test if this works.

It would be great if Apple Pro Display XDR users would be able to check if additional resolution options are enabled in Ventura dev beta 4 for that display or not (as it might be the case that 4K HiDPI became available on that display as well).

_(download removed)_

Here is how to test if things changed.

- Enable `Settings` (gear icon) -> `Advanced` > `

[2022-08-04 00:23] ibehnam opened #835 "Independent color adjustment options for a PIP window/full screen stream"
When watching a dimmed movie as Pic-in-Pic mode, or when using apps that don't support dark mode alongside the ones that do, it's annoying that one has to change the brightness of the whole screen or find a compromise. Apparently it's not possible on Mac as macOS applies calibration to the entire screen equally [[1](https://apple.stackexchange.com/a/436355)].

I was wondering if it'd be possible w

[2022-08-04 00:40] op06072 commented on #825
Yes. It solved after I turning off `Enable advanced display control`. But do I need pro without this?

[2022-08-04 05:48] waydabber commented on #825
`Enable advanced display control allows you brightness control` allows you brightness control in general. Did you try the other, less drastic options?

[2022-08-04 06:15] Zorast commented on #834
Very Nice!! Did u think this will fix Pro Display XDR 4k HiDPI issue ? Nice that u keep on working on issues and limitation coming with apple silicon!! Hopefully this will help getting 4k HiDPI on PDXDR. Unfortunately i have not Ventura Beta installed to test this for you :-( Testet your beta with MacOS 12.5 and still the same.

[2022-08-04 07:01] waydabber commented on #834
Yes, I am just curious whether the situation regarding the Pro Display XDR is affected by this change in beta4. 4K HiDPI (=8K framebuffer) is now certainly possible on a 4K display (was not possible before), so it would make sense that it is unlocked with the PDXDR as well - but that might not be the case.

[2022-08-04 07:03] Zorast commented on #834
Probably i think there also come a new Firmware for the PDXDR itself too to support this?!

[2022-08-04 07:04] Zorast commented on #834
Now with MacOS 12.5 we have:   Display-Firmware-Version:	4.2.37

[2022-08-04 07:11] waydabber commented on #834
I am not sure if a firmware update is required this on the display size as only scaling is being changed which should not affect the video signal itself. But I don't have a Pro Display XDR (would be nice to have one laying around though :)) so I can't really experiment with it.

[2022-08-04 07:15] Zorast commented on #834
Haha hopefully the sales with BetterDisplay with reach fast that u can get them :) But be aware this Display has some hardware issues too:  https://youtu.be/ZNlLm82q1xs?t=352

[2022-08-04 07:15] waydabber commented on #835
You can dim the dummy screen separately via the brightness slider for the dummy (this uses overlay on the dummy screen). It would be beneficial however to add an independent dimming/color adjustment slider to the PIP window or full screen stream.

[2022-08-04 12:30] waydabber commented on #789
Hmm. I am not sure this actually does anything at least on Ventura. I did all kinds of experiments and seen basically zero results (or so very subtle that I was not able to pinpoint the change). I am afraid implementing this feature will just result in various complaints about it not working, so I'll drop this for now.

I convert this into a discussion, I might have to reverse course if this featu

[2022-08-04 12:30] #789 closed, assigned to waydabber

[2022-08-04 16:14] waydabber commented on #761
I added a warning if the following the following are all true:

- Platform is arm64 (apple silicon)
- Display is sub-4K
- OS version is below 12.4

<img width="842" alt="Screenshot 2022-08-04 at 18 13 34" src="https://user-images.githubusercontent.com/37590873/182896964-6118aded-faf4-4071-8692-819dd9e27482.png">

[2022-08-04 16:21] 3DCoded commented on #761
That looks great! Thank you.

[2022-08-04 23:53] Mudflapper commented on #834
I mentioned this in Discord but thought maybe should document it here for safekeeping:

I might have misunderstood, but I was hoping this could allow the LG 34WK95-U to get native 5120x2160 in HiDPI, so I tried your new beta with Ventura Beta 4, but no luck. I did get a 3830x2160 HiDPI "Discouraged" option that was I was able to activate but of course the ratio was wrong so it was unusable. I did

[2022-08-05 01:48] leronxv opened #837 "Macos Monterey12.5 has a mouse shake problem"
After updating Macos Monterey12.5, the mouse always shakes and disappears on my 2K monitor, but after a while it gets better again and again. Is something wrong with my configuration
<img width="730" alt="image" src="https://user-images.githubusercontent.com/69708227/182987552-13093534-b26a-4068-b319-aa2764781c0c.png">

<img width="251" alt="image" src="https://user-images.githubusercontent.com/69

[2022-08-05 02:04] HammerFive commented on #837
same problem, when typing, the cursor even disappears

[2022-08-05 07:41] waydabber commented on #837
Yes, this is a new issue with Monterey 12.5. Take a look at this: https://github.com/waydabber/BetterDisplay/issues/807

[2022-08-05 07:41] #837 closed, assigned to nobody

[2022-08-05 07:43] waydabber commented on #834
Hi @Mudflapper - yes, this change does not seem to affect the 3072 (M1/M2) /3840 (M1 Pro) horizontal limit.

[2022-08-05 07:47] leronxv commented on #837
All right. Thank you.

[2022-08-05 10:10] waydabber commented on #382
Presets could be invoked via menu, hotkey or tied to applications and application window state (full screen or not). See this discussion: https://github.com/waydabber/BetterDisplay/discussions/817#discussioncomment-3331646

[2022-08-07 04:05] Automage commented on #140
HiDPI on 1440p @ 144hz – working for me too!

[2022-08-07 04:55] oldpcguy opened #842 "Issue when revoking BD Accessibility permission"
20-30 min after install and exploring BetterDusplay I got onscreen message saying "Let's fix this now" and verbiage about giving access to BD for keyboard control of sound/brightness. I assume for the dummy displays.

I gave permission to BD in Privacy Settings> Accessibility. After a short while I questioned if I should have done so. So, I revoked (unchecked) access for BD and immediate result wa

[2022-08-07 07:00] jhogendorn commented on #833
ah, classic macos, so frustrating. thankyou for the clarification.

[2022-08-07 08:31] inttimmy opened #843 "After using dummy, the mouse pointer disappears on the external display"
After using dummy, when the mouse pointer moves from the built-in display of the Mac to the external display, the mouse pointer will disappear. It can only be displayed again after shaking or opening the dispatching center.

[2022-08-07 08:50] waydabber commented on #842
Hi, keyboard control is not needed for dummy displays, it is needed to use the native brightness/volume keys of the Apple keyboard to control display brightness and volume. Enabling or revoking accessibility permissions does not have any effect on how other stuff works and certainly cannot disable general interaction with the OS.

The most likely explanation is that you probably had enabled a dumm

[2022-08-07 08:50] #842 closed, assigned to nobody

[2022-08-07 08:52] waydabber commented on #843
Hi there - take a look at this issue: https://github.com/waydabber/BetterDisplay/issues/807

This is an issue present in the latest Monterey 12.5 update. If you are using dummy mirroring it is best to utilize native smooth scaling instead as that does not suffer from these issues.

[2022-08-07 08:52] #843 closed, assigned to nobody

[2022-08-08 01:50] leronxv commented on #843
Does buying a Pro license solve this problem?

[2022-08-08 11:53] waydabber commented on #843
Hi @leron-x - with the pro license you can enable native smooth scaling. This is generally a better solution if your only goal with the dummies is to mirror them in order to get flexibely scaled HiDPI resolutions. Native smooth scaling has some limitations however - see #735.

[2022-08-08 22:13] waydabber commented on #834
Ventura beta 5 killed this feature. :( The fact that it worked was a bug apparently...

[2022-08-09 08:00] Zorast commented on #834
Crazy...

[2022-08-09 14:35] ArnoBuysse opened #849 "Adjust brightness/color/volume for all screens at the same time via sliders"
I have a multi-monitor setup and would like to adjust the brightness for all monitors at the same time, including the screen of the macbook

[2022-08-09 16:48] waydabber commented on #849
You can do this via the keyboard (Settings/Keyboard/Keyboard shortcuts affect/All suitable screens).

There will be a combined slider as well that will affect all displays at once. This feature is upcoming!

[2022-08-10 02:53] jjangga0214 commented on #807
Oh you mean this issue is caused by the updated version of macOS, not by BetterDisplay.
Should we report this to apple?

[2022-08-10 08:12] ArnoBuysse commented on #849
Thank you! 👯 👯 👯

[2022-08-10 08:50] waydabber commented on #807
Yes, by all means, you can report it. But don't keep your hopes high - so far Apple did not exactly rush fixing any of the issues reported by the community regarding virtual screens/dummies. :)

[2022-08-10 09:03] waydabber commented on #849
The feature should work like this:

- There should be a brightness, volume slider and color adjustments options that affect all controllable displays at once.
- Since different displays might have individual brightness levels, the combined slider should be able to show a range (as well as a singular setting if all displays match up) but upon click/slider usage should consolidate all display levels

[2022-08-10 13:15] philipw95 opened #852 "Different Bugs noticed; Flickering on Screen and Mouse Cursor"
Hello,
Using BetterDisplay at Version 1.2.8 Build 8368 on my MB M1 Air with macOS Monterey 12.5, connected to a Dell P2423DE and I'm experiencing different issues. Both problems appear from time to time and aren't constantly there. The first one I've noticed is a slight flickering in the right upper corner of the screen which is disappearing after restarting Better Display. The Second issue is the

[2022-08-10 22:01] waydabber commented on #852
Hi there,

regarding flickering: #261
regarding cursor issues in Monterey 12.5: #807

Unfortunately both are macOS issues that affect mirrored virtual screens. The best course of action is to use native smooth scaling instead of dummy mirroring which in most of the time is a superior way to get scalable HiDPI resolutions. Dummies are still useful for other use cases (and it is still required to ge

[2022-08-10 22:01] #852 closed, assigned to nobody

[2022-08-11 05:35] zdc-12 commented on #807
I had the mouse cursor issue as described here but I bought the BetterDummy Pro version and I used the smooth scaling option and it's the best thing ever! it resolved the issue and it actually works better than ever. Thank you for this amazing app!

[2022-08-11 05:54] MeyerOppelt opened #854 "M1 Mac Mini Running Headless, Issue with Looping Resolutions"
Version: 1.2.8
Description: M1 Mac Mini Running Headless Over Multiple Remote Desktops, having problems with looping resolutions.
Installed and set the resolution to best fit, now the display loops from resolution to resolution, am not able to change the resolution to a user specified one, as the popup gets taken down every time the resolution changes. Only way to stop is to kill the process. Have

[2022-08-11 07:02] waydabber commented on #854
Hi there,

if there is a misbehaving dummy, I'd recommend one of the following approaches:

- Simply hold SHIFT during app startup - this will start the app in safe mode (will give you a notification about it) and prevent any dummies from connecting (among other things). This will let you simply discard the disconnected dummy from the menu.
- You can reset the entire app configuration by issuing `

[2022-08-11 07:02] #854 closed, assigned to nobody

[2022-08-11 07:26] waydabber opened #856 "Associated dummy still auto-connects in safe mode (SHIFT is pressed during startup)"
### Discussed in https://github.com/waydabber/BetterDisplay/discussions/855

<div type='discussions-op-text'>

<sup>Originally posted by **leSs-cOws** August 11, 2022</sup>
Version: 1.2.8
Description: M1 Mac Mini Running Headless Over Multiple Remote Desktops, having problems with looping resolutions.
Installed and set the resolution to best fit, now the display loops from resolution to resolution

[2022-08-11 08:20] jjangga0214 commented on #807
@waydabber

I see :) Have you also reported this issue?

[2022-08-11 08:25] waydabber commented on #807
Not yet, I want to investigate this a bit more beforehand to see if there is any workaround.

[2022-08-11 09:01] waydabber commented on #807
Ok, I did investigate it a bit more and there seems to be no way around the problem.

It also happens _without_ BetterDummy with simply a Sidecar display being mirrored (tested with an iPad Mini 6 running iOS 16 beta + 14" MB Pro with Ventura beta), so this is one of those other generic virtual display issues that are simply macOS bugs (I suppose mirroring _from_ Sidecar is probably not a use-case

[2022-08-11 14:06] zdc-12 commented on #807
I've noticed an issue when switching to my monitors to a Windows laptop, does the smooth scaling do something to the physical monitors themselves? I have 2 monitors that I use with Mac and Windows and after I applied the smooth scaling option, it works well with Mac but when I switched to the windows laptop, the resolution is not good and I tried to set the native resolution of the monitors on Win

[2022-08-12 12:44] waydabber opened #861 "XDR upscaling - slider is rather ineffective beyond combined brightness of 125% on the MBP"
The current XDR brightening algorithm does not really add much when the combined slider is beyond 125% on the MacBook Pro. The algorithm should be tweaked a bit to make this work better.

See this related discussion: https://github.com/waydabber/BetterDisplay/discussions/860

[2022-08-12 13:07] waydabber commented on #861
I updated the EDR-upscale function to be more optimized for the MacBook's Pro XDR panel. This might cause third party HDR display upscaling to be slightly less effective in some circumstances, but the user can always compensate and further fine-tune the upscaling levels by using the `More Options/Color Adjustment/Gain` slider (just be sure white saturation does not collapse - the easiest thing is

[2022-08-12 13:29] waydabber opened #862 "Color adjustments, dimming and XDR upscaling might fail to work on the internal display after longer sleep"
Longer sleep might interfere with some aspect of color manipulation, dimming and XDR upscaling on certain configurations.

A (less than ideal) workaround is to disable/enable software-based video adjustments for the display when this happens.

[2022-08-12 17:13] waydabber commented on #856
fixed.

[2022-08-12 19:48] waydabber opened #863 "Color adjustments, XDR upscaling, dimming might not work upon wake in certain situations"
If at the moment of sleep there is an ongoing color adjustment process (this can be initiated by ambient light sensor for XDR upscaling), software dimming, upscaling, color adjustments might cease to work. The only workaround is to disable and re-enable software-based video adjustments for the display.

[2022-08-12 20:20] waydabber commented on #863
(note: the issue might happen with all controls that do seeking - smooth transitions, not only color and upscaling, however it is mostly happened with color adjustments due to the ambient light sensor triggers various adjustments in certain situations that affects this subsystem more).

[2022-08-13 07:33] leronxv opened #864 "My MAC couldn't receive calls and texts and play videos from my iPhone while using BetterDisplay"
When I was using BetterDisplay, my MAC couldn't receive notifications of calls and texts on my iPhone, and at first I thought there was a problem with my icloud Settings until I quit BetterDisplay; In addition, when BetterDisplay was working, I could not play the video properly using Tencent Video software, but showed black screen. I was not sure whether it was a problem with my monitor or a defec

[2022-08-13 10:53] katawasiya opened #865 "After using the fonts on the built-in display became worse"
I used better display in order to improve the quality of fonts on the connected monitor, but after a while I noticed that I started having some problems with fonts on my built-in macbook air 13.3 monitor. I completely deleted the program, but apparently some system settings were not deleted.

[2022-08-13 12:02] dmkpoznan opened #866 "Add option to limit native smooth scaling min. and max. resolution"
Hi,

As described in title setting resolution over 3000 pixels (for example 3076) cause crash of Monterey (12.5 - latest stable) and restarts whole system.

In fact that high resolution is useless, so maybe you can add possibility of setting minimum and maximum resolution on slider (to avoid ultra low and ultra high resolutions)?

Best regards

[2022-08-13 12:45] waydabber commented on #864
Hi there,

I suppose you are using dummy mirroring to get HiDPI resolutions and not native smooth scaling (which is the preferred way now to achieve this without some of the issues that happens with dummies).

Your two issues are these:

- #40 - you need to change a macOS setting to notifications show when you are doing mirroring
- #49 - dummies cannot show HDCP content (you need to use native smo

[2022-08-13 12:45] #864 closed, assigned to nobody

[2022-08-13 12:47] waydabber commented on #865
It is rather difficult to pinpoint the issue without understanding the nature of the "problems". BetterDisplay does not alter how fonts are displayed.

Maybe you are not using the right resolution for your display?

[2022-08-13 12:47] #865 closed, assigned to nobody

[2022-08-13 12:53] waydabber commented on #866
Hmm. That is interesting. Is this for the internal display? I did not experience this issue on my MBP (I am on Ventura beta though).

[2022-08-13 12:55] dmkpoznan commented on #866
Yes, on internal. At first i thought it was a one time problem but then i started recreating it and it keeps happening (crash & restart).

[2022-08-13 15:55] waydabber commented on #866
Hmm. I can't fully test this on my 14" MBP as the highest I can go is 3024x1964 HiDPI - which seems to work fine (on Ventura). On my external display I can go up to 3808x2142 HiDPI. It would be educational to test if the same issue is happening on the 16" MBP with the latest Ventura beta or if it did happen on Monterey 12.4.

Also, if you might want to check if the same issue is happening with LoD

[2022-08-13 21:35] dmkpoznan commented on #866
Can I help you debug it somehow?

[2022-08-14 10:28] waydabber commented on #866
Well, not really. I take your word that this issue is present with Monterey 12.5 however it is a macOS bug then, there is no much to do with BetterDisplay. This will probably be resolved with Ventura (as the latest betas do not seem to exhibit this issue) - but regardless of this, I can add a limit either to the slider or a max vertical resolution limit to the native smooth scaling feature (now I

[2022-08-14 11:21] waydabber commented on #764
I seem to be unable to reproduce this issue so far. I'll keep it around for a while but close if no other reports like this surface.

[2022-08-14 12:55] waydabber opened #869 "Save that PIP window location already!"
Currently the PIP window location is not persistent but it always pops back with a fixed size somehwere in the upper-center of the screen. This is great but it is a bit taxing to arrange that window all the time manually. Would be much better if the app saved the PIP window location and could just recreate where it was last time used.

[2022-08-14 12:57] waydabber commented on #573
This is required for this: https://github.com/waydabber/BetterDisplay/issues/869

[2022-08-14 13:11] waydabber opened #870 "Option to toggle PIP window shadow"
In some cases it would be great to hide the shadow of a PIP window (for example if the user wants to arrange multiple PIP windows next to each other).

[2022-08-14 13:18] waydabber commented on #870
The feature will be enabled only if the title bar is hidden and the window is set to free aspect ratio.

<img width="518" alt="Screenshot 2022-08-14 at 15 17 09" src="https://user-images.githubusercontent.com/37590873/184538833-6bdf38e4-b617-4832-8062-6eee1c23998c.png">

[2022-08-14 14:18] nyteghost opened #871 "Portrait Mode"
I think I'm an idiot. I read the instructions in [Issue 231](https://github.com/waydabber/BetterDisplay/issues/231#),  but i don't have options for full screen stream like the images. I'll have to retry it later as I haven't looked at it in 2 days due to life, but just remembered I was having issues and wanted to post to make sure I ask got new instructions.

Does it matter if you are usb sidecar

[2022-08-14 14:43] waydabber commented on #871
Hi @nyteghost - That screenshot is a bit outdated. Full Screen Streaming is now under `More Options` and is called `Stream Display`.

<img width="562" alt="Screenshot 2022-08-14 at 16 43 27" src="https://user-images.githubusercontent.com/37590873/184542151-bdaadea4-4744-43fb-914f-1d89e0466cc8.png">

You can create a dummy suitable for your iPad (various iPad sizes should be in the `Create New Dumm

[2022-08-14 14:46] #871 closed, assigned to nobody

[2022-08-14 15:12] waydabber commented on #573
<img width="516" alt="Screenshot 2022-08-14 at 17 11 33" src="https://user-images.githubusercontent.com/37590873/184543335-b8008ac0-2a1a-4256-92e7-b04eae2170f9.png">

This in conjunction with #869 works quite well.

[2022-08-14 15:16] hericius commented on #573
Dear Istvan,

Thank you for the automatic PIP notification. I’ll test it Tuesday.

Sincères salutations | Met vriendelijke groeten | Kind regards

André Staquet,

Hericius Consulting SRL | ISO27001 Lead Implementer | Risk, Information Security and Compliance | Founder & Consultant | M. +32 479 98 31 27
On 14 Aug 2022, 17:12 +0200, Istvan Toth ***@***.***>, wrote:

[Screenshot 2022-08-14 at 17 11 3

[2022-08-14 15:19] waydabber commented on #573
@hericius - sure, if I don't release this version by then (not decided about the timing yet) and you want to test, let me know, I'll post here a pre-beta build.

[2022-08-14 15:39] DunhamGitHub opened #873 "Remove menu items"
How can I remove everything BUT the brightness slider? (That is all I care about on my Mb14")

<img width="276" alt="Screen Shot 2022-08-14 at 17 36 46" src="https://user-images.githubusercontent.com/6884752/184544421-25a10bfc-27b5-414f-9711-baa4e0b0f870.png">

[2022-08-14 16:12] ibehnam opened #874 "What are some use cases of the picture-in-picture feature?"
It displays the current display as a floating window inside the same display. Where/when can this be useful?

[2022-08-14 18:55] waydabber commented on #873
Fix Permissions -> follow the instruction and fix the permissions. :)
All others can be configured under Settings/App Menu.

[2022-08-14 18:55] #873 closed, assigned to nobody

[2022-08-14 19:00] waydabber commented on #874
it is obviously more useful if you run dummies for production (dummies have several uses - screencasting, recording etc - and besides PIP there is no much way to look at their contents directly) or want to look at the contents of a display that is not visible to you (for a dummy this is a given, for a display it might be a projector or something with no clear line of sight). The PIP window can be

[2022-08-14 19:01] #874 closed, assigned to nobody

[2022-08-14 20:11] waydabber commented on #866
I'll add something like this to native smooth scaling. I was thinking about an option to limit the scaling slider but eventually decided against it for now (as the crash/instability issue might come up for those who use the resolution menu or System Preferences as well), but might add it later as a separate function. Also it does make more sense to have an option to limit smooth scaling range to g

[2022-08-15 08:10] CUOZI commented on #776
Great App!

[2022-08-15 19:58] zyks commented on #140
Hey guys, how did you configure the smooth scaling to work on 3440x1440 @ 144Hz? I bought Pro and all I can do is scale the UI from 50% (huge) to 100%, where 100% is 3440x1440 low DPI and I can't go higher. Did you add any specific resolution manually?

@waydabber is this even possible to have HiDPI on a 3440x1440 screen and normal UI without dummy mirroring? On 12.5 dummies are unusable to me

[2022-08-15 20:33] Atemu commented on #140
@zyks on my display, I was able to set 2560x1080. Also check the System Preferences Display settings' scaled resolutions, IIRC BetterDisplay's resolutions show up there.

[2022-08-15 21:09] zyks commented on #140
Ok thanks, I managed to set 3406x1426 HiDPI @ 144Hz when switched to use the resolution submenu instead of the slider. It looks good now, it's almost the same as the native screen resolution, but is this possible to have full 3440x1440  HiDPI? I'm having 14 M1 Pro.

Also, the colors are a bit washed out at 144Hz, at 120Hz it's much more vivid and looks more like it was on a 6880x2880 dummy. I trie

[2022-08-15 21:09] zyks commented on #140
@Atemu Ok thanks, I managed to set 3406x1426 HiDPI @ 144Hz when switched to use the resolution submenu instead of the slider. It looks good now, it's almost the same as the native screen resolution, but is this possible to have full 3440x1440 HiDPI? I'm having 14 M1 Pro.

Also, the colors are a bit washed out at 144Hz, at 120Hz it's much more vivid and looks more like it was on a 6880x2880 dummy.

[2022-08-15 21:19] Atemu commented on #140
What do you mean by that? HiDPI 3440x1440 would mean 6880x2880 which would be an insane amount of pixels at the scale of 3440x1440.

You usually want something at the scale of <1440p (so, bigger screen elements) but with the pixel count of 1440p.

Give 2560x1080p a shot to know what I mean; it'll be as large as 1080p would be on your monitor but with the higher pixel count of 1440p.

[2022-08-15 21:28] devthane commented on #573
Was just looking for this feature today wondering if it existed, excited to see it coming soon.

[2022-08-15 21:35] zyks commented on #140
Well, yes, that is exactly what I meant. I already got used to having more space and sharp fonts, I used a 6880x2880 dummy before. I tried 1080p but the UI is a bit too big for me

[2022-08-15 21:35] waydabber commented on #140
Hi @zyks - the only macOS version that allowed the native resolution as HiDPI on Apple Silicon was Ventura dev beta4. This change was reverted in beta5, so under the latest Ventura beta or on Monterey you can go only to 99% of the native resolution if you want HiDPI. However this also means a huge amount of supersampling so quality does not really suffer from this.

[2022-08-15 21:40] waydabber commented on #573
Yes, it's done, will release in the next update soon. :)

[2022-08-16 04:31] kawtharmonki opened #884 "WARNGING: SCAM"
I want a full refund, I didn't activate my pro trial, now when I want to trial out pro it says that trial has expired.

SCAM! DON'T ENCOURAGE THIS WORTHLESS THIEF

[2022-08-16 08:28] waydabber commented on #884
Hmm. Thanks for the feedback. The trial is started automatically on first launch, showing how much trial days are left (it is pretty clearly visible in the app menu). The trial is 14 days long which is rather generous. Even after the trial is over, there are no popups or nag screens or anything to annoying + much of the core functionality remains available for free. I also made sure that custom du

[2022-08-16 08:31] #884 closed, assigned to nobody

[2022-08-16 10:20] waydabber opened #886 "Option to hide the display title when only one display is present and there are no dummies created"
This would help to get a cleaner look for single monitor setups with no dummy (for example those who use the app solely for XDR upscaling or brightness control and don't need dummies and don't have multiple displays).

[2022-08-16 10:22] waydabber opened #887 "Option to close the Tools menu into the bottom icon row (instead of collapsing it)"
This would help to get a cleaner look for single monitor setups with no dummy (for example those who use the app solely for XDR upscaling or brightness control).

The Tools menu in this mode could be relegated to an icon based submenu next to Settings.

This would be a Pro feature (since without Pro that section also serves to link to the purchase option).

[2022-08-16 10:25] waydabber opened #888 "Option to hide `Fix Permissions` for those who do not wish to grant accessiblity permissions to the app"
The user might choose not to fix accessibility permissions. In this case there should be a way to remove that warning.

[2022-08-16 12:37] parthpat12 opened #889 "Better custom resolution support for display managed hardware PBP (Picture by Picture) mode switching"
Have Dell U3818DW (3840 x 1600) and there is a feature called PBP which allows me to view multiple inputs connected to the same monitor side by side. The issue is, when I turn this on, resolution does not automatically change to 1920 x 1600.

This also applies when remote in from iPad. It's be nice to auto change resolution to fit iPad's retina screen instead of remaining at 3840x1600.

[2022-08-16 13:21] unsalkorkmaz commented on #140
I disabled font smoothing and I think it makes sense in my eyes.

source: https://osxdaily.com/2022/04/06/change-remove-font-smoothing-macos/

hiDPI is not showing in panel but its active, you can check it from safari icon details.
3440x1440 @ 60hz.. I cant increase it if I want to activate hiDPI.

<img width="3440" alt="Screen Shot 2022-08-16 at 16 29 38" src="https://user-images.githubuserconten

[2022-08-16 14:15] waydabber commented on #889
PBP implementation is not really standardized, changes from display to display. Some displays do disconnect and reconnect as a new display with different EDID (with different aspect ratio resolution list) when PBP is enabled - for these displays the OS does switch. Other displays don't do this, they simply have PBP and non-PBP resolutions mixed in a single EDID. The OS has no idea that PBP is enab

[2022-08-16 14:16] waydabber commented on #889
I'll convert this into a discussion so others might chime in.

[2022-08-16 14:16] #889 closed, assigned to nobody

[2022-08-16 16:25] poxin13 commented on #140
@amroc-dev or @Automage would either of you be willing to share your settings? Unable to get 5120x1440 working at 120hz.. I don't even see an option to set refresh rate on the dummy display. If I select anything above 60hz on the main display when it's mirrored it never changes and is stuck on 60hz. I unlocked scaling and hidpi in settings already.

Also trying to get 2x scaling shown like @unsalk

[2022-08-16 18:10] waydabber opened #891 "Apply Display System Configuration button does not take into account the last field update"
When making multiple configuration changes under Settings/Displays, the Apply Display System Configuration button does not take into account the last change if the user does not intentionally changes focus beforehand. This can sometimes lead to confusion. This should be fixed.

[2022-08-16 18:16] waydabber opened #892 "App locked during credentials prompt when clicking Settings/Displays/Apply..."
This is less than ideal, this credentials should run as a parallel task not in the main thread locking up all application functions.

[2022-08-16 18:51] waydabber commented on #888
All right forgot about the fact that clicking on the Fix Permissions icon you can already easily choose to disable the features that trigger this warning, so this feature is totally superfluous... :)

[2022-08-16 18:51] #888 closed, assigned to nobody

[2022-08-16 19:33] waydabber commented on #886
With this you can clear things up a bit like this with a one display config:

<img width="280" alt="Screenshot 2022-08-16 at 21 32 14" src="https://user-images.githubusercontent.com/37590873/184966224-6b7c34d9-28fd-44b3-bef8-778ee3b627fb.png">

In conjunction with #887 (hide the Tools menu entirely) you'll be able to make things super-clean.

[2022-08-16 20:00] dannyyy opened #893 "After disconnecting TV, built-in screen settings are messed up"
I recently installed BetterDisplay to optimize one of my older external 27" displays (HDMI). This works as expected.

Today I connected a 4k TV to my MacBook Pro 14" Late 2021 with HDMI. As often with Apple products, this was actually not working. My MacBook Pro recognized the external display, and I was able to chose whether to mirror or extent and to adjust the resolution. But at the end, the Sa

[2022-08-16 21:32] waydabber commented on #893
You should disable the native smooth scaling for the built-in screen "Color LCD" under BetterDisplay's Settings/Displays. This should make the System Preferences page look ok however you won't be able to use the flexible scaling option with BetterDisplay's resolution slider.

If you did reset BetterDisplay, the display configuration files are still there unaffected, however the fact that there is

[2022-08-16 21:32] #893 closed, assigned to nobody

[2022-08-17 11:46] lsolvik opened #895 "I paid for pro but got nothing in return"
This is probably not the place to post but seriously what do I do ? I feel scammed. I paid for application and got no license. When I tried to recover my account, it said my email had no license tied to it even though i just bought it.

[2022-08-17 12:05] waydabber commented on #895
Yeah, I know the feeling.

Upon completing the purchase, the activation code should have auto-populated + you should have gotten a confirmation email with the code. If these did not happen then either the payment did not reach Paddle for whatever reason (in this case the charge won't be claimed and the transaction should be automatically reversed after a while) or you might have entered a wrong em

[2022-08-17 12:06] waydabber commented on #895
(I'll convert this into a discussion as this is not a general app issue but a payment/license issue).

btw - an other thing you can do is simply contact Paddle directly (the payment/license provider third party), they are super helpful and usually help sort things out quickly.

[2022-08-17 12:07] #895 closed, assigned to nobody

[2022-08-17 16:41] waydabber opened #899 "Add option to show/hide PIP with single display (default should be to hide)"
It does not make much sense to enable PIP for a single display without dummy connected so it should not be shown by default. But for fun some users might want to have PIP anyway (this will make more sense with partial screen PIP enabled to zoom some parts of the screen), so there will be an option for it.

<img width="842" alt="Screenshot 2022-08-17 at 18 39 55" src="https://user-images.githubuser

[2022-08-17 22:03] waydabber commented on #887
<img width="842" alt="Screenshot 2022-08-18 at 0 02 07" src="https://user-images.githubusercontent.com/37590873/185251285-2b0d30c9-fa71-4edf-b697-1eca198419af.png">

When closed the menu can be super clean:

<img width="287" alt="Screenshot 2022-08-18 at 0 00 52" src="https://user-images.githubusercontent.com/37590873/185251335-7f4eae6c-2b05-43d5-bc1e-9e33b3ab7a79.png">

When opened:

<img width="

[2022-08-17 22:06] waydabber commented on #886
<img width="294" alt="Screenshot 2022-08-18 at 0 05 48" src="https://user-images.githubusercontent.com/37590873/185251743-565631cb-784d-4690-a4f9-25baf5c321d8.png">

[2022-08-17 22:06] waydabber commented on #887
Now you can make the menu look like this:

<img width="294" alt="Screenshot 2022-08-18 at 0 05 48" src="https://user-images.githubusercontent.com/37590873/185251743-565631cb-784d-4690-a4f9-25baf5c321d8.png">

[2022-08-18 00:37] KrisCris opened #900 "M1 vs Intel macOS scaling differences"
I am using DELL U2518D, a 2560*1440 display. Configured HIDPI using BetterDisplay, and tried both ways in the readme.

However,

<img width="1149" alt="Screen Shot 2022-08-17 at 7 30 43 PM" src="https://user-images.githubusercontent.com/38860226/185266775-a1488029-ee9d-4e17-a639-02cff1453352.png">

There are some weird white (or black) outlines on the text edges⬆️, which is not the case on my old

[2022-08-18 07:24] waydabber commented on #900
This is not a BetterDisplay or one-key-hidpi issue, the scaling engine produces a somewhat different result in M1 vs Intel. The effect is super pronounced (and imho annoying) if you invert the screen but should not be that noticeable for normal use. Supposedly the change in scaling is to improve sharpness.

[2022-08-18 07:26] #900 closed, assigned to nobody

[2022-08-18 08:04] mankittens commented on #382
I would love this feature. I'm trying out this application with a mix of my laptop, a TV, and a monitor, and while the configuration ability is amazing, my presets for arrangement, resolution, etc. are consistently forgotten. Given how much time it can take to dial these in, a way to quickly recover would be much appreciated and convert me into a paying customer!

[2022-08-18 10:08] raymundovr opened #902 "Cannot use trackpad and keyboard to change virtual desktops"
I normally use the trackpad (three fingers swap left or right) and keyboard (Ctrl + left or Ctrl + right)  to switch between virtual desktops. This action happens depending on the active desktop and monitor.

When BetterDisplay is working with my external monitor I don't have these functionalities anymore. All actions are forwared to my macbook screen, hence making the transitions impossible.

[2022-08-18 10:10] raymundovr opened #903 "Cannot drag and drop screenshots to external monitor"
When taking a screenshot this is displayed at the bottom right of the main monitor where I can pick it a drag and drop to any window where I can make use of it.

When BetterDisplay is active I cannot longer drag and drop these files to any window being displayed in external monitor.

[2022-08-18 10:12] raymundovr opened #904 "How to use dummy-display association?"
Unplugging an external monitor triggers a refresh in the Displays list and allows OSX to update its desktop arrangement.

When BetterDisplay is in use unplugging the external monitor does not trigger any change hence I still have all my virtual desktops in a second monitor and cannot see my windows anymore.

[2022-08-18 10:18] waydabber commented on #902
Hi there,

this is a known issue with dummy mirroring:

- #113
- https://github.com/waydabber/BetterDisplay/discussions/102
- https://github.com/waydabber/BetterDisplay/discussions/29

It is probably better to use the new native smooth scaling feature if your goal is to have flexible HiDPI resolutions. Some limits apply (HiDPI is maxed out at 99% of native resolution which still gives great result

[2022-08-18 10:19] #902 closed, assigned to nobody

[2022-08-18 10:19] waydabber commented on #382
Yes, still on it, will get there eventually! :)

[2022-08-18 10:21] waydabber commented on #903
Hmm. This is weird, this might be a side effect of dummy mirroirng I was not aware of yet. Does this issue happen when you are not using dummy mirroring as well?

To set up native smooth scaling check out the step-by-step instructions under `How to unlock scaling and HiDPI for my display?` [in the main Github page](https://github.com/waydabber/BetterDisplay#how-to-unlock-scaling-and-hidpi-for-my-d

[2022-08-18 10:24] waydabber commented on #904
Hi there - you can associate a dummy to a display - this will make the dummy automatically connect when the associated display is connected and automatically disconnect when a display is disconnected.

<img width="496" alt="Screenshot 2022-08-18 at 12 24 07" src="https://user-images.githubusercontent.com/37590873/185373098-bc175ac7-8446-49bb-8b62-1021646be2f1.png">

[2022-08-18 10:24] #904 closed, assigned to nobody

[2022-08-18 12:39] raymundovr commented on #903
hI @waydabber thank you for the swift reply.
It does not happen when not using BetterDisplay.

I'll check the scaling instructions. Thank you

[2022-08-18 13:17] waydabber commented on #903
Hi @raymundovr - I did not mean with BetterDisplay not running but without a dummy being connected.

I did try taking a screenshot as usual and drag and drop from the bottom right and it seems to work (while a dummy is being mirrored). Or are you trying to move the screenshot between displays? If so, then there is the issue since Monterey v12.5 that the mouse cursor disappears for a while (this af

[2022-08-18 14:29] waydabber opened #907 "Menu items wiggle slightly vertically depending on visible content due to differing icon sizes"
This happens upon collapsing/opening menu blocks or hiding the tools section. The cause of this are differing icon sizes and the menu organizing its layout automatically around it. This is slightly annoying to those who value UI consistency.

[2022-08-18 23:06] ajkuftic commented on #741
This is definitely still an issue on the M1 Pro as well through both the built in HDMI port and a USB-C -> HDMI adapter.

[2022-08-19 07:24] #573 closed, assigned to waydabber

[2022-08-19 07:24] #761 closed, assigned to waydabber

[2022-08-19 07:24] #810 closed, assigned to waydabber

[2022-08-19 07:24] #830 closed, assigned to waydabber

[2022-08-19 07:24] #834 closed, assigned to waydabber

[2022-08-19 07:24] #856 closed, assigned to waydabber

[2022-08-19 07:24] #861 closed, assigned to waydabber

[2022-08-19 07:24] #863 closed, assigned to waydabber

[2022-08-19 07:24] #866 closed, assigned to waydabber

[2022-08-19 07:24] #869 closed, assigned to waydabber

[2022-08-19 07:24] #870 closed, assigned to waydabber

[2022-08-19 07:24] #886 closed, assigned to waydabber

[2022-08-19 07:24] #887 closed, assigned to waydabber

[2022-08-19 07:24] #891 closed, assigned to waydabber

[2022-08-19 07:24] #892 closed, assigned to waydabber

[2022-08-19 07:24] #899 closed, assigned to waydabber

[2022-08-19 07:24] #907 closed, assigned to waydabber

[2022-08-19 07:25] #903 closed, assigned to nobody

[2022-08-19 09:17] hericius commented on #573
Hello Istvan,

Update to the latest version done.
Reconfig my dummy display with the auto PiP.
Test.

It’s work!

Great and thank you for implementation that function :-)

Sincères salutations | Met vriendelijke groeten | Kind regards

André Staquet,

Hericius Consulting SRL | ISO27001 Lead Implementer | Risk, Information Security and Compliance | Founder & Consultant | M. +32 479 98 31 27
On 19 A

[2022-08-19 09:21] drgnchan opened #909 "IntelliJ flickering issue (IntelliJ EDR bug)"
https://user-images.githubusercontent.com/40224023/185587956-34ebb535-2a5a-4e35-8ce6-e541b7a1211a.mov

[2022-08-19 13:25] dmkpoznan commented on #866
How this should work? I added limits and it's not working (still have all resolutions on slider, and macbook hangs on resolutions above 3000px).

<img width="745" alt="Zrzut ekranu 2022-08-19 o 15 24 44" src="https://user-images.githubusercontent.com/2170338/185628488-e44355a1-e199-44db-9c4c-64cb9b007e3a.png">

[2022-08-19 15:40] waydabber commented on #573
Great, thanks for the feedback! :)

[2022-08-19 15:46] waydabber commented on #909
Yes, more than one people commented on IntelliJ flickering or doing weird things. This is probably because you are using the built-in screen that might trigger EDR/HDR mode (for XDR upscaling) and IntelliJ does not seem to like when this is happening (seems to be a generic "IntelliJ HDR bug"). Probably the same thing would happen when you are opening other HDR content that triggers EDR mode, but I

[2022-08-19 15:47] waydabber commented on #909
+ related issue: #825

[2022-08-19 15:47] waydabber commented on #825
We'll continue this under #909 as there is a video there to help better understand the problem.

[2022-08-19 15:47] #825 closed, assigned to nobody

[2022-08-19 15:54] waydabber commented on #866
well, if you set the range, apply the changes and reboot, then you should have a limited resolution list. But the native resolution will always be available no matter what (3456x2234 is the native resolution for the 16" MacBook Pro). But you should have a gap between 3007 and 3456 (unless the feature is still buggy). :) Let me know whether this is the case!

[2022-08-19 15:55] waydabber commented on #866
However if the MacBook Pro hangs even with the native 3456x2234 then something really weird is going on, as it definitely should not do that. Is this issue still present in the Monterey 12.5.1 update?

[2022-08-19 16:23] drgnchan commented on #909
Thanks for your detailed answer.Disable continuous XDR upscaling readiness works (no more flickering) although I can't see what's the difference with enabling it.

[2022-08-19 16:33] mankittens commented on #803
I imagine @matthargett is getting a log like this:

![Screen Shot 2022-08-19 at 9 19 19 AM](https://user-images.githubusercontent.com/6647355/185663694-7057cd05-e54d-4255-a30e-5b0c4954f6e8.png)

I have my displays connected through a CalDigit TS3 Plus and I'm experiencing the same issue: BetterDisplay loses memory of the displays (i.e. positioning and resolution) every time I wake or I restart my

[2022-08-19 16:39] alin23 commented on #803
@mankittens sorry, no, Lunar is also plagued by this problem 😅 It's possible you had luck with Lunar these days.

It's also possible that this happens more often with BetterDisplay because it changes the system screen configuration more often (adding dummy displays, changing resolution etc.) whereas Lunar doesn't do that much because it doesn't implement the scaling functions of BetterDisplay.

[2022-08-19 16:46] waydabber commented on #909
If you use XDR upscaling (brightness beyond 100%) the screen will respond much faster when it is not disabled. When disabled, the screen is put to non-EDR mode and macOS needs some time to ramp-up EDR headroom levels when the desktop is put to EDR mode (EDR mode means Extended Dynamic Range - this lets HDR content or the XDR upscaling function reach higher than SDR brightnesses, the EDR headroom i

[2022-08-19 17:00] waydabber commented on #909
I'll classify this as a known issue with workaround available (disabling Settings`/`Advanced`/`Disable continuous XDR upscaling readiness`).

I think the issue is with IntelliJ as it acts weirdly with HDR content on-screen. Probably the engine it uses to render its GUI handles macOS notifications sent to all subscribing apps about changing EDR levels - which happens both upon BD startup, when BD p

[2022-08-19 17:17] waydabber commented on #803
Thanks @alin23 for chiming in! :)

Hi @mankittens,  BetterDisplay will keep track of the displays all right provided their UUID does not keep changing. This mostly works, as macOS itself uses this to keep track of the displays. If the UUID changes from time-to-time, the OS itself cannot really keep track of the display so BD (and I think Lunar) simply follows suit.

There is an alternative way to

[2022-08-19 20:01] dmkpoznan commented on #866
Ok, now I understand limit from maximum point of view. Unfortunately I see all lower resolutions, that as I understand, shouldn't be included on slider.

<img width="394" alt="Zrzut ekranu 2022-08-19 o 22 01 19" src="https://user-images.githubusercontent.com/2170338/185698189-282b236e-268c-40bc-af8f-59cad41e3725.png">

I didn't updated macOS to 12.5.1 already (I will do it later this weekend) and

[2022-08-19 20:14] waydabber commented on #866
Hi @dmkpoznan - only some lower resolutions are available or all lower resolutions (with small increments)? There might be system defined low resolutions that are not created by the smooth scaling functionality but are there by default (these are not removed by the limit). The difference should be that these are not part of the contiguous smooth scaling resolution range.

[2022-08-19 21:04] dmkpoznan commented on #866
Looks like all lower resolutions with small increments.

[2022-08-19 22:52] seanhealy opened #913 "Custom Resolution Missing"
Hi, I recently tried to switch from using a Dummy to the new-ish custom resolutions.

Using a Dummy I'm able to set my resolution to `3968x1674` for example. However when enabling custom resolutions the max it seems to allow me to set is `3840x1620` despite having added the `3968x1674` resolution manually as a custom resolution.

Potentially related to this as well, I also tried to set a custom ra

[2022-08-20 12:12] waydabber commented on #866
That is not good. I'll test this feature again. :)

[2022-08-20 12:16] waydabber commented on #913
Hi there - it seems you are using an M1 mac that has a Pro (or Max/Ultra) chip inside. These support a max. HiDPI width of 3840 (7680 pixels). This is a problem especially for 5K ultrawide users as there is a gap between 4K and 5K horizontal resolutions (5K being available as LoDPI only).

See this for more info: #735

For the time being if you want HiDPI resolutions with width exceeding 3840, you

[2022-08-20 12:17] #913 closed, assigned to nobody

[2022-08-20 12:46] dmkpoznan commented on #866
Update:

12.5.1 changed nothing.

1) Every resolution above 3007px cause restart of system.
2) 3456px is working as native resolution (no problem here).
3) Limitation is working on high resolutions range, but not on lower one.

PS I would love to see only resolutions between limit (maybe you can add software limit on slider, not on display profile?) without native one also. Maybe something like th

[2022-08-20 13:08] waydabber opened #915 "Add option to limit resolution slider range"
I would love to see only resolutions between limit (maybe you can add software limit on slider, not on display profile?) without native one also. Maybe something like that:

<img width="407" alt="Zrzut ekranu 2022-08-20 o 14 45 53" src="https://user-images.githubusercontent.com/2170338/185746827-3d4f230c-5548-47dd-966f-d2e0ea671658.png">

_Originally posted by @dmkpoznan in https://github.com/wayd

[2022-08-20 13:09] waydabber commented on #866
I added the PS as a separate enhancement. I'll look into why lower resolutions are not being removed.

[2022-08-20 13:11] waydabber opened #916 "Clarify wording of native smooth scaling manually defined limits"
According to https://github.com/waydabber/BetterDisplay/issues/866#issuecomment-1221308568 and https://github.com/waydabber/BetterDisplay/discussions/914#discussion-4320026 the custom range for native smooth scaling is not always honored. This needs a retest.

[2022-08-20 13:13] waydabber opened #917 "Slider right side text wiggle issue when only sliders are present in the Menu and Tools block is closed"
This is a rather obscure one - but if Tools menu is set to close and there are only sliders allowed in the menu, percentages aligned right (inside the slider) move a bit when Tools menu is closed/opened.

[2022-08-21 00:53] MyEnthusiastic opened #918 "After checking "allow > 8 k", when the app starts, the PC jump to log in interface."
So I can not change the setting, how to delete all the preference of BetterDummy!!!

[2022-08-21 00:59] MyEnthusiastic commented on #918
How to reset the better dummy to default state!!!

[2022-08-21 05:51] waydabber commented on #918
Hi @MyEnthusiastic - you can simply hold SHIFT during app startup, this will put the app in safe mode and prevent dummies from auto-connecting. Then you can turn off the 8K+ option. If this does not work, you can reset the app by opening Terminal and entering `defaults delete me.waydabber.BetterDummy`

Hope this helps!

[2022-08-21 05:51] #918 closed, assigned to nobody

[2022-08-21 07:58] HankWangCHN opened #920 "HiDPI version of the native resolution not available on M1"
Hi there,

I've enabled both "Edit and manager the system configuration of this display" and "Set up native smooth resolution scaling" and reboot, see the screenshot below.

![Screenshot 2022-08-21 at 15 57 25](https://user-images.githubusercontent.com/22612118/185781518-b40d2e5d-3e29-4fa1-8422-0c638f20d4a8.png)

However it's still running under "Low resolution mode", see the screenshot below.
![S

[2022-08-21 10:40] waydabber commented on #920
Hi there - this is because the 100% (native) resolution is always available as LoDPI only. This is a macOS limitation (that was lifted in Ventura beta4 but now again enforced in Ventura beta5). I recommend setting the resolution to 99% as that will give you basically the same GUI size with ample amount of supersampling.

For more info about the limitations of native smooth scaling: #735

[2022-08-21 10:41] #920 closed, assigned to nobody

[2022-08-21 11:41] ysndr opened #922 "BertterDisplay Installer/Updater still showing "BetterDummy""
I noticed the updater window still referring to "BetterDummy"
<img width="732" alt="image" src="https://user-images.githubusercontent.com/7040031/185789186-56135f7d-f9a6-4be5-8edd-24ce62d97ca3.png">

[2022-08-22 05:52] vysecurity opened #923 "Tried XDR Brightness on my 14 Inch MBP, doesn't work."
Tried XDR Brightness on my 14 Inch MBP, doesn't work.

The brightness doesn't increase past 100% even though the slider goes to 133%?

[2022-08-22 06:34] waydabber commented on #922
Hi there - yes, you are right. This is a known issue which has some technical roots, check this out for the details: https://github.com/waydabber/BetterDisplay/issues/811

[2022-08-22 06:35] #922 closed, assigned to nobody

[2022-08-22 06:37] waydabber commented on #923
Hmm. That is not right. Are you by any chance use f.lux or any other app that alters screen colors in any way?

[2022-08-22 08:57] vysecurity commented on #923
I restarted the app and it’s working :-) thanks!

On Mon, 22 Aug 2022 at 14:38, Istvan Toth ***@***.***> wrote:

[2022-08-22 12:11] waydabber commented on #923
All right, let me know if you encounter any issue like this again, normally it should not do what you described (there was a bug similar to this but it is supposedly fixed), so something must have been amiss and I might not have covered all potential problems.

Thank you!

[2022-08-22 12:11] #923 closed, assigned to nobody

[2022-08-22 18:48] windblower420 opened #925 "[help] Vivid app and BetterDisplay in regards to peak brightness for 14""
Hi team im new here and I had question.

It seems as though Vivid app has a higher brightness than what is available with BetterDisplay. I'm not quite sure if there's a setting that can make it a bit higher? Can anyone confirm if im wrong?

I want to make sure it isn't a profile display difference, i  really like that better display has this option but can't ignore that vivid seems a bit brighter

[2022-08-22 19:44] waydabber commented on #925
Hi there - yes, you can increase the brightness further under More Options / Color Adjustment. Use the gain slider (lightening symbol).

The BetterDisplay max. XDR upscaling brightness is carefully calibrated so white saturation does not suffer even slightly, but  generally you can squeeze out some more brightness if you don't care about accuracy that much.

An other thing you can do is to further

[2022-08-22 19:47] waydabber commented on #925
Let me know about the results you find best, just curious. I have a 14" MBP myself and can check your settings if white saturation is still ok.

For best results and consistency it is best practice to disable the ambient light sensor (the "Automatically adjust brightness" option in System Preferences/Display). Results also might differ depending on using the MPB on battery or power source connecte

[2022-08-22 19:48] #925 closed, assigned to nobody

[2022-08-23 08:46] chrisspiegl commented on #220
I second the idea of a browser window / http stream for dummy screens.
I was just trying to get something like Duet / Side-car working with an iPad and that integrated into BetterDisplay would be wonderful.
Reason as an alternative to Sidecar: Apple limits Side Car to only work when both iPad and MacBook are connected to the same iCloud account. However, that is kinda dum because what if I want to

[2022-08-23 08:55] chrisspiegl commented on #220
Workaround App: https://deskreen.com
This app has the ability to share a screen into a browser window on any device on the local network. It seems to work great after initial testing and could be a workaround for now.

Steps:

1. Create a Dummy (I use a non HiDPI 1920x1080 one
2. Install and connect Deskcreen based on their instructions
3. Select the Dummy to be used for the screen sharing
4. And

[2022-08-23 11:39] waydabber opened #927 "Improve mirroring submenu usability"
_From the app Discord channel - https://ptb.discord.com/channels/903276571773771796/903276571773771799/1011404967560630322_

**Narixius — Today at 12:42 AM**
@waydabber dude, when I click on the Color LCD, it does not uncheck it. Do I expect a valid behavior?

![unknown](https://user-images.githubusercontent.com/37590873/186148592-2f00b8bc-a939-4403-8b25-7ce3a4dc22ee.png)

**waydabber — Today at 8

[2022-08-24 08:17] mickaelperrin commented on #144
I got it working by using:
  - [yabai](https://github.com/koekeishiya/yabai) my tiling window manager. But can be used without tiling at all
  - [better touchtool](https://folivora.ai) which helps to bind / customize various entries (keyboard, trackpad, touchbar...)

Yabai commands to swap spaces:
[code]

Note that I have a M1 mac and absolute path may be different for x86 arch (/usr/local/bin).

[2022-08-24 15:51] ltpquang opened #928 "Resolution range gets reset"
Sometimes my resolution range gets lost, I need to restart my Mac to get back the whole resolution list.

My env:
- MacBook Pro M1 2020
- macOS 12.5.1
- Dell U2520D (at home) - 2560x1440
- Dell ~P2418~ P2219 (at work) - 1920x1080
- BetterDisplay 1.2.9 build 8622

<details>
    <summary>When it happens</summary>
    <img src="https://user-images.githubusercontent.com/4617357/186463291-de909f6c-ca6d

[2022-08-24 20:23] waydabber commented on #928
Hmm. It is not clear to me why this is happening. I noticed however that when this happens, the display seems to be in HDR mode while when it does not happen, it is not. It might be that the display presents itself differently in HDR vs non-HDR mode? That would not make sense. You can try clicking the name of the display under Settings/Display to show some extra info and compare various identifier

[2022-08-25 03:00] ltpquang commented on #928
@waydabber Oh I didn't know clicking the monitor name would reveal all those informations. I will get those screenshot when it happens again. However, regarding HDR, my home's monitor does support HDR mode and have it turned on, while the one at work doesn't have HDR, and this issue usually happens on home's monitor, when I get back home after working with the one at work.

[2022-08-25 11:56] kamrannawaz opened #931 "Screen start flickering after some time an hour or two have to quite it & restart it again."
hi, i m using this but facing an issue screen start flickering after some time an hour or two or the hz goes down the mouse trail left behing when this thing occurs i always quit it and restart it again, any help ?

[2022-08-25 12:13] DanielYang59 opened #932 "External monitor not displaying on Macbook Air M1"
Hi there, I have been using BetterDisplay for a while and it works generally fine and love it.

However, after updating OS to Monterey 12.5.1 (not sure if related), I noticed several times when I wake up the Macbook and the external monitor somehow just don't show anything (the backlit seems to be on while nothing shown). I only hooked one external display via DP cable from docking station (hardwa

[2022-08-25 15:50] waydabber commented on #931
Hi @kamrannawaz - can you share a bit more about your configuration (mac model, display etc) and the way you use the app (which features do you use, is the issue dummy related)? Maybe if you can, post a video of the issue.

Thank you!

[2022-08-25 15:51] waydabber commented on #932
Hi @HaoyuYang59 - does this issue happen with BetterDisplay not running as well?

[2022-08-25 16:41] mankittens commented on #803
@alin23 I've been using Lunar for a few years now(?), and I must say that after experiencing many bugs and lost settings, it's finally felt stable for my all my configurations in the past 6 months! I appreciate your dedication to the project. You've made macOS a better place.

@waydabber I've been leaving amphetamine on this week to prevent my computer from sleeping, but I'll try that setting and

[2022-08-25 18:27] waydabber commented on #803
@mankittens - thanks for the kind words!

If settings are retained, then the `Use alternative method to identify displays` probably won't help. You can check if the display IDs change by clicking on the display name under Settings/Displays (that will reveal a bunch of identification information).

Reviewing the discussion, I am not sure whether you are you using dummies or not. If you use them, th

[2022-08-25 23:26] DanielYang59 commented on #932
Hi thanks for getting back to me. I'm currently testing this and would get back to you once I get anything. Also, I noticed myself unable to set the external monitor as "main display" in system preferences-display with BetterDisplay on. Is there any log I could provide that might be useful? Thanks for your time.

[2022-08-26 09:07] waydabber commented on #932
Hi @HaoyuYang59 - well, you can go to Settings/Displays and click on the display name to reveal extra information about the display. A screenshot of that might be useful. Also a screenshot of the app menu to see how things look like by default.

Take a look at this on how to get more detailed application logs which includes information about display detection process: #445

I noticed the dock has

[2022-08-26 11:06] laxu opened #933 "MBP 2019 (Intel+AMD) + native smooth scaling - loss of video signal"
I wanted to add more scaling options to my 4K Samsung G70A display so I set the options in BetterDisplay settings to let BetterDisplay control it.

After restarting my Macbook Pro 2019 Intel 16" w/ Radeon 5300M, I can no longer get display output from either of the left side ports on the computer. I can get output when I plug the display into the right side ports that I wasn't using when I set tho

[2022-08-26 11:21] laxu commented on #933
I even tried with a cheap 1080p display using HDMI and I can only get display output from the right side ports.

[2022-08-26 11:27] laxu commented on #933
Ok I fixed this by shutting the computer down and then resetting SMC as per https://support.apple.com/en-us/HT201295

[2022-08-26 11:51] laxu commented on #933
Reopening, it seems the above did not work and this issue was caused again as I tried to enable the features on BetterDisplay.

[2022-08-26 11:51] waydabber commented on #933
Thanks for the info and glad it sorted out.

To be honest I don't see how BetterDisplay can actually mess ports up (there is nothing port dependent in what the app is doing), so it might have been a freak coincidence. But if you can reproduce the issue, there might be something I am not aware of. What settings exactly did you try to change? Maybe understanding this might shed some light on the pro

[2022-08-26 11:52] laxu commented on #933
I only tried to enable the smooth scaling options from the settings. Have been able to get this happening twice so far,

[2022-08-26 11:56] waydabber commented on #933
I see. If you turn this off and disable configuration editing, does the issue resolve itself? The changes this function do does not affect specific ports directly, but alters some of the system configuration files - these should affect the display with the given vendor/model ID. There is no clear reason why the left ports should be affected and not the right ports. However macs try to remember the

[2022-08-26 12:04] waydabber commented on #933
so what you should try doing is this:

1. Remove the custom configuration:

- Navigate to your computer's `/Library/Displays/Contents/Resources/Overrides` folder and remove all folders and files.

2. Reset BetterDisplay (while it is not running):

- Open Terminal and run the following command: `defaults delete me.waydabber.BetterDummy` (note: it is not `BetterDisplay`, but `BetterDummy`)

3. Remov

[2022-08-26 12:13] laxu commented on #933
Thanks, I tried these and after that reset both NVRAM and SMC but even creating a new account on the computer it doesn't seem to solve it. Right side works, left side does not.

Maybe this is just a fluke and my ports are simply busted.

I agree that the app itself should not be able to cause this and then should not have an effect on other displays either. If I connect to the right side then it s

[2022-08-26 12:50] waydabber commented on #933
Is it only displays that affected or every USB-C connection?

I agree, a feature to remove the configuration for disconnected displays would be appropriate (this would require a more substantial change however so disconnected displays are accessible, which requires storing all the details of these displays that allow presentation - this is currently not done, only identifiers are retained - this c

[2022-08-26 12:52] waydabber opened #935 "Ability to alter configuration of currently disconnected displays"
https://github.com/waydabber/BetterDisplay/issues/933#issuecomment-1228414344

@laxu:

However your app does have a specific issue: If it cannot detect the display, you cannot remove the configuration without going through the steps you mention above as the display is no longer visible in the app. I think it would be good if it could keep a list of devices where you have enabled these configuratio

[2022-08-26 12:53] waydabber commented on #933
https://github.com/waydabber/BetterDisplay/issues/935

[2022-08-26 12:53] waydabber commented on #933
(I'll move this over to discussion)

[2022-08-26 12:53] #933 closed, assigned to nobody

[2022-08-26 12:54] #803 closed, assigned to nobody

[2022-08-26 16:59] chikko80 opened #938 "BetterDisplay and MacOS indexing different"
Hey,
in my current setup, I try to run an LG 5k Display directly connected to a MacBook M1 Pro, together with 2x 4k LG Displays with DisplayLink Dock D6000.
As long as I set up everything from the beginning it runs great, but after the mac wakes up from sleep there is a big issue. It seems like the Dummy Displays connect to the wrong physical Display. One of my Displays is vertical like in the pic

[2022-08-26 20:19] chikko80 commented on #553
Thats happening for me by accident after wake up from sleep

[2022-08-27 12:06] C1oud555 commented on #776
I also want to say thanks to the author. For the continual upgrade of this amazing tool

[2022-08-27 13:00] ghost opened #939 "Resolution setting for Philips display broken"
I've been using BetterDummy for a year or so successfully with a 49" Philips 499P9, recently on an M1 Max Macbook Pro.  Originally I used a dummy to set the resolution to 5120x1440. More recently, I've been resetting the native resolution successfully.  I've had a couple of software updates happen recently including an update to Monterey 12.5.1.  Somewhere along the way, things have broken and I c

[2022-08-27 13:02] ghost commented on #939
Also, I have had an issue with the Philips flickering sometimes when I first startup, and requiring a reboot to get a stable display.

[2022-08-27 13:36] ghost commented on #939
Oh yeah.  Right along I've been using this with the HDMI Port.

[2022-08-27 14:07] waydabber commented on #939
Hi @billsouthworth - if you are using native smooth scaling, the max. horizontal resolution for M1 Pro/Max/Ultra is 3840. If you are using dummy mirroring, there is no such limitation. In the latter case make sure that you are mirroring the dummy to the screen, not the other way around. If you post a screenshot about how your menu looks like and what do you see under Settings/Displays, I might hel

[2022-08-27 14:07] #939 closed, assigned to nobody

[2022-08-27 15:25] waydabber commented on #938
Well, handling identical displays is always super problematic, even for macOS as there is no reliable way to tell them apart. Things are up to dumb luck and depends on the order how they are enumerated after wake. Things are even more problematic when DisplayLink is involved as with this even unique identifiers that otherwise might be stable at least until reboot or reconnect do change around from

[2022-08-27 15:33] chikko80 commented on #938
What kind of identifier are you using at the moment?

[2022-08-27 18:48] waydabber commented on #938
Normally the UUID as this is the system generated identifier that macOS itself uses to tell displays apart. With the alternative identification method enabled the serial number, vendor id and model id.

[2022-08-28 04:16] rafaelclp opened #941 "Brightness in external display doesn't increase after 50% on BetterDisplay - and going past it sometimes "breaks" the display"
I have an external monitor (AOC 24G2W1G8) connected via HDMI 2.1 at 1080p@240Hz. I'm using the base model Macbook M1 Pro 14".

Like all displays (that I know of), this display has some physical buttons that allow changing many settings (color, profiles, brightness, contrast and so on). For disambiguation, I will call these settings the "hardware settings". As for the settings changed via BetterDis

[2022-08-28 05:06] rafaelclp commented on #941
There is already a setting for this. I disabled "Enable hardware brightness control (DDC)" in Displays and the issue was fixed. When I first looked at the "Displays" settings I didn't have the external monitor connected, so I had no idea other monitors would appear below after connected...

Closing the issue.

[2022-08-28 05:06] #941 closed, assigned to nobody

[2022-08-28 08:23] waydabber commented on #941
Hi @rafaelclp,

Unfortunately the HDMI port of 2018+ Macs use a less-than-stellar converter chip, the [MCDP2900 DisplayPort 1.4a-to-HDMI 2.0b Converter](https://www.kinet-ic.com/mcdp2900/). This chip is able to receive Displayport 1.4 signal and convert it to HDMI 2.0. Apple uses the very same design for all of these Macs (hence the HDMI 2.0 limitation even on the newest Macs). It seems, even thou

[2022-08-28 10:38] waydabber commented on #927
I updated how this works so you can untoggle individual displays thus removing them from the mirror set.

[2022-08-28 11:51] waydabber opened #943 "Upon mirror configuration the menu icon is not updated properly"
Upon updating mirroring, the menu icon does not change to the three dots mode during display configuration and then at the end it changes and gets stuck. This is a minor annoyance but should be fixed nevertheless.

[2022-08-28 12:19] #938 closed, assigned to nobody

[2022-08-28 12:20] #932 closed, assigned to nobody

[2022-08-28 12:20] #928 closed, assigned to nobody

[2022-08-28 12:21] #931 closed, assigned to nobody

[2022-08-28 15:09] waydabber commented on #916
The custom range is honored, however recent macOS versions will provide HiDPI versions of resolutions that are meant to be available as LoDPI only. So if the range ends at 3840x2160 for example, the LoDPI versions of the range will be available as half-resolution HiDPI version even if below the minimum treshold. There is nothing to do about that.

I clarified the wording to reflect this situation.

[2022-08-28 15:10] waydabber commented on #866
Note: I updated https://github.com/waydabber/BetterDisplay/issues/916

[2022-08-28 15:58] waydabber commented on #633
![Screenshot 2022-08-28 at 17 57 17](https://user-images.githubusercontent.com/37590873/187083232-72c16220-7f58-4ce1-8c06-98d79cce12c6.png)

[2022-08-29 02:35] zhiyeyouzi opened #949 "About trial Pro version"
After upgrading my M1 MacBook Pro to 12.5. X, there is a problem such as # 807. After reading your reply on # 807, it seems that it is Apple's problem.
Some netizens commented that this problem can be solved through the smooth scaling option, but this function is limited by the pro version. Can I apply for trial again? I want to confirm whether it can solve my problem, and then decide whether to p

[2022-08-29 17:24] waydabber commented on #949
Unfortunately the trial cannot be extended (trial is managed by the third party Paddle API which handles licenses and payments so I have no way of changing this behavior). However if you buy pro and it does not work and want a refund, just DM me in the app's Discord channel referring to this discussion and I'll initiate a refund for you due to the special circumstance.

[2022-08-29 17:24] #949 closed, assigned to nobody

[2022-08-29 17:31] waydabber opened #951 "Screen arrangement: move cursor between screens using its position as a percentage rather than absolute value"
### Discussed in https://github.com/waydabber/BetterDisplay/discussions/948

<div type='discussions-op-text'>

<sup>Originally posted by **rafaelclp** August 28, 2022</sup>
## Problem

When you have a screen with low resolution and another with high resolution, the arrangement looks something like this:

![Screenshot 2022-08-28 at 15 31 44](https://user-images.githubusercontent.com/1459358/1870893

[2022-08-29 17:32] waydabber commented on #951
[rafaelclp](https://github.com/rafaelclp)
[21 hours ago](https://github.com/waydabber/BetterDisplay/issues/951#discussioncomment-3494807)
Author
A hack that would make this work (with heavy flaws) would be:

prevent the system from controlling this behavior, by configuring the screen arrangement so that the sides of two displays never touch (and therefore it isn't possible to move the cursor betwe

[2022-08-31 06:57] zwenc opened #956 "When I use three finger sliding to switch windows, only the home screen will respond"
My macbook infomation:
* M1 pro
* monterey 12.3.1
* 14

[2022-08-31 07:57] waydabber commented on #956
Hi there,

take a look at these: #144  #794

If you use dummy mirroring to get scalable HiDPI resolutions, you should probably use native smooth scaling (#678) which is a better option and does not trigger this macOS issue.

[2022-08-31 07:57] #956 closed, assigned to nobody

[2022-08-31 17:09] waydabber opened #957 "Add possibility to manually calibrate HDR upscale level specific to a display"
The app uses an auto-tuning mechanism to find the optimal HDR brightness upscaling level for a given display. This may however leave some additional room in some circumstances to squeeze out additional nits (or in some rare situations it might overshoot and mess up white saturation). Some users do not mind having white saturation affected a bit if they get more brightness out of their display this

[2022-09-01 08:24] leronxv commented on #909
I found out on the JetBrains website that the flicker is a problem with the new IDEA
see [https://youtrack.jetbrains.com/issue/JBR-4680](url)

[2022-09-01 08:42] hericius opened #958 "MacOS: BetterDummy is crashing sometimes"

[2022-09-01 11:00] pmalek commented on #140
@Automage @amroc-dev How did you guys get the 1440p 144Hz thing working?

Do you have the display mirrored? I'm trying to achieve just that but I can't figure out what am I missing here. I'm connected through a USB-C <-> HDMI cable if that matters (never had any problems with it before.

Here's what my display setup looks like:

<img width="433" alt="image" src="https://user-images.githubuserconte

[2022-09-01 11:17] mmazzoli-dev commented on #140
Yes I did. I've since switched to a 3440x1440 monitor and that also works, at 144hz over usb c -> dp, and 85hz over usb c -> hdmi (which is the max hz my new monitor can do over hdmi).

Is your issue that it always stays at 60hz no matter which refresh rate you select?

[2022-09-01 11:24] waydabber commented on #140
@pmalek - if you have native smooth scaling enabled, you don't need to use a dummy (that will limit to 60hz). For HiDPI you'll need to set the resolution slider to 99% with native smooth scaling.

[2022-09-01 11:32] pmalek commented on #140
Pretty much yes. When I click a particular refresh rate from the menu it does nothing.

@waydabber AAAh alright. I disabled the slider and now by using `2544x1431, 144Hz` it works 🎉

<img width="407" alt="image" src="https://user-images.githubusercontent.com/739996/187903887-96f0d757-c869-4db4-9d92-6c3781847076.png">

[2022-09-01 12:23] mickaelperrin opened #960 "Same display mirrored on two different dummies after sleep"
Hi,

I have a setup with two identical displays (brand / model).

When I wake up from sleep, the two dummies are mirroring the same display, instead of mirroring their own associated display.

I need to quit and restart better display to get it working normally.

This is really annoying, any idea on how to fix that or a workaround ?

Note, this has already been reported as a comment of #553

Thank

[2022-09-01 13:54] waydabber commented on #960
Not much fix for this, if two displays have the exact same identifiers and serial numbers, the OS can't tell them apart.

Generally if you'd like to have a two display setup, you have to try to make sure that you get them from a different manufacturing batches so their serial number is not identical (usually the same batch gets the same firmware with the same serial number). Of course getting from

[2022-09-01 13:54] #960 closed, assigned to nobody

[2022-09-01 13:56] waydabber commented on #958
Well, that might surely happen, but the issue is a bit vague in term of details, so... I try to minimize crashes as much as possible. If you have a crash log and detailed info about the configuration, it might help pinpoint the issue.

[2022-09-01 13:56] #958 closed, assigned to nobody

[2022-09-01 20:09] waydabber commented on #639
Detailed settings will be added here in an expandable block as Settings/Displays is already super cluttered.

<img width="842" alt="Screenshot 2022-09-01 at 22 07 57" src="https://user-images.githubusercontent.com/37590873/188002827-ab13fc11-9a76-4d10-808f-4e7d5e1ac0a6.png">

[2022-09-02 11:03] waydabber opened #963 "Put the accessibility permissions warning triangle to a more appropriate location"
Some users don't care about brightness control via keyboard or setting up accessibility - this will leave that annoying triangle with the "Fix Permissions!" warning at the top of the menu. This should be moved to a more subtle location under Tools.

[2022-09-02 11:04] waydabber commented on #963
<img width="286" alt="Screenshot 2022-09-02 at 13 04 09" src="https://user-images.githubusercontent.com/37590873/188126272-47b916d5-423e-478e-b51a-5c8eee7e2f59.png">

[2022-09-02 11:13] waydabber commented on #963
Also, let's put a notification there:

<img width="842" alt="Screenshot 2022-09-02 at 13 20 48" src="https://user-images.githubusercontent.com/37590873/188128847-1384baa2-ed70-4631-8549-9139b8183ed4.png">

[2022-09-02 16:07] waydabber opened #964 "Increase the size of Settings a bit"
The size of Settings is a bit claustrophobic with all the options. Increase it's size a bit (add 100px vertically and horizontally).

[2022-09-02 16:09] waydabber opened #965 "Add option to circumvent the lack of macOS support for the HiDPI variant for native pixel resolution (near-native HiDPI mode support)"
Native smooth scaling won't enable the HiDPI variant of the native resolution as it is prohibited in macOS (one exception was the Ventura dev beta4).

A working workaround for this seems to be is to create a custom HiDPI resolution that has 1px less vertical size than the native resolution.

There should be an option to enable this.

[2022-09-02 16:10] waydabber commented on #965
<img width="942" alt="Screenshot 2022-09-03 at 16 15 02" src="https://user-images.githubusercontent.com/37590873/188274411-9e830136-db86-4477-9b12-6e2ac0ed81aa.png">

To avoid confusion, this will not be enabled by default, but especially on low-PPI displays this will probably help a lot.

[2022-09-03 21:01] waydabber commented on #717
This seems to be fixed in recent Ventura betas.

https://github.com/MonitorControl/MonitorControl/issues/1088#issuecomment-1236197626

[2022-09-03 21:02] #717 closed, assigned to nobody

[2022-09-04 17:45] waydabber opened #966 "Add option to hide volume OSD for a display"
Some displays (most LGs) do have their own volume control OSDs that cannot be disabled and which is triggered by DDC volume control. An option is needed to disable the macOS volume OSD for these displays if the user do not want two overlapping OSDs.

<img width="942" alt="Screenshot 2022-09-04 at 19 43 39" src="https://user-images.githubusercontent.com/37590873/188326601-796ee0fe-070b-4e2f-b5da-63

[2022-09-04 17:47] waydabber opened #967 "Add option to prohibit keyboard control for a display"
This might be useful in some scenarios (like for a fine-tuned/calibrated display that should not be bothered accidentally along with other displays).

<img width="942" alt="Screenshot 2022-09-04 at 19 46 27" src="https://user-images.githubusercontent.com/37590873/188326659-0b9f6f6a-1166-42bc-8fb4-37a496bc1d34.png">

[2022-09-05 10:20] itslemcy opened #968 "Can't get a 1920*360 hdmi screen work"
Hi, I recently bought a 1920*360 screen from aliexpress ([link](aliexpress.com/item/1005001659262454.html?spm=a2g0o.detail.1000013.1.55421a0bvNRCV7&gps-id=pcDetailBottomMoreThisSeller&scm=1007.13339.274681.0&scm_id=1007.13339.274681.0&scm-url=1007.13339.274681.0&pvid=fa512687-02f4-4025-8ec5-9c361e4b4628&_t=gps-id:pcDetailBottomMoreThisSeller,scm-url:1007.13339.274681.0,pvid:fa512687-02f4-4025-8ec5

[2022-09-06 13:18] waydabber commented on #968
Hi there,

You should try the following:
1. Enable lower than 720p resolutions here:

![Screenshot_2022-09-06_at_15 11 15](https://user-images.githubusercontent.com/37590873/188645318-ee9fb2e1-c9c5-4695-b968-ffc47b76a34c.png)

2. Change the resolution submenu settings like this here:

![Screenshot_2022-09-06_at_15 10 30](https://user-images.githubusercontent.com/37590873/188645418-7c970a3f-2a9d-41

[2022-09-07 03:47] jianghw9 opened #971 "Unable to start properly when login in"
Every time when I login in to my mac, BetterDisplay start normally at the beginning, then automatically quit itself (I didn't do anything at the moment) with brightness settings go back to the original.

https://user-images.githubusercontent.com/57868812/188784434-319914b8-bd03-4015-8970-b3caad4def61.mov

[2022-09-07 07:38] waydabber commented on #971
Hmm. BetterDisplay seems to crash for some reason. If you start the app manually, does it work then? Is the issue specifically related to auto-start?

[2022-09-07 10:13] waydabber commented on #634
This will be a per display setting as this setting is most useful if a display does not like the higher number of DDC operations required for smooth transitions.

<img width="942" alt="Screenshot 2022-09-07 at 12 17 25" src="https://user-images.githubusercontent.com/37590873/188854395-82088c6d-826e-433f-b025-7353b70058e7.png">

[2022-09-07 10:23] waydabber commented on #968
All right, since this is not an actual app issue, I'll convert it into a discussion. Please let me know if you did succeed in making this work! Thanks!

[2022-09-07 10:23] #968 closed, assigned to nobody

[2022-09-07 12:50] dmkpoznan opened #973 "Improved resolution up/down keyboard shortcut - multiple steps, continuous adjustment, resolution list synced with slider"
As in title - when set keyboard shortcut for resolution change it use all resolutions available (there is also bug, because it sometimes loop on switching between two resolutions if you press too quick). It should use only resolutions available also from slider.

[2022-09-07 12:56] waydabber commented on #973
Yes, that part of the app is a bit outdated clearly, should make it work better. I want to make it so that there is some delay before changing the resolutions so if you want to change it like 5 steps lower, you can quickly issue the corresponding shortcut for 5 times and then if for a while no additional shoretcut pressed (for about a second or two), the change takes place.

[2022-09-07 13:13] waydabber commented on #635
<img width="1134" alt="Screenshot 2022-09-07 at 15 12 21" src="https://user-images.githubusercontent.com/37590873/188886916-d2e2f47e-9e8b-44ed-b0d7-f2294e78dd7d.png">

I'll make the contrast control hidden by default.

[2022-09-07 15:36] waydabber commented on #635
Added keyboard shortcuts as well:

<img width="942" alt="Screenshot 2022-09-07 at 17 35 03" src="https://user-images.githubusercontent.com/37590873/188919622-047b3d21-9a51-4ae5-9251-aa1859f29300.png">

There is an added option under the display to change whether the main slider and keyboard control should prefer hardware or software contrast control (if available):

<img width="942" alt="Screensho

[2022-09-07 16:14] waydabber opened #974 "Slider percentage does not always exactly match DDC value"
Slider percentage might show 75% while DDC might set value 74. The rounding is a bit off.

[2022-09-08 00:26] fennb commented on #423
I think if you implemented this feature you would make quite a lot of people [very](https://forums.macrumors.com/threads/macbook-pro-m1-external-screen-flickering.2325279/), [very](https://www.reddit.com/r/MacOS/comments/uqv1u6/any_way_to_set_refresh_rate_permanently_on_monitor/), [very](https://apple.stackexchange.com/questions/439221/external-display-keeps-switching-refresh-rates-after-waking-fr

[2022-09-08 04:32] jianghw9 commented on #971
Yes, it's specifically related to auto-start. If I start the app manually, it works fine.

[2022-09-08 04:41] waydabber commented on #971
Hi there,

This is weird. Some questions:

1) Is the app under /Applications?
2) What happens if you disable autostart in the app menu but simply add the application to Login Items (under Apple menu  > System Preferences, then click Users & Groups)? Does that work?

Thank you!

[2022-09-08 05:04] jianghw9 commented on #971
The app is already under the app dir. Then I tried the second method. Now it can start normally when login in.

Thank you for your help!

[2022-09-08 05:05] #971 closed, assigned to nobody

[2022-09-08 07:04] waydabber commented on #971
All right, thanks for the response!

I don't know why the built-in way does not work, I'll try to check on that as well, especially if I get more feedback like this.

[2022-09-08 16:54] JAJA-WHB opened #975 "m1 mbp"
m1 mbp , can't add 1080p hidpi

[2022-09-08 17:20] waydabber commented on #975
on what display?

[2022-09-08 17:21] #975 closed, assigned to nobody

[2022-09-09 17:51] waydabber commented on #965
As discussed in discord, here is an interim build with this feature to test.

[BetterDisplay-pre_release_build_9049.zip](https://github.com/waydabber/BetterDisplay/files/9537725/BetterDisplay-pre_release_build_9049.zip)

[2022-09-09 19:49] waydabber opened #981 "Collapsible headers for displays under Settings/Displays"
For a slightly better usability (in the future it should be reworked to have a sidebar).

<img width="942" alt="Screenshot 2022-09-09 at 21 48 41" src="https://user-images.githubusercontent.com/37590873/189431983-f9dfa98f-6e88-4e89-ae9c-a0e55790c719.png">

<img width="942" alt="Screenshot 2022-09-09 at 21 48 47" src="https://user-images.githubusercontent.com/37590873/189432014-6fc50731-244c-47ea-b

[2022-09-09 19:57] waydabber opened #982 "Restoring saved DDC values on startup on Apple Silicon macs"
DDC values were not restored on Apple Silicon macs upon startup.

[2022-09-09 19:59] waydabber opened #983 "Make restoring DDC values optional"
By default the app should simply presuppose that the values are what they were last time but should not attempt to apply them. There should be a setting to change this on a per display basis.

[2022-09-09 20:09] waydabber opened #984 "Add option to hide a display from the menu"
An user might not want a display to be shown in the app menu for any reason. There should be an option under Settings/Displays to hide it.

[2022-09-11 10:28] waydabber opened #986 "In fully headless the default headless virtual display should have some kind of name"
If a mac is in headless mode and there is no dummy connected, the technical virtual display (that screensharing instantiates) has no name which is weird:

<img width="718" alt="Screenshot 2022-09-11 at 12 27 14" src="https://user-images.githubusercontent.com/37590873/189522714-a1b99593-59d9-4700-ae46-444b5d5aeed6.png">

[2022-09-11 10:44] waydabber commented on #986
<img width="976" alt="Screenshot 2022-09-11 at 12 43 41" src="https://user-images.githubusercontent.com/37590873/189523285-0fada2b9-9e0e-44d1-9c07-bbd2e1ba0270.png">

[2022-09-11 11:51] waydabber commented on #984
<img width="942" alt="Screenshot 2022-09-11 at 13 50 58" src="https://user-images.githubusercontent.com/37590873/189526009-7cafbef5-c647-461d-b5f9-685cfb51201a.png">

[2022-09-11 15:19] waydabber commented on #983
This is related to #633

[2022-09-11 15:20] waydabber commented on #633
I'll do this differently, related to #983

[2022-09-11 15:21] waydabber commented on #633
<img width="942" alt="Screenshot 2022-09-11 at 17 21 32" src="https://user-images.githubusercontent.com/37590873/189535493-72779b08-3e2a-4864-bd3f-f530432acd23.png">

[2022-09-11 15:22] waydabber commented on #983
<img width="942" alt="Screenshot 2022-09-11 at 17 21 32" src="https://user-images.githubusercontent.com/37590873/189535497-2718009b-1f05-4bb0-8a1c-9899ce03b814.png">

[2022-09-11 16:46] waydabber opened #987 "Add option to show both resolution and percentage in the resolution slider"
There should be room for both actually. :)

[2022-09-12 08:56] Zorast commented on #965
Lets test

[2022-09-12 16:23] #633 closed, assigned to waydabber

[2022-09-12 16:23] #634 closed, assigned to waydabber

[2022-09-12 16:23] #635 closed, assigned to waydabber

[2022-09-12 16:23] #916 closed, assigned to waydabber

[2022-09-12 16:23] #917 closed, assigned to waydabber

[2022-09-12 16:23] #927 closed, assigned to waydabber

[2022-09-12 16:23] #943 closed, assigned to waydabber

[2022-09-12 16:23] #963 closed, assigned to waydabber

[2022-09-12 16:23] #964 closed, assigned to waydabber

[2022-09-12 16:23] #965 closed, assigned to waydabber

[2022-09-12 16:23] #966 closed, assigned to waydabber

[2022-09-12 16:23] #967 closed, assigned to waydabber

[2022-09-12 16:23] #974 closed, assigned to waydabber

[2022-09-12 16:23] #981 closed, assigned to waydabber

[2022-09-12 16:23] #982 closed, assigned to waydabber

[2022-09-12 16:23] #983 closed, assigned to waydabber

[2022-09-12 16:23] #984 closed, assigned to waydabber

[2022-09-12 16:23] #986 closed, assigned to waydabber

[2022-09-13 11:37] hyperknot commented on #741
There are now some scripts based on GetVladimir's work, can you have a look? This would definitely be a feature I'd be willing to pay for.

[2022-09-14 07:08] LTS42 commented on #776
<img width="750" alt="Screen Shot 2022-09-14 at 12 05 53 AM" src="https://user-images.githubusercontent.com/24487577/190084686-14b7f243-6f6a-4bf5-8856-ae50692ad35f.png">

I started a new job which only supports Mac for security issues. 🤔
I've never used Mac and.... I found out my monitor wasn't fancy enough for scaling. (S2719DGF - 27" 1440p 144hz)
Stumbled upon this app and immediately bought it

[2022-09-15 14:14] waydabber opened #989 "Improve the design of Settings expandable subsections"
Settings is a bit complicated and overwhelming. More of the settings should be moved to "advanced" subsections that are hidden by default. In 1.3.0 some of these blocks appeared but they actually made things worse as it was a bit difficult to discern where they started and ended. This should be improved.

[2022-09-15 14:16] waydabber commented on #989
Subblocks will be all smaller fonts and will have a clear begining/end limiter with some UI clues representing the expandable block.

In closed state they are not emphasized much, easy to skip over (to lessen clutter):

<img width="942" alt="Screenshot 2022-09-15 at 16 12 44" src="https://user-images.githubusercontent.com/37590873/190427243-dfc4f6c1-b74f-4890-85b2-cc3b5da5b185.png">

When opened,

[2022-09-15 15:06] kolorfilm opened #990 "HDR/XDR Brightness upscaling > 100 will be resetted back to 100% when f.lux is running"
Hi there,

I just recognized when I increase the brightness above 100%, the OS will reset it immediately afterwards. I'm not sure if this has something to do with the latest OS update.

I'm on Monterey 12.6 (21G115) on a MBP 14".

The setting seems to stay in the UI:

<img width="741" alt="Bildschirmfoto 2022-09-15 um 16 58 52" src="https://user-images.githubusercontent.com/26705027/190438154-a95b

[2022-09-15 15:44] waydabber commented on #990
Are you using third party apps like f.lux, MonitorControl or anything else like that? Is this an entirely new behavior on 12.6 which started right after the update? I am on Ventura so I am unable to test it on 12.6 for now.

Can you post a video by what do you mean it resets?

[2022-09-15 15:53] kolorfilm commented on #990
Hi there, oh you had right. It is f.lux. I'm using it since yesterday because Night Shift wasn't working for my main external screen. F.lux was the only possibility to allow that. Once I closed that app this brightness control is working above 100% and stay. Thanks for the hint!

[2022-09-15 16:25] waydabber commented on #990
Cool!

If your external screen is not Night Shift compatible, you have two options with BetterDisplay:

- if it is recognised as a TV, simply change it to be a Computer Monitor (with this you can enable Night Shift for TVs):

<img width="942" alt="Screenshot 2022-09-15 at 18 23 30" src="https://user-images.githubusercontent.com/37590873/190456815-acb94559-266f-4ee5-a7ee-2a4e04d8824e.png">

- If so

[2022-09-15 16:33] #990 closed, assigned to nobody

[2022-09-15 17:01] waydabber commented on #639
<img width="942" alt="Screenshot 2022-09-15 at 19 34 09" src="https://user-images.githubusercontent.com/37590873/190472304-1440efe1-230c-4e71-94a1-504fab5e5eec.png">

[2022-09-15 17:14] waydabber commented on #741
Certainly, the feature can be added to the app (it's simple property list processing/editing, should be straightforward to do in Swift). I am planning to implement it, but want to finish all the DDC stuff first. Sorry about the rather slow progress. 😮‍💨

[2022-09-15 17:15] #140 closed

[2022-09-15 17:15] #141 closed

[2022-09-15 17:15] #142 closed

[2022-09-15 17:15] #143 closed

[2022-09-15 17:15] #144 closed

[2022-09-15 17:15] #261 closed, assigned to waydabber

[2022-09-15 17:15] #726 closed, assigned to nobody

[2022-09-15 17:15] #811 closed, assigned to nobody

[2022-09-15 17:15] #833 closed, assigned to nobody

[2022-09-15 17:15] #909 closed, assigned to nobody

[2022-09-15 17:18] waydabber opened #992 "⚠️ Check the Known Issues List before posting!"
Before posting a new issue, it is always a good idea to check out the known issues list first! 👍

- **[Known Issues List](https://github.com/waydabber/BetterDisplay/issues?q=is%3Aissue+sort%3Aupdated-desc+label%3A%22known+issue%22+is%3Aclosed
)**

[2022-09-15 17:18] #992 closed, assigned to nobody

[2022-09-15 17:19] #764 closed, assigned to nobody

[2022-09-15 17:20] #734 closed, assigned to nobody

[2022-09-15 18:12] BillyLavoie commented on #261
is this being closed because it got fixed or because you believe it can't be fixed?

[2022-09-15 19:04] daslicht commented on #261
Fixed?

[2022-09-15 19:05] daslicht commented on #261
Still get flicker …

[2022-09-15 20:52] hyperknot commented on #741
That's great to hear. FYI, there is a [30 page thread](https://forums.macrumors.com/threads/m1-mac-external-display-fuzzy-fonts-colors-ypbpr-vs-rgb.2276345/page-30) about RGB mode on MacRumors forum, I guess you'd have a lot of customers if this becomes a 1-click story.

[2022-09-15 21:26] ajkuftic commented on #741
You're doing great. Keep up the great work!

[2022-09-16 07:38] mickaelperrin commented on #144
An upgrade of my previous answer to allow cyclic changes inside the same display:

[code]

[2022-09-16 07:58] waydabber opened #995 "Display configuration protection (also: protection for/against VRR)"
A watchdog feature should keep watch over a display's resolution and refresh rate and if the OS or a third party agent changes it away from the desired option, the app should change it back.

The feature is useful if the OS changes a display's resolution for a new layout (when the default resolution does not match what the user wants) or when the OS is choosing the wrong refresh rate (enables VRR

[2022-09-16 07:59] waydabber commented on #423
This will be handled by this: https://github.com/waydabber/BetterDisplay/issues/995

[2022-09-16 07:59] #423 closed, assigned to nobody

[2022-09-16 08:04] waydabber commented on #261
It's not fixed, but unfortunately seems to be unfixable by BetterDisplay since it is a macOS issue and Apple is seemingly unwilling to fix for now. For most users native smooth scaling solves the issue though.

But the reason for closing is not the above, but a technical one - I closed all `Known issues` and added a generic `Known Issues List` which is pinned to the top of the Issues list page in

[2022-09-16 09:07] daslicht commented on #261
what a pity :/

[2022-09-17 03:32] mn553e3 opened #997 "Cursor Disappearing On Dummy Mirroring On 12.6"
I use dummy mirroring on my M1 Macbook Pro to set it to a 1920 x 1200 resolution. This worked perfectly in the past. I recently updated to 12.6, and ever since doing so, my cursor now takes a while to reappear after it disappears during certain actions like typing or clicking "ok" boxes. The cursor does come back eventually, especially if I drag the invisible cursor down to the Dock. But this is d

[2022-09-17 08:00] waydabber commented on #997
Yes, this is an issue since 12.5. It happens with mirroring Sidecar, DisplayLink, not only dummies and anything of this sort so it is a macOS bug.

See https://github.com/waydabber/BetterDisplay/issues/807

Did you try creating a custom resolution of 1920x1200 under Settings/Displays?

[2022-09-17 08:00] #997 closed, assigned to nobody

[2022-09-17 15:19] undefineds opened #1000 ""2560*1440" not created HiDPI to macOS 12.5"
2560*1440 can't create HidPI, others can, what are the rules?

<img width="612" alt="image" src="https://user-images.githubusercontent.com/7299379/190863885-ee70329f-05eb-4412-a272-0924dfe98069.png">

Actually there is 2560*1440 HidPI, but it cannot be selected

<img width="283" alt="image" src="https://user-images.githubusercontent.com/7299379/190864028-487c2ba8-6638-4b86-b609-e7559c6e8348.png">

[2022-09-17 15:43] waydabber commented on #1000
Hi, check out this one for the limitations: #735

You can create a 2560x1439 mode or use the following option with Native Smooth Scaling (available in v1.3.0-beta):

<img width="942" alt="Screenshot 2022-09-17 at 17 42 39" src="https://user-images.githubusercontent.com/37590873/190865063-2b9c34bd-29e1-4ad9-b7b8-83d1f9713487.png">

(btw you can change the resolution slider to a resolution selector

[2022-09-17 15:44] #1000 closed, assigned to nobody

[2022-09-17 16:09] waydabber opened #1002 "Option to enable/disable support for specific DDC controls for a display"
<img width="942" alt="Screenshot 2022-09-18 at 17 46 24 copy" src="https://user-images.githubusercontent.com/37590873/190915902-d1651357-71f7-41f7-be81-ab41308539d7.png">

(Issue derived from #639.)

[2022-09-17 16:09] waydabber opened #1003 "Support for different scale than the usual 0-100 for DDC"
<img width="942" alt="Screenshot 2022-09-18 at 17 46 24 copy" src="https://user-images.githubusercontent.com/37590873/190915902-d1651357-71f7-41f7-be81-ab41308539d7.png">

(Issue derived from #639.)

[2022-09-17 16:09] waydabber opened #1004 "Support for inverted control values for DDC"
<img width="942" alt="Screenshot 2022-09-18 at 17 46 24 copy" src="https://user-images.githubusercontent.com/37590873/190915902-d1651357-71f7-41f7-be81-ab41308539d7.png">

(Issue derived from #639.)

[2022-09-17 16:09] waydabber opened #1005 "Custom Video Control Codes or multiple codes for DDC control"
<img width="942" alt="Screenshot 2022-09-18 at 17 46 24 copy" src="https://user-images.githubusercontent.com/37590873/190915902-d1651357-71f7-41f7-be81-ab41308539d7.png">

(Issue derived from #639.)

[2022-09-17 16:09] waydabber opened #1006 "Add option to change number of DDC read/write attempts"
<img width="942" alt="Screenshot 2022-09-15 at 19 34 09" src="https://user-images.githubusercontent.com/37590873/190472304-1440efe1-230c-4e71-94a1-504fab5e5eec.png">

(Issue derived from #639.)

[2022-09-17 16:09] waydabber opened #1007 "Add option to change the wati time between DDC read/write attempts"
<img width="942" alt="Screenshot 2022-09-15 at 19 34 09" src="https://user-images.githubusercontent.com/37590873/190472304-1440efe1-230c-4e71-94a1-504fab5e5eec.png">

(Issue derived from #639.)

[2022-09-17 16:10] waydabber commented on #639
The tasks found in this issue will be handled in specific issues (see mentions above).

[2022-09-17 16:10] #639 closed, assigned to waydabber

[2022-09-17 16:40] #1007 closed

[2022-09-17 18:03] waydabber opened #1008 "Options to adjust DDC communication timings"
<img width="942" alt="Screenshot 2022-09-18 at 17 46 24" src="https://user-images.githubusercontent.com/37590873/190915848-8e83e1ed-dc87-4c5a-9f8f-4c66088715af.png">

[2022-09-17 22:48] jsadowyj commented on #995
Please add this soon! I will literally pay money to have this feature added ASAP.

I have a G-SYNC display, and due to Apple's poor adaptive sync implementation my screen flickers like crazy when I have it enabled. So, when my mac chooses variable refresh rate automatically when I plug it in, I'm very understandably annoyed.

Could you please mention, or email, me when this feature is implemented?

[2022-09-18 10:23] waydabber commented on #995
All right, I'll bump this up in priority. :)

[2022-09-18 18:56] waydabber commented on #1008
(note: some of these values do not have an effect on Intel due to implementation differences)

[2022-09-18 21:10] waydabber opened #1009 "Support for on/off value override for the DDC mute command"
<img width="942" alt="Screenshot 2022-09-18 at 23 10 04" src="https://user-images.githubusercontent.com/37590873/190928246-a97f523e-31c1-4125-a086-8984c78ac79e.png">

[2022-09-19 02:37] caodangtinh commented on #776
Thanks for great app.
<img width="730" alt="image" src="https://user-images.githubusercontent.com/4350277/190941560-cc2b9e41-db88-4a81-a40e-65ad9d9c0dd4.png">

[2022-09-19 17:49] waydabber commented on #1005
You can add multiple codes in hex value, delimited with comma (so you can rewrite brightness for example to control contrast as well as brightness + RGB components too with a single slider)

[2022-09-20 10:33] waydabber opened #1011 "Dismiss button for the blue reboot banner under Settings/Displays"
There is this blue banner which is important but can be annoying after a while. It should be dismissable.

<img width="942" alt="Screenshot 2022-09-20 at 12 33 02" src="https://user-images.githubusercontent.com/37590873/191236031-5cb4bf26-60e4-4d9f-9bac-d9cb7e90d780.png">

[2022-09-21 01:23] thiagotsn opened #1012 "Use Monitor's Gravity Sensor for Rotation"
I have a monitor with gravity sensor, but it doesn't handle the resolution well when rotating (it just keeps a vertical resolution even in portrait mode).
Would it be possible for BetterDisplay to use this gravity sensor information to automatically set the new portrait resolution once I physically rotate the monitor?

[2022-09-21 11:59] findyy99 opened #1013 "Resolution is invalid in BetterDisplay, but it works while created by onekey_hidpi"
My main laptop is a MacBook Pro 14 inch, and I extend my hackintosh T450s as another display associated to MBP. I enable HIDPI on Hackintosh via this [repo](https://github.com/xzhih/one-key-hidpi). It can choose the resolution `1424x802`, while in BetterDisplay, it says this resolution is invalid.

- Connect this two computer via Airplay
- Both of this two computer is in Monterey 12.5
- Using the

[2022-09-21 12:54] waydabber commented on #1013
Hi, if it works, then great! I just put the Invalid flag there based on some flags in the mode descriptor which on Apple Silicon is a sure sign that even though the mode line is there, it does not actually work. But maybe on an Intel/hackintosh the resolution works anyway. The app slider won't take these into account but by using the resolution menu and enabling invalid resolutions, you can switch

[2022-09-21 14:23] waydabber opened #1014 "Add display rotation keyboard shortcut"
It makes sense to have the ability to quickly change display orientation (for real displays) with user defined shortcuts.

Discord request here: https://ptb.discord.com/channels/903276571773771796/903276571773771799/1022148102657933383

[2022-09-21 14:24] waydabber commented on #1012
It might be possible if there is some way to query this via DDC. But that would require constant polling. I'll convert this to a discussion - if you have some detailed info about this and how to query the display (what DDC command etc), I might be able to look into it.

[2022-09-21 14:24] #1012 closed, assigned to nobody

[2022-09-21 14:48] zzkkll99 opened #1016 "The Chinese input method causes the display to stal"
When I use Chinese to type for a while, the display will become unusually slow

The usual reproduction time is two days

ps： mac-pro m2

Work hard to focus on this problem ^.^

[2022-09-21 15:56] waydabber commented on #1016
Hi there - this is the issue: #343, #518

I recommend using native smooth scaling instead of dummy mirroring (unless you really need the latter for some specific reasons).

[2022-09-21 15:57] #1016 closed, assigned to nobody

[2022-09-21 18:09] waydabber commented on #1014
<img width="942" alt="Screenshot 2022-09-21 at 20 08 54" src="https://user-images.githubusercontent.com/37590873/191579103-982aab66-d818-4199-aee4-a7fbf5892aed.png">

[2022-09-21 18:13] #1013 closed, assigned to nobody

[2022-09-21 20:13] PaemaHare commented on #741
I also still have this issue with my M1 Mac mini and Dell U3014 with USBC to miniDP cable

[2022-09-22 02:00] zzkkll99 commented on #518
My MacOS version is 12.5. The Chinese input stalling problem will reappear 100% after two days. I don't think the problem has been fully fixed on the new system

[2022-09-22 04:52] chadami commented on #518
@zzkkll99 确实没有解决，我后来用了SwitchResX可以完美解决，好几个月了都没有任何问题。

[2022-09-22 04:52] waydabber commented on #518
@zzkkll99 - Yes, it might be. But I think you should be using native smooth scaling if possible instead of dummy mirroring - afaik, that should fix the issue.

[2022-09-22 04:54] waydabber commented on #518
... or if you don't want to buy Pro for native smooth scaling (that allows for fully scalable HiDPI screens without the use of dummies), you can simply add custom resolutions - this is completely free. :) You can find all these under Settings/Displays after enabling configuration edititing for the display.

[2022-09-22 05:10] waydabber commented on #518
Hey @chadami yeah, SwitchResX is a classic, but what it does is that it allows you to have custom scaled HiDPI resolutions on M1. You can do the same with BetterDisplay with free... (see the second red box on the screenshot)

Native smooth scaling is easier to use + allows you to change the resolution to any percentage on the fly with the slider (see first red box for the checkbox to turn it on),

[2022-09-22 08:50] waydabber opened #1019 "DDC R/G/B Gain and Black Level adjustments"
Add a dedicated submenu for DDC R/G/B Gain and Black Level adjustments + all the required customization.

This will be a new free feature.

[2022-09-22 08:52] waydabber commented on #1019
<img width="942" alt="Screenshot 2022-09-22 at 10 51 09" src="https://user-images.githubusercontent.com/37590873/191703102-16fc2967-caf1-4267-ae34-a9974a589715.png">
<img width="942" alt="Screenshot 2022-09-22 at 10 51 32" src="https://user-images.githubusercontent.com/37590873/191703112-ca2675f6-e2c3-4e77-b468-e919d64a480a.png">
<img width="576" alt="Screenshot 2022-09-22 at 10 52 20" src="https:

[2022-09-22 09:53] waydabber opened #1020 "Add option to select DDC muting method"
Some displays are super picky about how to perform DDC muting / voume 0.

The app already supports the following to give options:

- Enable/disable DDC mute (on a per display basis)
- Customize Mute ON and OFF value (on a per display basis)
- Ability to customize audio DDC range (for those displays that can't handle 0 volume)
- Newly added is: disengage from keyboard mute (and let OS use digital m

[2022-09-22 15:13] waydabber commented on #638
<img width="942" alt="Screenshot 2022-09-22 at 17 12 41" src="https://user-images.githubusercontent.com/37590873/191785405-257752f7-f8c4-4e9e-9011-97fedefa995a.png">

[2022-09-22 16:55] waydabber commented on #1011
<img width="942" alt="Screenshot 2022-09-22 at 18 54 48" src="https://user-images.githubusercontent.com/37590873/191806945-4e66ff27-d913-4030-bad9-ecd92baa0b61.png">

[2022-09-22 19:04] waydabber commented on #995
<img width="618" alt="Screenshot 2022-09-22 at 21 03 40" src="https://user-images.githubusercontent.com/37590873/191830476-1d8d1f26-75ef-47c3-881a-47c395da5622.png">

[2022-09-23 23:47] jsadowyj commented on #995
Thank you so much! One issue though... I am unable to see that option in my menu. I opted to receive beta updates, so my current version is 1.3.0. Has this feature been released yet?

[2022-09-24 00:06] jsadowyj commented on #995
Ah, nevermind. Just saw the unreleased tag. Would you mind replying to this again once the feature is released? :)

[2022-09-24 11:45] xqq0 opened #1023 "How to restore the resolution of the built-in display after using the software"
<img width="691" alt="iShot_2022-09-24_19 28 32" src="https://user-images.githubusercontent.com/79791457/192096195-5a257001-b516-4f49-b77e-31a436ffa5d9.png">

[2022-09-24 12:46] waydabber commented on #1023
Hi there - simply unclick the relevant options (for the display under Settings/Displays and apply the configuration, Apply and then reboot when instructed.

<img width="942" alt="Screenshot 2022-09-24 at 14 45 47" src="https://user-images.githubusercontent.com/37590873/192098729-49a2d359-e107-45f0-84bf-c97b92d8a315.png">

If you want to manually reset everything follow this: https://github.com/way

[2022-09-24 12:46] #1023 closed, assigned to nobody

[2022-09-24 13:53] waydabber commented on #995
All right. It's a bit more complicated than I thought but hopefully will get it right.

<img width="634" alt="Screenshot 2022-09-24 at 15 54 38" src="https://user-images.githubusercontent.com/37590873/192101742-9a784b2f-4e5c-4a14-bceb-3fe9677df388.png">

[2022-09-25 10:56] kolorfilm opened #1025 "Update to latest Paddle API version to (hopefully) fix Paddle induced wake crash bug on some configurations"
I'm on MacOS Monterey 12.6 (21G115) and recognized random crashes when the machine is in sleep for ~1-2 days. The app is not open anymore and I need to start the app again. There is no crash window or something. The app is just closed.

The latest beta 1.3.0 is running.

[2022-09-25 15:00] waydabber commented on #1025
Hi there - there should be a crash or spin report. You should look for it in the Console app under `Reports`. If you find any, please attach. Does this happen with the 1.2.9 as well or is this a new thing with the beta?

Thank you!

[2022-09-26 12:20] kolorfilm commented on #1025
@waydabber it happened also in the 1.2.9.

Here we go:

[betterDisplayError.txt](https://github.com/waydabber/BetterDisplay/files/9646102/betterDisplayError.txt)

[2022-09-27 18:55] icpgithub opened #1026 "Keyboard shortcut to start/stop PIP window"
Hi! Amazing app :)

Would it be possible to implement a configurable keyboard shortcut to start/stop an specific display PIP? For video editing it can be extremely useful.

Thanks!

[2022-09-28 00:10] zeddyyz opened #1027 "Not able to select fixed refresh rate"
First of all, thank you thank you! You have made my UW enjoyable and have made me stop searching for another external monitor. The issue I face is that my external monitor has three refresh rate options: 60hz fixed, 100hz fixed, VRR(48hz-100hz). When I'm not using Dummy, I'm able to select between the three options and have no colour flickering; but when using Dummy it's fixed to VRR(48hz-100hz) -

[2022-09-28 07:47] waydabber commented on #1026
Sure, I can add that.

[2022-09-28 07:49] waydabber commented on #1027
Are you using dummy mirroring because you bump into the max resolution limit of native smooth scaling with the ultrawide?

Is the flickering a "VRR flicker" or is it colors flickering (when you are moving the mouse)?

[2022-09-28 07:50] waydabber opened #1028 "270 degree PIP and Full Screen Streaming rotation does not work properly"
This does not seem to work properly (at least on Ventura). 90, 180 degrees work fine.

[2022-09-28 11:41] waydabber commented on #1025
Thank you!

[2022-09-28 12:34] waydabber commented on #1026
<img width="942" alt="Screenshot 2022-09-28 at 14 31 43" src="https://user-images.githubusercontent.com/37590873/192779149-92ed89e5-af0f-4adc-b8c8-32f0d852a12f.png">

The logic is the following:

- The keyboard shortcut will start/stop the PIP window of the display that was last started/stopped if that display is connected.
- If this display is not available (not connected) then the shortcut will

[2022-09-28 12:51] waydabber commented on #1025
Hmm. I could not devise anything useful from the crash log, except that it seems like it has something to do with Paddle (the payment/licensing API), but that is a black box as only the binary is available and things are purposefully obfuscated (for obvious reasons). :(

[code]

All I can say is that Paddle released an updated API with some fixes, I'll include that into v1.3.1 and hopefully the is

[2022-09-28 13:00] waydabber commented on #1025
Sorry, no fix as Paddle did not release a new version, I was remembering wrong - just sent a newsletter around saying a new version will be released sometime in the future.

[2022-09-28 13:02] waydabber commented on #1025
It seems like this issue is the same as this:

https://github.com/waydabber/BetterDisplay/issues/642

Seems to affect some systems, but the occurrence is super rare and it is not obvious why this is happening. :(

[2022-09-28 13:08] waydabber commented on #1025
Let's continue this here: https://github.com/waydabber/BetterDisplay/discussions/674

[2022-09-28 14:02] #1025 closed, assigned to waydabber

[2022-09-28 14:13] zeddyyz commented on #1027
I'm using dummy mirroring to create and use HiDPI, otherwise text is not as sharp. Display max resolution is 3440x1440.

The flickering occurs with colors when moving the mouse. Over the last several days dummy mirroring allowed me to set a fixed refresh rate only once and the color flickering did not occur that time. Once the Macbook woke up from Sleep that was reset and have not been able to set

[2022-09-28 14:40] waydabber commented on #1027
I see. The color flickering issue is not a VRR problem but a known issue with dummy mirroring that affects some configs #261. Are you on an M1/M2 or do you have M1 Pro/Max/Ultra? What HiDPI resolution are you using?

[2022-09-28 14:46] zeddyyz commented on #1027
M1 Pro - 3200x1350

[2022-09-28 15:50] waydabber commented on #1027
With M1 Pro you should be using the native smooth scaling feature instead of dummy mirroring. That should give you the same HiDPI scaling at 3200x1350 but with all the refresh rate options available and without color flickering issue.

You can enable it here, apply the changes and reboot as instructed.

<img width="942" alt="Screenshot 2022-09-28 at 17 49 59" src="https://user-images.githubusercon

[2022-09-28 15:52] zeddyyz commented on #1027
I haven't purchased Pro so I can't select it. If that's the workaround for it, then I will purchase Pro

[2022-09-28 16:03] waydabber commented on #1027
Well, it's a different feature (as dummies can be used for various other stuff), but if you simply want flexibly scalable HiDPI resolutions, then this is the best approach to get it. With this feature enabled you can choose any resolution via the resolution slider but without dummies (before enabling the feature, you should disable the old dummy). Please note that this works with Monterey 12.4 or

[2022-09-28 16:05] waydabber commented on #1027
(I'll close this as it's being resolved and the original problem is a known issue which is in the known issue list - but you can respond to this discussion anyway any time, I'll be notified and we can continue the discussion - the only consequence of closing it is that it won't be listed in the public issue list).

[2022-09-28 16:05] #1027 closed, assigned to nobody

[2022-09-28 18:05] kolorfilm commented on #1025
ok thanks for the update!

[2022-09-28 22:10] zeddyyz commented on #1027
Thank you for your help and guidance. I was able to create the custom resolution and macOS recognized it as a HiDPI display.

[2022-09-28 22:25] icpgithub commented on #1026
That's great! Thanks, super useful! I hope that the 1.3.1 is coming soon so I can use it. Or is this going into a new beta version before?

[2022-09-29 08:40] waydabber commented on #1026
The v1.3.1 will be a pre-release version (beta). I usually just bump versions both for betas and non betas so there won't be a beta and stable v1.3.1 (the v1.3.x stable will be after new things are matured somewhat and when I feel like I'm mostly done with v1.3.x feature-wise :)). I'll release v1.3.1 beta soon hopefully but I can post here a "pre-pre-release" if you are willing to test the feature

[2022-09-29 08:41] waydabber commented on #1027
Cool!

[2022-09-29 09:43] icpgithub commented on #1026
I will love to test the feature, so if you can release a "pre-pre-release" here I'll test it in my editing workflow. BTW, I'll gladly upgrade to pro just for this :)

[2022-09-29 10:27] waydabber commented on #1026
Sure, here is an interim build to try:

[REMOVED]

[2022-09-29 10:28] waydabber commented on #995
@jsadowyj - here is an interim build to test the feature if you have some time for it.

[REMOVED]

[2022-09-29 17:40] jsadowyj commented on #995
Sure thing. I'll download it later this evening and let you know if I experience any issues.

[2022-09-29 17:43] icpgithub commented on #1026
I just did a little test and this is working fantastic! Thanks. If I have any issue I'll let you know.

[2022-09-30 06:54] waydabber commented on #1026
Great, thank you!

[2022-09-30 06:55] waydabber commented on #995
Thanks! Please let me know if you did download it so I can remove the DL link. :)

[2022-09-30 07:25] snauhaus opened #1030 "App not working as expected"
I'm using the app for an HP Envy "27 and I'm experiencing two issues:

* Image blurry despite mirroring set up
* Image flickers

EDIT: Image always flickers

[2022-09-30 08:07] waydabber commented on #1030
Hi there,

I am not sure about the blurriness as this is subjective, I'd need some more info and screenshots about that. Regarding flickering see this (it's on the known issue list): https://github.com/waydabber/BetterDisplay/issues/261

If you want scalable HiDPI resolutions, then you should not use dummy mirroring as virtual screen mirroring has several macOS level bugs in newer macOS versions (

[2022-09-30 08:08] waydabber commented on #1030
(I'll close this one but feel free to have any follow up comments, I'll get notified! Thank you!)

[2022-09-30 08:08] #1030 closed, assigned to nobody

[2022-09-30 12:27] snauhaus commented on #1030
My understanding was the bluriness of the screen was due to scaling issues, which BetterDisplay fixes. However, the issue persists when the app is set up according to the instructions [here](https://github.com/waydabber/BetterDisplay#how-to-unlock-scaling-and-hidpi-for-my-display).

What additional info can I provide you with? I'm afraid that the screenshot wouldn't be blurry for you. I would have

[2022-09-30 15:05] waydabber commented on #1030
I am not sure of the bluriness issue - if you mean bluriness due to supersampled scaling (a high resolution HiDPI framebuffer scaled to the actual pixel density of the display), then that is normal and expected and is there due to the fact that the pixel resolution of the display is lower than the HiDPI framebuffer. If you experience an undersampled bluriness (a LoDPI desktop with lower-than-displ

[2022-09-30 18:01] waydabber opened #1031 "Disconnected dummies should be listed under Settings/Displays"
Disconnected dummies should be listed under Settings/Displays. This is required so in the future some dummy and display settings (those that do not need quick menu based access) could be moved to Settings + dummy info could be removed from the `More Options` menu to clean up clutter.

[2022-09-30 18:01] waydabber commented on #1031
For now:

<img width="942" alt="Screenshot 2022-09-30 at 20 01 45" src="https://user-images.githubusercontent.com/37590873/193329820-65bbbd47-3f24-4be9-afb5-e40ff1338cd7.png">

[2022-09-30 18:03] waydabber opened #1032 "All menu block header should be clickable to show/hide block"
It is rather difficult to quickly position the mouse to the unfold (chevron) icon. The entire block header should be clickable. This is required for consistency with the new block header under Settings/Displays.

[2022-09-30 18:05] waydabber opened #1033 "Change `More Options...` submenu into an expandable area for displays/dummies"
The `More Options...` submenu is a bit difficult to use. This should be turned into an expandable area under the display menu. Expansion status should be retained.

[2022-10-01 14:59] waydabber commented on #1033
The existing `More Options...` menu will be integrated into the main menu. The three dots at the bottom of a menu block will serve to switch between the contracted and expanded modes. The state is saved which gives more flexibility to the user (expand more often used displays and contract less frequently used ones).

Contracted state:

<img width="297" alt="Screenshot 2022-10-01 at 16 55 45" src="

[2022-10-01 15:13] waydabber opened #1034 "Change `More Options...` submenu into an expandable area for Tools section"
The same must be done for the Tools section: #1033

[2022-10-02 14:31] waydabber opened #1036 "Add Tools section option on Intel to enable/disable HiDPI resolutions for unsupported displays in general"
This is still needed for some Intel macs.

The toggle should have the equivalent effect of the following Terminal command:

When enabled:
`sudo defaults write /Library/Preferences/com.apple.windowserver DisplayResolutionEnabled -bool YES`

When disabled:
`sudo defaults delete /Library/Preferences/com.apple.windowserver DisplayResolutionEnabled`

[2022-10-02 19:31] waydabber opened #1037 "Option to hide `Check for Updates` form the Tools menu when it is set to be closable"
The `Check for Updates` should not be a mandatory part of the Tools menu when it is set to collapse into the bottom icon row.

<img width="320" alt="Screenshot 2022-10-02 at 21 29 50" src="https://user-images.githubusercontent.com/37590873/193472672-12980523-ea75-40ae-83a2-f4af7e22544a.png">

[2022-10-02 19:38] waydabber opened #1038 "Resolution slider might not properly change the resolution to max LoDPI when instructed"
It is trying to change the resolution to the invalid HiDPI equivalent (if present) by mistake.

[2022-10-02 19:47] waydabber commented on #1038
Oh, it's doing this only if invalid resolutions are enabled... but that's ok. :)

[2022-10-02 19:47] #1038 closed, assigned to nobody

[2022-10-02 20:01] #638 closed, assigned to waydabber

[2022-10-02 20:01] #989 closed, assigned to waydabber

[2022-10-02 20:01] #995 closed, assigned to waydabber

[2022-10-02 20:01] #1002 closed, assigned to waydabber

[2022-10-02 20:01] #1003 closed, assigned to waydabber

[2022-10-02 20:01] #1004 closed, assigned to waydabber

[2022-10-02 20:01] #1005 closed, assigned to waydabber

[2022-10-02 20:01] #1008 closed, assigned to waydabber

[2022-10-02 20:01] #1009 closed, assigned to waydabber

[2022-10-02 20:01] #1011 closed, assigned to waydabber

[2022-10-02 20:01] #1014 closed, assigned to waydabber

[2022-10-02 20:01] #1019 closed, assigned to waydabber

[2022-10-02 20:01] #1026 closed, assigned to waydabber

[2022-10-02 20:01] #1028 closed, assigned to waydabber

[2022-10-02 20:01] #1031 closed, assigned to waydabber

[2022-10-02 20:01] #1032 closed, assigned to waydabber

[2022-10-02 20:01] #1033 closed, assigned to waydabber

[2022-10-02 20:01] #1034 closed, assigned to waydabber

[2022-10-02 20:01] #1037 closed, assigned to waydabber

[2022-10-03 06:26] suddenelfilio opened #1039 "Bought the license twice now not received it"
Hello

I have bought a license twice on different email addresses, but they do not get delivered.
Can you please help out!

[2022-10-03 06:32] waydabber commented on #1039
Of course, but I'd need to know the email address for that. You can join the app's [Discord channel](https://discord.gg/aKe5yCWXSp) and PM me directly. Also, you can any time ask help at Paddle (it's a third party service that does the licensing/payment stuff - https://www.paddle.com/help).

[2022-10-03 06:32] #1039 closed, assigned to nobody

[2022-10-03 22:02] coolaj86 opened #1041 "Native smooth scaling does not work properly for Intel macs"
I have two 2015 MacBook Pros that **fault and reboot** every other time or so that they go into sleep mode - but **only when BetterDisplay is active**.
- one is a dual-graphics with macOS 12.5
- the other is integrated graphics with macOS 12.6

I just reinstalled the second one fresh today and the only things I have installed are:
- **BetterDisplay**
- BetterTouchTool
- Karabiner Elements
- Brave

[2022-10-04 07:36] waydabber commented on #1041
Hi @coolaj86,

- does the sleep issue arise when there is no dummy connected?
- if not, then the issue might be that generally a mirrored dummy does this to macOS _or_ a sleep workaround employed by the app causes this. To test the latter, you can try disabling all of these options:

<img width="942" alt="Screenshot 2022-10-04 at 9 32 44" src="https://user-images.githubusercontent.com/37590873/193

[2022-10-04 17:01] waydabber opened #1042 "Add option to show both the resolution slider and the menu"
The resolution slider is great but sometimes the resolution menu is just needed for some reason when specific tweaking with a resolution is required. With the new expandable menu layout in v1.3.x there should be room for both at the same time.

The contents of the resolution slider and menu options (which resolution to be shown) should be controlled independently of each other (the slider should f

[2022-10-04 17:08] waydabber opened #1043 "Quick and easy way to add/remove favorite resolutions and assign shortcut keys for them"
Slider:

- Favorite resolutions should be visible on the slider (designated with a slot number)
- The slider should snap to favorite resolutions so it's easy to select them
- Long pressing the knob while staying on the same spot should add/remove a favorite

Resolution menu:

- The top of the resolution menu should start with favorites (slots)
- Option at the top to add the currently selected reso

[2022-10-04 22:17] mldmf opened #1044 "Is resolution change normal when closing the lid?"
Hi,
I just encountered a strange issue. I'm using a MBP (14", M1 Pro). I've connected two external Dell 2K Displays and using BD to scale the UI and activate smoothing.

What I do: Closing the lid of the MacBook

What I expect: MacBook goes to sleep

What actually happens: UI scales back to 100% (not sure if BD stops to work at all or just the scaling is reset. MacBook doesn't go to sleep mode.

W

[2022-10-05 08:00] waydabber commented on #1044
Hi @mldmf can you share me a bit more info about your configuration? Are you using dummies? How are the displays connected? Thank you!

[2022-10-05 08:03] waydabber commented on #1041
Hi @coolaj86 - there is an interim built you could test to see if native smooth scaling works with your Intel macs (it would be great if you could test both the discrete and integrated GPU versions).

_(download removed)_

This way you don't have to use dummies which probably causes the issue with those models. Enable it here (with dummies disconnected/discarded):

<img width="942" alt="Screenshot

[2022-10-05 08:15] mldmf commented on #1044
Hi @waydabber

I'm not using dummies. I've followed this [instructions](https://github.com/waydabber/BetterDisplay#how-to-unlock-scaling-and-hidpi-for-my-display) to directly activate HiDPI and UI Scaling (currently 75%):

One display is directly connected through the HDMI port. The other display in connected through the HDMI port of a USB-C dock, which is connected to the MacBook

I also have ano

[2022-10-05 08:54] waydabber commented on #1044
Oh, I understand. Now, what you are experiencing is normal I think.

- If an external display is connected and you close the macbook lid, the macbook won't go to sleep but switch to the external display. This is a normal behavior if the macbook is connected to a power source (it will sleep however if it is not connected to a power source) - this is called "clamshell" mode.
- The display resolution

[2022-10-05 08:56] waydabber commented on #1044
(I'll convert this into a discussion, we can continue it there).

[2022-10-05 08:56] #1044 closed, assigned to nobody

[2022-10-05 11:29] seriusokhatsky commented on #807
So there is still no workaround for the issue? It is so annoying.

[2022-10-05 12:53] egrefen commented on #807
Also why close the issue when it's still an active problem? How are we supposed to track resolution?

[2022-10-05 12:58] waydabber commented on #807
There is link to `Known issues` pinned to the top of the Issues page from where all known issues can be listed.

<img width="1781" alt="Screenshot 2022-10-05 at 14 55 47" src="https://user-images.githubusercontent.com/37590873/194065586-6f1d312a-d663-4c5c-be95-e2a7624cfbd2.png">

The fact that these issues are closed do not make them untrackable, as commenting ant subscirbing to notifications is e

[2022-10-05 17:34] coolaj86 commented on #1041
# Dual-Graphics 2015 Intel MBP

It took a few reboots, disconnecting the dummies, and switching the resolutions back and forth, but it did eventually work.

🥳

<img width="942" alt="Screen Shot 2022-10-05 at 11 12 43 AM" src="https://user-images.githubusercontent.com/122831/194124607-740642a3-dbbd-4087-8977-7fb9b9f7f104.png">

<img width="942" alt="Screen Shot 2022-10-05 at 11 32 59 AM" src="https

[2022-10-05 17:47] coolaj86 commented on #1041
# Integrated Graphics 2015 Intel MBP

Even doing it the second time the order of operations to transition was a little confusing, but it works!

🥳

<img width="698" alt="Screen Shot 2022-10-05 at 11 38 35 AM" src="https://user-images.githubusercontent.com/122831/194127038-d345d097-6f75-4941-b91c-763ee3eb94ea.png">

<img width="942" alt="Screen Shot 2022-10-05 at 11 36 12 AM" src="https://user-imag

[2022-10-05 19:42] alohaquando opened #1046 "App incorrectly sets default DDC contrast (and for v1.3.x R/G/B black level) upon changing brightness after starting the app the first time"
The DDC setting for Contrast, Red Gain, Red Black Gain, Blue Gain, Blue Black Gain, Green Gain, Green Black Gain completely broke the contrast settings on LG external monitors, making them appearing as extremely high contrast. The display contrast is broken immediately after changing brightness using the hotkey while on the beta. Lowering the contrast to 0 turns make the screen black, while turnin

[2022-10-05 20:41] waydabber commented on #1041
Great, thanks for the testing and the confirmation! :)

[2022-10-05 20:54] waydabber commented on #1046
Huhh, that's not good, sorry for the troubles! Does the LG Gram+ View have a factory reset option that cleans the memory of the flash chip that contains settings (it should have an app I think that can control the display via USB)?

Does the DDC contrast solely has this effect or only when RGB Gain/Black level settings are altered? If this is a common occurence I might have to disable these or add

[2022-10-05 21:01] waydabber commented on #1046
Hmm. I found zero info on how to reset the 16MQ70. :(

[2022-10-06 04:26] alohaquando commented on #1046
Hello!

**Does the LG Gram+ View have a factory reset option that cleans the memory of the flash chip that contains settings (it should have an app I think that can control the display via USB)?**
So there's no way to reset the LG Gram+ View. Here is what I've tried:
- The Gram+ View does not have any way to reset the monitor by itself.
- The macOS version of LG OnScreen Controls only controls the

[2022-10-06 04:42] alohaquando commented on #1046
I've tried to set the LG Gram+ View to "Reader" mode on Windows, then re-connect to my MacBook. The contrast worked fine, so I went and disabled all DDC controls except for Brightness. However, once I disconnected the monitor from my MacBook and reconnect it, the contrast was broken again. So now I've reverting to 1.2.9 as there's no way currently to fix this problem.

[2022-10-06 08:22] waydabber commented on #1046
Hmm. So after disabling the offending DDC controls it somehow got re-applied? That must be a bug then as it should not happen. I'll recheck the code in this regard.

Was this set to the default or set to `Write last used values to display'?

<img width="942" alt="Screenshot 2022-10-06 at 10 21 07" src="https://user-images.githubusercontent.com/37590873/194260440-5886419c-65cf-4665-a524-dbeec7e5a79

[2022-10-06 14:32] alohaquando commented on #1046
I have “DDC values on startup” set to “Read values from display” because I didn’t want it to mess up any settings of the reader mode.

This is happening on my M1 Pro MacBook

[2022-10-06 14:34] waydabber commented on #1046
Thank you! I'll do further testing on an LG display + I'll probably remove DDC r/g/b black level sliders.

[2022-10-06 14:53] GaryREM opened #1047 "Sidecar display name appears in random foreign language"
The sidecar monitor name shows up in random language.
<img width="292" alt="image" src="https://user-images.githubusercontent.com/8797938/194342246-8e82d82b-94ef-42a6-bd9a-a890d7588cf5.png">

It appears to be Chinese above, but earlier appeared to be in Arabic. Each restart changes the language.

macOS 13 Beta 10 on Intel iMac 2019.

[2022-10-06 14:57] waydabber commented on #1047
This is to promote a multicultural values! :) So it's more a feature than a bug lol.

This is usually an issue with Sidecar displays, still could not get to why this is happening but will try to figure out. Are you using any kind of localization in general or is your macOS set to English?

[2022-10-06 15:00] waydabber opened #1048 "Option to have a tri-state collapsible header in menu instead of the more options menu expander"
v1.3.1 introduced a menu expander icon instead of the `More Options...` found in older versions. Some menu space could be saved by turning the header into a tri-state clickable header which switches between the following states for the block:

- collapsed -> partially expanded -> fully expanded.

This should be optional. Also, since there are now a number of obscure menu customization options whic

[2022-10-06 15:01] waydabber commented on #1048
<img width="942" alt="Screenshot 2022-10-06 at 16 54 38" src="https://user-images.githubusercontent.com/37590873/194347959-b130cf2a-608d-41f1-8509-78eee6f18f70.png">

<img width="306" alt="Screenshot 2022-10-06 at 16 54 32" src="https://user-images.githubusercontent.com/37590873/194348072-767cb8ee-e0ed-4240-93f8-3db5bf9e257d.png">

[2022-10-06 15:23] alohaquando commented on #1046
Great! Do you think there’s a way to restore the original settings?

[2022-10-06 15:32] GaryREM commented on #1047
I like that reply! I was seriously thinking this was a little joke on your part!

Only using English on my Mac. It seems to be very creative.
<img width="255" alt="image" src="https://user-images.githubusercontent.com/8797938/194355650-3e784520-090a-497b-bf19-10fee7aa3450.png">

[2022-10-06 16:40] waydabber commented on #1046
Probably there is but it might involve experimentation and sending various DDC commands on a trial&error basis which might also make matters worse.

I am also quite sure that there is some way to factory reset the device (basically there is no modern complex device with embedded firmware that can't do this, simply because it would make it impossible even for testers and engineers to fix things dur

[2022-10-06 16:43] waydabber commented on #1047
Lol. The issue is that the app is reading the name from a multi-language system dictionary where it tries to find the en_US variant in the name list but if that for whatever reason does not appear, it just takes the first item (which is apparently randomized). The en_US variant is present for most setups but I don't know why exactly it is missing for some (maybe if English is set to UK or some oth

[2022-10-06 16:50] waydabber commented on #1047
on my system the list is:

`["hi_IN": "Sidecar Display", "uk_UA": "Sidecar Display", "en_US": "Sidecar Display", "fr_CA": "Sidecar Display", "hu_HU": "Sidecar Display", "he_IL": "Sidecar Display", "es_XL": "Sidecar Display", "pl_PL": "Sidecar Display", "zh_CN": "Sidecar Display", "fi_FI": "Sidecar Display", "pt_PT": "Sidecar Display", "hr_HR": "Sidecar Display", "en_AU": "Sidecar Display", "fr_FR"

[2022-10-06 16:59] waydabber commented on #1047
The log alert will pop up whenever the app is reading the display name (it will pop up multiple times for the same display, that is normal). It will show the selected name and the entire name dictionary. You'll need to press OK to continue. This would give us useful information on what the app is reading and why is it selecting whatever it is selecting:

<img width="588" alt="Screenshot 2022-10-06

[2022-10-06 16:59] waydabber commented on #1047
If you have the time, you should create a screenshot of these alerts regarding the sidecar display and we'll figure out what's happening. Thank you!

[2022-10-06 19:13] GaryREM commented on #1047
I copied the text from the alerts... This is a sampling from them...

["fr_FR": "iMac", "sv_SE": "iMac", "ro_RO": "iMac", "cs_CZ": "iMac", "pt_PT": "iMac", "hi_IN": "iMac", "fi_FI": "iMac", "ca_ES": "iMac", "uk_UA": "iMac", "th_TH": "iMac", "zh_CN": "iMac", "nl_NL": "iMac", "en_US": "iMac", "it_IT": "iMac", "he_IL": "iMac", "sk_SK": "iMac", "ms": "iMac", "ko_KR": "iMac", "hu_HU": "iMac", "de_DE":

[2022-10-06 19:16] waydabber commented on #1046
I just tried the R/G/B gain, R/G/B black level and contrast settings with an LG 27UD85-W (it's an LG 4K display) and it seems to work fine. I am not sure about what to do with these. I certainly do not want the feature to cause serious issues for some but if it works it could be useful for some.

I think I'll just put a warning to the bottom of the menu `⚠ RGB controls can cause display issues!`.

[2022-10-06 19:39] waydabber commented on #1046
Here is a version that has a factory reset option under DDC Video Adjustments. This seems to work both with the LG I have here for testing and the Lenovo display (properly doing a factory reset for them both), so it might work with your display as well. Use it at your own risk! :)

_(download removed)_

<img width="540" alt="Screenshot 2022-10-06 at 21 35 55" src="https://user-images.githubusercon

[2022-10-06 19:43] waydabber commented on #1047
All right, thanks, great help!! :)

It seems for whatever reason in case of Sidecar, "en_US" is missing for your config, however there is an "en" variant instead. Based on this if there is no `en_US`, then I'll try for `en` and then for `en_GB` and `en_AU`. If none of these are present then I'll go on picking a random one. :) I think this will fix most of the issues.

[2022-10-06 19:45] waydabber opened #1049 "Add DDC factory reset to DDC menu"
A DDC factory reset option might help when all else fails...

<img width="540" alt="Screenshot 2022-10-06 at 21 35 55" src="https://user-images.githubusercontent.com/37590873/194403219-77a0f3fb-b55b-40e8-a143-a03a4fdbb504.png">

[2022-10-06 19:48] waydabber commented on #1047
All right, I fixed this. If you can't bear the funny names and want a pre-release with the fix, let me know!

[2022-10-06 20:42] GaryREM commented on #1047
Thank you. I can live with this. I can pick it up with your next release.I guess it could be an iPad issue...

[2022-10-06 20:45] waydabber commented on #1047
I'll keep it open until it's in the release.

[2022-10-06 22:01] coolaj86 commented on #1041
Unfortunately, it still crashes on sleep.

Maybe it's just the fact that no one at Apple is still using Thunderbolt Displays and Thunderbolt 1 just isn't supported anymore.

I will just disable sleep. 🤷‍♂️

[code]

[2022-10-07 01:14] alohaquando commented on #1046
Hello and THANK YOU! The new version fixed the problem for me, but some DDC RGB issues still persist. I've tried them on the LG 16MQ70 (LG Gram+ View Portable Monitor) and the LG 32GK650F (LG Gaming Monitor).

Both monitor are tested with DDC Communication set to "Assume last used or default values are valid".

1. On both monitor:
After installing the app and running it -> displays work normally.

[2022-10-07 08:55] waydabber commented on #1041
Well, based on this crash log, it is not in fact a BetterDisplay related issue it seems. Seems to be a Thunderbolt problem and as AppleSMC also seems to be involved, it has something to do with low-level housekeeping stuff on Intel macs (SMC handles machine specific stuff and also coordinates what happens on sleep and wake).

[2022-10-07 09:00] waydabber commented on #1046
@s3800978 - can you try the following?

- quit the app
- in the terminal enter `defaults delete me.waydabber.BetterDummy`
- restart the app
- attempt to use the brightness slider

I want to understand if somehow the last stored settings for R/G/B gain controls apply when you use the brightness slider the first time after running the app, that might cause havoc indeed. By resetting the app settings

[2022-10-07 11:13] waydabber commented on #1046
I did debug things a bit further - the app is not writing (or reading) from R/G/B controls by itself or when changing brightness (first time or later), so I am not sure why or what could cause the issue. :(

[2022-10-07 11:16] waydabber commented on #1046
Hmm. You are right. It seems if I completely reset BetterDisplay, start it up the first time, it indeed sends a bunch of commands it should not, namely sets a default contrast (18) of 75 and sets R/G/B (108, 110, 112) black level to 50.

This should not happen and is a bug.

<img width="774" alt="Screenshot 2022-10-07 at 13 14 33" src="https://user-images.githubusercontent.com/37590873/194540686-6

[2022-10-07 12:40] waydabber opened #1050 "Apple brightness smooth transition toggle has no effect"
The advanced toggle to turn off smooth transition does not work for built-in display brightness control (it is always smooth). This is a bug.

[2022-10-07 12:42] waydabber commented on #1046
The issue affected v1.2.9 as well but in a more subtle fashion (impacted contrast only).

[2022-10-07 13:21] waydabber opened #1051 "Smoother XDR brightness upscaling experience for XDR displays (avoid overshoot effect)"
When the brightness slider is increased from a sub-100% level to beyond 100% for Apple displays, there is a slight brigthness overshooting effect that might last about a second. This is because the built-in algorithms are constantly recalculating the proper upscaling levels as smoothed hardware brightness changes are being made. This dynamic recalculation is great and fun and a coding marvel on a

[2022-10-07 13:50] olipo186 opened #1052 "XDR brightness upscale - does it affect monitor lifetime?"
HI!

I love the "XDR brightness upscale" feature - I use it all the time.

However it worries me - will it affect the lifetime of the display?

Also, thank you for your work:

<img width="842" alt="Skärmavbild 2022-10-07 kl  15 49 37" src="https://user-images.githubusercontent.com/1056476/194569337-98771aaa-92eb-4508-bff5-0141f02c02bc.png">

[2022-10-07 14:17] waydabber commented on #1052
Hi there - no, it should not affect the lifetime of the display much (at least considering a normal expected lifespan for a product like this, but in 15-20 years time LEDs normally loose a quarter of their brightness but at this point these products will long be vintage). The main reason the displays are limited at 600nits normally is not lifespan (or even heat - as the screen is designed to withs

[2022-10-07 17:38] waydabber opened #1053 "Higher brightness with HDR/XDR upscale calibration"
The XDR/HDR update algorithm is calculating max brightness rather conservatively for some displays. The user can anytime override this (and extend brightness) by using the Gain slider but it should probably work the other way around - the algorithm should be a bit bolder (especially for external third party HDR displays where the current version seems to undershoot quite bit). If white saturation

[2022-10-07 17:41] waydabber commented on #1051
The newly upscaler coordinator is super smooth for XDR displays. Much better this way.

[2022-10-07 18:03] waydabber commented on #1053
The new more agressive profile achieves about 30% more brightness for my Lenovo Creator Extreme display without further gain adjustments while still preserving white saturation. I am not sure how this will affect other HDR displays though.

[2022-10-07 18:28] alohaquando commented on #1046
Phew I'm glad that that was fixed! Thank you for your super fast responses and kudos on the app 👍

[2022-10-07 18:38] waydabber commented on #1046
Yes, thanks for notifying me about the problem! I'll post a new beta today with the fix as this might affect many.

[2022-10-07 18:45] #1041 closed, assigned to waydabber

[2022-10-07 18:45] #1046 closed, assigned to waydabber

[2022-10-07 18:45] #1047 closed, assigned to waydabber

[2022-10-07 18:45] #1048 closed, assigned to waydabber

[2022-10-07 18:45] #1049 closed, assigned to waydabber

[2022-10-07 18:45] #1050 closed, assigned to waydabber

[2022-10-07 18:45] #1051 closed, assigned to waydabber

[2022-10-07 18:45] #1053 closed, assigned to waydabber

[2022-10-08 06:58] #1052 closed, assigned to nobody

[2022-10-09 01:24] aug0211 opened #1055 "How to enable Night Shift for a TV?"
42" LG C2 connected to 14" M1 MBP via HDMI.

Option to enable (and configure) Night Shift for the LG C2 is not having any impact.

[2022-10-09 01:47] alohaquando opened #1056 "[Beta] Resolution sliders only showing native resolution and nearest default HiDPI resolution, despite having "Set up native smooth resolution scaling" enabled"
The resolution sliders bugged out and is only showing native resolution and nearest default HiDPI resolution (original, before BetterDisplay was enabled). I think this is an UI error for the slider since the Resolution submenu still shows all HiDPI resolution, and macOS's Display Settings also show all HiDPI resolution.

**Only two possible resolutions with the slider**
<img width="923" alt="Scree

[2022-10-09 01:50] alohaquando commented on #1056
Force quitting BetterDisplay does NOT fix this bug, but restarting the machine fixes this bug.

[2022-10-09 07:23] waydabber commented on #1055
Hi there - is the display recognized as monitor afterwards or is it still classified as TV?

[2022-10-09 07:27] waydabber commented on #1056
Hi there - so is this now fixed? What Mac model are you using?

[2022-10-09 07:37] waydabber commented on #1055
Oh, from the Discord chat I get the sense that you did not reclassify your TV as a computer monitor. TVs by default excluded from Night Shift on macOS so you need to override the display configuration and convert your TV to be a computer monitor - that should enable Night Shift.

You can do that here:

<img width="942" alt="Screenshot 2022-10-09 at 9 34 36" src="https://user-images.githubuserconte

[2022-10-09 07:38] waydabber commented on #1055
Let me know if this works!

[2022-10-09 07:38] #1055 closed, assigned to nobody

[2022-10-09 08:16] nlited commented on #965
Hi @waydabber !
One of my monitors is an old Samsung SA850, a classic 2k 2560x1440 monitor.
Surprisingly I do have an option to set a native hidpi resolution aka 2560x1440 in hidpi mode (don't really understand how could it be technically possible though, but SwitchResX offers this option) and therefore there is no option to "add a near-native HiDPI variant" for this monitor in BetterDisplay...

[2022-10-09 15:12] waydabber commented on #965
hi @nlited - is this an Intel or Apple Silicon mac? On Intel macs the HiDPI variant should be available (or is usually available) without the workaround.

(also: the option is only available in the v1.3.x beta).

[2022-10-09 15:31] nlited commented on #965
@waydabber it is an apple silicon mac (MBP 16" M1 Pro)!

[2022-10-09 16:14] waydabber commented on #965
Interesting. What is the reported native resolution set for the display? Are you running the latest Monterey?

<img width="942" alt="Screenshot 2022-10-09 at 18 14 11" src="https://user-images.githubusercontent.com/37590873/194767622-5df16e9d-2286-432d-9032-6ed320103199.png">

[2022-10-09 22:27] nlited commented on #965
Yeah, the latest version!
here are the screenshots:
![Снимок экрана 2022-10-09 в 10 47 03](https://user-images.githubusercontent.com/78362241/194782319-6fadc890-835c-4e12-a644-3edadc09c403.png)
![Снимок экрана 2022-10-09 в 10 47 12](https://user-images.githubusercontent.com/78362241/194782320-7fd89180-01d2-4939-855f-1fa1dcec4770.png)

[2022-10-10 04:49] alohaquando commented on #1056
I fixed it by rebooting the machine, which I don't think is a good solution? I'm using a MacBook Pro 14
<img width="349" alt="image" src="https://user-images.githubusercontent.com/68211893/194800716-5b8330f0-f7d2-4ba6-902d-5d52f43b4ac1.png">

[2022-10-10 08:08] waydabber commented on #965
All right. The circumvent option is only available in the v1.3.x version, so that's why it does not appear - however if the 2560x1440 HiDPI works without this, that is great. I don't know how is that possible though :). The native resolution certainly does not work on my config - the option is there (as usual) but the OS won't set the resolution to it even if I try setting it programmatically. I w

[2022-10-10 08:21] waydabber commented on #1056
Something is certainly not right with the config. The 32GK650F is a WQHD display (2560x1440) while your resolution list shows 2560:1600 (which is a 16:10 aspect ratio). It might have been a display detection issue or something else. I'd turn off configuration editing and try setting up things again. Make sure that while you set up the configuration, the display is not mirrored from any other displ

[2022-10-10 16:11] alohaquando commented on #1056
Ah so that's why. I was connected to a 16:10 display previously before disconnecting it and connecting the 16:9 one. Maybe it was old display data that wasn't refreshed

[2022-10-10 17:41] waydabber commented on #1056
Hmm. Strange, the system should not confuse displays so easily (there is some chance of confusion still especially if the displays have the same maker and model code for some reason).

I'll move this to discussions, but let me know if you can't seem to fix the problem by reapplying the native smooth scaling configuration (you should disable and then enable configuration editing for the display so

[2022-10-10 17:41] #1056 closed, assigned to nobody

[2022-10-10 18:01] waydabber opened #1059 "The `Set Resolution` menu is erroneously available for the mirror target display"
This is an error, changing the resolution of the mirror target display programmatically causes issues as the results are undefined.

[2022-10-10 18:02] waydabber commented on #1059
Reported by Mick on Discord. :)

[2022-10-10 18:09] mickimnet commented on #1059
Thank you, for fixing it so fast!

[2022-10-11 07:48] Mudflapper commented on #971
I’m a bit late but I’ve been experiencing BD crashes on restart as well. I don’t restart often so I didn’t report it sooner. SteveOn Sep 7, 2022, at 11:32 PM, Haowei Jiang ***@***.***> wrote:﻿
Yes, it's specifically related to auto-start. If I start the app manually, it works fine.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you are subscribed t

[2022-10-11 07:57] nlited commented on #965
mine is 1.2.9 and the app says this one is the latest :)

yep, at the time of making these screenshots I accidentally switched to LoDPI :)

[2022-10-11 08:31] waydabber commented on #965
Yes, the 1.3.x is available as beta, you can enable beta under Settings/General. :)

[2022-10-11 08:36] nlited commented on #965
I see! Gonna try it when I'm back to the countryside where I have this 2k monitor :)

[2022-10-11 09:27] hericius commented on #573
Hi Istvan,

Yes, your proposal sounds good.

:-)

Thanks for your quick reaction.

Sincères salutations | Met vriendelijke groeten | Kind regards

André Staquet,

Hericius Consulting SRL | ISO27001 Lead Implementer | Risk, Information Security and Compliance | Founder & Consultant | M. +32 479 98 31 27<tel:+32%20479%2098%2031%2027>

On 11 May 2022, at 17:10, Istvan Toth ***@***.******@***.***>> wr

[2022-10-12 16:37] araglin opened #1061 "macOS Sierra compatibility?"
![image](https://user-images.githubusercontent.com/2364929/195399385-26420165-aecf-4b23-adb1-d3d4ce2c6880.png)

Any ideas? This happens with both the most recent stable and the most recent beta.

Here's what I'm running:

![image](https://user-images.githubusercontent.com/2364929/195399636-18c53e0f-33c7-4568-a012-423103dbadd2.png)

[2022-10-12 16:42] waydabber commented on #1061
Oh I am afraid you won't be able to use the app on a 2011 mini as it requires at least macOS Big Sur to run. :(

[2022-10-12 16:42] #1061 closed, assigned to nobody

[2022-10-15 16:36] waydabber opened #1066 "Refactor/rewrite menu generation"
The menu generation needs a major rework for internal reasons:

- Refactoring for a more organized code
- Improve efficiency - no need to regenerate the entire menu every time when expanding/contracting menu block contents
- Eliminate flashes (on some configurations) when expanding/contracting menu

[2022-10-15 16:37] waydabber opened #1067 "A more prominent and by default visible way to connect/disconnect dummies"
The current method of connecting/disconnecting dummies via an obscure toggle hidden by default under the expandable section is less than ideal. The connect function should have its own icon and should be visible by default even when the dummy menu is contracted.

[2022-10-15 16:41] waydabber commented on #1067
<img width="296" alt="Screenshot 2022-10-15 at 18 34 00" src="https://user-images.githubusercontent.com/37590873/195998047-85f62e91-e8be-47f6-8fba-54a2abe1ab7c.png">

[2022-10-15 16:44] waydabber commented on #1067
Also the visibility should be able to be changed for those who wish for a cleaner menu layout:

<img width="942" alt="Screenshot 2022-10-15 at 18 44 05" src="https://user-images.githubusercontent.com/37590873/195998191-ccb70ab9-104f-4fd6-a987-095cdb5ad7bb.png">

[2022-10-15 16:57] waydabber opened #1068 "Option to hide disconnected dummy from menu"
As with displays it should be possible to hide a disconnected dummy (if the user does not want associated, but currently disconnected dummies to clutter the menu).

[2022-10-15 16:57] waydabber commented on #1068
<img width="942" alt="Screenshot 2022-10-15 at 18 55 58" src="https://user-images.githubusercontent.com/37590873/195998715-790623a4-0a98-4430-8f28-1108d8ea950e.png">

[2022-10-15 17:02] waydabber commented on #1036
This is not needed anymore, with custom resolutions or native smooth scaling enabled, this happens automatically as well since v1.3.2

[2022-10-15 17:03] #1036 closed, assigned to waydabber

[2022-10-15 21:17] waydabber opened #1069 "DDC menu appears with a factory reset option for non-DDC compliant displays"
This menu should not be visible for non-DDC displays.

[2022-10-15 21:18] waydabber opened #1070 "Some menu items have icons even when icons are disabled"
No menu items should have icons when icons are disabled.

[2022-10-15 21:19] waydabber commented on #1042
Also resolution options are now rearranged to shown at the proper places under Settings/App Menu.

<img width="942" alt="Screenshot 2022-10-15 at 23 19 49" src="https://user-images.githubusercontent.com/37590873/196007979-2f3b04e5-20dd-4f52-bba6-29b653802c31.png">

[2022-10-15 21:35] waydabber opened #1071 "When both menu item and header icons are disabled, texts do not line up properly"
Header and menu texts should line up properly when all icons are disabled. Currently it looks bad.

<img width="188" alt="Screenshot 2022-10-15 at 23 33 41" src="https://user-images.githubusercontent.com/37590873/196008436-67a6f2c6-6d30-4bbd-a189-c1310817b53e.png">

[2022-10-16 12:56] waydabber commented on #722
<img width="1194" alt="Screenshot 2022-10-16 at 14 55 47" src="https://user-images.githubusercontent.com/37590873/196036627-a633c0ad-36bf-4c63-8a7d-cdb7dfb0102c.png">

[2022-10-16 13:15] waydabber opened #1072 "When a display is collapsed and remains the sole display, without its fully hidden from the menu when header for a single display is disabled"
A collapsed display block should be uncollapsed even when it was collapsed previously, when the header is disabled.

[2022-10-16 16:50] #722 closed, assigned to waydabber

[2022-10-16 16:50] #1042 closed, assigned to waydabber

[2022-10-16 16:50] #1059 closed, assigned to waydabber

[2022-10-16 16:50] #1066 closed, assigned to waydabber

[2022-10-16 16:50] #1067 closed, assigned to waydabber

[2022-10-16 16:50] #1068 closed, assigned to waydabber

[2022-10-16 16:50] #1069 closed, assigned to waydabber

[2022-10-16 16:50] #1070 closed, assigned to waydabber

[2022-10-16 16:50] #1071 closed, assigned to waydabber

[2022-10-16 16:50] #1072 closed, assigned to waydabber

[2022-10-17 14:29] waydabber opened #1075 "Refresh Rate menu item should be hidden when a display is mirror target"
The refresh rate of a mirror target cannot be changed, so that menu item should be hidden.

[2022-10-17 14:30] waydabber commented on #1075
Reported by Mick - https://ptb.discord.com/channels/903276571773771796/903276571773771799/1031572935166668830

[2022-10-17 15:45] ajhall opened #1076 "Option to display percentage as scaling factor"
In Windows and Linux, I'm used to setting a percentage that represents the scaling factor instead of the resolution. For example, I can make everything bigger by "scaling up" to 125% or 150%. In BetterDisplay, it's the opposite - I "scale down" the resolution to make everything bigger.

I can convert between the two by just finding the inverse of the percentage (125% = 125/100, so the equivalent i

[2022-10-17 15:55] waydabber commented on #1076
That can be done. That would require the slider to work in reverse as well, not just to display the percentage in a different way. I'll add it as an option for the slider, but I think I'll leave the default as it is.

[2022-10-17 18:10] waydabber commented on #1076
Added this one. The option appears if percentage display is enabled.

<img width="962" alt="Screenshot 2022-10-17 at 20 06 59" src="https://user-images.githubusercontent.com/37590873/196250911-ff9f1e29-080a-461d-abb6-a58d2ddc8af1.png">

Let me know if you are willing to test it, I'll can an interim build here.

[2022-10-17 18:30] ajhall commented on #1076
Nice, thanks! Sure, I'll give it a try.

[2022-10-17 19:20] waydabber commented on #1076
Great, here is an interim version:

REMOVED

Let me know if you have any issues with the implementation.

[2022-10-17 19:35] ajhall commented on #1076
Looks good on my end, that's exactly how I had imagined it. Thanks! That makes it a lot easier to sync up settings across OSes.

[2022-10-18 08:48] arkenoi opened #1078 "FR: adjust physical size"
My 10" display is reported as 24", no idea why, but I would like to override it.

[2022-10-18 10:13] waydabber commented on #1078
Hi there - was this always like this or is it an issue related to BetterDisplay? Are you using Intel or Apple Silicon?

Normally the display size is reported by the display and interpreted by the OS You can check what if the right metrics are reported by the display or not. You can use the following command (on Apple Silicon) to do that in Terminal:

`ioreg -r -t -c AppleCLCD2 | grep 'DisplayAttri

[2022-10-18 13:55] waydabber opened #1079 "Some items are missing from the Tools menu"
The following items are missing from the Tools menu in v1.3.3:

- Set Up Accessibility
- Get BetterDisplay Pro!

[2022-10-18 14:30] #1075 closed, assigned to waydabber

[2022-10-18 14:30] #1076 closed, assigned to waydabber

[2022-10-18 14:30] #1079 closed, assigned to waydabber

[2022-10-18 15:12] arkenoi commented on #1078
"DisplayAttributes" = {"SupportsSuspend"=Yes,"SupportsActiveOff"=Yes,"SupportsBT2020cYCC"=0,"PortID"=0,"ProductAttributes"={"ManufacturerID"="XXX","YearOfManufacture"=2019,"SerialNumber"=0,"ProductName"="HDMI","LegacyManufacturerID"=25368,"ProductID"=2416,"WeekOfManufacture"=20},"MaxVerticalImageSize"=31,"MaxHorizontalImageSize"=52,"HasHDMILegacyEDID"=Yes,"Chromaticity"={"Red"={"X"=43328,"Y"=21760

[2022-10-18 17:59] waydabber commented on #1078
Well, I can't guarantee that there will be a solution. On Intel it is possible to override the EDID of a display (which contains these data) but on M1 it is not possible and I am not aware of a specific display override setting that can change this.

Btw - why do you need to change this? I might be wrong but can't really recall anything that uses the display size data in any practical way besides

[2022-10-21 13:27] nlited commented on #965
@waydabber Hi! I activated "add a near-native HiDPI variant" in version 1.3.4 and yes, the picture definitely got better and gained that HiDPI crispness!
Although it looks almost the same when scaling is set to 100% (aka no zooming), it dramatically changes when I zoom some elements or the hole workspace — no more visible blur on my 2k monitor.

No I wonder what is the purpose of the dummy display

[2022-10-21 13:46] waydabber commented on #965
Dummies are super useful for a host of other purposes, especially combined with PIP and streaming. You can relegate any app to a separate screen that you can scale as you want in a PIP window with it, you can stream and have a rotated Sidecar display, you can use it as a dedicated screen for screencasts/video calls/youtube content with custom resolutions, you can use a flipped dummy image streamed

[2022-10-21 17:43] Markkop commented on #776
This is a truly amazing piece of software. Great job!
![image](https://user-images.githubusercontent.com/16388408/197257014-9fb55988-542c-4927-b190-77980d950bfb.png)

[2022-10-21 18:43] waydabber commented on #776
Hey everybody! I'd like to say a Thank You to all who purchased the app. Also to those who just use the app for its free functionality. And to those who have the app installed just in case. :) And to those who gave the app a chance by installing it. I am really honored!

_waydabber_

[2022-10-21 22:22] NickHatBoecker opened #1083 "Portrait mode not fully working"
Hey guys, I'm using

- an Macbook Pro 14" 2021 (M1) on MacOS Monterey and
- an iPad 6th Gen on iOS 14.7.1

- I installed BetterDisplay (14 day trial) and created a 4:3 dummy.
- checked "Portrait Orientation"
- checked "Stream Dummy" -> Rotate Stream by 90 degree
- connect my ipad via cable to my macbook
- activate sidecar and choose "Mirror Dummy 4:3"

The result is an iPad in landscape mode (cabl

[2022-10-22 13:30] waydabber commented on #1083
Hi,

the process should be this:

- an Macbook Pro 14" 2021 (M1) on MacOS Monterey and
- an iPad 6th Gen on iOS 14.7.1
- I installed BetterDisplay (14 day trial) and created a 4:3 dummy.
- checked "Portrait Orientation"
- connect my ipad via cable to my macbook
- activate sidecar ~~and choose "Mirror Dummy 4:3"~~
- checked "Stream Dummy" **to the Sidecar display**
- Rotate Stream by 90 degree

Let

[2022-10-22 13:34] waydabber commented on #474
https://github.com/waydabber/BetterDisplay/discussions/1085

[2022-10-23 00:49] NickHatBoecker commented on #1083
Thank you very much, that did indeed work 🎉  This is so cool

[2022-10-23 00:49] #1083 closed, assigned to nobody

[2022-10-24 21:09] nlited commented on #965
Thanks for the explanation, seems I just don't have the use cases to implement this feature :)

[2022-10-25 08:32] ruiaraujo opened #1091 "Unable to paste in the Paypal window"
I am using a password manager and while trying to buy a Pro license, I am unable to copy the very long password over.

[2022-10-25 09:09] waydabber commented on #1091
Hi there - yes, it is rather annoying but this is a feature of the Paddle (the licensing and payment provider third party) API and serves some kind of fraud prevention thing (which I don't understand myself as well). Unfortunately I can't change this aspect of the app as the API is like a black-box, precompiled stuff. :(

[2022-10-25 09:09] #1091 closed, assigned to nobody

[2022-10-25 11:23] daslicht commented on #330
was that fixed in macOS Ventura ?

[2022-10-30 18:47] itsMaz1n commented on #776
**Thanks for amazing app.**

<img width="1007" alt="Screenshot 2022-10-30 at 9 45 20 PM" src="https://user-images.githubusercontent.com/32389129/198896096-9330bd4f-bc61-4f8e-add9-e53fe1846597.png">

[2022-10-31 12:06] lukepighetti opened #1099 "FR: Disable True Tone / Night shift on an external monitor"
Alternatively, disable it when a specific monitor is plugged in.

Use case: when I plug in my capture card, I want the output to be 100% consistent across recordings no matter what time of day or my ambient light situation is.

[2022-10-31 12:23] Hunais-Abdullah opened #1100 "HiDPI on 1080 monitor"
I am having a MBP 16" 2019 running Mac OS Ventura connected to my Dell FHD 24 inch monitor. Basically i wanted more scree real estate for using logic pro since the UI is huge on an my external display. After looking around I downloaded Better Display and and managed to make a custom resolution of 2,560 x 1,440 and selected this from the menu. Now the screen space has increased a lot but the images

[2022-10-31 19:56] ezaimaj opened #1101 "Add option for correct real life scaling when viewing content in actual/print size"
My monitor is unfortunately one that was manufactured with a couple of issues (not defects, just Samsung deciding to produce to this spec) that makes scaling of content or shapes not be correct when measured with a physical ruler on the screen. I have one of the issues figured out or a workaround using BetterDisplay but I'm trying to see if an option can be implemented to tell macOS the "actual" o

[2022-11-01 09:55] waydabber commented on #1099
It is already possible to disable the night shift on a specific external display by changing the type of the display to TV (under configuration editing in Settings/Displays). This requires a reboot however, cannot be done on-the-fly. You can of course disable Night Shift for all displays on the fly and also you can define a keyboard shortcut for it.

Let me know if this is what you had in mind.

(

[2022-11-01 10:02] waydabber commented on #1100
Hi @HunAbdla - you can create a dummy and increase the resolution. Dummies are also HiDPI by default. However even 2560x1440 LoDPI on an FHD screen means supersampling, further changing it to HiDPI will not really help. The pixel count of the FHD screen is simply low, I'd recommend buying a QHD (or 4K) for 24".

[2022-11-01 10:02] #1100 closed, assigned to nobody

[2022-11-01 12:42] lukepighetti commented on #1099
Sounds like that handles the night shift use case, are there any side effects from choosing TV?

Any thoughts on True Tone?

[2022-11-01 19:43] Richard-Dale opened #1106 "To dummy or not to dummy"
Hi Waydabber

Let me just begin by thanking you for creating such a fantastic tool. It's software like this that makes my decision to use a Mac such an easy one.

Can I just make sure I'm using your software correctly. I have two Apple Studio Displays with an Apple Mac Studio. I was using the default resolution of 2560 x 1400 but I was finding some of the UI elements too small for my aging eyes. I

[2022-11-02 03:03] waydabber commented on #1099
There should be no side effects (you might get an underscan slider in Dispalys and will probably loose the native rotation option - you can still use the menu in BetterDisplay though -, but these are not really big issues). Setting the display as TV will also disable true tone!

[2022-11-02 03:16] waydabber commented on #1106
Hi @Richard-Dale - if you successfully did set up a custom resolution or allowed native smooth scaling (which lets you scale the display to any size easily via the resolution slider without the hassle of creating a custom resolution and rebooting all the time - this might be a better option than specific custom resolutions because of the extra flexibility) then you are good to go. You can of cours

[2022-11-02 15:13] vandrieu opened #1107 "How to enter business address, VAT ID details during purchase?"
I am so grateful for you allowing me to scale my 1440p monitors to 1080p that I definitely want to buy the pro version (even though I don't need it) in order to support you.
The problem is, on the payment page, you don't ask for a billing address and you don't indicate whether I'll receive an invoice or not.
In Europe, if I want to be able to charge the $15 on my business, I need an invoice, and I

[2022-11-02 16:00] waydabber commented on #1107
Of course, great idea! I'll add a notice about this on the purchase screen. When I have the new webpage up and running (needs some time still) there will be a web based way to purchase as well with an option to acquire (hopefully) more than one licenses for businesses.

You can safely go ahead with the purchase, in the Paddle confirmation email there is a link where you can enter additional busine

[2022-11-02 16:00] #1107 closed, assigned to nobody

[2022-11-02 16:10] waydabber commented on #1101
Hi @ezaimaj - this is something I need to investigate further. But first, to understand - you say that the pixels of the screen are not actually square shaped but slightly off? So the pixel resolution should be 16:9 but the display size is not 16:9?

What does the EDID say about the dimensions of the screen (it contains the dimensions in centimeters)?

If you are on Apple Silicon, run the followin

[2022-11-02 17:24] ezaimaj commented on #1101
Hi @waydabber

I'm not entirely sure if the correct way to explain is the pixels are not square, but I went through some extensive troubleshooting when I found out in Clip Studio Paint an 8.5"x11" canvas did not show the correct measurement vertically while it was correct horizontally when viewed in an actual size. One user in the developer's forums suggested to Google images of squares and measur

[2022-11-03 05:44] waydabber commented on #1101
You can check some LCD test patterns to see if there is no distortion of some kind. If the patterns look perfect and squares are still not squares then the pixels are not square which is super weird on a modern display, especially a Samsung monitor.

http://www.lagom.nl/lcd-test/sharpness.php
http://www.lagom.nl/lcd-test/clock_phase.php

The EDID seems to be like a normal 4K display's. I am not fa

[2022-11-03 09:17] #1106 closed, assigned to nobody

[2022-11-03 09:18] #1099 closed, assigned to nobody

[2022-11-03 09:20] waydabber opened #1111 "GUI issue - The expand icon (wide chevron) at the bottom of menu blocks is light gray and not obvious enough"
See discussion on the discord channel:

https://ptb.discord.com/channels/903276571773771796/903276571773771799/1037655800300187648

Alpha value should be from it so it is either black or white (depending on dark mode setting) and not gray.

[2022-11-03 17:28] ezaimaj commented on #1101
The test patterns look pretty much the same as on my MBP so I don't think there an issue there. I did check on B&H photo's website other monitor specs and most of them follow the 16:9 ratio based on the active areas size they listed. There were only a few low budget or gaming monitors that had a weird ratio like mine, but don't know why these are produced this way.

I tried creating 16:9 dummies w

[2022-11-03 17:46] waydabber commented on #1101
What you should do is to create a dummy that has a slightly taller aspect ratio than 16:9 (try your actual measurements - 31:17). Then stream the dummy to your actual screen and also stretch the stream to fill the display fully. This should give a custom aspect ratio screen scaled to the actual screen and should produce perfect squares/circles on test patterns.

Dummies do indeed show up in the di

[2022-11-03 17:56] waydabber opened #1112 "Add feature to retrieve EDID data from display (Apple Silicon)"
On Intel you can do this: https://developer.apple.com/forums/thread/674047

On Apple Silicon this does not work, EDID data is not available for easy access, you can only have an interpretation of it from the ioreg tree. However it is still possible to retrieve the EDID directly from the display via i2c communication (in most, but not all circumstances).

The app should have an option to export the

[2022-11-03 18:48] marekkolman opened #1113 "Black screen on MacOS Ventura"
Hello,

I've been using BetterDisplay/BetterDummy for about half a year without any issues but after I updated my system to OS Ventura, my secondary monitor (on which I use hiDPI) is basically blacked out if BetterDisplay is running. I have to switch off the app to get image back. My version of BetterDisplay is 1.3.4 Build 10309. Is this a known issue?

<img width="473" alt="Screenshot 2022-11-03

[2022-11-03 19:46] Pain-and-Love opened #1114 "🐛 在成功开启 2k hidpi 之后，屏幕偶尔会有闪烁的情况"

[2022-11-03 19:48] Pain-and-Love commented on #1114
补充一下，我同时使用4k 显示器 和 2k显示器。
4k显示器正常，但是在2k显示器上，偶尔会出现屏幕闪烁的情况，顶部的菜单栏特别明显

[2022-11-03 19:55] Pain-and-Love commented on #1114
![035227](https://user-images.githubusercontent.com/9690422/199821256-6e7ea4ce-f971-4c5b-b014-50508396fdbb.jpeg)

https://user-images.githubusercontent.com/9690422/199821190-c114bbd1-d7ef-4a31-b462-302878913ce7.mp4

[2022-11-03 20:23] waydabber commented on #1113
Nope, it should not happen. What do you mean by blacking out? Is the brightness reduced to zero?

[2022-11-03 20:32] marekkolman commented on #1113
Please see the video here. There is no better way to explain it than to record it:

https://user-images.githubusercontent.com/25546774/199828490-a611a940-69bb-43f7-b88a-63e70187a239.mov

I changed nothing in the settings of BetterDummy, it just started after the Ventura upgrade.

[2022-11-03 20:41] #1113 closed, assigned to nobody

[2022-11-03 20:42] marekkolman commented on #1113
It was indeed sudden brightness set to 0. But I've never changed that setting. In fact I never even click the icon. Not sure if the Ventura update did something.

[2022-11-04 07:20] jhswedeveloper opened #1117 "Is it possible via BetterDisplay to disable LG auto-brightness?"
Is it possible via BetterDisplay to disable LG auto-brightness?

I'm on LG 48 GQ900

[2022-11-04 07:30] 00longxiaoyi opened #1118 "解决mac外接显示器使用BetterDiplay后，外接显示器上无法使用macbook手势的问题"
将虚拟出来的屏幕作为主屏幕，macbook上的屏幕作为拓展屏幕就可以解决这个问题

[2022-11-04 07:41] Pain-and-Love commented on #1118
现在可以不用虚拟屏幕了。

[2022-11-04 17:44] waydabber commented on #1113
Strange. But now is everything all right? Ventura update should not have this effect, but I'll look out for similar reports. Thanks for the report and the patience regarding this!

[2022-11-04 17:48] waydabber commented on #1117
I suppose you are talking about ABL (automatic brightness limiter) for OLED - right? I am afraid it is not possible to disable that. You might be able to disable it by accessing the display's service menu, but disabling ABL will for sure damage the OLED panel and create overheating, so it might not be something that you can disable even in the service menu.

[2022-11-04 17:49] #1117 closed, assigned to nobody

[2022-11-04 17:52] waydabber commented on #1118
Hey folks, you don't need to use dummy mirroring, using native smooth scaling gives you much better results and do not have any issues related to dummy mirroring. You can look at the main github page for the steps required to set this up (search for the term `native smooth scaling`).

I'll convert this into a discussion.

ps. I don't understand Chinese, just used Google Translate, so I hope the an

[2022-11-04 17:53] #1118 closed, assigned to nobody

[2022-11-04 17:58] waydabber commented on #1114
This might be a display connection issue. You don't seem to be using dummies and the flicker is not the usual color flicker related to virtual display mirroring. Flickers like these are not really related HiDPI or scaling at all but seems to look like a typical displayport (hdmi) transient data/sync issue. If this is the case, it should happen with non-scaled LoDPI as well. Usually reconnecting th

[2022-11-04 17:58] #1114 closed, assigned to nobody

[2022-11-04 17:59] waydabber commented on #1101
I'll move this one over to Discussions as this is a very specific issue. Let me know if you succeed with this!

[2022-11-04 17:59] #1101 closed, assigned to nobody

[2022-11-07 17:15] waydabber opened #1125 "Use SMAppService for automatic login in Ventura"
Ventura has a new API to handle automatic login. We should use that.

https://developer.apple.com/documentation/servicemanagement/smappservice

[2022-11-07 17:17] waydabber commented on #1125
see also: https://github.com/waydabber/BetterDisplay/discussions/1094#discussioncomment-4078726

[2022-11-08 06:59] Ezzahhh commented on #741
Just a quick question regarding this. If I have configuration override enabled for a monitor and I do the RGB fix manually in the plist file, I have found that when my machine goes to sleep and then wakes up the RGB setting is lost. Is this to do with the override or some other setting that is removing the RGB?

[2022-11-08 08:35] waydabber commented on #741
The override should not affect his. It might be that a different layout is activated for some reason upon wake. Did you apply the RGB settings to all relevant entries in the plist file? You can also try doing it all over again (delete all plist files and set up a new one). If you have a notebook, you'll need to create a layout both for clamshell and non-clamshell mode and apply the forced RGB sett

[2022-11-08 19:49] waydabber commented on #604
<img width="410" alt="Screenshot 2022-11-08 at 20 48 36" src="https://user-images.githubusercontent.com/37590873/200661011-8814b0ac-ce4f-4da8-936b-f3bb54f72935.png">

[2022-11-08 19:50] waydabber opened #1128 "Add feature to customize DDC inputs for a display"
DDC inputs should be customizable to suit a specific display (input code, name, icon, visible or not).

[2022-11-08 19:51] waydabber opened #1129 "Add keyboard shortcut for DDC inputs"
Integrate DDC input selection with keyboard shortcuts. Should be a Pro feature.

[2022-11-09 10:08] Deniskaro opened #1132 "Command+tab crash on Ventura?"
Hi! There is a bug after last mac update and betterdisplay update to 1.3.4
During changing tabs (cmd+tab) mac is reloading. It occures 4-5 times per day.

Every time after that it showing error report. Attaching it.

-------------------------------------
Translated Report (Full Report Below)
-------------------------------------

Process:               WindowServer [33738]
Path:                  /

[2022-11-09 10:33] waydabber commented on #1132
I am sorry to say but this does not seem to be a BetterDisplay induced crash according to the crash log so I might not be able to do anything about it.

Does this only happen when there is a virtual screen enabled and mirrored (like a dummy?). If so, you might want to use native smooth scaling instead (that should give you flexible HiDPI resolutions up to 3072px width hiDPI on an M1 Air).

[2022-11-09 10:36] waydabber commented on #1132
A note, the crashed thread seems to be related to some macOS drawing function possibly related to the cmd+tab UI - reducing transparencies, animation etc in Accessibility might be a workaround, but I am not sure, did not encounter an issue like this before. It might be a Ventura bug of some kind that comes up in specific circumstances.

[2022-11-09 10:37] waydabber commented on #1132
I'll move this over to discussions and see if others have similar issues.

[2022-11-09 10:37] #1132 closed, assigned to nobody

[2022-11-09 18:21] waydabber commented on #604
Ok, this feature needs some improving, there should be multiple levels of inputs depending on frequency of use. Also the input list should be customizable by display + keyboard shortcuts should be added as well.

#1128
#1129

[2022-11-09 18:51] waydabber commented on #604
<img width="597" alt="Screenshot 2022-11-10 at 7 25 58" src="https://user-images.githubusercontent.com/37590873/201016553-9c8140c4-24db-499b-bae5-5059b0c26865.png">

The list can be expanded multiple times to include less and less frequently used DDC input options.

[2022-11-09 20:22] waydabber commented on #604
Added some icons:

<img width="273" alt="Screenshot 2022-11-09 at 21 22 15" src="https://user-images.githubusercontent.com/37590873/200934004-b05f87e5-d6fb-442c-9787-970e1ca232fc.png">

[2022-11-10 08:45] kolorfilm opened #1135 "Sometimes can't set brightness for MBP 14 above 100%"
Hi there,

I just updated to the latest **Ventura 13.0.1 (22A400)** yesterday evening. The brightness can't be set above 100% anymore:

<img width="397" alt="Bildschirm­foto 2022-11-10 um 09 38 25" src="https://user-images.githubusercontent.com/26705027/201042315-2d8fd9af-d273-437e-a922-e55e0faef45a.png">

This setting is still on:

<img width="747" alt="Bildschirm­foto 2022-11-10 um 09 43 17" src

[2022-11-10 09:22] waydabber commented on #1135
Hi there - Ventura 13.0.1 should not cause an issue, upscaling works as before both for XDR displays and external HDR displays (just tested it).

Are you sure the display is in XDR mode? If so, does restarting the app help?

<img width="361" alt="Screenshot 2022-11-10 at 10 21 21" src="https://user-images.githubusercontent.com/37590873/201051237-dece3a45-fd5f-4124-99fc-5ad639047354.png">

[2022-11-10 09:29] waydabber commented on #1135
note: just for clarification, the method BetterDisplay uses for XDR brightness upscaling is entirely legitimate, no shady hacking is happening, all system level failsafes are honored so security updates or things like that should not interfere with the process - of course Apple may introduce any changes that break things, but I think it has a low probability for this specific feature. :)

[2022-11-10 09:37] kolorfilm commented on #1135
Well I tried to restart the machine. After the autostart of the app it seems to work like before, BUT when I just restart the app the settings look like in the first post (100% is maximum). When I set the Mac to sleep and wake it up (app was running before) it also seems like working.

I'm not sure if this is something new or also was happened before. 🤔

[2022-11-10 09:57] waydabber commented on #1135
That is indeed strange. What happens if you simply close and open the lid (forcing a display redetect)? Does that fix the issue? Something else might be amiss - if this happens to you it might happen to others as well so it would be best to figure this out. :)

[2022-11-10 10:29] waydabber opened #1136 "Add options to customize factory reset and input select DDC control codes"
Control code override is missing for these options, should be added.

[2022-11-10 12:10] waydabber commented on #1136
<img width="942" alt="Screenshot 2022-11-10 at 13 09 45" src="https://user-images.githubusercontent.com/37590873/201088062-40ca63f9-44f3-47ea-a4aa-f10a6da37997.png">

[2022-11-10 12:38] waydabber opened #1137 "Add option to customize display name and menu icon"
Ability to customize a display's name icon in the app menu via a custom [SF Symbol](https://developer.apple.com/sf-symbols/) string.

This custom name is not the same as the display override name change (which is system wide and is already implemented).

[2022-11-10 14:23] kolorfilm commented on #1135
I don't know why but it seems it doesn't happen anymore. It works again also when just closing the app and open it again. Also the app works as expected when close + open the lid. Strangely yesterday one monitor was reset (background image was gone, settings , resolution and so on). I had to change the settings for that monitor. Maybe it has something to do with that (Mac OS Bug).

[2022-11-10 15:57] vividfog opened #1138 "Update dialog says "BetterDummy""
The old name still making an appearance here:

![Screenshot 2022-11-10 at 17 51 44](https://user-images.githubusercontent.com/75913791/201142882-16fd1487-0717-44cf-acc2-769a39ddb26b.jpg)

[2022-11-10 16:33] waydabber commented on #1138
Yes, I know - this is due to compatibility reasons, the app still identifies itself as BetterDummy (the bundle id also reflects this). This will change in the future but probably with a major version change when direct upgradability can break.

[2022-11-10 16:34] waydabber commented on #1135
it might be. I wasn't able to replicate the issue but will look out for it. I'll close the issue then, but if you run into it again or have a way to reliably reproduce, let me know! Thank you!

[2022-11-10 16:34] #1135 closed, assigned to nobody

[2022-11-10 16:35] waydabber commented on #1138
note: it is in the known issue list - https://github.com/waydabber/BetterDisplay/issues/811 , so I'll close this one. But thanks for reminding me about this as this is something I'll need to deal with sooner or later! :)

[2022-11-10 16:35] #1138 closed, assigned to nobody

[2022-11-10 16:37] waydabber opened #1139 "Add updated Paddle SDK v4.4"
A new version of the Paddle SDK was released, the app should be updated to use this one.

https://github.com/PaddleHQ/Mac-Framework-V4/releases/

Maybe this will fix the rare SSL/proxy crash some users are experiencing - https://github.com/waydabber/BetterDisplay/discussions/674

[2022-11-10 16:45] waydabber opened #1140 "Add display location protection in the layout to the Config Protection as an option"
Sometimes macOS moves displays around in the layout which is annoying. Config Protection could be improved so the display's location (relative to some other display or the main display) could be protected as well.

See the discussion on discord: https://ptb.discord.com/channels/903276571773771796/903276571773771799/1040305597201002606

[2022-11-10 16:56] jeomxon opened #1141 "1920x1080 HiDPI sometimes switches to LoDPI for no apparent reason"
Hi, I'm using MacBook Air(M1), also using QHD 24inch monitor.
I always use 1920x1080(HIDPI), but It randomly changes to  just NON-HIDPI 1920x1080.
I don't know why this issue happens...

[2022-11-10 17:05] waydabber commented on #1141
Do you still have the HiDPI 1080p as an option so the only problem is that it reverts to LoDPI, or does the HiDPI option go away?

[2022-11-10 17:09] jeomxon commented on #1141
I thought the option goes away, but when I check "show more options" in settings, I finally found it.
But it sometimes reverts to LoDPI you refered

[2022-11-10 17:14] waydabber commented on #1141
MacOS saves desktop resolutions to specific display layouts. So if you change the resolution to HiDPI with the lid closed, but then open the lid, it will revert to LoDPI - you'll need to change it again to HiDPI so it gets remembered for that display layout as well. this might also happen if you have other displays connected or sometimes also happens when you use a different port to connect.

If y

[2022-11-10 17:15] waydabber commented on #1141
I'll convert this into a discussion, let me know if the issue is not resolved! Thank you for using the app! :)

[2022-11-10 17:16] #1141 closed, assigned to nobody

[2022-11-10 17:52] waydabber opened #1143 "GUI issue - Unfoldable advanced settings font not rendered as small in Settings/App Menu"
Fonts under expandable detail/advanced `Show...` sections should appear as small. This is not the case under Settings/App Menu. This looks inconsistent.

[2022-11-10 19:05] exceedsystem commented on #1139
Thank you.

I'll try it as soon as possible.

[2022-11-10 19:55] waydabber opened #1144 "Show even more detailed display info under Settings/Displays (Apple Silicon)"
Show general macOS interpreted EDID data for natively connected external displays on Apple Silicon. This helps figuring out specific display issues.